Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

Docs: Add `EXCLUDE_PROJECTS` option to `update-plugin-list.py` (#12901)
  changelog/12901.doc.rst
  scripts/update-plugin-list.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: none

Docs: Exclude `pytest-crate` from Pytest Plugin List page [1] (#12901)
  scripts/update-plugin-list.py
Due: py-deprecated, py-path-deprecated

examples: be more precise about TestReport outcome
  changelog/12535.doc.rst
  doc/en/example/simple.rst
Due: none

Remove code that is impossible to reach on python 3.9+
  src/_pytest/config/argparsing.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

Manual typing fix
  src/_pytest/assertion/util.py
  src/_pytest/config/__init__.py
  src/_pytest/fixtures.py
  src/_pytest/logging.py
  src/_pytest/main.py
  src/_pytest/mark/__init__.py
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

Work in progress drop python 3.8
  .github/workflows/prepare-release-pr.yml
  .github/workflows/test.yml
  CONTRIBUTING.rst
  README.rst
  changelog/12874.breaking.rst
  doc/en/backwards-compatibility.rst
  pyproject.toml
  testing/code/test_excinfo.py
  tox.ini
Due: rst, py-deprecated, py-path-deprecated

[pre-commit] Auto-apply pyupgrade py39-plus (manual stage)
  .pre-commit-config.yaml
  testing/code/test_source.py
Due: py-deprecated, py-path-deprecated

Clarify comment containing 3.8 in it
  testing/code/test_excinfo.py
Due: py-deprecated, py-path-deprecated

Update testing/_py/test_local.py
  testing/_py/test_local.py
Due: py-deprecated, py-path-deprecated

Issue #10829 Improve docs on basetemp and retention
  changelog/10829.doc.rst
  doc/en/how-to/tmp_path.rst
  src/_pytest/legacypath.py
  src/_pytest/tmpdir.py
Due: py-deprecated, py-path-deprecated

avoid test failing if the working path contains the string 'error'
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

changes + test
  src/_pytest/recwarn.py
  testing/test_recwarn.py
Due: py-deprecated, py-path-deprecated

Merge pull request #12913 from jakkdl/dontfailonbadpath
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

Remove PytestReturnNotNoneWarning and PytestUnhandledCoroutineWarning. Make tests fail instead of raising warning/exception. fix tests. add changelog.
  src/_pytest/config/exceptions.py
  src/_pytest/python.py
  src/_pytest/warning_types.py
  src/pytest/__init__.py
  testing/acceptance_test.py
  testing/test_unittest.py
Due: py-deprecated, py-path-deprecated

add changelog entries
  changelog/11372.improvement.rst
  changelog/12346.misc.rst
Due: changelogs-rst

fix docs
  doc/en/changelog.rst
  doc/en/deprecations.rst
  doc/en/reference/reference.rst
Due: none

Refactor: simplify get_scope_node by using a mapping dictionary
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

Update doc/en/how-to/tmp_path.rst
  doc/en/how-to/tmp_path.rst
Due: none

Issue #10829 add PYTEST_DEBUG_TEMPROOT to reference.rst
  doc/en/reference/reference.rst
Due: none

Upgrade pylint version, activate all extensions
  .pre-commit-config.yaml
  pyproject.toml
Due: none

[mypy] Remove useless noqa, add noqa for new false positives
  src/_pytest/_io/pprint.py
  src/_pytest/capture.py
  testing/test_runner.py
Due: py-deprecated, py-path-deprecated

[pylint dict-init-mutate] Initialize a dict right off for speed
  pyproject.toml
  src/_pytest/junitxml.py
Due: py-deprecated, py-path-deprecated

[pylint consider-using-any-or-all] Avoid constructing a list of names
  src/_pytest/mark/__init__.py
Due: py-deprecated, py-path-deprecated

[pylint consider-using-any-or-all] noqa a a suggestion in already nested for
  pyproject.toml
  src/_pytest/mark/__init__.py
Due: py-deprecated, py-path-deprecated

fix doctest and improve unit tests
  src/_pytest/recwarn.py
  testing/test_recwarn.py
Due: py-deprecated, py-path-deprecated

adds `keep_ignores` kwarg to `pytest.warns`
  AUTHORS
  changelog/11933.improvement.rst
  src/_pytest/recwarn.py
  testing/test_recwarn.py
Due: py-deprecated, py-path-deprecated

Improve docs on basetemp and retention (#12912)
  changelog/10829.doc.rst
  doc/en/how-to/tmp_path.rst
  doc/en/reference/reference.rst
  src/_pytest/legacypath.py
  src/_pytest/tmpdir.py
Due: py-deprecated, py-path-deprecated

Raise error if sync test relies on async fixture, and warn if the fixture is autouse.
  src/_pytest/fixtures.py
  testing/acceptance_test.py
Due: py-deprecated, py-path-deprecated

fix tests
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

add changelog
  changelog/10839.deprecation.rst
  changelog/10839.improvement.rst
Due: none

update python version to 3.12
  .pre-commit-config.yaml
Due: none

added name
  AUTHORS
Due: none

latest version of sphinx
  doc/en/requirements.txt
Due: none

latest version of sphinx
  tox.ini
Due: none

new configuration
  doc/en/conf.py
Due: py-deprecated, py-path-deprecated

updated command + alternative
  tox.ini
Due: none

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py
