Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

chore: improve coide coverage for edge case Co-authored-by: Windsurf
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

chore: remove dead code Co-authored-by: Windsurf
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

Add GitHub Actions CI workflow
  .github/workflows/ci.yml
Due: none

Merge pull request #12378 from Pierre-Sassoulas/fix-implicit-str-concat-and-discovered-bug-due-to-it
  src/_pytest/_py/path.py
Due: py-deprecated, py-path-deprecated

fix: resolve #8000 - pytest_fixture_setup hook doesn't run for session scoped fixture
  pyproject.toml
  testing/test_scope.py
Due: py-deprecated, py-path-deprecated

Initial after rebase
  changelog/14103.bugfix.rst
  changelog/4871.improvement.rst
  changelog/9287.bugfix.rst
  doc/en/reference/reference.rst
  src/_pytest/fixtures.py
  src/_pytest/nodes.py
  src/_pytest/runner.py
  src/_pytest/setuponly.py
  src/pytest/__init__.py
  testing/python/fixture_dependencies.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Ignore missing type annotation on TopRequest.node
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

Discuss fixture stuff in SetupState's docstring
  src/_pytest/runner.py
Due: py-deprecated, py-path-deprecated

Apply suggestion from @webknjaz
  changelog/13669.bugfix.rst
Due: changelogs-user-role

Apply suggestion from @webknjaz
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

fix autouse fixtures with same name at different scopes not all executing
  changelog/11281.bugfix.rst
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix nested caplog.filtering early removal
  src/_pytest/logging.py
  testing/logging/test_fixture.py
Due: py-deprecated, py-path-deprecated

Add changelog entry for #14189
  changelog/14189.bugfix.rst
Due: changelogs-user-role

Add regression test for already-present filters in caplog.filtering
  testing/logging/test_fixture.py
Due: py-deprecated, py-path-deprecated

Format pytest logging changes
  src/_pytest/logging.py
  testing/logging/test_fixture.py
Due: py-deprecated, py-path-deprecated

Remove unused type: ignore comments to fix mypy pre-commit
  testing/logging/test_fixture.py
Due: py-deprecated, py-path-deprecated

Use logging.Filter in caplog tests
  testing/logging/test_fixture.py
Due: py-deprecated, py-path-deprecated

Cast callable filters for caplog typing
  testing/logging/test_fixture.py
Due: py-deprecated, py-path-deprecated

Make dependent fixtures accounting more transparent in SetupState
  doc/en/reference/reference.rst
  src/_pytest/fixtures.py
  src/_pytest/nodes.py
  src/_pytest/runner.py
  src/pytest/__init__.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

docs: prefer cache fixture in cache examples
  doc/en/how-to/cache.rst
  doc/en/reference/reference.rst
Due: changelogs-user-role

fix: use difflib to identify extra items in sequence comparison message
  changelog/13652.bugfix.rst
  src/_pytest/assertion/util.py
  testing/test_assertion.py
  testing/test_error_diffs.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Track dynamic fixture dependencies
  changelog/14287.bugfix.rst
  src/_pytest/fixtures.py
  src/_pytest/setuponly.py
  testing/test_setuponly.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

nodes: remove deprecated `fspath` Node constructor parameter
  doc/en/deprecations.rst
  src/_pytest/config/compat.py
  src/_pytest/deprecated.py
  src/_pytest/nodes.py
  src/_pytest/python.py
  testing/deprecated_test.py
  testing/test_nodes.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

Fix review issues
  src/_pytest/fixtures.py
  src/_pytest/python.py
  src/_pytest/runner.py
Due: py-deprecated, py-path-deprecated

docs: enhance CVE-2025-71176 changelog entry with hyperlinks
  changelog/13669.bugfix.rst
Due: changelogs-user-role

fixtures: remove dirty optimization for `request.getfixturevalue()`
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

refactor(tmpdir): extract _safe_open_dir into a reusable context manager
  src/_pytest/tmpdir.py
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

docs: update docstring
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

refactor(testing): consolidate imports in test_tmpdir.py
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

refactor: consolidate imports and hoist getpass to module level
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

test(tmpdir): make test_pytest_sessionfinish_handles_missing_basetemp_dir isolated
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

hotfix: mitigate DoS when a non-directory file blocks pytest-of-<user>
  src/_pytest/tmpdir.py
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

test(tmpdir): add regression test for mkdir failure after unlink in _try_ensure_directory
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

tmpdir: replace predictable rootdir with mkdtemp-based random suffix (#13669)
  src/_pytest/tmpdir.py
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

refactor: style: minor code formatting cleanup in tmpdir and test_tmpdir
  src/_pytest/tmpdir.py
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

test(tmpdir): strengthen fchmod defense-in-depth test by widening permissions instead of no-op
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

fixtures: find SubRequest.node eagerly
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

fixtures: make FixtureLookupError work from TopRequest with custom message
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated
