Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

Update deprecated_test.py
  testing/deprecated_test.py
Due: py-deprecated

Support generic mappings in assertion comparison
  src/_pytest/assertion/util.py
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

Add changelog entry for generic mapping assertion diffs
  changelog/14461.bugfix.rst
Due: changelogs-user-role

fix junitxml bin_xml_escape: use \U for supplementary plane range in illegal_xml_re
  changelog/14483.bugfix.rst
  src/_pytest/junitxml.py
  testing/test_junitxml.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fold supplementary plane checks into existing test_invalid_xml_escape, drop separate function
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

docs: clarify hookimpl specname limitation
  changelog/11307.doc.rst
  doc/en/how-to/writing_hook_functions.rst
Due: changelogs-user-role

docs: clarify stdlib monkeypatch guidance
  changelog/11022.doc.rst
  doc/en/how-to/monkeypatch.rst
Due: changelogs-user-role

docs: document doctest fixture parametrization limit
  changelog/13038.doc.rst
  doc/en/how-to/doctest.rst
Due: changelogs-user-role

Fix KeyError when caplog handler is missing, raise RuntimeError instead
  src/_pytest/logging.py
  testing/logging/test_fixture.py
Due: py-deprecated, py-path-deprecated

Fix KeyError when caplog handler is missing, raise RuntimeError instead
  changelog/14488.bugfix.rst
Due: changelogs-user-role

fix: add type annotation for caplog
  testing/logging/test_fixture.py
Due: py-deprecated, py-path-deprecated

Fix JUnit XML escaping for supplementary Unicode
  changelog/14483.bugfix.rst
  src/_pytest/junitxml.py
  testing/test_junitxml.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix JUnit XML escaping for supplementary Unicode
  AUTHORS
  changelog/14483.bugfix.rst
  src/_pytest/junitxml.py
  testing/test_junitxml.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix Code.getargs() treating co_flags bitmask values as counts
  changelog/14492.bugfix.rst
  src/_pytest/_code/code.py
  testing/code/test_code.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

replace logging.warning with extra_info in pre-collection header
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

account for co_kwonlyargcount in getargs when var=True
  src/_pytest/_code/code.py
  testing/code/test_code.py
Due: py-deprecated, py-path-deprecated

fix test expectation order for kwonly args and suppress ruff F841
  testing/code/test_code.py
Due: py-deprecated, py-path-deprecated

call f5/f6 directly to cover function body lines for codecov
  testing/code/test_code.py
Due: py-deprecated, py-path-deprecated

Update doc/en/how-to/output.rst
  doc/en/how-to/output.rst
Due: changelogs-user-role

Update src/_pytest/assertion/util.py
  src/_pytest/assertion/util.py
Due: py-deprecated, py-path-deprecated

Update doc/en/reference/reference.rst
  doc/en/reference/reference.rst
Due: changelogs-user-role

Address assertion text diff style review
  changelog/6757.feature.rst
  doc/en/how-to/output.rst
  src/_pytest/assertion/__init__.py
  src/_pytest/assertion/util.py
  testing/test_assertion.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Cover ndiff assertion text diff style
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

Fix outdated xdist version link in hooks how-to
  doc/en/how-to/writing_hook_functions.rst
Due: changelogs-user-role

Apply suggestions from code review
  src/_pytest/assertion/util.py
Due: py-deprecated, py-path-deprecated

Update util.py
  src/_pytest/assertion/util.py
Due: py-deprecated, py-path-deprecated

Apply suggestion from @nicoddemus
  src/_pytest/assertion/util.py
Due: py-deprecated, py-path-deprecated

New assertion_text_diff_style option for text diff blocks (#14425)
  changelog/6757.feature.rst
  doc/en/how-to/output.rst
  doc/en/reference/reference.rst
  src/_pytest/assertion/__init__.py
  src/_pytest/assertion/util.py
  testing/test_assertion.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fixes #13224 - Remove any progress indicators only when -qq is given
  changelog/13224.bugfix.rst
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix supplementary plane character escaping in bin_xml_escape
  src/_pytest/junitxml.py
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

fix: approx() tolerance not applied to sequences/mappings inside dicts
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

Add changelog entry for #14214
  changelog/14214.bugfix.rst
Due: changelogs-user-role

fix: propagate assertion verbosity to raises match diff
  src/_pytest/raises.py
  testing/python/raises.py
Due: py-deprecated, py-path-deprecated

Fix -v hint in raises match diff not working (#14226)
  changelog/14214.bugfix.rst
  src/_pytest/raises.py
  testing/python/raises.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

mention co_kwonlyargcount fix in changelog
  changelog/14492.bugfix.rst
Due: changelogs-user-role

Handle group-only RaisesGroup checks safely
  src/_pytest/raises.py
  testing/python/raises_group.py
Due: py-deprecated, py-path-deprecated

fix: assign conftest fixtures to Directory nodes during collection
  changelog/14004.bugfix.rst
  src/_pytest/fixtures.py
  testing/test_conftest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

deprecate: string-based nodeid/baseid fixture APIs with legacy fallback
  changelog/14004.deprecation.rst
  src/_pytest/deprecated.py
  src/_pytest/fixtures.py
  src/_pytest/python.py
  src/_pytest/unittest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

docs: add deprecation entry for fixture baseid/nodeid string parameters
  doc/en/deprecations.rst
Due: changelogs-user-role

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
