Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

[7.4.x] doc: Remove sold out training
  doc/en/index.rst
Due: none

Remove redundant tests
  testing/deprecated_test.py
Due: py-deprecated

Clarify temporary directory location and retention
  doc/en/how-to/tmp_path.rst
Due: none

Move temp dir retention explanation to end of fixture section
  doc/en/how-to/tmp_path.rst
Due: none

Fix RST refs for temp dir location section
  src/_pytest/legacypath.py
  src/_pytest/tmpdir.py
Due: py-deprecated, py-path-deprecated

avoid using __file__ in pytest_plugin_registered as can be wrong on Windows
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

pre-commit: add pluggy to mypy deps
  .pre-commit-config.yaml
Due: none

hookspecs: add `plugin_name` parameter to the `pytest_plugin_registered` hook
  changelog/11825.improvement.rst
  src/_pytest/config/__init__.py
  src/_pytest/hookspec.py
Due: py-deprecated, py-path-deprecated

fixtures: avoid slow `pm.get_name(plugin)` call by using the new `plugin_name` hook parameter
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

[8.0.x] avoid using __file__ in pytest_plugin_registered as can be wrong on Windows
  .pre-commit-config.yaml
  changelog/11825.improvement.rst
  src/_pytest/config/__init__.py
  src/_pytest/fixtures.py
  src/_pytest/hookspec.py
Due: py-deprecated, py-path-deprecated

Move scheduling of fixture finalization so it isn't rescheduled if the fixture value is cached.
  src/_pytest/fixtures.py
  testing/python/test_scope_fixture_teardown_order.py
Due: py-deprecated, py-path-deprecated

add changelog
  changelog/1489.bugfix.rst
Due: none

Prepare release version 7.5.0rc2
  changelog/11233.feature.rst
  changelog/11706.bugfix.rst
  changelog/11758.bugfix.rst
  changelog/11825.improvement.rst
  changelog/9765.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-7.5.0rc2.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/customdirectory.rst
  doc/en/example/markers.rst
  doc/en/example/nonpython.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/reportingdemo.rst
  doc/en/example/simple.rst
  doc/en/getting-started.rst
  doc/en/how-to/assert.rst
  doc/en/how-to/cache.rst
  doc/en/how-to/capture-stdout-stderr.rst
  doc/en/how-to/capture-warnings.rst
  doc/en/how-to/doctest.rst
  doc/en/how-to/fixtures.rst
  doc/en/how-to/output.rst
  doc/en/how-to/parametrize.rst
  doc/en/how-to/tmp_path.rst
  doc/en/how-to/unittest.rst
  doc/en/how-to/writing_plugins.rst
  doc/en/index.rst
Due: none

testing: temporarily disable test due to hypothesis issue
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

testing: temporarily disable test due to hypothesis issue (#11836)
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

[8.0.x] testing: temporarily disable test due to hypothesis issue
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

Prepare release version 8.0.0rc2
  changelog/11233.feature.rst
  changelog/11706.bugfix.rst
  changelog/11758.bugfix.rst
  changelog/11825.improvement.rst
  changelog/9765.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-8.0.0rc2.rst
  doc/en/changelog.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/simple.rst
  doc/en/getting-started.rst
  doc/en/how-to/fixtures.rst
  doc/en/how-to/output.rst
Due: none

Merge pull request #11835 from pytest-dev/release-8.0.0rc2
  changelog/11233.feature.rst
  changelog/11706.bugfix.rst
  changelog/11758.bugfix.rst
  changelog/11825.improvement.rst
  changelog/9765.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-8.0.0rc2.rst
  doc/en/changelog.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/simple.rst
  doc/en/getting-started.rst
  doc/en/how-to/fixtures.rst
  doc/en/how-to/output.rst
Due: none

Properly attach packages to the GH release notes
  .github/workflows/deploy.yml
Due: none

Properly attach packages to the GH release notes (#11839)
  .github/workflows/deploy.yml
Due: none

Properly attach packages to the GH release notes (#11839) (#11840)
  .github/workflows/deploy.yml
Due: none

Add changelog and authors entry for issue #11790
  AUTHORS
  changelog/11790.doc.rst
Due: none

[DOCS] Clarify tmp_path directory location and retention (#11830)
  AUTHORS
  changelog/11790.doc.rst
  doc/en/how-to/tmp_path.rst
  src/_pytest/legacypath.py
  src/_pytest/tmpdir.py
Due: py-deprecated, py-path-deprecated

helpconfig: add invocation dir to debug output
  src/_pytest/helpconfig.py
Due: py-deprecated, py-path-deprecated

config: avoid Path.cwd() call in `_set_initial_conftests`
  src/_pytest/config/__init__.py
  testing/test_conftest.py
Due: py-deprecated, py-path-deprecated

findpaths: rely on invocation_dir instead of cwd
  src/_pytest/config/__init__.py
  src/_pytest/config/findpaths.py
  testing/test_config.py
  testing/test_findpaths.py
Due: py-deprecated, py-path-deprecated

python: use invocation dir instead of cwd in fixture-printing code
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

Update junitxml.py
  src/_pytest/junitxml.py
Due: py-deprecated, py-path-deprecated

WIP: hookspec: document conftest behavior for all hooks
  src/_pytest/hookspec.py
Due: py-deprecated, py-path-deprecated

update
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

typo
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

doc/writing_plugins: correct inaccuracies re. initial conftest loading
  doc/en/how-to/writing_plugins.rst
Due: none

Finish the job
  src/_pytest/hookspec.py
Due: py-deprecated, py-path-deprecated

delete silly chdir
  src/_pytest/main.py
Due: py-deprecated, py-path-deprecated

Add changelog entry
  changelog/11842.bugfix.rst
Due: none

Fix docs
  changelog/11842.bugfix.rst
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

Escape skip reason in junitxml (#11842)
  changelog/11842.bugfix.rst
  src/_pytest/junitxml.py
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

[8.0.x] Escape skip reason in junitxml
  changelog/11842.bugfix.rst
  src/_pytest/junitxml.py
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py
