Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

test workflow: use an explicit matrix variable instead of an inline value
  .github/workflows/test.yml
Due: none

Fix type failures in raises.py and add tests
  src/_pytest/raises.py
  testing/python/raises_group.py
  testing/test_monkeypatch.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

Comply with new lint rule for unused variables
  doc/en/example/.ruff.toml
  src/_pytest/_code/source.py
  src/_pytest/_py/path.py
  src/_pytest/config/__init__.py
  src/_pytest/helpconfig.py
  src/_pytest/mark/structures.py
  src/_pytest/reports.py
  testing/_py/test_local.py
  testing/acceptance_test.py
  testing/code/test_code.py
  testing/code/test_excinfo.py
  testing/code/test_source.py
  testing/example_scripts/fixtures/fill_fixtures/test_conftest_funcargs_only_available_in_subdir/sub2/conftest.py
  testing/python/collect.py
  testing/python/fixtures.py
  testing/python/integration.py
  testing/python/metafunc.py
  testing/test_capture.py
  testing/test_collection.py
  testing/test_doctest.py
  testing/test_junitxml.py
  testing/test_legacypath.py
  testing/test_main.py
  testing/test_mark.py
  testing/test_nodes.py
  testing/test_pathlib.py
  testing/test_pluginmanager.py
  testing/test_pytester.py
  testing/test_reports.py
  testing/test_session.py
  testing/test_skipping.py
  testing/test_tmpdir.py
  testing/test_unittest.py
  testing/test_warning_types.py
Due: py-deprecated, py-path-deprecated

Update parametrize.rst
  doc/en/how-to/parametrize.rst
Due: changelogs-user-role

Do not import pytest in unittest.py
  src/_pytest/unittest.py
Due: py-deprecated, py-path-deprecated

fix: reviewer suggestion
  src/_pytest/_io/pprint.py
  src/_pytest/assertion/util.py
Due: py-deprecated, py-path-deprecated

fix: format
  src/_pytest/_io/pprint.py
Due: py-deprecated, py-path-deprecated

fix: minor changes
  src/_pytest/assertion/util.py
Due: py-deprecated, py-path-deprecated

fix #13564 - warn when fixtures get wrapped with a decorator
  .gitignore
  changelog/13564.improvement.rst
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

doc: Remove cancelled training
  doc/en/index.rst
Due: changelogs-user-role

doc: Remove cancelled training (#13752)
  doc/en/index.rst
Due: changelogs-user-role

Replace attr by dataclass
  src/_pytest/subtests.py
Due: py-deprecated, py-path-deprecated

Add pytest-subtests files changes
  src/_pytest/config/__init__.py
  src/_pytest/subtests.py
  src/pytest/__init__.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

Force using xdist plugin and fix linting
  src/_pytest/subtests.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

subtests: remove direct pytest import
  src/_pytest/subtests.py
Due: py-deprecated, py-path-deprecated

Add docs
  changelog/1367.feature.rst
  doc/en/how-to/index.rst
  doc/en/how-to/parametrize.rst
  doc/en/how-to/subtests.rst
  doc/en/how-to/unittest.rst
  doc/en/reference/fixtures.rst
  doc/en/reference/reference.rst
  src/_pytest/deprecated.py
  src/_pytest/subtests.py
  testing/test_subtests.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Cleanup internal hacks
  src/_pytest/reports.py
  src/_pytest/subtests.py
  src/_pytest/terminal.py
  src/_pytest/unittest.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

[refactor to use match] AssertionRewriter.run()
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

[refactor to use match] AssertionRewriter.visit_Call()
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

[refactor to use match] AssertionRewriter.visit_BoolOp()
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

[refactor to use match] AssertionRewriter.visit_Compare()
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

Update AUTHORS and add changelog entry
  AUTHORS
  changelog/13223.feature.rst
Due: changelogs-user-role

Implement stacked parametrize order feature
  src/_pytest/config/__init__.py
  src/_pytest/mark/structures.py
  src/_pytest/python.py
  testing/test_mark.py
Due: py-deprecated, py-path-deprecated

feat: add --require-unique-paramset-ids option skips pytest internal logic of id generation
  changelog/13737.feature.rst
  doc/en/example/.ruff.toml
  doc/en/reference/reference.rst
  src/_pytest/main.py
  src/_pytest/python.py
  testing/test_collection.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix #13537: Add support for ExceptionGroup with only Skipped exceptions in teardown
  changelog/13537.bugfix.rst
  src/_pytest/reports.py
  testing/test_reports.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix regression: pytest.exit inside an ExceptionGroup now stops the session as expected.
  AUTHORS
  changelog/13650.bugfix.rst
  src/_pytest/runner.py
  testing/test_runner.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

[ruff configuration] Fix legacy alias and top-level linter settings
  .pre-commit-config.yaml
  doc/en/example/.ruff.toml
Due: none

[ruff configuration] Fix legacy alias and top-level linter settings (#13761)
  .pre-commit-config.yaml
  doc/en/example/.ruff.toml
Due: none

[refactor] Create a file for set comparison in assertion
  src/_pytest/assertion/_compare_set.py
  src/_pytest/assertion/_typing.py
  src/_pytest/assertion/util.py
Due: py-deprecated, py-path-deprecated

[match case] Use match case in assertrepr_compare
  src/_pytest/assertion/_compare_set.py
  src/_pytest/assertion/util.py
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

[refactor] Create the SET_COMPARISON_FUNCTIONS once
  src/_pytest/assertion/_compare_set.py
  src/_pytest/assertion/util.py
Due: py-deprecated, py-path-deprecated

Update __init__.py
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

Format file patterns
  doc/en/getting-started.rst
Due: changelogs-user-role

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
