Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

Restore skipping tests via `raise unittest.SkipTest` (#13912)
  changelog/13895.bugfix.rst
  src/_pytest/unittest.py
  testing/test_unittest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Revert "testing: temporarily disable pytest-asyncio integration test"
  testing/plugins_integration/pytest.ini
  testing/plugins_integration/requirements.txt
  tox.ini
Due: none

Merge pull request #13918 from bluetech/restore-pytest-asyncio
  testing/plugins_integration/pytest.ini
  testing/plugins_integration/requirements.txt
  tox.ini
Due: none

config: fix `UserWarning: Do not expect file_or_dir` on some Python 3.12 and 3.13 point versions
  changelog/13910.bugfix.rst
  src/_pytest/config/argparsing.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

doc: update RTD/tox to Python 3.13
  .readthedocs.yaml
  tox.ini
Due: none

doc: fix mis-rendered tabs
  doc/en/explanation/goodpractices.rst
Due: changelogs-user-role

runner: don't treat `unittest.SkipTest` as an interactive exception
  changelog/13917.bugfix.rst
  src/_pytest/debugging.py
  src/_pytest/runner.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

debugging: import unittest lazily
  src/_pytest/debugging.py
Due: py-deprecated, py-path-deprecated

Enable autofix for zizmor pre-commit hook
  .github/dependabot.yml
  .pre-commit-config.yaml
Due: none

Merge pull request #13919 from bluetech/doc-syntax-fix
  .readthedocs.yaml
  doc/en/explanation/goodpractices.rst
  tox.ini
Due: changelogs-user-role

Merge pull request #13922 from bluetech/fix-argparse-userwarning
  changelog/13910.bugfix.rst
  src/_pytest/config/argparsing.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add online CLI options reference – fixes #4492
  doc/en/how-to/cli-options.rst
  doc/en/how-to/index.rst
Due: changelogs-user-role

Add changelog
  changelog/4492.doc.rst
Due: changelogs-user-role

Document variant testing steps
  Dockerfile
  README.md
  build_and_test.sh
  docker/cyclic_deps/README.md
  docker/cyclic_deps/alpha/pyproject.toml
  docker/cyclic_deps/alpha/src/alpha_cyclic/__init__.py
  docker/cyclic_deps/alpha/src/alpha_cyclic/core.py
  docker/cyclic_deps/beta/pyproject.toml
  docker/cyclic_deps/beta/src/beta_cyclic/__init__.py
  docker/cyclic_deps/beta/src/beta_cyclic/bridge.py
  docker/cyclic_deps/startup_cyclic.py
  docker/variants/Dockerfile.cyclic-1
  docker/variants/Dockerfile.cyclic-2
  docker/variants/Dockerfile.cyclic-3
  docker/variants/Dockerfile.cyclic-4
  docker/variants/Dockerfile.cyclic-5
  docker/variants/Dockerfile.cyclic-6
  docker/variants/Dockerfile.minimal-1
  docker/variants/Dockerfile.minimal-2
  docker/variants/Dockerfile.minimal-3
  docker/variants/Dockerfile.minimal-4
  docker/variants/Dockerfile.minimal-5
  docker/variants/Dockerfile.missing-deps-1
  docker/variants/Dockerfile.missing-deps-2
  docker/variants/Dockerfile.missing-deps-3
  docker/variants/Dockerfile.missing-deps-4
  docker/variants/Dockerfile.missing-deps-5
  docker/variants/troubleshooting-guide1.md
  docker/variants/troubleshooting-guide2.md
  docker/variants/troubleshooting-guide3.md
Due: py-deprecated, py-path-deprecated

📦 Pass desired release to PEP 517 tox env
  tox.ini
Due: none

📝 Add a change note for PR #13933
  changelog/13933.contrib.rst
  changelog/13933.packaging.rst
Due: changelogs-user-role

Prepare release version 9.0.1
  changelog/13895.bugfix.rst
  changelog/13896.bugfix.rst
  changelog/13904.bugfix.rst
  changelog/13910.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-9.0.1.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/customdirectory.rst
  doc/en/example/markers.rst
  doc/en/example/nonpython.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/reportingdemo.rst
  doc/en/example/simple.rst
  doc/en/getting-started.rst
  doc/en/how-to/assert.rst
  doc/en/how-to/cache.rst
  doc/en/how-to/capture-stdout-stderr.rst
  doc/en/how-to/capture-warnings.rst
  doc/en/how-to/doctest.rst
  doc/en/how-to/fixtures.rst
  doc/en/how-to/output.rst
  doc/en/how-to/parametrize.rst
  doc/en/how-to/tmp_path.rst
  doc/en/how-to/unittest.rst
  doc/en/how-to/writing_plugins.rst
  doc/en/index.rst
Due: changelogs-user-role

Merge pull request #13933 from webknjaz/maintenance/tox-pep517-env-setuptools-scm-pretend-env-var
  changelog/13933.contrib.rst
  changelog/13933.packaging.rst
  tox.ini
Due: changelogs-user-role

Convert coverage configuration to TOML
  .coveragerc
  pyproject.toml
  tox.ini
Due: none

Use coverage built-in subprocess support instead of `coverage-enable-subprocess`
  pyproject.toml
  tox.ini
Due: none

doc: always use raw TOML strings in `filterwarnings` examples
  doc/en/how-to/capture-warnings.rst
  doc/en/reference/reference.rst
Due: changelogs-user-role

pyproject.toml: use raw TOML strings for `filterwarnings` to avoid unreadable double escaping
  pyproject.toml
Due: none

Prepare release version 9.0.1
  changelog/13895.bugfix.rst
  changelog/13896.bugfix.rst
  changelog/13904.bugfix.rst
  changelog/13910.bugfix.rst
  changelog/13933.contrib.rst
  changelog/13933.packaging.rst
  doc/en/announce/index.rst
  doc/en/announce/release-9.0.1.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/customdirectory.rst
  doc/en/example/markers.rst
  doc/en/example/nonpython.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/reportingdemo.rst
  doc/en/example/simple.rst
  doc/en/getting-started.rst
  doc/en/how-to/assert.rst
  doc/en/how-to/cache.rst
  doc/en/how-to/capture-stdout-stderr.rst
  doc/en/how-to/capture-warnings.rst
  doc/en/how-to/doctest.rst
  doc/en/how-to/fixtures.rst
  doc/en/how-to/output.rst
  doc/en/how-to/parametrize.rst
  doc/en/how-to/tmp_path.rst
  doc/en/how-to/unittest.rst
  doc/en/how-to/writing_plugins.rst
  doc/en/index.rst
Due: changelogs-user-role

pre-commit: `language: system` is deprecated in favor of `language: unsupported`
  .pre-commit-config.yaml
Due: none

Merge pull request #13939 from nicoddemus/pre-commit-system-deprecated
  .pre-commit-config.yaml
Due: none

Add minimum-pre-commit-version
  .pre-commit-config.yaml
Due: none

🧪 Run `gh release` w/o Git in CI/CD
  .github/workflows/deploy.yml
Due: none

📝 Add a change note for PRs #13942 and #13891
  changelog/13891.contrib.rst
  changelog/13942.contrib.rst
Due: changelogs-user-role

Merge pull request #13941 from nicoddemus/min-pre-commit-version
  .pre-commit-config.yaml
Due: none

tox: remove unneeded `xdist: -e .`
  tox.ini
Due: none

tox: remove no longer needed `pip` download=True
  tox.ini
Due: none

🧪 Run `gh release` w/o Git in CI/CD (#13942)
  .github/workflows/deploy.yml
  changelog/13891.contrib.rst
  changelog/13942.contrib.rst
Due: changelogs-user-role

ci,tox: generate coverage xml in tox, not in CI
  .github/workflows/test.yml
  tox.ini
Due: none

ci: remove unneeded `setuptools` install
  .github/workflows/prepare-release-pr.yml
Due: none

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
