Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

Fix CLI options documentation
  changelog/4492.doc.rst
  doc/en/reference/reference.rst
Due: changelogs-user-role

Fix source IndexError test
  testing/code/test_source.py
Due: py-deprecated, py-path-deprecated

config: Add a test for -o with invalid option
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

python: move `_resolve_args_directness` function
  src/_pytest/fixtures.py
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

python: use nodeid in error messages instead of function name
  src/_pytest/python.py
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

fixtures: fix incorrect "duplicate parametrization" when using `indirect=[...]`
  src/_pytest/fixtures.py
  testing/python/collect.py
Due: py-deprecated, py-path-deprecated

Delete changelog/13969.misc.rst
  changelog/13969.misc.rst
Due: changelogs-user-role

Fix a typo in the 9.0 changelog (#13969)
  AUTHORS
  doc/en/changelog.rst
Due: changelogs-user-role

python: allow adding parameter names to parametrized test IDs
  AUTHORS
  changelog/13055.feature.rst
  doc/en/example/parametrize.rst
  src/_pytest/mark/structures.py
  src/_pytest/python.py
  testing/python/metafunc.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

runner: make PYTEST_CURRENT_TEST thread-safe with threading.local()
  changelog/13844.bugfix.rst
  src/_pytest/runner.py
  testing/test_runner.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

ci: restore full windows coverage
  .github/workflows/test.yml
Due: none

Merge pull request #13984 from bluetech/ci-windows-coverage
  .github/workflows/test.yml
Due: none

Add changelog entry for #13884
  changelog/13884.bugfix.rst
Due: changelogs-user-role

terminal: disable OSC 9;4; terminal progress by default, except on Windows
  changelog/13896.bugfix.rst
  doc/en/changelog.rst
  src/_pytest/config/__init__.py
  src/_pytest/terminal.py
  src/_pytest/terminalprogress.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

testing: improve mocking in terminalprogress tests
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

terminalprogress: disable when TERM=dumb
  changelog/13896.bugfix.rst
  src/_pytest/terminalprogress.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Merge pull request #13971 from bluetech/disable-terminalprogress-by-default2
  changelog/13896.bugfix.rst
  doc/en/changelog.rst
  src/_pytest/config/__init__.py
  src/_pytest/terminal.py
  src/_pytest/terminalprogress.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

coverage: use `ctrace` core to avoid CI slowdown on Python 3.14
  pyproject.toml
Due: none

Fix internal error when source is modified (#13884)
  changelog/13884.bugfix.rst
  src/_pytest/_code/source.py
  testing/code/test_source.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix quadratic-time behavior when handling `unittest` subtests in Python 3.10
  changelog/13965.bugfix.rst
  src/_pytest/unittest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

config: Add a test for -o with invalid option (#13980)
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

Merge pull request #13991 from bluetech/ci-slow-coverage
  .coveragerc
Due: none

Fix ruff format
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

Fix quadratic-time behavior when handling `unittest` subtests in Python 3.10 (#13993)
  changelog/13965.bugfix.rst
  src/_pytest/unittest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

restore codecov token
  codecov.yml
Due: none

Specify upload type
  .github/workflows/test.yml
Due: none

Add upload junit to codecov from CI
  .github/workflows/test.yml
  tox.ini
Due: none

Apply suggestions from code review
  .github/workflows/test.yml
  tox.ini
Due: none

add changelog file
  changelog/12689.contrib.rst
Due: changelogs-user-role

update codecov token
  codecov.yml
Due: none

add name to AUTHORS
  AUTHORS
Due: none

pre-commit: fix rst-lint after new release
  .pre-commit-config.yaml
Due: none

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

pre-commit: fix rst-lint after new release (#13999)
  .pre-commit-config.yaml
Due: none

Apply automated pyupgrade modification
  src/_pytest/subtests.py
Due: py-deprecated, py-path-deprecated
