Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

Fix type hints for `TestReport.when` and `TestReport.location`
  changelog/13345.bugfix.rst
  src/_pytest/reports.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add note on using mixin classes for abstract test classes in documentation
  changelog/8612.doc.rst
  doc/en/example/pythoncollection.rst
Due: changelogs-user-role

Add title and change spelling for use of approx with non-numerics (#13343)
  src/_pytest/python_api.py
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

Fix type hints for `TestReport.when` and `TestReport.location` (#13345)
  changelog/13345.bugfix.rst
  src/_pytest/reports.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

move the note and the example to a .. note:: section
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

Clean up type hints from #13345 and add a test
  changelog/13348.misc.rst
  src/_pytest/reports.py
  testing/typing_checks.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Update src/_pytest/python_api.py
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

Delete changelog/13348.misc.rst
  changelog/13348.misc.rst
Due: changelogs-user-role

Clean up type hints and add a test (#13348)
  src/_pytest/reports.py
  testing/typing_checks.py
Due: py-deprecated, py-path-deprecated

Doc: clarify `approx` behavior regarding int and bools (#13341)
  changelog/13218.doc.rst
  src/_pytest/python_api.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

Add note on using mixin classes for abstract test classes in documentation (#13346)
  changelog/8612.doc.rst
  doc/en/example/pythoncollection.rst
Due: changelogs-user-role

Added changelog.
  changelog/12647.bugfix.rst
Due: changelogs-user-role

Tests fixed that are not successful for specific plugins. For example for _hypothesis_pytestplugin. Fixes #12647
  testing/test_helpconfig.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Update and rename 12647.bugfix.rst to 12647.contrib.rst
  changelog/12647.bugfix.rst
  changelog/12647.contrib.rst
Due: changelogs-user-role

Fix test suite when PYTEST_PLUGINS is set
  changelog/12647.contrib.rst
  testing/test_helpconfig.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add JUnit test report upload to Codecov for improved test result visibility
  .github/workflows/test.yml
  changelog/12689.improvement.rst
  tox.ini
Due: changelogs-user-role

Add report type configuration for test results in CI workflow
  .github/workflows/test.yml
Due: none

Refactor Codecov upload steps in CI workflow for clarity and separation
  .github/workflows/test.yml
Due: none

Rename improvement documentation and update test result upload configuration in CI workflow
  .github/workflows/test.yml
  changelog/12689.contrib.rst
  tox.ini
Due: changelogs-user-role

Update test_config.py to include junit_family option in override settings
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

Fix option parsing in test_config.py to correctly handle multiple -o flags
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

WIP: fix #6881 - add policies for handling long test ids
  src/_pytest/python.py
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

Add JUnit test result file to .gitignore
  .gitignore
Due: none

Add Missing Docstrings to validate_basetemp in main.py
  src/_pytest/main.py
Due: py-deprecated, py-path-deprecated

12979: Add Missing Docstrings to basetemp dir in main.py
  changelog/13091.doc.rst
  src/_pytest/main.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix parameter handling of non-static test methods
  changelog/13377.bugfix.rst
  src/_pytest/compat.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

init
  src/_pytest/_code/code.py
  testing/code/test_excinfo.py
Due: py-deprecated, py-path-deprecated

+ author
  AUTHORS
Due: none

fix
  changelog/13380.bugfix.rst
  src/_pytest/_code/code.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Integration test
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

Apply suggestions from code review
  changelog/13377.bugfix.rst
Due: changelogs-user-role

Update 13377.bugfix.rst
  changelog/13377.bugfix.rst
Due: changelogs-user-role

Fix handling of positional-only parameters in test methods (#13377)
  changelog/13377.bugfix.rst
  src/_pytest/compat.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated
