Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
    -   id: black
        args: [--safe, --quiet]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==20.8b1]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: check-yaml
    -   id: debug-statements
        exclude: _pytest/(debugging|hookspec).py
        language_version: python3
-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        name: autoflake
        args: ["--in-place", "--remove-unused-variables", "--remove-all-unused-imports"]
        language: python
        files: \.py$
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-typing-imports==1.12.0
          - flake8-docstrings==1.5.0
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.7.1
    hooks:
    -   id: reorder-python-imports
        args: ['--application-directories=.:src', --py37-plus]
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.31.0
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
-   repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.20.0
    hooks:
    -   id: setup-cfg-fmt
        args: [--max-py-version=3.10]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        files: ^(src/|testing/)
        args: []
        additional_dependencies:
          - iniconfig>=1.1.0
          - py>=1.8.2
          - attrs>=19.2.0
          - packaging
          - tomli
          - types-atomicwrites
          - types-pkg_resources
-   repo: local
    hooks:
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'
        exclude: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
        files: ^changelog/
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

testing: remove a no longer necessary skip
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

Fix "Customizing Colors" documentation section (#11652)
  doc/en/how-to/logging.rst
Due: none

draft implementation of ExpectedExceptionGroup
  src/_pytest/python_api.py
  testing/python/expected_exception_group.py
  testing/python/raises.py
Due: py-deprecated, py-path-deprecated

import exceptiongroup on <3.11
  src/_pytest/python_api.py
  testing/python/expected_exception_group.py
Due: py-deprecated, py-path-deprecated

type->Type
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

Consolidate changelog and correct typo
  changelog/11387.feature.rst
  changelog/11639.feature.rst
  doc/en/how-to/output.rst
  doc/en/reference/reference.rst
Due: none

Add more type annotations to test function
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

created test file to test issue
  pyproject.toml
  testing/examples/test_issue10863.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: none

Organize tests into a class
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Separate the various parts of the error report with newlines
  changelog/11520.2.improvement.rst
  src/_pytest/assertion/util.py
  testing/python/approx.py
  testing/test_assertion.py
Due: changelogs-rst, py-deprecated, py-path-deprecated

Restructure tests to use a less complicated sample file
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Showing file path also needs to respect verbosity
  src/_pytest/terminal.py
Due: py-deprecated, py-path-deprecated

Add a single failing test to sample
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

fixup! Separate the various parts of the error report with newlines
  changelog/11520.2.improvement.rst
  changelog/11520.improvement.rst
  testing/python/approx.py
Due: changelogs-rst, py-deprecated, py-path-deprecated

fixup! fixup! Separate the various parts of the error report with newlines
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

changed _pytest to pytest_
  doc/en/how-to/writing_hook_functions.rst
Due: none

Remove `setup.py`
  changelog/11667.breaking.rst
  pyproject.toml
  setup.py
Due: py-deprecated, py-path-deprecated

removed test file, no longer needed
  testing/examples/test_issue10863.py
Due: py-deprecated, py-path-deprecated

Applied fix to Issue 11457 by adding a suppress context field to fail function
  AUTHORS
  src/_pytest/outcomes.py
Due: py-deprecated, py-path-deprecated

Improve error message when using @pytest.fixture twice
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

draft implementation of RaisesGroup
  src/_pytest/python_api.py
  testing/python/expected_exception_group.py
Due: py-deprecated, py-path-deprecated

Separate the various parts of the error report with newlines (#11659)
  changelog/11520.improvement.rst
  src/_pytest/assertion/util.py
  testing/python/approx.py
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

Add syntactic highlighting to the error explanations
  changelog/11520.improvement.rst
  src/_pytest/assertion/util.py
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

Put a 'reset' color in front of the highlighting
  src/_pytest/_io/terminalwriter.py
  testing/io/test_terminalwriter.py
  testing/test_assertion.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

fixup! Add syntactic highlighting to the error explanations
  src/_pytest/assertion/util.py
Due: py-deprecated, py-path-deprecated

doc: document `pytest.{hookspec,hookimpl}` in the API Reference
  doc/en/how-to/writing_hook_functions.rst
  doc/en/reference/reference.rst
Due: none

doc: fix some broken Sphinx references
  changelog/9288.breaking.rst
  doc/en/backwards-compatibility.rst
  doc/en/changelog.rst
  doc/en/deprecations.rst
  doc/en/example/parametrize.rst
  doc/en/explanation/fixtures.rst
  doc/en/funcarg_compare.rst
  doc/en/historical-notes.rst
  doc/en/how-to/capture-warnings.rst
  doc/en/how-to/fixtures.rst
  doc/en/how-to/writing_hook_functions.rst
  doc/en/reference/fixtures.rst
  src/_pytest/capture.py
  src/_pytest/config/argparsing.py
  src/_pytest/hookspec.py
  src/_pytest/legacypath.py
  src/_pytest/logging.py
  src/_pytest/pytester.py
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

Used stdio for showcapture to show both stdout and stderr in debugging
  src/_pytest/debugging.py
Due: py-deprecated, py-path-deprecated

Added stdio checker
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Added additional testing to confirm stdout and stderr in result and not log
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Added an update in changelog for the new feature
  changelog/11037.feature.rst
Due: none

Included stdio in choices under Group._addoption to have stdio display both stdout and stderr.
  src/_pytest/terminal.py
Due: py-deprecated, py-path-deprecated

Added author names
  AUTHORS
Due: none

Securely pin re-actors/alls-green to v1.2 commit
  .github/workflows/test.yml
Due: none

Introduce a gate/check GHA job
  .github/workflows/test.yml
Due: none

Make use of `-I` in all Python invocations
  .github/workflows/deploy.yml
  .github/workflows/prepare-release-pr.yml
  .github/workflows/test.yml
  .github/workflows/update-plugin-list.yml
  CONTRIBUTING.rst
  doc/en/explanation/goodpractices.rst
  doc/en/explanation/pythonpath.rst
  doc/en/how-to/usage.rst
  src/_pytest/pytester.py
  testing/acceptance_test.py
  testing/test_assertion.py
  testing/test_parseopt.py
  testing/test_setuponly.py
  testing/test_warnings.py
  tox.ini
Due: py-deprecated, py-path-deprecated

Added edge case code for solving issue 10825
  src/_pytest/reports.py
  testing/test_setup.py
Due: py-deprecated, py-path-deprecated

python_api: remove unused function `_non_numeric_type_error`
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

doc: fix more broken Sphinx references
  doc/en/changelog.rst
  doc/en/funcarg_compare.rst
  src/_pytest/config/__init__.py
  src/_pytest/hookspec.py
  src/_pytest/nodes.py
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated
