Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

fix-contributors-list
  scripts/release.py
Due: py-deprecated

Fix docs URL in unregistered marks warning message
  AUTHORS
  changelog/8787.bugfix.rst
  src/_pytest/mark/structures.py
Due: py-deprecated

doc: Adding the missing sys import (#8819) (#8827)
  doc/en/how-to/usage.rst
Due: none

Update remaining 7.0 references
  doc/en/changelog.rst
  testing/test_recwarn.py
Due: py-deprecated

Fix typo
  changelog/8787.bugfix.rst
Due: none

Point link to stable instead of latest docs
  src/_pytest/mark/structures.py
Due: py-deprecated

remove-bots
  scripts/release.py
  totalContributors.py
Due: py-deprecated

delete-extraneous-file
  totalContributors.py
Due: py-deprecated

fixed-documents
  changelog/8248.trivial.rst
  changelog/8411.trivial.rst
  changelog/8503.bugfix.rst
  changelog/8509.improvement.rst
Due: none

Issue #8823 - remove bots from contributors list (#8828)
  scripts/release.py
Due: py-deprecated

Change deprecation warnings into errors for 7.0 release
  changelog/7363.breaking.rst
  src/_pytest/warnings.py
  testing/test_mark.py
  testing/test_nose.py
  testing/test_terminal.py
  testing/test_warnings.py
Due: py-deprecated

Add types-atomicwrites as extras to mypy pre-commit hook
  .pre-commit-config.yaml
Due: none

Fix nonpython.rst usage of deprecated Node.fspath
  doc/en/example/nonpython/conftest.py
Due: py-deprecated

Fix doctest example to no longer issue a warning about fspath
  doc/en/example/assertion/global_testmodule_config/conftest.py
Due: py-deprecated

fix issue 8761 doc
  changelog/8761.feature.rst
Due: none

fix issue 8645 doc
  changelog/8645.deprecation.rst
  changelog/8645.improvement.rst
Due: none

fix issue 8447 doc
  changelog/8447.deprecation.rst
Due: none

closes #8824 Changelog rewording for 7.0 (#8826)
  AUTHORS
  changelog/7469.deprecation.rst
  changelog/7469.feature.rst
  changelog/8242.deprecation.rst
  changelog/8248.trivial.rst
  changelog/8315.deprecation.rst
  changelog/8411.trivial.rst
  changelog/8447.deprecation.rst
  changelog/8503.bugfix.rst
  changelog/8509.improvement.rst
  changelog/8606.feature.rst
  changelog/8645.deprecation.rst
  changelog/8645.improvement.rst
Due: none

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: none

Update remaining 7.0 references (#8834)
  doc/en/changelog.rst
  testing/test_recwarn.py
Due: py-deprecated

Support TOML v1.0.0 syntax in `pyproject.toml`
  .pre-commit-config.yaml
  AUTHORS
  changelog/8789.feature.rst
  setup.cfg
  src/_pytest/config/findpaths.py
  testing/test_findpaths.py
Due: py-deprecated

Adjust doc links for new scheme
  CONTRIBUTING.rst
  README.rst
  doc/en/announce/release-2.0.0.rst
  doc/en/announce/release-2.0.1.rst
  doc/en/announce/release-2.1.0.rst
  doc/en/announce/release-2.2.0.rst
  doc/en/announce/release-2.3.0.rst
  doc/en/announce/release-2.3.4.rst
  doc/en/announce/release-2.9.0.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/markers.rst
  doc/en/explanation/flaky.rst
  doc/en/getting-started.rst
  doc/en/history.rst
  doc/en/how-to/assert.rst
  doc/en/how-to/capture-warnings.rst
  doc/en/how-to/doctest.rst
  doc/en/how-to/unittest.rst
  doc/en/how-to/xunit_setup.rst
  doc/en/projects.rst
  doc/en/reference/reference.rst
  src/_pytest/cacheprovider.py
  src/_pytest/fixtures.py
  src/_pytest/mark/structures.py
  src/_pytest/outcomes.py
  src/_pytest/python.py
  src/_pytest/python_api.py
  src/_pytest/recwarn.py
  src/_pytest/skipping.py
  src/_pytest/terminal.py
  src/_pytest/warnings.py
  testing/test_pluginmanager.py
Due: rst, py-deprecated

Convert `TOMLDecodeError` to `UsageError`
  src/_pytest/config/findpaths.py
Due: py-deprecated

Make news indicate that a dependency changed
  changelog/8789.feature.rst
Due: none

doc: Typofix in fixtures how-to
  doc/en/how-to/fixtures.rst
Due: none

Add a test for invalid TOML file
  testing/test_findpaths.py
Due: py-deprecated

doc: Typofix in fixtures how-to (#8860)
  doc/en/how-to/fixtures.rst
Due: none

DoctTest line numbers not found due to method wrapping. (#8796)
  src/_pytest/doctest.py
  testing/test_doctest.py
Due: py-deprecated

Issue:Improved handling of skip-SOLVED
  doc/en/how-to/failures.rst
  testing/deprecated_test.md
  testing/poetry.lock
  testing/pyproject.toml
  testing/test_threadexception.py
  testing/test_unraisableexception.py
Due: py-deprecated

Docs: monkeypatch.setenv does not accept bool
  src/_pytest/monkeypatch.py
Due: py-deprecated

Fix in more places, use default
  doc/en/builtin.rst
  doc/en/how-to/monkeypatch.rst
  src/_pytest/monkeypatch.py
Due: py-deprecated

Remove upper pinning on tomli
  setup.cfg
Due: none

Add bugfix changelog and author
  AUTHORS
  changelog/8796.bugfix.rst
Due: none

Adjust enum reprs conditional from Python 3.10 to 3.11
  testing/python/metafunc.py
  testing/test_pytester.py
Due: py-deprecated

Revert "Adjust enum reprs for Python 3.10"
  testing/python/metafunc.py
  testing/test_pytester.py
Due: py-deprecated

Revert "Adjust enum reprs for Python 3.10" (#8896)
  testing/python/metafunc.py
  testing/test_pytester.py
Due: py-deprecated

Generate useful parameterization IDs for complex() numbers.
  AUTHORS
  changelog/8898.trivial.rst
  src/_pytest/python.py
  testing/python/metafunc.py
Due: py-deprecated

Rename 8898.trivial.rst to 8898.improvement.rst
  changelog/8898.improvement.rst
Due: none

Revert fspath deprecation
  doc/en/deprecations.rst
  src/_pytest/deprecated.py
  src/_pytest/fixtures.py
  src/_pytest/nodes.py
  testing/python/fixtures.py
  testing/test_collection.py
Due: py-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
  py-deprecated: any of: \.py$
