Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

WIP: initial repro for #8412
  testing/example_scripts/order_issue.py
  testing/examples/test_order_issue.py
Due: py-deprecated, py-path-deprecated

update example to @nedbat's current version
  testing/example_scripts/order_issue.py
Due: py-deprecated, py-path-deprecated

fix #8412: warn for a fixture-marked setUpClass, correct the changelog
  changelog/8412.bugfix.rst
  changelog/8412.improvement.rst
  src/_pytest/unittest.py
  testing/test_unittest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Give back the stream that was in place when capturing was suspended
  AUTHORS
  changelog/14995.bugfix.rst
  src/_pytest/capture.py
  testing/test_capture.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Retain tmp paths for setup and teardown errors
  AUTHORS
  changelog/14998.bugfix.rst
  src/_pytest/tmpdir.py
  testing/test_tmpdir.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Avoid untyped config lookup in tmp path hook
  src/_pytest/tmpdir.py
Due: py-deprecated, py-path-deprecated

docs: group collection reporting hooks
  doc/en/reference/reference.rst
Due: changelogs-user-role

docs: add changelog entry for hook grouping
  changelog/12658.doc.rst
Due: changelogs-user-role

docs: preserve the existing hook changelog
  changelog/12658.doc.rst
Due: changelogs-user-role

docs: add a new history fragment
  changelog/12658.doc.rst
  changelog/15000.doc.rst
Due: changelogs-user-role

campaign: testing/test_stepwise_interrupt.py, src/_pytest/stepwise.py, changelog/10562.bugfix.rst
  changelog/10562.bugfix.rst
  src/_pytest/stepwise.py
  testing/test_stepwise_interrupt.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

feat: option to hide pluggy frames even with --full-trace
  changelog/9509.feature.rst
  doc/en/how-to/output.rst
  doc/en/reference/reference.rst
  src/_pytest/nodes.py
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Avoid repeating SyntaxError location in collection errors
  changelog/14994.bugfix.rst
  src/_pytest/_code/code.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Test SyntaxError output across interpreters
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Fix terminal reporter output not appearing with capture active
  changelog/8973.bugfix.rst
  src/_pytest/config/__init__.py
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Move the terminal stdout duplicate into the capture plugin
  src/_pytest/capture.py
  src/_pytest/config/__init__.py
  src/_pytest/terminal.py
  testing/test_capture.py
  testing/test_config.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

docs(terminal): document TerminalReporter.write
  src/_pytest/terminal.py
Due: py-deprecated, py-path-deprecated

docs(changelog): reference TerminalReporter.write by its public name
  changelog/8973.bugfix.rst
Due: changelogs-user-role

fix(capture): open the stdout duplicate so Windows consoles stay correct
  src/_pytest/capture.py
Due: py-deprecated, py-path-deprecated

docs(terminal): correct the rationale for resolving the file here
  src/_pytest/terminal.py
Due: py-deprecated, py-path-deprecated

Defer tmp path cleanup after setup skips
  src/_pytest/tmpdir.py
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

Add complete option to LineMatcher methods
  changelog/6820.improvement.rst
  src/_pytest/pytester.py
  testing/test_pytester.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add duplicate-output test for LineMatcher complete mode
  testing/test_pytester.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

Handle uppercase -Wait variant and deduplicate docs URL
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

ENH expose fixture definitions on Metafunc
  changelog/14991.feature.rst
  src/_pytest/fixtures.py
  src/_pytest/python.py
  testing/python/metafunc.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

approx: show the real Decimal tolerance again
  changelog/15006.bugfix.rst
  src/_pytest/approx.py
  testing/python/approx.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

approx: support numpy arrays with object dtype
  changelog/15006.bugfix.2.rst
  src/_pytest/approx.py
  testing/python/approx.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

approx: keep float sentinels out of Decimal failure messages
  changelog/15006.bugfix.1.rst
  src/_pytest/approx.py
  testing/python/approx.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

approx: warn about inexact float tolerances for Decimal
  changelog/15006.improvement.rst
  doc/en/reference/reference.rst
  src/_pytest/approx.py
  src/_pytest/warning_types.py
  src/pytest/__init__.py
  testing/python/approx.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

approx: don't route Decimal through float for nan/inf checks
  changelog/15005.bugfix.rst
  src/_pytest/approx.py
  testing/python/approx.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

approx: cover the remaining branches of approx.py
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

docs: import sys in the captured output example
  doc/en/how-to/capture-stdout-stderr.rst
Due: changelogs-user-role

mark: ignore non-keyword function attributes in -k matching
  changelog/4569.bugfix.rst
  src/_pytest/mark/__init__.py
  testing/test_mark.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

nodes: store Mark, not MarkDecorator, in keywords from add_marker
  changelog/4569.improvement.rst
  src/_pytest/nodes.py
  testing/test_collection.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

doc: say what -k actually matches
  changelog/4569.doc.rst
  doc/en/reference/reference.rst
  src/_pytest/mark/__init__.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

doc: correct the keyword-related docstrings
  src/_pytest/fixtures.py
  src/_pytest/mark/__init__.py
  src/_pytest/nodes.py
  src/_pytest/python.py
  src/_pytest/reports.py
Due: py-deprecated, py-path-deprecated

doc: stop describing -k as name-only matching
  doc/en/example/markers.rst
  doc/en/how-to/usage.rst
Due: changelogs-user-role

doc: look up markers with get_closest_marker in the examples
  changelog/4569.doc.rst
  doc/en/example/simple.rst
Due: changelogs-user-role

testing: pin the keyword and mark selection behaviour
  testing/test_mark.py
Due: py-deprecated, py-path-deprecated
