Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

fix(rewrite): short-circuit chained comparisons (#14819)
  changelog/14822.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite_coverage.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

ensemble: document the capture boundary honestly
  src/_pytest/ensemble/__init__.py
Due: py-deprecated, py-path-deprecated

ensemble: do not let a config take ownership of a spec's ini values
  src/_pytest/ensemble/config.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

ensemble: give an ensemble its own output sink
  src/_pytest/ensemble/__init__.py
  src/_pytest/ensemble/config.py
  src/_pytest/ensemble/results.py
  src/_pytest/terminal.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

config: let get_config() take an explicit invocation dir
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

Add opt-in FunctionDefinition collection tree node (#3926)
  changelog/14769.bugfix.rst
  changelog/3926.improvement.rst
  doc/en/reference/reference.rst
  src/_pytest/main.py
  src/_pytest/nodes.py
  src/_pytest/python.py
  testing/test_collect_function_definition.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

ensemble: stop swallowing collection failures
  src/_pytest/ensemble/__init__.py
  src/_pytest/ensemble/results.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

config: split Config.parse into phase methods
  src/_pytest/config/__init__.py
  testing/test_warnings.py
Due: py-deprecated, py-path-deprecated

ensemble: honour shouldfail/shouldstop between items
  src/_pytest/ensemble/results.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

bench: compare pytester and ensemble run costs
  bench/ensemble_vs_pytester.py
Due: py-deprecated, py-path-deprecated

ensemble: build a hermetic nested Config from declarative data
  src/_pytest/config/__init__.py
  src/_pytest/ensemble/__init__.py
  src/_pytest/ensemble/config.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

fixtures: let a plugin declare that it has no fixtures
  src/_pytest/assertion/__init__.py
  src/_pytest/debugging.py
  src/_pytest/faulthandler.py
  src/_pytest/fixtures.py
  src/_pytest/helpconfig.py
  src/_pytest/legacypath.py
  src/_pytest/main.py
  src/_pytest/mark/__init__.py
  src/_pytest/pastebin.py
  src/_pytest/python.py
  src/_pytest/reports.py
  src/_pytest/runner.py
  src/_pytest/setuponly.py
  src/_pytest/setupplan.py
  src/_pytest/skipping.py
  src/_pytest/stepwise.py
  src/_pytest/terminal.py
  src/_pytest/threadexception.py
  src/_pytest/unittest.py
  src/_pytest/unraisableexception.py
  src/_pytest/warnings.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

ensemble: run the items through pytest_runtestloop
  src/_pytest/ensemble/results.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

ensemble: collect and run in-memory sources, record typed results
  changelog/14809.feature.rst
  src/_pytest/ensemble/__init__.py
  src/_pytest/ensemble/collection.py
  src/_pytest/ensemble/results.py
  testing/test_ensemble.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

python: make Class.from_parent honor a passed obj
  changelog/14809.bugfix.rst
  src/_pytest/python.py
  testing/python/collect.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

setuponly, setupplan: normalize options at configure time
  src/_pytest/setuponly.py
  src/_pytest/setupplan.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

ensemble: do not mask errors raised while building a config
  src/_pytest/ensemble/config.py
  testing/test_ensemble.py
  testing/test_reports.py
Due: py-deprecated, py-path-deprecated

ensemble: do not leave bytecode beside an imported script
  src/_pytest/ensemble/__init__.py
  src/_pytest/ensemble/collection.py
Due: py-deprecated, py-path-deprecated

fix(rewrite): guard a chained comparison's explanation too
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite_coverage.py
Due: py-deprecated, py-path-deprecated

Add the generic ItemDefinition parametrization protocol (#3926)
  changelog/14858.feature.rst
  changelog/14858.misc.rst
  doc/en/example/nonpython.rst
  doc/en/proposals/generic_fixture_closures.rst
  doc/en/reference/reference.rst
  src/_pytest/fixtures.py
  src/_pytest/nodes.py
  src/_pytest/parametrize.py
  src/_pytest/python.py
  testing/python/metafunc.py
  testing/test_item_definition.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

feat(rewrite): introspect container[key] in failure messages
  changelog/14815.improvement.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite_coverage.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix(rewrite): freeze walrus and starred operands too
  changelog/14814.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite_coverage.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

terminal: let a private output stream count as captured
  src/_pytest/terminal.py
Due: py-deprecated, py-path-deprecated

ensemble: build the record after session teardown
  src/_pytest/ensemble/__init__.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

fix(rewrite): freeze operands against any later side effect (#14820)
  changelog/14821.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite_coverage.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

debugging: trace via pytest_runtest_call instead of pytest_pyfunc_call
  src/_pytest/debugging.py
  src/_pytest/unittest.py
  testing/test_debugging.py
Due: py-deprecated, py-path-deprecated

feat(rewrite): introspect the condition of a ternary
  changelog/14816.improvement.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite_coverage.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix: skipping an item without a line number no longer crashes
  changelog/14855.bugfix.rst
  src/_pytest/reports.py
  testing/test_skipping.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

config, debugging: render without a terminal reporter
  src/_pytest/config/__init__.py
  src/_pytest/debugging.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

test(rewrite): record the introspection gaps nothing fixes yet
  testing/test_assertrewrite_coverage.py
Due: py-deprecated, py-path-deprecated

ensemble: make Ensemble.collect() idempotent
  src/_pytest/ensemble/__init__.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

Add the "definition" fixture scope (#3926)
  changelog/14857.feature.rst
  doc/en/how-to/fixtures.rst
  src/_pytest/fixtures.py
  src/_pytest/python.py
  src/_pytest/scope.py
  src/_pytest/setuponly.py
  testing/deprecated_test.py
  testing/test_definition_scope.py
  testing/test_scope.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

ensemble: keep configure-time warnings inside the ensemble
  src/_pytest/ensemble/config.py
  src/_pytest/ensemble/results.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

feat(rewrite): show a method call on one line
  changelog/14817.improvement.rst
  src/_pytest/assertion/rewrite.py
  testing/python/raises_group.py
  testing/test_assertrewrite_coverage.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

doc: describe backporting as patchback-driven, with manual as fallback
  doc/en/maintenance.rst
Due: changelogs-user-role

doc: move maintainer process into a maintenance guide
  CONTRIBUTING.rst
  doc/en/contents.rst
  doc/en/development_guide.rst
  doc/en/maintenance.rst
Due: changelogs-user-role

improvement: show defaults and fallbacks in --help for config options
  changelog/9244.improvement.rst
  src/_pytest/helpconfig.py
  src/_pytest/skipping.py
  testing/test_helpconfig.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

cacheprovider: record cache metadata
  src/_pytest/cacheprovider.py
  testing/test_cacheprovider.py
Due: py-deprecated, py-path-deprecated

WIP: throw together a initial halfassed proposal on rootspec import mode
  doc/en/proposals/importmode_root_spec.rst
Due: changelogs-user-role

feat: report conflicting configuration declarations
  changelog/10551.improvement.3.rst
  src/_pytest/config/__init__.py
  src/_pytest/config/settings.py
  src/_pytest/warning_types.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
