Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

fix(rewrite): freeze operands against any later side effect (#14820)
  changelog/14821.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite_coverage.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

refactor(rewrite): drop the unreachable Load guard in visit_Attribute
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

fix(rewrite): short-circuit chained comparisons (#14819)
  changelog/14822.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite_coverage.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

feat(rewrite): introspect the condition of a ternary
  changelog/14816.improvement.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite_coverage.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

test(rewrite): record the introspection gaps nothing fixes yet
  testing/test_assertrewrite_coverage.py
Due: py-deprecated, py-path-deprecated

Warn when cmdline_main raises SystemExit
  changelog/8986.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

Fix monkeypatch recording failed mutations
  src/_pytest/monkeypatch.py
  testing/test_monkeypatch.py
Due: py-deprecated, py-path-deprecated

Add changelog for monkeypatch failed mutations
  changelog/14927.bugfix.rst
Due: changelogs-user-role

config: deprecate non-string values for string-typed ini options in ini mode
  changelog/14808.deprecation.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix: stop reusing shared PytestWarning instances whose tracebacks grow under -W error
  changelog/14912.bugfix.rst
  src/_pytest/config/__init__.py
  src/_pytest/deprecated.py
  src/_pytest/fixtures.py
  src/_pytest/monkeypatch.py
  src/_pytest/pastebin.py
  src/_pytest/python.py
  testing/deprecated_test.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

chore: drop duplicate PLR1714 ruff rule
  AUTHORS
  pyproject.toml
Due: none

fix: raise on any nested container in approx, not only same-type
  AUTHORS
  changelog/10210.bugfix.rst
  src/_pytest/approx.py
  testing/python/approx.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Update changelog
  changelog/13652.bugfix.rst
Due: changelogs-user-role

Update comment in _compare_sequence.py
  src/_pytest/assertion/_compare_sequence.py
Due: py-deprecated, py-path-deprecated

Add fallback test
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

test(monkeypatch): simplify old-value regression test
  testing/test_monkeypatch.py
Due: py-deprecated, py-path-deprecated

fix: raise on any nested container in approx, not only same-type (#14934)
  AUTHORS
  changelog/10210.bugfix.rst
  src/_pytest/approx.py
  testing/python/approx.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

scripts: pin the interpreter of both sides with --python
  scripts/diff-assert-rewrite.py
Due: py-deprecated, py-path-deprecated

pathlib: use PID liveness as primary stale-lock signal
  changelog/14935.improvement.2.rst
  src/_pytest/pathlib.py
  testing/test_tmpdir.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

tmpdir: write .origin sidecar to record session ownership
  changelog/14935.improvement.1.rst
  src/_pytest/tmpdir.py
  testing/test_tmpdir.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

tmpdir: add tmp_path_layout ini for per-rootdir retention
  changelog/14935.feature.rst
  src/_pytest/tmpdir.py
  testing/test_tmpdir.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Revert unrelated reformatting of test_fixture.py
  testing/logging/test_fixture.py
Due: py-deprecated, py-path-deprecated

Use a real logging.Filter in the new caplog tests
  testing/logging/test_fixture.py
Due: py-deprecated, py-path-deprecated

Keep the add/remove pair in one branch in caplog.filtering
  src/_pytest/logging.py
Due: py-deprecated, py-path-deprecated

Merge pull request #14284 from oaksprout/fix-nested-caplog-filtering
  changelog/14189.bugfix.rst
  src/_pytest/logging.py
  testing/logging/test_fixture.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix __tracebackhide__ for same-location ExceptionGroup frames
  AUTHORS
  changelog/14940.bugfix.rst
  src/_pytest/_code/code.py
  testing/code/test_excinfo.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Apply the truncation budget before the ndiff size cap (#8998)
  src/_pytest/assertion/_diff.py
  src/_pytest/assertion/compare_text.py
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

Fix monkeypatch undo of inherited attributes
  AUTHORS
  changelog/10644.bugfix.rst
  src/_pytest/monkeypatch.py
  testing/test_monkeypatch.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Address FixtureFunctionDefinition review feedback
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

[refactor] Drop a redundant 'tuple()' call in the rewriter
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

[refactor] Drop a duplicate key in 'LOGLEVEL_COLOROPTS'
  src/_pytest/logging.py
Due: py-deprecated, py-path-deprecated

Implement get_code in AssertionRewritingHook for runpy
  AUTHORS
  changelog/9007.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix #14902: disambiguate duplicate report headings
  AUTHORS
  changelog/14902.bugfix.rst
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix #14942: avoid quadratic fixture registration
  AUTHORS
  changelog/14942.bugfix.rst
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix(assertion): 完善 runpy 包模块重写
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

test(assertion): 覆盖 runpy 未加载模块回退
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

[ruff] Enable ten more rules the code already satisfies
  pyproject.toml
  testing/python/approx.py
  testing/python/fixtures.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

Lazily import pygments in TerminalWriter
  changelog/14948.improvement.rst
  src/_pytest/_io/terminalwriter.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

chore: drop duplicate PLR1714 ruff rule (#14933)
  AUTHORS
  pyproject.toml
Due: none
