Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

monkeypatch: deprecate call to `fixup_namespace_packages` in `syspath_prepend`
  changelog/13807.deprecation.rst
  doc/en/deprecations.rst
  src/_pytest/deprecated.py
  src/_pytest/monkeypatch.py
  testing/test_monkeypatch.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

config: `freeze_support` is not a plugin, remove from `default_plugins`
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

Set `__module__ = "pytest"` on most public types
  doc/en/how-to/capture-warnings.rst
  doc/en/how-to/fixtures.rst
  doc/en/how-to/writing_plugins.rst
  src/_pytest/capture.py
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
  src/_pytest/doctest.py
  src/_pytest/fixtures.py
  src/_pytest/legacypath.py
  src/_pytest/logging.py
  src/_pytest/main.py
  src/_pytest/mark/structures.py
  src/_pytest/monkeypatch.py
  src/_pytest/nodes.py
  src/_pytest/pytester.py
  src/_pytest/python.py
  src/_pytest/raises.py
  src/_pytest/recwarn.py
  src/_pytest/reports.py
  src/_pytest/stash.py
  src/_pytest/terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix: improve error message when pytest.approx() dicts have different keys (#13816)
  src/_pytest/python_api.py
  testing/test_approx_dict_keys_13816.py
Due: py-deprecated, py-path-deprecated

Improve wrapped fixture detection to handle edge cases
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

fix #13537: Add support for ExceptionGroup with only Skipped exceptions in teardown
  changelog/13537.bugfix.rst
  src/_pytest/reports.py
  testing/test_reports.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix AttributeError in Argument.__repr__ when dest is not set
  src/_pytest/config/argparsing.py
  testing/test_argparsing_repr_fix.py
Due: py-deprecated, py-path-deprecated

Add changelog and update AUTHORS
  AUTHORS
  changelog/13817.bugfix.rst
Due: changelogs-user-role

Add return type annotations for mypy
  testing/test_argparsing_repr_fix.py
Due: py-deprecated, py-path-deprecated

Fix docstring to one line for ruff
  testing/test_argparsing_repr_fix.py
Due: py-deprecated, py-path-deprecated

Add test for repr with dest set to improve coverage
  testing/test_argparsing_repr_fix.py
Due: py-deprecated, py-path-deprecated

feat: add configuration for running tox with uv
  pyproject.toml
  testing/acceptance_test.py
  tox-uv.ini
Due: py-deprecated, py-path-deprecated

feat: add test workflow using uv
  .github/workflows/test-uv.yml
Due: none

chore: don't add coverage for uv dedicated tests
  .github/workflows/test-uv.yml
Due: none

Fix: Skip system temp directories in rootdir detection (issue #13822)
  src/_pytest/config/findpaths.py
Due: py-deprecated, py-path-deprecated

Fix infinite loop in wrapped fixture detection
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

python: add `strict_parametrization_ids` option
  AUTHORS
  changelog/13737.feature.rst
  doc/en/reference/reference.rst
  src/_pytest/python.py
  testing/test_collection.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

testing: enable strict_parametrization_ids and fix problems
  pyproject.toml
  testing/_py/test_local.py
  testing/test_doctest.py
  testing/test_mark_expression.py
Due: py-deprecated, py-path-deprecated

Fix rootdir detection when setup.py exists in temp directory
  src/_pytest/config/findpaths.py
  testing/test_findpaths.py
Due: py-deprecated, py-path-deprecated

just checking in a test file for demo purposes.
  testing/test_sample.py
Due: py-deprecated, py-path-deprecated

fix(testing): `pytest.approx` returns a clearer error mesage when comparing mappings with different keys
  src/_pytest/python_api.py
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

fix(testing): correct expected and actual dictionary keys
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

docs: add changelog entry
  changelog/13816.bugfix.rst
Due: changelogs-user-role

docs: add Charles-Meldhine Madi Mnemoi (cmnemoi) to AUTHORS
  AUTHORS
Due: none

fix(testing): `pytest.approx` correctly take account Mapping keys order to compare them
  src/_pytest/python_api.py
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

doc(authors): add Charles-Meldhine Madi Mnemoi (cmnemoi) to the contributors list
  AUTHORS
Due: none

doc(changelog): add entry for fixing `pytest.approx` to account for Mapping keys order
  changelog/12444.bugfix.rst
Due: changelogs-user-role

Add regression test for issue #13822
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

Fix color inconsistency in verbose mode for passed tests with warnings
  AUTHORS
  changelog/13201.bugfix.rst
  coverage.json
  src/_pytest/terminal.py
  src/_pytest/warnings.py
  testing/test_terminal.py
  testing/test_warnings.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Use NOT_SET constant instead of string literal
  src/_pytest/config/argparsing.py
Due: py-deprecated, py-path-deprecated

Update test to check for NOT_SET constant
  testing/test_argparsing_repr_fix.py
Due: py-deprecated, py-path-deprecated

Resolve merge conflict and add repr test
  testing/test_argparsing_repr_fix.py
Due: py-deprecated, py-path-deprecated

config: apply --override-ini eagerly
  changelog/13830.misc.rst
  src/_pytest/config/__init__.py
  src/_pytest/config/findpaths.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

config: add support for ini option aliases
  changelog/13829.feature.rst
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
  src/_pytest/config/findpaths.py
  testing/test_config.py
  testing/test_findpaths.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

chore: move uv powered tests into test workflow
  .github/workflows/test-uv.yml
  .github/workflows/test.yml
Due: none

chore: add explanation for assert check change in acceptance_test
  testing/acceptance_test.py
Due: py-deprecated, py-path-deprecated

chore: add changelog entry
  changelog/13177.packaging.rst
Due: changelogs-user-role

make PYTEST_CURRENT_TEST thread-safe
  .gitignore
  changelog/13837.improvement.rst
  src/_pytest/runner.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated
