Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

Handle no readline on Windows
  src/_pytest/capture.py
  testing/test_capture.py
Due: py-deprecated, py-path-deprecated

Update pythonpath.rst (#13181)
  doc/en/explanation/pythonpath.rst
Due: changelogs-user-role

Recurse into build / dist directories
  changelog/12625.improvement.rst
  src/_pytest/main.py
  testing/test_collection.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add test for setup.cfg indicator only if setup.py
  testing/test_collection.py
Due: py-deprecated, py-path-deprecated

fix comment
  src/_pytest/main.py
  testing/test_collection.py
Due: py-deprecated, py-path-deprecated

Add changelog
  changelog/12625.improvement.rst
Due: changelogs-user-role

Fix docstring
  src/_pytest/main.py
Due: py-deprecated, py-path-deprecated

Bail if no setup.cfg present
  src/_pytest/main.py
Due: py-deprecated, py-path-deprecated

Add collect-in-build option
  src/_pytest/main.py
Due: py-deprecated, py-path-deprecated

Use specific toml decode error
  src/_pytest/main.py
Due: py-deprecated, py-path-deprecated

Fix lint in tests
  testing/test_collection.py
Due: py-deprecated, py-path-deprecated

Add description that norecursedirs ignores build
  src/_pytest/main.py
Due: py-deprecated, py-path-deprecated

Add docs
  doc/en/reference/reference.rst
Due: changelogs-user-role

simplify
  src/_pytest/main.py
Due: py-deprecated, py-path-deprecated

fix
  src/_pytest/main.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

Add readline workaround for libedit (#13176)
  changelog/12888.bugfix.rst
  src/_pytest/capture.py
  testing/test_capture.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fixed invalid regex handling in filterwarnings (#13124)
  changelog/13119.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_warnings.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

ci: Bump build-and-inspect-python-package
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: none

ci: Bump build-and-inspect-python-package (#13188)
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: none

disable gc within the subprocess
  testing/test_unraisableexception.py
Due: py-deprecated, py-path-deprecated

add RaisesGroup & Matcher
  changelog/11671.feature.rst
  src/_pytest/_raises_group.py
  src/pytest/__init__.py
  testing/python/raises_group.py
  testing/typing_raises_group.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

add AbstractMatcher support to xfail
  src/_pytest/mark/structures.py
  src/_pytest/skipping.py
  testing/python/raises_group.py
Due: py-deprecated, py-path-deprecated

Make pygments dependency required
  changelog/7683.improvement.rst
  pyproject.toml
  src/_pytest/_io/terminalwriter.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Also highlight comparisons between strings
  changelog/13175.bugfix.rst
  src/_pytest/assertion/util.py
  testing/test_assertion.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

#11381
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

#11381
  src/_pytest/config/argparsing.py
Due: py-deprecated, py-path-deprecated

Create 11381.improvement.rst
  changelog/11381.improvement.rst
Due: changelogs-user-role

Update 11381.improvement.rst
  changelog/11381.improvement.rst
Due: changelogs-user-role

tests for #11381
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

Update __init__.py
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

Update findpaths.py
  src/_pytest/config/findpaths.py
Due: py-deprecated, py-path-deprecated

Update src/_pytest/config/argparsing.py
  src/_pytest/config/argparsing.py
Due: py-deprecated, py-path-deprecated

Update src/_pytest/config/__init__.py
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

Update changelog/11381.improvement.rst
  changelog/11381.improvement.rst
Due: changelogs-user-role
