Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

testing: add some more tests for fixture closure
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

fixtures: fix closure computation with indirect override chains
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

testing: avoid cast in test_mark_expression
  testing/test_mark_expression.py
Due: py-deprecated, py-path-deprecated

Update getting-started.rst
  doc/en/getting-started.rst
Due: changelogs-user-role

DEP: bump minimal requirements for iniconfig (1.0.0 -> 1.0.1) and packaging (20.0.0 -> 22.0.0)
  changelog/13791.packaging.rst
  pyproject.toml
Due: changelogs-user-role

Make it possible for faulthandler to terminate the pytest process on timeout (#13679)
  AUTHORS
  changelog/13678.feature.rst
  doc/en/reference/reference.rst
  src/_pytest/faulthandler.py
  testing/test_faulthandler.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Docs: mention pytest.approx in assert and getting-started documentation (#13788)
  doc/en/getting-started.rst
  doc/en/how-to/assert.rst
Due: changelogs-user-role

testing: fix warning from test
  testing/test_warnings.py
Due: py-deprecated, py-path-deprecated

mark/expression: documentation/naming tweaks
  src/_pytest/mark/expression.py
  testing/test_mark_expression.py
Due: py-deprecated, py-path-deprecated

mark/expression: use SyntaxError instead of custom ParseError
  src/_pytest/mark/__init__.py
  src/_pytest/mark/expression.py
  testing/test_mark_expression.py
Due: py-deprecated, py-path-deprecated

tests: add regression test for capteesys with -s; fix tee-only behavior
  src/_pytest/capture.py
  testing/test_capteesys_issue.py
Due: py-deprecated, py-path-deprecated

testing: fix a failing test when `TERM=dumb`
  AUTHORS
  changelog/12244.contrib.rst
  testing/io/test_terminalwriter.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Skip symlink sibling test on Windows without symlink support #13771
  AUTHORS
  changelog/13771.contrib.rst
  testing/test_collection.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Deduplicate pythonwarnings to fix -W duplication
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

feat: add warning when pytest.ini and pyproject.toml are present
  AUTHORS
  changelog/13330.improvement.rst
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

testing: add a test demonstrating why `prune_dependency_tree` is needed
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

use tempfile.TemporaryDirectory to cleanup garbage- dir
  changelog/8940.bugfix.rst
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

refactor: move warning info into Config
  src/_pytest/config/__init__.py
  src/_pytest/config/findpaths.py
  src/_pytest/terminal.py
  testing/test_config.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

refactor: simplify ini check
  src/_pytest/config/findpaths.py
Due: py-deprecated, py-path-deprecated

Remove prune_dependency_tree and reuse getfixtureclosure logic
  src/_pytest/fixtures.py
  src/_pytest/python.py
  testing/python/fixtures.py
  testing/python/metafunc.py
  testing/python/show_fixtures_per_test.py
Due: py-deprecated, py-path-deprecated

refactor: make API private and return list of ignored files
  src/_pytest/config/__init__.py
  src/_pytest/config/findpaths.py
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

chore: rename ignored_file to ignored_config_file
  src/_pytest/config/__init__.py
  src/_pytest/config/findpaths.py
  src/_pytest/terminal.py
Due: py-deprecated, py-path-deprecated

fixtures: make the FixtureValue TypeVar covariant
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

fixtures: replace PseudoFixtureDef with RequestFixtureDef which is a real FixtureDef
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

chore: apply suggestion
  changelog/13330.improvement.rst
  src/_pytest/config/findpaths.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

chore: fixed mypy error
  src/_pytest/config/findpaths.py
Due: py-deprecated, py-path-deprecated

Merge pull request #13797 from sgaist/add-warning-on-pytest-ini-and-pyproject-presence
  AUTHORS
  changelog/13330.improvement.rst
  src/_pytest/config/__init__.py
  src/_pytest/config/findpaths.py
  src/_pytest/terminal.py
  testing/test_config.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

tests(capture): add capteesys regression when -s; remove standalone test, integrate into test_capture.py
  testing/test_capteesys_issue.py
  testing/test_capture.py
Due: py-deprecated, py-path-deprecated

feat: add cli, ini option skips pytest internal logic of id generation and raise error
  changelog/13737.feature.rst
  doc/en/reference/reference.rst
  src/_pytest/main.py
  src/_pytest/python.py
  testing/test_collection.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Handle --version eagerly to avoid loading the entire infrastructure
  changelog/13574.improvement.rst
  src/_pytest/config/__init__.py
  src/_pytest/helpconfig.py
  testing/test_capture.py
  testing/test_config.py
  testing/test_helpconfig.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Handle --version eagerly to avoid loading the entire infrastructure (#13575)
  changelog/13574.improvement.rst
  src/_pytest/config/__init__.py
  src/_pytest/helpconfig.py
  testing/test_capture.py
  testing/test_config.py
  testing/test_helpconfig.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add pytest-subtests files changes
  src/_pytest/config/__init__.py
  src/_pytest/subtests.py
  src/pytest/__init__.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

subtests: remove direct pytest import
  src/_pytest/subtests.py
Due: py-deprecated, py-path-deprecated

Cleanup internal hacks
  src/_pytest/reports.py
  src/_pytest/subtests.py
  src/_pytest/terminal.py
  src/_pytest/unittest.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

Add docs
  changelog/1367.feature.rst
  doc/en/how-to/index.rst
  doc/en/how-to/parametrize.rst
  doc/en/how-to/subtests.rst
  doc/en/how-to/unittest.rst
  doc/en/reference/fixtures.rst
  doc/en/reference/reference.rst
  src/_pytest/deprecated.py
  src/_pytest/subtests.py
  testing/test_subtests.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Force using xdist plugin and fix linting
  src/_pytest/subtests.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

Replace attr by dataclass
  src/_pytest/subtests.py
Due: py-deprecated, py-path-deprecated

Code review
  changelog/1367.feature.rst
  doc/en/how-to/subtests.rst
  doc/en/reference/reference.rst
  src/_pytest/subtests.py
  src/_pytest/unittest.py
  src/pytest/__init__.py
  testing/test_subtests.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

config: set `__module__ = "pytest"` on `UsageError` and `ExitCode`
  src/_pytest/config/__init__.py
  src/_pytest/config/exceptions.py
Due: py-deprecated, py-path-deprecated
