Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

Update test_reporting.py
  testing/logging/test_reporting.py
Due: py-deprecated, py-path-deprecated

Update tox_run.py
  testing/freeze/tox_run.py
Due: py-deprecated, py-path-deprecated

Update .gitignore
  testing/freeze/.gitignore
Due: none

Update create_executable.py
  testing/freeze/create_executable.py
Due: py-deprecated, py-path-deprecated

Update acceptance_test.py
  testing/acceptance_test.py
Due: py-deprecated, py-path-deprecated

Update metafunc.py
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

Update approx.py
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

Update collect.py
  testing/python/collect.py
Due: py-deprecated, py-path-deprecated

Update fixtures.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

Update integration.py
  testing/python/integration.py
Due: py-deprecated, py-path-deprecated

Update raises.py
  testing/python/raises.py
Due: py-deprecated, py-path-deprecated

Update raises_group.py
  testing/python/raises_group.py
Due: py-deprecated, py-path-deprecated

Update show_fixtures_per_test.py
  testing/python/show_fixtures_per_test.py
Due: py-deprecated, py-path-deprecated

Update simple_integration.py
  testing/plugins_integration/simple_integration.py
Due: py-deprecated, py-path-deprecated

Update test_saferepr.py
  testing/io/test_saferepr.py
Due: py-deprecated, py-path-deprecated

Update test_pprint.py
  testing/io/test_pprint.py
Due: py-deprecated, py-path-deprecated

Update test_terminalwriter.py
  testing/io/test_terminalwriter.py
Due: py-deprecated, py-path-deprecated

Update test_wcwidth.py
  testing/io/test_wcwidth.py
Due: py-deprecated, py-path-deprecated

main: put parametrization in a separate field on CollectionArgument
  src/_pytest/main.py
  testing/test_main.py
Due: py-deprecated, py-path-deprecated

main: add explicit handling of overlapping collection arguments
  changelog/12083.breaking.rst
  doc/en/example/pythoncollection.rst
  src/_pytest/main.py
  testing/test_collection.py
  testing/test_junitxml.py
  testing/test_main.py
  testing/test_mark.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

python_api: improve approx assert message on mappings with only extra elements
  changelog/13722.bugfix.rst
  src/_pytest/python_api.py
  testing/python/approx.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Improve error reporting for custom CLI args with missing path; add test
  src/_pytest/config/argparsing.py
  testing/test_main.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

[refactor to use match] AssertionRewriter.run()
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

[refactor to use match] AssertionRewriter.visit_Compare()
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

[refactor to use match] AssertionRewriter.visit_BoolOp()
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

[refactor to use match] AssertionRewriter.visit_Call()
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

terminal: add a `TerminalReporter.write_raw` method
  src/_pytest/_io/terminalwriter.py
  src/_pytest/terminal.py
Due: py-deprecated, py-path-deprecated

terminal: add TerminalReporter.reported_progress
  src/_pytest/terminal.py
Due: py-deprecated, py-path-deprecated

terminal: notify terminal emulator about test session progress
  AUTHORS
  changelog/13072.feature.rst
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Update src/_pytest/assertion/rewrite.py
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

python: allow adding parameter names to parametrized test IDs
  AUTHORS
  changelog/13055.feature.rst
  doc/en/example/parametrize.rst
  src/_pytest/mark/structures.py
  src/_pytest/python.py
  testing/python/metafunc.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

config: Do not fail if a warning filter category cannot be imported
  AUTHORS
  changelog/13732.improvement.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
  testing/test_warnings.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

config: do not fail if a warning filter category cannot be imported (#13732)
  AUTHORS
  changelog/13732.improvement.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
  testing/test_warnings.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add pytest-subtests files changes
  src/_pytest/config/__init__.py
  src/_pytest/subtests.py
  src/pytest/__init__.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

Do not import pytest in unittest.py
  src/_pytest/unittest.py
Due: py-deprecated, py-path-deprecated

subtests: remove direct pytest import
  src/_pytest/subtests.py
Due: py-deprecated, py-path-deprecated

Comply with new lint rule for unused variables
  doc/en/example/.ruff.toml
  src/_pytest/_code/source.py
  src/_pytest/_py/path.py
  src/_pytest/config/__init__.py
  src/_pytest/helpconfig.py
  src/_pytest/mark/structures.py
  src/_pytest/reports.py
  testing/_py/test_local.py
  testing/acceptance_test.py
  testing/code/test_code.py
  testing/code/test_excinfo.py
  testing/code/test_source.py
  testing/example_scripts/fixtures/fill_fixtures/test_conftest_funcargs_only_available_in_subdir/sub2/conftest.py
  testing/python/collect.py
  testing/python/fixtures.py
  testing/python/integration.py
  testing/python/metafunc.py
  testing/test_capture.py
  testing/test_collection.py
  testing/test_doctest.py
  testing/test_junitxml.py
  testing/test_legacypath.py
  testing/test_main.py
  testing/test_mark.py
  testing/test_nodes.py
  testing/test_pathlib.py
  testing/test_pluginmanager.py
  testing/test_pytester.py
  testing/test_reports.py
  testing/test_session.py
  testing/test_skipping.py
  testing/test_tmpdir.py
  testing/test_unittest.py
  testing/test_warning_types.py
Due: py-deprecated, py-path-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
