Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.(feature|bugfix|doc|deprecation|removal|vendor|trivial).rst'

_getconftestmodules: avoid isfile()/dirpath()
  src/_pytest/config/__init__.py
Due: none

Move handling of duplicate files
  src/_pytest/main.py
  src/_pytest/python.py
  testing/test_session.py
Due: none

add script to generate a example folder for collecting many files
  testing/example_scripts/perf_examples/collect_stats/.gitignore
  testing/example_scripts/perf_examples/collect_stats/generate_folders.py
  testing/example_scripts/perf_examples/collect_stats/template_test.py
Due: none

fix #4243 - support positional argument stacklevel on python2
  changelog/4243.bugfix.rst
  src/_pytest/recwarn.py
  testing/test_recwarn.py
Due: rst

handle test folder cleanup being unable to create a cleanup lock
  changelog/4181.bugfix.rst
  src/_pytest/pathlib.py
  testing/test_tmpdir.py
Due: rst

Remove use of unnecessary compat shim, six.binary_type
  changelog/4248.trivial.txt
  src/_pytest/pathlib.py
Due: rst, changelogs-rst

python: collect: revisit
  src/_pytest/python.py
Due: none

Fix changelog file extension
  changelog/4248.trivial.rst
Due: rst

Preparing release version 3.9.3
  CHANGELOG.rst
  changelog/3851.doc.rst
  changelog/4028.trivial.rst
  changelog/4174.bugfix.rst
  changelog/4181.bugfix.rst
  changelog/4221.bugfix.rst
  changelog/4233.trivial.rst
  changelog/4243.bugfix.rst
  changelog/4248.trivial.rst
  doc/en/announce/index.rst
  doc/en/announce/release-3.9.3.rst
  doc/en/builtin.rst
  doc/en/example/parametrize.rst
  doc/en/example/reportingdemo.rst
  doc/en/warnings.rst
  doc/en/writing_plugins.rst
Due: rst

changed address to pytest-data-dir
  doc/en/fixture.rst
Due: none

Removed blank space
  README.rst
Due: rst

Fixes #4255 by adding to the documentation that module names are not regex-escaped
  changelog/4255.doc.rst
  doc/en/reference.rst
Due: rst

Unrelated cleanups of source.py
  src/_pytest/_code/source.py
Due: none

Swallow warnings during anonymous compilation of source
  changelog/4260.bugfix.rst
  src/_pytest/_code/source.py
Due: rst

Spelling and grammar fixes
  CHANGELOG.rst
  doc/en/proposals/parametrize_with_fixtures.rst
  doc/en/writing_plugins.rst
  src/_pytest/capture.py
  src/_pytest/config/argparsing.py
  src/_pytest/fixtures.py
  src/_pytest/hookspec.py
  src/_pytest/mark/structures.py
  src/_pytest/pathlib.py
  src/_pytest/python.py
Due: rst

collection: _recurse: skip __pycache__
  src/_pytest/main.py
  src/_pytest/python.py
Due: none

Spelling fix
  src/_pytest/pathlib.py
Due: none

Upgrade pre-commit hooks
  .pre-commit-config.yaml
Due: none

Fix access denied error when deleting a stale temporary directory
  changelog/4262.bugfix.rst
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: rst

cacheprovider: display cachedir also in non-verbose mode if customized
  src/_pytest/cacheprovider.py
Due: none

Add docs page discussing flaky tests
  doc/en/contents.rst
  doc/en/flaky.rst
Due: none

Fix linting
  doc/en/contents.rst
  doc/en/example/multipython.py
  doc/en/flaky.rst
Due: none

ignore _CompatProperty when parsing fixtures
  changelog/2701.bugfix.rst
  src/_pytest/fixtures.py
Due: rst

Fix linting2
  doc/en/flaky.rst
Due: none

Update 2701.bugfix.rst
  changelog/2701.bugfix.rst
Due: rst

pdb: improve msg about output capturing with set_trace
  src/_pytest/capture.py
  src/_pytest/debugging.py
  testing/test_pdb.py
Due: none

Improve the warning message for the implicitly str conversion
  src/_pytest/monkeypatch.py
  testing/test_monkeypatch.py
Due: none

Update changelog
  changelog/4279.trivial.rst
Due: rst

Upgrade pyupgrade for crlf fixes (again)
  .pre-commit-config.yaml
Due: none

Fix linting
  changelog/4279.trivial.rst
Due: rst

Update talks.rst
  doc/en/talks.rst
Due: none

changelog [ci skip]
  changelog/4277.trivial.rst
Due: rst

_getconftestmodules: use functools.lru_cache
  src/_pytest/config/__init__.py
  testing/test_conftest.py
Due: none

Move pytest talk to the start of the section
  doc/en/talks.rst
Due: none

Updated the talks.rst
  doc/en/talks.rst
Due: none

changelog [ci skip]
  changelog/4272.trivial.rst
Due: rst

fixup pyupgrade crlf incorrect fixes
  testing/test_monkeypatch.py
Due: none

Move handling of duplicate files
  changelog/4046.bugfix.rst
  src/_pytest/main.py
  src/_pytest/python.py
  testing/test_session.py
Due: rst

Add test for __init__.py collection with package directory as argument
  testing/test_collection.py
Due: none

Path conditions:
  rst: any of: ^(CHANGELOG.rst|HOWTORELEASE.rst|README.rst|changelog/.*)$, but not: doc/en/example/py2py3/test_py2.py
  changelogs-rst: any of: ^changelog/ and not (changelog/(\d+\.(feature|bugfix|doc|deprecation|removal|vendor|trivial).rst|README.rst|_template.rst)) and not (doc/en/example/py2py3/test_py2.py)
