Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

use python 3.11 for update-plugin-list
  .github/workflows/update-plugin-list.yml
Due: none

use python 3.11 for update-plugin-list (#11328)
  .github/workflows/update-plugin-list.yml
Due: none

doc/reference: replace Unicode dashes with ascii `-` in cli flags (#11323)
  doc/en/reference/reference.rst
Due: none

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: none

fix test for codecov
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

doc: fix docstring spelling in pytester
  src/_pytest/pytester.py
Due: py-deprecated, py-path-deprecated

ignore mypy error on deprecated `Instance` usage
  testing/deprecated_test.py
Due: py-deprecated

Correct the spelling of Config.ArgsSource.INVOCATION_DIR
  changelog/11333.trivial.rst
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

Add test coverage for Config.ArgsSource logic
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

Update typo anatomy.rst
  doc/en/explanation/anatomy.rst
Due: none

Fix a typo in anatomy.rst (#11341)
  doc/en/explanation/anatomy.rst
Due: none

Update changelog/11333.trivial.rst
  changelog/11333.trivial.rst
Due: none

Correct the spelling of ArgSource.INVOCATION_DIR (#11333)
  changelog/11333.trivial.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

fix: closes #11343's [attr-defined] type errors
  src/_pytest/compat.py
  testing/test_parseopt.py
Due: py-deprecated, py-path-deprecated

refactor: replace type:ignore with platform check
  src/_pytest/compat.py
Due: py-deprecated, py-path-deprecated

refactor: add self-documenting UNRELIABLE keyword
  src/_pytest/compat.py
Due: py-deprecated, py-path-deprecated

refactor: self-document error flag with a constant
  src/_pytest/compat.py
Due: py-deprecated, py-path-deprecated

Fix assertion rewriting on Python 3.10
  AUTHORS
  changelog/8539.bugfix.rst
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

rewrite: fixup end_lineno, end_col_offset of rewritten asserts
  changelog/9163.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

Fixes for typed pluggy
  changelog/11353.trivial.rst
  doc/en/reference/reference.rst
  setup.cfg
  src/_pytest/config/__init__.py
  src/_pytest/helpconfig.py
  src/_pytest/logging.py
  src/_pytest/pytester.py
  testing/test_pluginmanager.py
Due: py-deprecated, py-path-deprecated

[7.4.x] Fixes for typed pluggy
  doc/en/reference/reference.rst
  src/_pytest/config/__init__.py
  src/_pytest/helpconfig.py
  src/_pytest/logging.py
  src/_pytest/pytester.py
  testing/test_pluginmanager.py
Due: py-deprecated, py-path-deprecated

docs: changing some docs for last-failed-no-failures to better explain functionality
  AUTHORS
  doc/en/reference/reference.rst
  src/_pytest/cacheprovider.py
Due: py-deprecated, py-path-deprecated

[7.4.x] Fixes for typed pluggy (#11355)
  doc/en/reference/reference.rst
  src/_pytest/config/__init__.py
  src/_pytest/helpconfig.py
  src/_pytest/logging.py
  src/_pytest/pytester.py
  testing/test_pluginmanager.py
Due: py-deprecated, py-path-deprecated

doc: improve explanation of return values
  src/_pytest/compat.py
Due: py-deprecated, py-path-deprecated

refactor: change name of self-documenting constant
  src/_pytest/compat.py
Due: py-deprecated, py-path-deprecated

doc: remove unwanted implication
  src/_pytest/compat.py
Due: py-deprecated, py-path-deprecated

Fix platform-dependent type-check errors (#11345)
  src/_pytest/compat.py
  testing/test_parseopt.py
Due: py-deprecated, py-path-deprecated

fix: fixing an issue with pre-commit with mypy and flake8
  AUTHORS
  testing/_py/test_local.py
Due: py-deprecated, py-path-deprecated

docs: improve --lfnf docs to make functionality more clear
  doc/en/how-to/cache.rst
  doc/en/reference/reference.rst
  src/_pytest/cacheprovider.py
Due: py-deprecated, py-path-deprecated

docs: updating the docs to make --lfnf more clear
  doc/en/how-to/cache.rst
  doc/en/reference/reference.rst
  src/_pytest/cacheprovider.py
Due: py-deprecated, py-path-deprecated

docs: Add a bit more to the doc for --lfnf
  doc/en/how-to/cache.rst
Due: none

docs: quick change
  doc/en/how-to/cache.rst
Due: none

Update src/_pytest/cacheprovider.py
  src/_pytest/cacheprovider.py
Due: py-deprecated, py-path-deprecated

docs: Added the name of the option we are changing the docs for
  doc/en/how-to/cache.rst
Due: none

Improve docs for last-failed-no-failures
  doc/en/how-to/cache.rst
  doc/en/reference/reference.rst
  src/_pytest/cacheprovider.py
Due: py-deprecated, py-path-deprecated

[7.4.x] Issue 11354 fixing docs for lfnf
  doc/en/how-to/cache.rst
  doc/en/reference/reference.rst
  src/_pytest/cacheprovider.py
Due: py-deprecated, py-path-deprecated

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Due: none

Update CONTRIBUTING.rst (#11368)
  CONTRIBUTING.rst
Due: none

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py
