Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

Disable ruff PLC0415 / pylint import-outside-toplevel
  pyproject.toml
Due: none

Also disable eq-without-hash
  pyproject.toml
Due: none

Fix the RUF28 at an acceptable cost
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

Rename 13480.bugfix to 13480.contrib (#13554)
  changelog/13480.bugfix.rst
  changelog/13480.contrib.rst
Due: changelogs-user-role

use ParamSpec for pytest.skip instead of __call__ Protocol attribute
  AUTHORS
  changelog/13445.bugfix.rst
  src/_pytest/outcomes.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Added "int" & "float" to the argparsing type Literal
  src/_pytest/config/argparsing.py
Due: py-deprecated, py-path-deprecated

Changelog 13559 valid type literal update
  changelog/13559.bugfix.rst
Due: changelogs-user-role

Update and rename 13559.bugfix.rst to 13559.trivial.rst
  changelog/13559.bugfix.rst
  changelog/13559.trivial.rst
Due: changelogs-rst, changelogs-user-role

Update 13559.trivial.rst
  changelog/13559.trivial.rst
Due: changelogs-rst, changelogs-user-role

Rename 13559.trivial.rst to 13559.bugfix.rst
  changelog/13559.bugfix.rst
Due: changelogs-user-role

Update 13559.bugfix.rst
  changelog/13559.bugfix.rst
Due: changelogs-user-role

Add `int` and `float` variants to Parser.addini (#13560)
  changelog/13559.bugfix.rst
  src/_pytest/config/argparsing.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

import numpy conditionally in pytest.approx
  AUTHORS
  changelog/13563.bugfix.rst
  src/_pytest/python_api.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

pytest.approx: import numpy conditionally (#13563)
  AUTHORS
  changelog/13563.bugfix.rst
  src/_pytest/python_api.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

use callable protocols for pytest.skip/exit/fail/xfail instead of _WithException wrapper with __call__ attribute
  src/_pytest/outcomes.py
  testing/python/collect.py
Due: py-deprecated, py-path-deprecated

address review: ClassVar/move docstring to class definition
  src/_pytest/outcomes.py
Due: py-deprecated, py-path-deprecated

move skip annotation to pytest.skip object
  src/_pytest/outcomes.py
Due: py-deprecated, py-path-deprecated

Revert "move skip annotation to pytest.skip object" (turned out to be unnecessary?)
  src/_pytest/outcomes.py
Due: py-deprecated, py-path-deprecated

use callable protocols for pytest.skip/exit/fail/xfail instead of _WithException wrapper with __call__ attribute (#13445)
  AUTHORS
  changelog/13445.bugfix.rst
  src/_pytest/outcomes.py
  testing/python/collect.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Handled CollectReport without duration attribute in terminal report
  src/_pytest/terminal.py
  testing/test_terminal_report.py
Due: py-deprecated, py-path-deprecated

Handle --version eagerly to avoid loading the entire infrastructure
  changelog/13574.improvement.rst
  src/_pytest/config/__init__.py
  src/_pytest/helpconfig.py
  testing/test_capture.py
  testing/test_config.py
  testing/test_helpconfig.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

Update testing/test_terminal_report.py
  testing/test_terminal_report.py
Due: py-deprecated, py-path-deprecated

Removed test_terminal_report.py from PR
  testing/test_terminal.py
  testing/test_terminal_report.py
Due: py-deprecated, py-path-deprecated

Updated test_terminal.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Improve test and add CHANGELOG
  changelog/13478.bugfix.rst
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

python: allow adding parameter names to parametrized test IDs
  AUTHORS
  changelog/13055.feature.rst
  doc/en/example/parametrize.rst
  src/_pytest/mark/structures.py
  src/_pytest/python.py
  testing/python/metafunc.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix crash with `times` output style and skipped module (#13573)
  changelog/13478.bugfix.rst
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Unconditionally set IS_RELEASE_ON_RTD to True in doc/en/conf.py (#13583)
  changelog/13582.contrib.rst
  doc/en/conf.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

doc: fix grammar error i.e. -> e.g.
  doc/en/how-to/assert.rst
Due: changelogs-user-role

fix: display output failure message in insertion order of dictionary
  src/_pytest/_io/pprint.py
  src/_pytest/assertion/util.py
  testing/test_error_diffs.py
Due: py-deprecated, py-path-deprecated

chore: add changelog message
  changelog/13503.improvement.rst
Due: changelogs-user-role

fix: test case
  testing/test_error_diffs.py
Due: py-deprecated, py-path-deprecated

test: fix test cases
  testing/test_error_diffs.py
Due: py-deprecated, py-path-deprecated

test: add test case nested dicts
  testing/test_error_diffs.py
Due: py-deprecated, py-path-deprecated

doc: fix grammar error i.e. -> e.g. (#13586)
  doc/en/how-to/assert.rst
Due: changelogs-user-role
