Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

raises: fix stale loop variable in RaisesGroup error reporting
  changelog/14220.bugfix.rst
  src/_pytest/raises.py
  testing/python/raises_group.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Merge pull request #14220 from bysiber/fix-stale-iexp-raisesgroup
  changelog/14220.bugfix.rst
  src/_pytest/raises.py
  testing/python/raises_group.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Address review: keep detailed (fancy) diff and cheaper heuristic (#8998)
  changelog/8998.bugfix.rst
  src/_pytest/assertion/_compare_sequence.py
  src/_pytest/assertion/_diff.py
  src/_pytest/assertion/compare_text.py
  testing/test_assertion.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Cover _bounded_prefix edge branches (#8998)
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

update-plugin-list: fix add label command (#14616)
  .github/workflows/update-plugin-list.yml
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

config: fix regression causing <invocation_dir>/tests* conftests to not be initial
  AUTHORS
  changelog/14608.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_conftest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

[automated] Update plugin list (#14617) (#14618)
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

Merge pull request #14622 from chrisburr/fix-14608-initial-conftest-test-subdir
  AUTHORS
  changelog/14608.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_conftest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Merge pull request #14596 from bluetech/doc-classmethod
  doc/en/how-to/fixtures.rst
  testing/python/fixtures.py
  testing/python/metafunc.py
  testing/test_unittest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Prepare release version 9.1.1
  changelog/14220.bugfix.rst
  changelog/14591.bugfix.rst
  changelog/14606.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-9.1.1.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/simple.rst
  doc/en/getting-started.rst
  doc/en/how-to/fixtures.rst
Due: changelogs-user-role

Prepare release version 9.1.1
  changelog/14220.bugfix.rst
  changelog/14591.bugfix.rst
  changelog/14606.bugfix.rst
  changelog/14608.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-9.1.1.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/simple.rst
  doc/en/getting-started.rst
  doc/en/how-to/fixtures.rst
Due: changelogs-user-role

Merge pull request #14627 from pytest-dev/release-9.1.1
  changelog/14220.bugfix.rst
  changelog/14591.bugfix.rst
  changelog/14606.bugfix.rst
  changelog/14608.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-9.1.1.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/simple.rst
  doc/en/getting-started.rst
  doc/en/how-to/fixtures.rst
Due: changelogs-user-role

[perf] test: satisfy mypy on the hashable container subclasses
  testing/io/test_pprint.py
Due: py-deprecated, py-path-deprecated

Improve parametrize error for invalid tuple-style values
  AUTHORS
  changelog/14619.bugfix.rst
  src/_pytest/mark/structures.py
  testing/python/metafunc.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

docs: add confcutdir changelog fragment
  changelog/12857.doc.rst
Due: changelogs-user-role

Broaden ANSI escape regex to strip all CSI sequences (#12365)
  src/_pytest/_code/code.py
Due: py-deprecated, py-path-deprecated

Add regression test for stripping non-SGR ANSI codes (#12365)
  testing/code/test_excinfo.py
Due: py-deprecated, py-path-deprecated

Add changelog fragment for #12365
  changelog/12365.bugfix.rst
Due: changelogs-user-role

[perf] Make ``PrettyPrinter`` format lazily so output can be budget-capped (#14588)
  src/_pytest/_io/pprint.py
  testing/io/test_pprint.py
Due: py-deprecated, py-path-deprecated

fix(config): remove `as Name` re-export pattern to support PYTHON_LAZY_IMPORTS=all
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

narrow marshal.load except in _read_pyc to expected exceptions
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

doc: add ResourceWarning section explaining GC-delayed behavior
  doc/en/how-to/capture-warnings.rst
Due: changelogs-user-role

approx: remove useless piece of code
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

approx: consistently handle numpy bool
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

approx: inline `_check_type` into `__init__`
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

Read top-level options in pytest.toml
  changelog/14638.bugfix.rst
  doc/en/reference/customize.rst
  src/_pytest/config/findpaths.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

approx: inline `set_default`
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

Fix off-by-one in trailing assertion diff skipping (#14637)
  changelog/14637.bugfix.rst
  src/_pytest/assertion/compare_text.py
  testing/test_assertion.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add author
  AUTHORS
Due: none

fix: treat top-level keys in pytest.toml as pytest config (#14638)
  src/_pytest/config/findpaths.py
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

Fix __tracebackhide__ not respected in ExceptionGroup sub-exception tracebacks
  changelog/14036.bugfix.rst
  src/_pytest/_code/code.py
  testing/code/test_excinfo.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

rename te to tb_exc to avoid codespell false positive
  src/_pytest/_code/code.py
Due: py-deprecated, py-path-deprecated

Error on top-level pytest.toml options
  changelog/14638.bugfix.rst
  doc/en/reference/customize.rst
  src/_pytest/config/findpaths.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Cover pytest.toml error in-process
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

Rename `python_api.py` to `approx.py`
  src/_pytest/approx.py
  src/_pytest/assertion/_compare_any.py
  src/_pytest/doctest.py
  src/pytest/__init__.py
  testing/python/approx.py
  testing/test_reports.py
Due: py-deprecated, py-path-deprecated

approx: remove redundant `__ne__` implementation
  src/_pytest/approx.py
Due: py-deprecated, py-path-deprecated

approx: expose `pytest.Approx` as the return type of `pytest.approx`
  changelog/14164.improvement.rst
  doc/en/reference/reference.rst
  src/_pytest/assertion/_compare_any.py
  src/_pytest/python_api.py
  src/pytest/__init__.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

approx: improve typing
  src/_pytest/python_api.py
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated
