Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

Add deploy command-line to RELEASING.rst
  RELEASING.rst
Due: rst, changelogs-user-role

Merge pull request #13018 from pytest-dev/release-8.3.4
  changelog/10558.doc.rst
  changelog/10829.doc.rst
  changelog/12497.contrib.rst
  changelog/12592.bugfix.rst
  changelog/12818.bugfix.rst
  changelog/12849.bugfix.rst
  changelog/12866.doc.rst
  changelog/12966.doc.rst
  changelog/9353.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-8.3.4.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/getting-started.rst
  doc/en/how-to/fixtures.rst
Due: changelogs-user-role

Merge pull request #13264 from pytest-dev/release-8.3.5
  changelog/11777.bugfix.rst
  changelog/12842.doc.rst
  changelog/12888.bugfix.rst
  changelog/13026.bugfix.rst
  changelog/13053.bugfix.rst
  changelog/13083.bugfix.rst
  changelog/13112.contrib.rst
  changelog/13256.contrib.rst
  doc/en/announce/index.rst
  doc/en/announce/release-8.3.5.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/reportingdemo.rst
  doc/en/example/simple.rst
  doc/en/getting-started.rst
  doc/en/how-to/fixtures.rst
  doc/en/reference/reference.rst
Due: changelogs-user-role

chore(changelog) Minor typo fix
  doc/en/changelog.rst
Due: changelogs-user-role

chore(changelog) Minor typo fix (#13267)
  doc/en/changelog.rst
Due: changelogs-user-role

remove raises_group alias, doc fixes after review
  doc/en/how-to/assert.rst
  src/pytest/__init__.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Update rm_rf function to force remove directories
  src/_pytest/pathlib.py
Due: py-deprecated, py-path-deprecated

[pylint] Noqa a false positive with dynamic exception handling
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

[pyupgrade] Apply pyupgrade on new code manually
  testing/acceptance_test.py
Due: py-deprecated, py-path-deprecated

Add __repr__ to Skipped and test for it
  changelog/12647.improvement.rst
  src/_pytest/outcomes.py
  testing/test_skipping.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Update 11538.feature.rst
  changelog/11538.feature.rst
Due: changelogs-user-role

docs fixes after removing the raises_group alias.
  doc/en/how-to/assert.rst
  src/_pytest/_code/code.py
  src/_pytest/python_api.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

require patches to be 100% coverage, instead of current project coverage%
  codecov.yml
Due: none

improve raisesgroup code coverage
  src/_pytest/_code/code.py
  src/_pytest/raises_group.py
  testing/python/raises.py
  testing/python/raises_group.py
Due: py-deprecated, py-path-deprecated

fix coverage of a weird branch in python_api, explicitify match in other test
  testing/python/raises.py
Due: py-deprecated, py-path-deprecated

remove comment
  src/_pytest/raises_group.py
Due: py-deprecated, py-path-deprecated

fix test
  src/_pytest/raises.py
  testing/python/raises_group.py
  testing/test_warning_types.py
Due: py-deprecated, py-path-deprecated

improve raisesgroup code coverage (#13275)
  src/_pytest/_code/code.py
  src/_pytest/raises_group.py
  testing/python/raises.py
  testing/python/raises_group.py
Due: py-deprecated, py-path-deprecated

doc: Update trainings
  doc/en/index.rst
Due: changelogs-user-role

doc: Update trainings (#13280)
  doc/en/index.rst
Due: changelogs-user-role

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

Prevent parametrize with scope from breaking fixture dependencies (#13249)
  changelog/13248.bugfix.rst
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

chore: setuponly - migrate to f string
  src/_pytest/setuponly.py
Due: py-deprecated, py-path-deprecated

chore: junitxml tests: add more type annotations
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

chore: fixture tests: migrate to f-strings
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

chore: MockTiming - move impl to _pytest.timing
  src/_pytest/timing.py
  testing/conftest.py
Due: py-deprecated, py-path-deprecated

chore: skipping tests: migrate to f-strings
  testing/test_skipping.py
Due: py-deprecated, py-path-deprecated

fixup: have fake config .getini use correct types
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

use datetime.fromisoformat instead of strptime
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

chore: junitxml tests: introduce more typesafe helpers
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

fixup: junitxml logging test - restore validation for expected output nodes
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

test junitxml: split the DomNode type to express the Document/Element difference
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

Update changelog/12017.improvement.rst
  changelog/12017.improvement.rst
Due: changelogs-user-role

fixup: undo accidential name-mangling in the junitxml test helpers
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

add changelog
  changelog/12017.improvement.rst
Due: changelogs-user-role

use contrib category for changelog
  changelog/12017.contrib.rst
Due: changelogs-user-role

post rebase ruff fixes
  src/_pytest/timing.py
  testing/conftest.py
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

docstring and changelog improvements
  changelog/13192.feature.2.rst
  src/_pytest/raises.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
