Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.(BytesIO|saferepr|TerminalWriter)|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.\n)\n"

remove faq.rst and its entry in contents.rst
  doc/en/contents.rst
  doc/en/faq.rst
Due: none

added changelog for faq.rst removal
  changelog/1477.doc.rst
Due: none

updated links for nose and unittest adoption
  doc/en/adopt.rst
Due: none

point faq links in changelogs to v6.0.1
  doc/en/announce/release-2.3.0.rst
  doc/en/changelog.rst
Due: none

Remove faq.rst from docs (#7635)
  changelog/1477.doc.rst
  doc/en/adopt.rst
  doc/en/announce/release-2.3.0.rst
  doc/en/changelog.rst
  doc/en/contents.rst
  doc/en/faq.rst
Due: none

get_dirs_from_args handles paths with invalid syntax
  changelog/7638.bugfix.rst
  src/_pytest/config/findpaths.py
  testing/test_findpaths.py
Due: py-deprecated

Replace inactive Azure Pipelines badge with GHA
  README.rst
Due: rst

document toml use of filterwarnings (#7611)
  doc/en/warnings.rst
Due: none

Add changelog for PR #7631
  changelog/7631.trivial.rst
Due: none

Don't use NotImplementedError in `@overload`s
  .coveragerc
  src/_pytest/_code/code.py
  src/_pytest/_code/source.py
  src/_pytest/compat.py
  src/_pytest/fixtures.py
  src/_pytest/main.py
  src/_pytest/mark/structures.py
  src/_pytest/monkeypatch.py
  src/_pytest/nodes.py
  src/_pytest/pytester.py
  src/_pytest/python_api.py
  src/_pytest/recwarn.py
  src/_pytest/reports.py
Due: py-deprecated

Add ref to Python bug
  src/_pytest/config/findpaths.py
Due: py-deprecated

Move characters used for drawing horizontal rules into class attributes of TerminalReporter.
  AUTHORS
  changelog/7608.feature.rst
  src/_pytest/junitxml.py
  src/_pytest/pastebin.py
  src/_pytest/runner.py
  src/_pytest/terminal.py
Due: py-deprecated

Only define gethookproxy, isinitpath on Session
  changelog/7591.bugfix.rst
  changelog/7648.deprecation.rst
  src/_pytest/deprecated.py
  src/_pytest/main.py
  src/_pytest/nodes.py
  src/_pytest/python.py
  testing/deprecated_test.py
Due: py-deprecated

Fix Module.name from full path without drive letter
  changelog/7628.bugfix.rst
  src/_pytest/main.py
  testing/test_collection.py
Due: py-deprecated

Unknown ini key warnings is delayed so it can be filtered out
  changelog/7620.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: py-deprecated

Combine multiple 'unknown config key' warnings into one
  changelog/7620.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: py-deprecated

Refactor Session._parsearg into a separate function for testing
  src/_pytest/main.py
  testing/acceptance_test.py
  testing/test_collection.py
  testing/test_main.py
  testing/test_terminal.py
Due: py-deprecated

capture: fix disabled()/global_and_fixture_disabled() enabling capturing when it was disabled
  changelog/7148.bugfix.rst
  src/_pytest/capture.py
  testing/test_capture.py
Due: py-deprecated

Update talks/trainings page
  doc/en/talks.rst
Due: none

Move sidebar to index
  doc/en/index.rst
  doc/en/talks.rst
Due: none

Remove funcargnames compatibility property
  changelog/5585.breaking.rst
  doc/en/deprecations.rst
  src/_pytest/deprecated.py
  src/_pytest/fixtures.py
  src/_pytest/python.py
  testing/python/fixtures.py
Due: py-deprecated

Drop support for positional arguments in @pytest.fixture
  changelog/5585.breaking.rst
  doc/en/deprecations.rst
  src/_pytest/deprecated.py
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: py-deprecated

Hard failure when constructing Node subclasses
  changelog/5585.breaking.rst
  doc/en/deprecations.rst
  src/_pytest/deprecated.py
  src/_pytest/nodes.py
  testing/deprecated_test.py
Due: py-deprecated

Add note about pytest.collect deprecation
  doc/en/deprecations.rst
Due: none

Change junit_family default to xunit2
  changelog/5585.breaking.rst
  doc/en/deprecations.rst
  src/_pytest/deprecated.py
  src/_pytest/junitxml.py
  testing/deprecated_test.py
Due: py-deprecated

Remove deprecated TerminalReporter.writer property
  changelog/5585.breaking.rst
  doc/en/deprecations.rst
  src/_pytest/deprecated.py
  src/_pytest/terminal.py
  testing/deprecated_test.py
Due: py-deprecated

Remove broken pytest_collect_directory hook
  doc/en/deprecations.rst
  doc/en/reference.rst
  src/_pytest/deprecated.py
  src/_pytest/hookspec.py
  src/_pytest/nodes.py
  testing/acceptance_test.py
  testing/test_collection.py
Due: py-deprecated

PytestDeprecationWarning no longer a hard error
  src/_pytest/warnings.py
  testing/test_warnings.py
Due: py-deprecated

Move --no-print-logs removal notice to 'Removed Features'
  doc/en/deprecations.rst
Due: none

Add bottom changelog deprecation notice
  changelog/5585.breaking.rst
Due: none

Remove resultlog plugin
  changelog/5585.breaking.rst
  doc/en/deprecations.rst
  src/_pytest/config/__init__.py
  src/_pytest/deprecated.py
  src/_pytest/resultlog.py
  testing/deprecated_test.py
  testing/test_conftest.py
  testing/test_resultlog.py
  testing/test_warnings.py
Due: py-deprecated

add changelog entries for deprecations
  changelog/6981.deprecation.rst
  changelog/7097.deprecation.rst
  changelog/7210.deprecation.rst
  changelog/7255.deprecation.rst
Due: none

Reintroduce warnings postponed in 6.0
  src/_pytest/fixtures.py
  src/_pytest/hookspec.py
  src/_pytest/mark/__init__.py
  src/pytest/collect.py
  testing/deprecated_test.py
Due: py-deprecated

move tox.ini into pyproject.toml
  pyproject.toml
  setup.cfg
  tox.ini
Due: none

Make min duration configurable for slowest tests
  changelog/7667.feature.rst
  doc/en/usage.rst
  src/_pytest/runner.py
Due: py-deprecated

main: improve message on `pytest path/to/a/directory::mytest`
  src/_pytest/main.py
  testing/test_main.py
Due: py-deprecated

Reintroduce warnings postponed in 6.0 (#7637)
  changelog/6981.deprecation.rst
  changelog/7097.deprecation.rst
  changelog/7210.deprecation.rst
  changelog/7255.deprecation.rst
  src/_pytest/fixtures.py
  src/_pytest/hookspec.py
  src/_pytest/mark/__init__.py
  src/pytest/collect.py
  testing/deprecated_test.py
Due: py-deprecated

logging: fix handler level restored incorrectly if caplog.set_level is called more than once
  changelog/7672.bugfix.rst
  src/_pytest/logging.py
  testing/logging/test_fixture.py
Due: py-deprecated

Merge pull request #7673 from bluetech/logging-fix-handler-restore
  changelog/7672.bugfix.rst
  src/_pytest/logging.py
  testing/logging/test_fixture.py
Due: py-deprecated

Update changelog/7667.feature.rst
  changelog/7667.feature.rst
Due: none

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
  py-deprecated: any of: \.py$
