Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

Cherry pick 8.4.1 release notes
  changelog/13461.bugfix.rst
  changelog/13477.bugfix.rst
  changelog/13492.doc.rst
  changelog/13497.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-8.4.1.rst
  doc/en/changelog.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/getting-started.rst
  doc/en/how-to/fixtures.rst
Due: changelogs-user-role

testing: Explicitly pass `-Werror` to tests needing it
  changelog/13480.bugfix.rst
  testing/test_threadexception.py
  testing/test_warnings.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Merge pull request #13524 from bluetech/gh-release
  .github/workflows/deploy.yml
Due: none

Merge pull request #13481 from mgorny/pass-werror
  changelog/13480.bugfix.rst
  testing/test_threadexception.py
  testing/test_warnings.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

pytester: avoid a type: ignore
  src/_pytest/pytester.py
Due: py-deprecated, py-path-deprecated

pytester: fix subprocess mode ignores all `pytester.plugins` except the first
  changelog/13522.bugfix.rst
  src/_pytest/pytester.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Apply PEP 639
  pyproject.toml
Due: none

prepare-release-pr: open PRs as draft (#13534)
  scripts/prepare-release-pr.py
Due: py-deprecated, py-path-deprecated

Update setuptools minimum to version supporting PEP 639
  pyproject.toml
Due: none

pytester: error on non-str `pytester.plugins` in subprocess mode instead of silently ignoring
  changelog/13522.bugfix.rst
  src/_pytest/pytester.py
  testing/test_pytester.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix decimal.FloatOperation error in pytest.approx Decimal __repr__
  src/_pytest/python_api.py
  testing/test_decimal_approx.py
Due: py-deprecated, py-path-deprecated

Update testing/test_decimal_approx.py
  testing/test_decimal_approx.py
Due: py-deprecated, py-path-deprecated

Made the necessary changes
  src/_pytest/python_api.py
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

Create 13530.bugfix.rst
  changelog/13530.bugfix.rst
Due: changelogs-user-role

Update testing/python/approx.py
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

Improve changelog
  changelog/13530.bugfix.rst
Due: changelogs-user-role

Removed debugging statement from testing/python/approx.py
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

Fix test_doctest_unexpected_exception
  testing/test_doctest.py
Due: py-deprecated, py-path-deprecated

Bugfix message
  changelog/13547.bugfix.rst
Due: changelogs-user-role

Defer annotation eval on Python 3.14
  changelog/13549.bugfix.rst
  src/_pytest/compat.py
  src/_pytest/fixtures.py
  src/_pytest/nodes.py
  testing/test_collection.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

Update and rename 13547.bugfix.rst to 13547.contrib.rst
  changelog/13547.bugfix.rst
  changelog/13547.contrib.rst
Due: changelogs-user-role

Self-test: fix test_doctest_unexpected_exception in Python 3.14 (#13548)
  changelog/13547.contrib.rst
  testing/test_doctest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Update changelog/13549.bugfix.rst
  changelog/13549.bugfix.rst
Due: changelogs-user-role

Defer annotation eval on Python 3.14 (#13550)
  changelog/13549.bugfix.rst
  src/_pytest/compat.py
  src/_pytest/fixtures.py
  src/_pytest/nodes.py
  testing/test_collection.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix import
  src/_pytest/python_api.py
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

Rename 13480.bugfix to 13480.contrib
  changelog/13480.bugfix.rst
  changelog/13480.contrib.rst
Due: changelogs-user-role

Fix `approx` usage with `decimal.FloatOperation` trap set (#13543)
  changelog/13530.bugfix.rst
  src/_pytest/python_api.py
  testing/python/approx.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Enable triggering the test workflow manually (#13496)
  .github/workflows/test.yml
Due: none
