Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

Fix mypy errors and correct test expectations
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

Add regression test for pipe metacharacter in is_fully_escaped
  testing/python/raises.py
Due: py-deprecated, py-path-deprecated

Add regression test for stale loop variable in RaisesGroup error message
  testing/python/raises_group.py
Due: py-deprecated, py-path-deprecated

Add regression test for chained ExceptionGroup using wrong excinfo
  testing/code/test_excinfo.py
Due: py-deprecated, py-path-deprecated

doc: add AI/LLM-assisted contributions policy
  CONTRIBUTING.rst
Due: changelogs-user-role

New config & CLI option
  src/_pytest/main.py
  src/_pytest/warnings.py
  testing/test_warnings.py
Due: py-deprecated, py-path-deprecated

doc: revise AI policy wording per review + add PR template note
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.rst
Due: changelogs-user-role

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

fix: propagate assertion verbosity to raises match diff
  src/_pytest/raises.py
  testing/python/raises.py
Due: py-deprecated, py-path-deprecated

refactor(nodes): move diamond inheritance check from Item.__init__ to Item.from_parent
  src/_pytest/nodes.py
Due: py-deprecated, py-path-deprecated

refactor(python): remove redundant Package.__init__, add explicit from_parent
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

refactor(nodes): extract FSCollector name/nodeid derivation into classmethods and from_parent
  src/_pytest/nodes.py
Due: py-deprecated, py-path-deprecated

refactor(doctest): move fixture resolution from DoctestItem.__init__ to from_parent
  src/_pytest/doctest.py
Due: py-deprecated, py-path-deprecated

refactor(python): move marker/fixture/request setup from Function.__init__ to from_parent
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

fix: address review findings from node constructor cleanup
  src/_pytest/nodes.py
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

Fix nested caplog.filtering with same filter
  src/_pytest/logging.py
  testing/logging/test_fixture.py
Due: py-deprecated, py-path-deprecated

doc: soften AI policy language, replace disclosure with co-author credit
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.rst
Due: changelogs-user-role

Add changelog entry for #14214
  changelog/14214.bugfix.rst
Due: changelogs-user-role

Fix codecov patch coverage by merging class and instance branches
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

doc: remove obsolete note about request.config at module level
  doc/en/historical-notes.rst
Due: changelogs-user-role

doc: fix removed pytest.config reference in historical-notes (#14216)
  doc/en/historical-notes.rst
Due: changelogs-user-role

cite claude for threadexception.py
  src/_pytest/threadexception.py
Due: py-deprecated, py-path-deprecated

add changelog
  changelog/14233.misc.rst
Due: changelogs-user-role

Add diff of repr() when comparing custom classes
  src/_pytest/assertion/util.py
Due: py-deprecated, py-path-deprecated

Improve clarity in getting-started documentation
  doc/en/getting-started.rst
Due: changelogs-user-role

Add changelog entry
  changelog/14237.doc.rst
Due: changelogs-user-role

Fix CI docs example file names
  doc/en/explanation/ci.rst
Due: changelogs-user-role

bugfix #13224: make pytest completely silent when --quiet is added: do not even show progress dots
  changelog/13224.bugfix.rst
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix: replace 2 bare except clauses with except Exception
  testing/code/test_source.py
  testing/test_unittest.py
Due: py-deprecated, py-path-deprecated

doc: replace mandatory AI disclosure with contributor responsibility and optional attribution
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.rst
Due: changelogs-user-role

Fix CI docs example file names (#14240)
  doc/en/explanation/ci.rst
Due: changelogs-user-role

Fix: allow pytest.HIDDEN_PARAM in ids argument of mark.parametrize (#14234)
  src/_pytest/mark/structures.py
  testing/typing_checks.py
Due: py-deprecated, py-path-deprecated

Add changelog fragment for #14234
  changelog/14234.improvement.rst
Due: changelogs-user-role

feat: a Nix build environment
  changelog/14520.contrib.rst
  flake.lock
  flake.nix
Due: changelogs-user-role

chore: note that flake.nix is not the standard development tool
  flake.nix
Due: none

docs: guard pytestconfig.cache example when cacheprovider is disabled
  doc/en/how-to/cache.rst
Due: changelogs-user-role

changelog: add doc fragment for cacheprovider example
  changelog/14148.doc.rst
Due: changelogs-user-role

TOML integer log levels must be quoted
  doc/en/reference/reference.rst
Due: changelogs-user-role
