Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

Import symbol locally
  src/_pytest/unittest.py
Due: py-deprecated, py-path-deprecated

Add test docstrings
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

Fix grammar in changelog
  changelog/14195.bugfix.rst
Due: changelogs-user-role

subtests: fix inconcistent handling of non-string messages (#14196)
  AUTHORS
  changelog/14195.bugfix.rst
  src/_pytest/unittest.py
  testing/test_subtests.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

[pre-commit] Upgrade and autoformat with pyproject-fmt
  .pre-commit-config.yaml
  pyproject.toml
Due: none

[ruff] Upgrade ruff to 0.15.0
  .pre-commit-config.yaml
  pyproject.toml
  src/_pytest/config/findpaths.py
  src/_pytest/terminal.py
Due: py-deprecated, py-path-deprecated

[git blame] Add the pyproject-fmt commit to the git blame ignore
  .git-blame-ignore-revs
Due: none

[ruff-fmt] Nudge the auto-formatter to properly separate lines
  src/_pytest/terminal.py
Due: py-deprecated, py-path-deprecated

[lint] PLW0108: lambda used to correctly get the mocked time via `MockTiming`
  pyproject.toml
  src/_pytest/timing.py
  testing/_py/test_local.py
Due: py-deprecated, py-path-deprecated

[pylint] sort the disable alphabetically, remove duplicate
  pyproject.toml
Due: none

Fix a comment on test_override_fixture_with_new_parametrized_fixture
  testing/python/fixture_dependencies.py
Due: py-deprecated, py-path-deprecated

2043 is not fixed
  changelog/2043.bugfix.rst
Due: changelogs-user-role

Test overriding a fixture that requests a parametrized fixture
  changelog/11075.bugfix.rst
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Delete changelog/11075.bugfix.rst
  changelog/11075.bugfix.rst
Due: changelogs-user-role

Test overriding a fixture that requests a parametrized fixture (#14200)
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

Fix capteesys producing doubled output with --capture=no
  changelog/13784.bugfix.rst
  src/_pytest/capture.py
  testing/test_capture.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix ExceptionInfo.for_later() not populating _striptext
  changelog/12175.bugfix.rst
  src/_pytest/_code/code.py
  testing/code/test_excinfo.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix known_args_namespace containing duplicate append-action values
  changelog/13484.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix nested caplog.filtering() removing filter early (#14189)
  changelog/14189.bugfix.rst
  src/_pytest/logging.py
  testing/logging/test_fixture.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix monkeypatch.setattr() teardown crash on failed setattr (#14161)
  changelog/14161.bugfix.rst
  src/_pytest/monkeypatch.py
  testing/test_monkeypatch.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix mypy: use logging.Filter subclass instead of callable
  testing/logging/test_fixture.py
Due: py-deprecated, py-path-deprecated

Deduplicate _striptext logic into _compute_striptext classmethod
  src/_pytest/_code/code.py
Due: py-deprecated, py-path-deprecated

Fix autouse fixtures running in @unittest.skip classes (#13885)
  changelog/13885.bugfix.rst
  src/_pytest/unittest.py
  testing/test_unittest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Simplify pytest_report_teststatus for subtests
  src/_pytest/subtests.py
Due: py-deprecated, py-path-deprecated

Update default value for pythonpath ini option
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

Fix mypy attr-defined error for __unittest_skip_why__
  src/_pytest/unittest.py
Due: py-deprecated, py-path-deprecated

Add test coverage for _compute_striptext edge cases
  testing/code/test_excinfo.py
Due: py-deprecated, py-path-deprecated

subtests: avoid double `saferepr()`
  src/_pytest/subtests.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

subtests: avoid double `saferepr()` (#14213)
  src/_pytest/subtests.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

docs: fix grammar in typing docs
  doc/en/explanation/types.rst
Due: changelogs-user-role

doc: fix removed pytest.config reference in historical-notes
  doc/en/historical-notes.rst
Due: changelogs-user-role

Fix removed pytest.config reference in historical-notes
  doc/en/historical-notes.rst
Due: changelogs-user-role

fix: use fully qualified Sphinx cross-references in changelog
  changelog/12175.bugfix.rst
Due: changelogs-user-role

Add regression test for recursionindex with equal code objects
  testing/code/test_excinfo.py
Due: py-deprecated, py-path-deprecated

raises: fix stale loop variable in RaisesGroup error reporting
  src/_pytest/raises.py
Due: py-deprecated, py-path-deprecated

code: use current excinfo when formatting chained BaseExceptionGroup
  src/_pytest/_code/code.py
Due: py-deprecated, py-path-deprecated

raises: add missing | metacharacter to is_fully_escaped and unescape
  src/_pytest/raises.py
Due: py-deprecated, py-path-deprecated

Fix __dict__ traversal for instances and classes in parsefactories
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

Fix fixture discovery to use definition order instead of alphabetical
  changelog/11281.bugfix.rst
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
