Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

hotfix: Improve symlink attack defense in _cleanup_old_rootdirs by refining directory enumeration and error handling
  src/_pytest/tmpdir.py
Due: py-deprecated, py-path-deprecated

chore: remove unnecessary comment
  src/_pytest/pathlib.py
Due: py-deprecated, py-path-deprecated

feat: add parallel execution with progress bars for tox environments
  scripts/tox_progress.py
Due: py-deprecated, py-path-deprecated

test: add unit tests for tox_progress functions
  scripts/test_tox_progress.py
  scripts/tox_progress.py
Due: py-deprecated, py-path-deprecated

hotfix: Move ensure_extended_length_path call after _check_symlink_attack_safety in rm_rf function
  src/_pytest/pathlib.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

chore: Make FixtureFuction type alias instead of TypeVar
  changelog/14399.misc.rst
  src/_pytest/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Mark `yield_fixture` as deprecated
  changelog/14340.improvement.rst
  src/_pytest/fixtures.py
  src/pytest/__init__.py
  testing/deprecated_test.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Delete changelog/14399.misc.rst
  changelog/14399.misc.rst
Due: changelogs-user-role

Make FixtureFuction type alias instead of TypeVar (#14339)
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

hotfix: Simplify warnings in safe_rmtree tests by removing unnecessary checks for avoids_symlink_attacks
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

Mark `yield_fixture` as deprecated
  changelog/14342.improvement.rst
  doc/en/deprecations.rst
  src/_pytest/fixtures.py
  src/pytest/__init__.py
  testing/deprecated_test.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Schedule deprecated legacy hook marks for removal in pytest 10
  changelog/14335.deprecation.rst
  doc/en/deprecations.rst
  src/_pytest/deprecated.py
Due: changelogs-user-role, py-deprecated

tmpdir: fix insecure temporary directory vulnerability (CVE-2025-71176)
  changelog/14343.bugfix.rst
  src/_pytest/tmpdir.py
  testing/test_tmpdir.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Clean up commented code in typing_checks.py
  testing/typing_checks.py
Due: py-deprecated, py-path-deprecated

Mark `yield_fixture` as deprecated (#14342)
  changelog/14342.improvement.rst
  doc/en/deprecations.rst
  src/_pytest/fixtures.py
  src/pytest/__init__.py
  testing/deprecated_test.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Apply suggestion from @nicoddemus
  changelog/14137.improvement.rst
Due: changelogs-user-role

Make ScopeName public to enable downstream type checking (#14325)
  AUTHORS
  changelog/14137.improvement.rst
  doc/en/conf.py
  src/_pytest/fixtures.py
  src/_pytest/mark/structures.py
  src/_pytest/python.py
  src/_pytest/scope.py
  src/pytest/__init__.py
  testing/typing_checks.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix: preserve warning filters set in pytest_configure during config stage
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

hotfix: Introduce _safe_open_dir context manager to enhance symlink safety in _verify_ownership_and_tighten_permissions
  src/_pytest/tmpdir.py
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

hotfix: Update test_warns_once_when_avoids_symlink_attacks to ensure one-time warning is emitted
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

Fix: sync Windows STD_INPUT_HANDLE after dup2 to prevent WinError 6 in subprocess under capture (Python 3.14)
  src/_pytest/capture.py
Due: py-deprecated, py-path-deprecated

Fix: sync Windows std handles after all dup2 calls (start, done, suspend, resume)
  src/_pytest/capture.py
Due: py-deprecated, py-path-deprecated

Cleanup: remove duplicate Windows handle sync logic
  src/_pytest/capture.py
Due: py-deprecated, py-path-deprecated

Fix capture asymmetry in suspend_global_capture(in_=True) (#13322)
  changelog/13322.bugfix.rst
  src/_pytest/capture.py
  testing/test_capture.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Drop unresolved cross-refs from changelog/13322.bugfix.rst
  changelog/13322.bugfix.rst
Due: changelogs-user-role

cleanup
  changelog/13322.bugfix.rst
  src/_pytest/capture.py
  testing/test_capture.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix RaisesGroup calling check() on contained exceptions instead of ExceptionGroup
  src/_pytest/raises.py
  testing/python/raises_group.py
Due: py-deprecated, py-path-deprecated

Added changelog entry per repo guidelines
  changelog/14324.bugfix.rst
Due: changelogs-user-role

Upgrade pygments to >=2.20.0
  pyproject.toml
Due: none

change pygments version requirement from >=2.20.0 >=2.20
  pyproject.toml
Due: none

added contribution record for #14359
  changelog/14359.improvement.rst
Due: changelogs-user-role

added Scott Ratchford to AUTHORS for #14359
  AUTHORS
Due: none

Merge pull request #14343 from bluetech/cve-2025-71176-simple
  changelog/14343.bugfix.rst
  src/_pytest/tmpdir.py
  testing/test_tmpdir.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Just ignore the unreachable
  testing/test_capture.py
Due: py-deprecated, py-path-deprecated

order
  testing/test_collection.py
Due: py-deprecated, py-path-deprecated

remove noqa for fixed mypy fp
  src/_pytest/raises.py
Due: py-deprecated, py-path-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
