Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst

.pre-commit-config.yaml:

exclude: doc/en/example/py2py3/test_py2.py
repos:
-   repo: https://github.com/ambv/black
    rev: 18.6b4
    hooks:
    -   id: black
        args: [--safe, --quiet]
        language_version: python3
-   repo: https://github.com/asottile/blacken-docs
    rev: v0.3.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==18.9b0]
        language_version: python3
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0-1
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: debug-statements
        exclude: _pytest/debugging.py
        language_version: python3
    -   id: flake8
        language_version: python3
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.8.0
    hooks:
    -   id: pyupgrade
        args: [--keep-percent-format]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.1.0
    hooks:
    -   id: rst-backticks
-   repo: local
    hooks:
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(CHANGELOG.rst|HOWTORELEASE.rst|README.rst|changelog/.*)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: 'changelog files must be named ####.(feature|bugfix|doc|deprecation|removal|vendor|trivial).rst'
        exclude: changelog/(\d+\.(feature|bugfix|doc|deprecation|removal|vendor|trivial).rst|README.rst|_template.rst)
        files: ^changelog/

Add workaround for test_raises_cyclic_reference in Python 3.5.{0,1}
  testing/python/raises.py
Due: none

Pypy doesn't have sys.getrefcount(), so go back to gc
  testing/python/raises.py
Due: none

Fix coverage
  src/_pytest/compat.py
  testing/python/raises.py
Due: none

Revert "Fix coverage"
  src/_pytest/compat.py
  testing/python/raises.py
Due: none

ci: coverage with 3.5.0
  .travis.yml
  azure-pipelines.yml
Due: none

TEST: no xdist for 3.5.0
  .travis.yml
Due: none

Preparing release version 5.1.1
  CHANGELOG.rst
  changelog/5751.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-5.1.1.rst
  doc/en/assert.rst
  doc/en/builtin.rst
  doc/en/cache.rst
  doc/en/capture.rst
  doc/en/doctest.rst
  doc/en/example/markers.rst
  doc/en/example/nonpython.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/reportingdemo.rst
  doc/en/example/simple.rst
  doc/en/example/special.rst
  doc/en/fixture.rst
  doc/en/getting-started.rst
  doc/en/index.rst
  doc/en/parametrize.rst
  doc/en/skipping.rst
  doc/en/tmpdir.rst
  doc/en/unittest.rst
  doc/en/usage.rst
  doc/en/warnings.rst
  doc/en/writing_plugins.rst
Due: rst

Do not update pip on Azure
  azure-pipelines.yml
Due: none

Fix TypeError
  changelog/5782.bugfix.rst
  src/_pytest/pastebin.py
Due: rst

Basic acceptance test
  testing/test_usefixtures_in_fixtures.py
Due: none

Basic working implementation. Defenitively not up to standards
  src/_pytest/fixtures.py
  testing/test_usefixtures_in_fixtures.py
Due: none

Add test for #5782
  testing/test_pastebin.py
Due: none

Fix linting
  changelog/5782.bugfix.rst
Due: rst

update doc
  doc/en/fixture.rst
  doc/en/monkeypatch.rst
Due: none

Refactor report serialization/deserialization code
  src/_pytest/reports.py
Due: none

Move TWMock class to a fixture
  testing/code/test_code.py
  testing/code/test_excinfo.py
  testing/conftest.py
Due: none

Fix pytest with mixed up filename casing.
  src/_pytest/config/__init__.py
  testing/test_conftest.py
Due: none

Gracefully handle HTTP errors from pastebin
  AUTHORS
  changelog/5764.feature.rst
  src/_pytest/pastebin.py
  testing/test_pastebin.py
Due: rst

Added acceptance tests for 'config warnings' stacklevel
  AUTHORS
  changelog/4445.bug.rst
  testing/test_assertrewrite.py
  testing/test_resultlog.py
Due: rst, changelogs-rst

renamed changelog filename as per code of conduct
  changelog/4445.bugfix.rst
Due: rst

black formatting.
  testing/test_conftest.py
Due: none

Document the bugfix.
  AUTHORS
  changelog/5792.bugfix.rst
Due: rst

Move _uniquepath to pathlib as unique_path.
  src/_pytest/config/__init__.py
  src/_pytest/pathlib.py
  testing/test_conftest.py
Due: none

Fix the scope behavior with indirect fixtures.
  AUTHORS
  changelog/570.bugfix.rst
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: rst

[4.6] fixes for python4
  changelog/5801.trivial.rst
  src/_pytest/pastebin.py
  src/_pytest/pytester.py
  testing/acceptance_test.py
  testing/python/raises.py
  testing/test_monkeypatch.py
  testing/test_pastebin.py
  testing/test_warnings.py
Due: rst

Serialize/deserialize chained exceptions
  changelog/5786.bugfix.rst
  src/_pytest/reports.py
  testing/test_reports.py
Due: rst

Improve CHANGELOG and make test easier to understand for #570
  changelog/570.bugfix.rst
  testing/python/fixtures.py
Due: rst

Run py35 without xdist on Travis
  .travis.yml
Due: none

Improve CHANGELOG and add some comments
  changelog/2270.bugfix.rst
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: rst

Replace session duration to a fix value in regendoc
  doc/en/Makefile
Due: none

Preparing release version 5.1.2
  CHANGELOG.rst
  changelog/2270.bugfix.rst
  changelog/570.bugfix.rst
  changelog/5782.bugfix.rst
  changelog/5786.bugfix.rst
  changelog/5792.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-5.1.2.rst
  doc/en/assert.rst
  doc/en/cache.rst
  doc/en/capture.rst
  doc/en/doctest.rst
  doc/en/example/markers.rst
  doc/en/example/nonpython.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/reportingdemo.rst
  doc/en/example/simple.rst
  doc/en/fixture.rst
  doc/en/getting-started.rst
  doc/en/index.rst
  doc/en/parametrize.rst
  doc/en/skipping.rst
  doc/en/tmpdir.rst
  doc/en/unittest.rst
  doc/en/usage.rst
  doc/en/warnings.rst
Due: rst

Fix "lexer" being used when uploading to bpaste.net
  changelog/5806.bugfix.rst
  src/_pytest/pastebin.py
  testing/test_pastebin.py
Due: rst

Implemented the dynamic scope feature.
  AUTHORS
  changelog/1682.deprecation.rst
  changelog/1682.feature.rst
  doc/en/example/costlysetup/conftest.py
  doc/en/fixture.rst
  src/_pytest/deprecated.py
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: rst

Fix anchor link from Good Practices to Pythonpath doc
  doc/en/goodpractices.rst
  doc/en/pythonpath.rst
Due: none

Add Gene Wood to authors
  AUTHORS
Due: none

Fix for Python 4: replace unsafe PY3 with PY2
  testing/test_pdb.py
Due: none

Fix regression with uppercase path conftest.
  changelog/5819.bugfix.rst
  src/_pytest/pathlib.py
  testing/test_conftest.py
Due: rst

Remove useless realpath()
  src/_pytest/pathlib.py
Due: none

ci: Travis: do not test with 3.5.0
  .travis.yml
Due: none
