Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
    -   id: black
        args: [--safe, --quiet]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==20.8b1]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: check-yaml
    -   id: debug-statements
        exclude: _pytest/(debugging|hookspec).py
        language_version: python3
-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        name: autoflake
        args: ["--in-place", "--remove-unused-variables", "--remove-all-unused-imports"]
        language: python
        files: \.py$
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-typing-imports==1.12.0
          - flake8-docstrings==1.5.0
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.7.1
    hooks:
    -   id: reorder-python-imports
        args: ['--application-directories=.:src', --py37-plus]
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.31.0
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
-   repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.20.0
    hooks:
    -   id: setup-cfg-fmt
        args: [--max-py-version=3.10]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        files: ^(src/|testing/)
        args: []
        additional_dependencies:
          - iniconfig>=1.1.0
          - py>=1.8.2
          - attrs>=19.2.0
          - packaging
          - tomli
          - types-atomicwrites
          - types-pkg_resources
-   repo: local
    hooks:
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'
        exclude: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
        files: ^changelog/
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

Delete pathlib.py
  src/_pytest/pathlib.py
Due: py-deprecated, py-path-deprecated

Create my_pathlib.py
  src/_pytest/my_pathlib.py
Due: py-deprecated, py-path-deprecated

Update main.py
  src/_pytest/main.py
Due: py-deprecated, py-path-deprecated

Update __init__.py
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

Test 1
  testing.txt
Due: none

Do the change
  src/_pytest/python.py
  testing/example_scripts/issue_519.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

Update test_init.py
  testing/code/test_init.py
Due: py-deprecated, py-path-deprecated

Remove redundant test
  testing/python/fixtures.py
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

Create README.md
  README.md
Due: none

Update testing.txt
  testing.txt
Due: none

Update README.md
  README.md
Due: none

Support venv detection on Windows with mingw Python
  AUTHORS
  src/_pytest/main.py
  testing/test_collection.py
Due: py-deprecated, py-path-deprecated

Update changelog
  changelog/12544.improvement.rst
Due: none

Update reference.rst
  doc/en/reference/reference.rst
Due: none

Use .is_file in place of .exists
  src/_pytest/main.py
Due: py-deprecated, py-path-deprecated

Add a reference to PEP-405
  src/_pytest/main.py
Due: py-deprecated, py-path-deprecated

Support venv detection on Windows with mingw Python (#12545)
  AUTHORS
  changelog/12544.improvement.rst
  doc/en/reference/reference.rst
  src/_pytest/main.py
  testing/test_collection.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: none

Update src/_pytest/reports.py
  src/_pytest/reports.py
Due: py-deprecated, py-path-deprecated

testresult: correctly apply verbose word markup and avoid crash
  changelog/12472.bugfix.rst
  src/_pytest/reports.py
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Merge pull request #12531 from webknjaz/maintenance/xfail-no-cover
  .coveragerc
  changelog/12531.contrib.rst
Due: changelogs-rst

Revert "🚑🧪 Set the Codecov token directly in GHA"
  .github/workflows/test.yml
Due: none

Merge pull request #12553 from pytest-dev/revert-12516-maintenance/hotfix/gha-codecov-token
  .github/workflows/test.yml
Due: none

📝 Add markup to the PR #12545 changelog entry
  changelog/12544.improvement.rst
  changelog/12545.improvement.rst
Due: none

Correct the `:user:` role @ PR #12531 change note
  changelog/12531.contrib.rst
Due: changelogs-rst

📝💄 Drop trailing period from #12502 byline
  changelog/12502.contrib.rst
Due: changelogs-rst

🧪 Lint for typos in `:user:` RST role
  .pre-commit-config.yaml
Due: none

📝 Add a change note for PR #12562
  changelog/12562.contrib.rst
Due: changelogs-rst

📝🚑 Fix RST list in #12264 changelog entry
  changelog/12204.bugfix.rst
Due: none

📝 Use past tense in #12204 change note
  changelog/12204.bugfix.rst
Due: none

📝💅 Link #12264 change note to #12204
  changelog/12264.bugfix.rst
Due: none

📝 Add a byline to #12264 change note
  changelog/12204.bugfix.rst
Due: none

Bump PyPy runtime to v3.9 @ GHA
  .github/workflows/test.yml
Due: none

ENH: Improve warning stacklevel
  changelog/12564.bugfix.rst
  src/_pytest/fixtures.py
  testing/deprecated_test.py
Due: py-deprecated, py-path-deprecated
