Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

Update changelog/14392.bugfix.rst
  changelog/14392.bugfix.rst
Due: changelogs-user-role

Refactor is_fully_escaped to use regex approach as suggested by bluetech
  src/_pytest/raises.py
Due: py-deprecated, py-path-deprecated

raises: is_fully_escaped does not handle consecutive backslashes correctly (#14393)
  changelog/14392.bugfix.rst
  src/_pytest/raises.py
  testing/python/raises.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Suppress raises match failure context
  src/_pytest/raises.py
  testing/python/raises.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

raises: suppress exception cause in raises match failures (#14391)
  AUTHORS
  changelog/14389.bugfix.rst
  src/_pytest/raises.py
  testing/python/raises.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Allow pytest.HIDDEN_PARAM in ids argument of pytest.mark.parametrize typing
  changelog/14234.bugfix.rst
  src/_pytest/mark/structures.py
  testing/typing_checks.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

changelog: fix up a 14389 entry
  changelog/14389.bugfix.rst
Due: changelogs-user-role

test: cover tmpdir get_user OSError fallback
  changelog/13835.bugfix.rst
  testing/test_tmpdir.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

testing: add regression test for get_user() swallowing OSError (#13835)
  changelog/13835.bugfix.rst
  testing/test_tmpdir.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

changelog: fix RST cross-reference roles for non-public functions
  changelog/13835.bugfix.rst
Due: changelogs-user-role

Add block text diffs
  changelog/6757.feature.rst
  doc/en/how-to/output.rst
  doc/en/reference/reference.rst
  src/_pytest/assertion/__init__.py
  src/_pytest/assertion/util.py
  testing/test_assertion.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix pre-commit lint and mypy errors
  src/_pytest/assertion/util.py
Due: py-deprecated, py-path-deprecated

Add test to cover getini KeyError in mock_config
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

config: fix duplicate values in Config.known_args_namespace for append actions
  changelog/13484.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_warnings.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

feat(assertion): 为字典和列表比较添加结构化差异信息
  src/_pytest/assertion/util.py
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

fix Argument.__repr__ crash when _action is not initialized
  changelog/13817.bugfix.rst
  src/_pytest/config/argparsing.py
  testing/test_parseopt.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add a space after the test name with --setup-show
  changelog/14430.improvement.rst
  src/_pytest/runner.py
  testing/python/fixtures.py
  testing/test_setuponly.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

assertion: push `config` access up from `assertrepr_compare` to the hook
  src/_pytest/assertion/__init__.py
  src/_pytest/assertion/util.py
Due: py-deprecated, py-path-deprecated

assertion/rewrite: fix test crash on assert failure with `terminalreporter` disabled
  changelog/14377.bugfix.rst
  src/_pytest/assertion/__init__.py
  testing/test_assertion.py
  testing/test_assertrewrite.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add tee-fd capture mode and capteefd fixtures
  doc/en/how-to/capture-stdout-stderr.rst
  doc/en/reference/fixtures.rst
  doc/en/reference/reference.rst
  src/_pytest/capture.py
  testing/test_capture.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add changelog entry for tee-fd capture
  changelog/14159.feature.rst
Due: changelogs-user-role

docs: guard pytestconfig.cache example when cacheprovider is disabled (#14254)
  changelog/14148.doc.rst
  doc/en/how-to/cache.rst
Due: changelogs-user-role

Fix ruff and mypy errors
  src/_pytest/capture.py
  testing/test_capture.py
Due: py-deprecated, py-path-deprecated

Move queue import to module level
  src/_pytest/capture.py
Due: py-deprecated, py-path-deprecated

Add pragma no cover for platform-specific code
  src/_pytest/capture.py
Due: py-deprecated, py-path-deprecated

Add pragma no cover for platform-specific methods
  src/_pytest/capture.py
Due: py-deprecated, py-path-deprecated

Add a space after the test name with --setup-show (#14430)
  changelog/14430.improvement.rst
  src/_pytest/runner.py
  testing/python/fixtures.py
  testing/test_setuponly.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add coverage pragmas and capteefdbinary test
  src/_pytest/capture.py
  testing/test_capture.py
Due: py-deprecated, py-path-deprecated

fix: assign conftest fixtures to Directory nodes during collection
  changelog/14004.bugfix.rst
  src/_pytest/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

refactor: use node= instead of nodeid= in all internal fixture registration
  src/_pytest/python.py
  src/_pytest/unittest.py
Due: py-deprecated, py-path-deprecated

deprecate: add PytestRemovedIn10Warning for baseid/nodeid string parameters
  changelog/14004.deprecation.rst
  src/_pytest/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix: handle above-rootdir conftests and use node-based autouse tracking
  src/_pytest/fixtures.py
  testing/test_conftest.py
Due: py-deprecated, py-path-deprecated

Reuse ApproxBase behavior for datetime approx
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

update_no_match_line_docstring
  src/_pytest/pytester.py
Due: py-deprecated, py-path-deprecated

update changelog
  changelog/14438.doc.rst
Due: changelogs-user-role
