Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

junitxml: do not print summary with `--quiet` (#13702)
  changelog/13700.improvement.rst
  src/_pytest/junitxml.py
  testing/test_junitxml.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Conditional skip
  testing/test_faulthandler.py
Due: py-deprecated, py-path-deprecated

Fix regexp in test_times_multiline to accomodate slow CI runners
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

update read me by adding periods to Features section points
  README.rst
Due: rst, changelogs-user-role

Fix #13713: Detect original terminal width with --capture=fd
  src/_pytest/_io/terminalwriter.py
Due: py-deprecated, py-path-deprecated

Add changelog for #13713: detect original terminal width with --capture=fd
  changelog/13713.bugfix.rst
Due: changelogs-user-role

Fix #13713: Correct fullwidth property and pass pre-commit checks
  src/_pytest/_io/terminalwriter.py
Due: py-deprecated, py-path-deprecated

Flush stdout and stderr in pytester.run (#13695)
  changelog/13695.contrib.rst
  src/_pytest/pytester.py
  testing/test_faulthandler.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Actually skip the new test on ubuntu-py314
  testing/test_faulthandler.py
Due: py-deprecated, py-path-deprecated

main: reject arguments like `pytest x.py[1]` instead of ignoring the `[]`
  changelog/13716.bugfix.rst
  src/_pytest/main.py
  testing/test_main.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Create python-package-conda.yml
  .github/workflows/python-package-conda.yml
Due: none

Update README.rst
  README.rst
Due: rst, changelogs-user-role

Update .coveragerc
  .coveragerc
Due: none

Create blank.yml
  .github/workflows/blank.yml
Due: none

Update empty.py
  bench/empty.py
Due: py-deprecated, py-path-deprecated

Update bench.py
  bench/bench.py
Due: py-deprecated, py-path-deprecated

Update bench_argcomplete.py
  bench/bench_argcomplete.py
Due: py-deprecated, py-path-deprecated

Update manyparam.py
  bench/manyparam.py
Due: py-deprecated, py-path-deprecated

Update skip.py
  bench/skip.py
Due: py-deprecated, py-path-deprecated

Update unit_test.py
  bench/unit_test.py
Due: py-deprecated, py-path-deprecated

Update xunit.py
  bench/xunit.py
Due: py-deprecated, py-path-deprecated

Update .gitignore
  changelog/.gitignore
Due: none

Update .contrib.rst
  changelog/12474.contrib.rst
Due: changelogs-user-role

Update and rename .bugfix.rst
  changelog/.bugfix.rst
Due: changelogs-rst, changelogs-user-role

Update and rename changelog/12474.contrib.rst to .contrib.rst
  .contrib.rst
Due: changelogs-user-role

Rename changelog/13621.contrib.rst to changelog .contrib.rst
  changelog .contrib.rst
Due: changelogs-user-role

Update RELEASING.rst
  RELEASING.rst
Due: rst, changelogs-user-role

Update OPENCOLLECTIVE.rst
  OPENCOLLECTIVE.rst
Due: changelogs-user-role

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update .readthedocs.yaml
  .readthedocs.yaml
Due: none

Update AUTHORS
  AUTHORS
Due: none

Update .gitattributes
  .gitattributes
Due: none

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
