Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

ci: be consistent in how we install tox
  .github/workflows/deploy.yml
  .github/workflows/doc-check-links.yml
  .github/workflows/prepare-release-pr.yml
  .github/workflows/test.yml
  .github/workflows/update-plugin-list.yml
Due: none

ci: replace SETUPTOOLS_SCM_PRETEND_VERSION -> FOR_PYTEST
  .github/workflows/deploy.yml
Due: none

RELEASING: add step to update ReadTheDocs
  RELEASING.rst
Due: rst, changelogs-user-role

regendoc: remove CI environment variables
  src/_pytest/compat.py
  tox.ini
Due: py-deprecated, py-path-deprecated

RELEASING: add step to update ReadTheDocs (#13949)
  RELEASING.rst
Due: rst, changelogs-user-role

regendoc: remove CI environment variables (#13950)
  src/_pytest/compat.py
  tox.ini
Due: py-deprecated, py-path-deprecated

Prepare release version 9.0.1
  changelog/13891.contrib.rst
  changelog/13895.bugfix.rst
  changelog/13896.bugfix.rst
  changelog/13904.bugfix.rst
  changelog/13910.bugfix.rst
  changelog/13933.contrib.rst
  changelog/13933.packaging.rst
  changelog/13942.contrib.rst
  doc/en/announce/index.rst
  doc/en/announce/release-9.0.1.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/customdirectory.rst
  doc/en/example/markers.rst
  doc/en/example/nonpython.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/reportingdemo.rst
  doc/en/example/simple.rst
  doc/en/getting-started.rst
  doc/en/how-to/assert.rst
  doc/en/how-to/cache.rst
  doc/en/how-to/capture-stdout-stderr.rst
  doc/en/how-to/capture-warnings.rst
  doc/en/how-to/doctest.rst
  doc/en/how-to/fixtures.rst
  doc/en/how-to/output.rst
  doc/en/how-to/parametrize.rst
  doc/en/how-to/tmp_path.rst
  doc/en/how-to/unittest.rst
  doc/en/how-to/writing_plugins.rst
  doc/en/index.rst
Due: changelogs-user-role

config,mark,monkeypatch: use common `NOTSET` from `compat`
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
  src/_pytest/mark/__init__.py
  src/_pytest/monkeypatch.py
Due: py-deprecated, py-path-deprecated

config: move `_opt2dest` maintenance to `Parser`
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
Due: py-deprecated, py-path-deprecated

config: remove unnecessary code from `Argument`
  src/_pytest/config/argparsing.py
  testing/test_parseopt.py
Due: py-deprecated, py-path-deprecated

config: make `Argument` a wrapper around `argparse.Action`
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
  src/_pytest/helpconfig.py
  testing/test_parseopt.py
Due: py-deprecated, py-path-deprecated

config: don't lazy import textwrap
  src/_pytest/config/argparsing.py
Due: py-deprecated, py-path-deprecated

config: add a type annotation
  src/_pytest/config/argparsing.py
Due: py-deprecated, py-path-deprecated

config: drop caching from `DropShorterLongHelpFormatter`
  src/_pytest/config/argparsing.py
Due: py-deprecated, py-path-deprecated

config: remove passing `parser` on `PytestArgumentParser`
  src/_pytest/config/argparsing.py
Due: py-deprecated, py-path-deprecated

config: add comment about future possibility
  src/_pytest/config/argparsing.py
Due: py-deprecated, py-path-deprecated

Use `importlib.import_module` instead of `__import__`
  src/_pytest/config/__init__.py
  src/_pytest/debugging.py
  src/_pytest/monkeypatch.py
  src/_pytest/outcomes.py
  testing/acceptance_test.py
  testing/test_config.py
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

config: avoid direct access to `inicfg`
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

Merge pull request #13952 from pytest-dev/release-9.0.1
  changelog/13891.contrib.rst
  changelog/13895.bugfix.rst
  changelog/13896.bugfix.rst
  changelog/13904.bugfix.rst
  changelog/13910.bugfix.rst
  changelog/13933.contrib.rst
  changelog/13933.packaging.rst
  changelog/13942.contrib.rst
  doc/en/announce/index.rst
  doc/en/announce/release-9.0.1.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/customdirectory.rst
  doc/en/example/markers.rst
  doc/en/example/nonpython.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/reportingdemo.rst
  doc/en/example/simple.rst
  doc/en/getting-started.rst
  doc/en/how-to/assert.rst
  doc/en/how-to/cache.rst
  doc/en/how-to/capture-stdout-stderr.rst
  doc/en/how-to/capture-warnings.rst
  doc/en/how-to/doctest.rst
  doc/en/how-to/fixtures.rst
  doc/en/how-to/output.rst
  doc/en/how-to/parametrize.rst
  doc/en/how-to/tmp_path.rst
  doc/en/how-to/unittest.rst
  doc/en/how-to/writing_plugins.rst
  doc/en/index.rst
Due: changelogs-user-role

doc: Clarify conftest.py hooks unavailable during pytest_addoption
  AUTHORS
  changelog/13304.doc.rst
  doc/en/how-to/writing_hook_functions.rst
Due: changelogs-user-role

Merge pull request #13953 from nicoddemus/cherry-pick-release
  changelog/13891.contrib.rst
  changelog/13895.bugfix.rst
  changelog/13896.bugfix.rst
  changelog/13904.bugfix.rst
  changelog/13910.bugfix.rst
  changelog/13933.contrib.rst
  changelog/13933.packaging.rst
  changelog/13942.contrib.rst
  doc/en/announce/index.rst
  doc/en/announce/release-9.0.1.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/customdirectory.rst
  doc/en/example/markers.rst
  doc/en/example/nonpython.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/reportingdemo.rst
  doc/en/example/simple.rst
  doc/en/getting-started.rst
  doc/en/how-to/assert.rst
  doc/en/how-to/cache.rst
  doc/en/how-to/capture-stdout-stderr.rst
  doc/en/how-to/capture-warnings.rst
  doc/en/how-to/doctest.rst
  doc/en/how-to/fixtures.rst
  doc/en/how-to/output.rst
  doc/en/how-to/parametrize.rst
  doc/en/how-to/tmp_path.rst
  doc/en/how-to/unittest.rst
  doc/en/how-to/writing_plugins.rst
  doc/en/index.rst
Due: changelogs-user-role

Hard error when setting a mark on a fixture function
  doc/en/deprecations.rst
  src/_pytest/deprecated.py
  src/_pytest/fixtures.py
  src/_pytest/mark/structures.py
  testing/deprecated_test.py
  testing/test_mark.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Remove legacy py.path argument support in hooks
  doc/en/deprecations.rst
  src/_pytest/config/__init__.py
  src/_pytest/config/compat.py
  src/_pytest/deprecated.py
  src/_pytest/hookspec.py
  src/_pytest/main.py
  testing/deprecated_test.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

clarify conftest.py hook behavior during pytest_addoption
  changelog/13304.doc.rst
  doc/en/how-to/writing_hook_functions.rst
Due: changelogs-user-role

config: restore `config.inicfg`
  changelog/13946.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

config: deprecate `config.inicfg`
  changelog/13946.deprecation.rst
  doc/en/deprecations.rst
  src/_pytest/config/__init__.py
  src/_pytest/deprecated.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

doc: fix TOML example for `tmp_path_retention_count`, it's a string
  changelog/13904.bugfix.rst
  doc/en/reference/reference.rst
  src/_pytest/tmpdir.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Merge pull request #13958 from bluetech/fix-tmpdir-retention-toml
  changelog/13904.bugfix.rst
  doc/en/reference/reference.rst
  src/_pytest/tmpdir.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fixtures: remove no longer needed special case in `pytest_generate_tests`
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

fixtures: remove distracting comment
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

fixtures: add an xfail'd test for overriding parametrizing fixture transitively
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

fixtures: remove an incorrect comment
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

terminal: remove OSC 9;4 terminal progress
  changelog/13896.bugfix.rst
  doc/en/changelog.rst
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Improve preformance of TestCase.subTest() in python 3.10
  src/_pytest/unittest.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

Fix a typo in the 9.0 changelog
  AUTHORS
  changelog/13969.misc.rst
  doc/en/changelog.rst
Due: changelogs-user-role

Add comprehensive CLI options documentation and new cross-referencing role
  changelog/4492.doc.rst
  doc/en/conf.py
  doc/en/how-to/cli-options.rst
  doc/en/how-to/index.rst
  doc/en/reference/reference.rst
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix CLI options documentation references and correct link formatting
  doc/en/reference/reference.rst
Due: changelogs-user-role
