Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

Fix deprecated 'gh pr new' command to 'gh pr create'
  scripts/prepare-release-pr.py
Due: py-deprecated, py-path-deprecated

Add changelog entry and update AUTHORS for gh pr command fix
  AUTHORS
  changelog/13638.bugfix.rst
Due: changelogs-user-role

add missing colon
  src/_pytest/raises.py
Due: py-deprecated, py-path-deprecated

add missing colon (#13640)
  src/_pytest/raises.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

main: use a better windows short-path comparison method
  changelog/13598.bugfix.rst
  src/_pytest/main.py
  src/_pytest/pathlib.py
  testing/test_collection.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add shell completions by shtab
  AUTHORS
  changelog/10304.feature.rst
  pyproject.toml
  src/_pytest/__init__.py
  src/_pytest/_shtab.py
  src/_pytest/config/argparsing.py
  src/_pytest/helpconfig.py
  src/_pytest/junitxml.py
  src/_pytest/logging.py
  src/_pytest/main.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

docs(pythonpath): address minor typo
  doc/en/explanation/pythonpath.rst
Due: changelogs-user-role

docs(pythonpath): address minor typo (#13653)
  doc/en/explanation/pythonpath.rst
Due: changelogs-user-role

docs(cacheprovider): add docstrings; add changelog fragment (refs #13625)
  changelog/13625.doc.rst
  src/_pytest/cacheprovider.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Update src/_pytest/cacheprovider.py
  src/_pytest/cacheprovider.py
Due: py-deprecated, py-path-deprecated

docs(cacheprovider): add missing docstrings (#13665)
  changelog/13625.doc.rst
  src/_pytest/cacheprovider.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

tests(cache): type-annotate pytester and return types for mypy
  testing/test_cache_show.py
Due: py-deprecated, py-path-deprecated

changelog: add fragment for PR <PR> (trivial)
  changelog/13670.trivial.rst
Due: changelogs-rst, changelogs-user-role

changelog: add fragment for PR 13670 as misc (tests-only)
  changelog/13670.misc.rst
Due: changelogs-user-role

Rename 13638.bugfix.rst to 13638.contrib.rst
  changelog/13638.contrib.rst
Due: changelogs-user-role

Update changelog/13638.contrib.rst
  changelog/13638.contrib.rst
Due: changelogs-user-role

Fix gh pr new command (#13639)
  AUTHORS
  changelog/13638.contrib.rst
  scripts/prepare-release-pr.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Make it possible for faulthandler to terminate the pytest process on timeout
  src/_pytest/faulthandler.py
  testing/test_faulthandler.py
Due: py-deprecated, py-path-deprecated

Add myself to AUTHORS and add changelog entry.
  AUTHORS
  changelog/13678.feature.rst
Due: changelogs-user-role

Update the documentation
  doc/en/reference/reference.rst
Due: changelogs-user-role

Skip flakky CI tests
  testing/test_faulthandler.py
Due: py-deprecated, py-path-deprecated

Revert "Skip flakky CI tests"
  testing/test_faulthandler.py
Due: py-deprecated, py-path-deprecated

Pass the CI env in tox.ini and use it to conditionally skip tests on CI
  testing/test_faulthandler.py
  tox.ini
Due: py-deprecated, py-path-deprecated

Revert "Pass the CI env in tox.ini and use it to conditionally skip tests on CI"
  testing/test_faulthandler.py
  tox.ini
Due: py-deprecated, py-path-deprecated

Revert "Revert "Skip flakky CI tests""
  testing/test_faulthandler.py
Due: py-deprecated, py-path-deprecated

Show return type annotations in fixtures
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

Add changelog entry
  changelog/13676.improvement.rst
Due: changelogs-user-role

Add tests for get_return_annotation
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

Update get_return_annotation test
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

Initial version of doc-check-links workflow
  .github/workflows/doc-check-links.yml
Due: none

Small format adjustments. Uncomment line to only run in original repo
  .github/workflows/doc-check-links.yml
Due: none

Add Marcos Boger to AUTHORS
  AUTHORS
Due: none

Add changelog for 12474
  changelog/12474.contrib.rst
Due: changelogs-user-role

Remove unneded comment
  .github/workflows/doc-check-links.yml
Due: none
