Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

Use oldest supported Python in mypy pre-commit checks
  .pre-commit-config.yaml
  src/_pytest/main.py
  src/_pytest/runner.py
  testing/test_runner.py
Due: py-deprecated, py-path-deprecated

Replace types-pkg-resources by types-setuptools
  .pre-commit-config.yaml
Due: none

Adapt code after updating to mypy 1.11
  src/_pytest/_io/pprint.py
  src/_pytest/capture.py
  src/_pytest/faulthandler.py
  testing/test_assertion.py
  testing/test_monkeypatch.py
Due: py-deprecated, py-path-deprecated

Use oldest supported Python in mypy pre-commit checks (#12747)
  .pre-commit-config.yaml
  src/_pytest/main.py
  src/_pytest/runner.py
  testing/test_runner.py
Due: py-deprecated, py-path-deprecated

Fix assertion rewriting with importlib mode (#12716)
  AUTHORS
  changelog/12659.bugfix.rst
  src/_pytest/assertion/rewrite.py
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

Review requests
  src/_pytest/cacheprovider.py
  src/_pytest/config/__init__.py
  src/_pytest/fixtures.py
  src/_pytest/logging.py
  src/_pytest/nodes.py
  src/_pytest/python.py
  src/_pytest/runner.py
  src/_pytest/stepwise.py
  testing/acceptance_test.py
Due: py-deprecated, py-path-deprecated

Also update docs
  doc/en/example/simple.rst
Due: none

Some more fixes
  src/_pytest/stepwise.py
  testing/python/approx.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: none

Fix issue with slashes being turned into backslashes on Windows
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

updated changelog
  AUTHORS
  changelog/12745.bugfix.rst
Due: none

feat: implement customization of truncation limits
  src/_pytest/assertion/__init__.py
  src/_pytest/assertion/truncate.py
Due: py-deprecated, py-path-deprecated

create changelog
  changelog/12765.feature.rst
Due: none

append authors
  AUTHORS
Due: none

fix changelog
  changelog/12765.feature.rst
Due: none

add test
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

fix no_fnmatch_line invocations
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

escape newlines
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

Change order
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

Opt into uploading PEP 740 digital publish attestations to PyPI
  .github/workflows/deploy.yml
Due: none

Merge pull request #12761 from pytest-dev/dependabot/github_actions/pypa/gh-action-pypi-publish-1.10.0
  .github/workflows/deploy.yml
Due: none

Fix: Using `--import-mode=importlib`, a directory with the same name in the namespace package causes a KeyError.（#12592）
  changelog/12592.bugfix.rst
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

chore: Remove unnecessary judgments and add more comments
  src/_pytest/pathlib.py
Due: py-deprecated, py-path-deprecated

Add tests for nodeid handling
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Fix typos discovered by codespell
  .pre-commit-config.yaml
  AUTHORS
  CONTRIBUTING.rst
  changelog/12769.improvement.rst
  doc/en/announce/release-2.3.0.rst
  doc/en/changelog.rst
  doc/en/deprecations.rst
  doc/en/explanation/fixtures.rst
  doc/en/funcarg_compare.rst
  doc/en/how-to/fixtures.rst
  doc/en/how-to/unittest.rst
  pyproject.toml
  src/_pytest/config/__init__.py
  src/_pytest/debugging.py
  testing/python/fixtures.py
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

doc: Remove past training
  doc/en/index.rst
Due: none

doc: Remove past training (#12772)
  doc/en/index.rst
Due: none

Rename 12769.improvement.rst to 12769.misc.rst
  changelog/12769.misc.rst
Due: changelogs-rst

Fix typos and introduce codespell pre-commit hook (#12769)
  .pre-commit-config.yaml
  AUTHORS
  CONTRIBUTING.rst
  changelog/12769.misc.rst
  doc/en/announce/release-2.3.0.rst
  doc/en/changelog.rst
  doc/en/deprecations.rst
  doc/en/explanation/fixtures.rst
  doc/en/funcarg_compare.rst
  doc/en/how-to/fixtures.rst
  doc/en/how-to/unittest.rst
  pyproject.toml
  src/_pytest/config/__init__.py
  src/_pytest/debugging.py
  testing/python/fixtures.py
  testing/test_config.py
Due: changelogs-rst, py-deprecated, py-path-deprecated

Improved `nodeid` handling logic
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

Streamline checks for verbose option (#12706)
  changelog/9422.bugfix.rst
  doc/en/example/simple.rst
  src/_pytest/cacheprovider.py
  src/_pytest/config/__init__.py
  src/_pytest/fixtures.py
  src/_pytest/logging.py
  src/_pytest/nodes.py
  src/_pytest/python.py
  src/_pytest/runner.py
  src/_pytest/stepwise.py
  testing/acceptance_test.py
Due: py-deprecated, py-path-deprecated

do not discover properties when iterating fixtures
  changelog/12446.bugfix.rst
  src/_pytest/fixtures.py
  testing/python/collect.py
Due: py-deprecated, py-path-deprecated

[Bug Fix] first write terminalwriter created a new line
  src/_pytest/terminal.py
Due: py-deprecated, py-path-deprecated

Added changelog for 12777
  changelog/12777.bugfix.rst
Due: none

Added Orel Damari to AUTHORS
  AUTHORS
Due: none

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py
