Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        args: [--safe, --quiet]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.8.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==19.10b0]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: check-yaml
    -   id: debug-statements
        exclude: _pytest/(debugging|hookspec).py
        language_version: python3
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-typing-imports==1.9.0
          - flake8-docstrings==1.5.0
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.3.5
    hooks:
    -   id: reorder-python-imports
        args: ['--application-directories=.:src', --py36-plus]
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.11.0
    hooks:
    -   id: setup-cfg-fmt
        # TODO: when upgrading setup-cfg-fmt this can be removed
        args: [--max-py-version=3.9]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.6.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.790
    hooks:
    -   id: mypy
        files: ^(src/|testing/)
        args: []
        additional_dependencies:
          - iniconfig>=1.1.0
          - py>=1.8.2
          - attrs>=19.2.0
          - packaging
-   repo: local
    hooks:
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'
        exclude: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
        files: ^changelog/
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]

Rename pytest_collect_file fspath parameter to file_path
  src/_pytest/config/compat.py
  src/_pytest/doctest.py
  src/_pytest/hookspec.py
  src/_pytest/main.py
  src/_pytest/python.py
  testing/acceptance_test.py
  testing/conftest.py
  testing/example_scripts/fixtures/custom_item/conftest.py
  testing/example_scripts/issue88_initial_file_multinodes/conftest.py
  testing/python/collect.py
  testing/test_collection.py
  testing/test_junitxml.py
  testing/test_skipping.py
Due: py-deprecated

Rename pytest_ignore_collect fspath parameter to collection_path
  src/_pytest/config/compat.py
  src/_pytest/hookspec.py
  src/_pytest/main.py
  src/_pytest/python.py
  testing/deprecated_test.py
  testing/example_scripts/collect/package_infinite_recursion/conftest.py
  testing/test_collection.py
  testing/test_conftest.py
Due: py-deprecated

Rename pytest_report_collectionfinish startpath parameter to start_path
  src/_pytest/config/compat.py
  src/_pytest/hookspec.py
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: py-deprecated

Update docs with the renamed parameters
  changelog/8144.feature.rst
  doc/en/deprecations.rst
Due: none

Rename pytest_pycollect_makemodule fspath parameter to module_path
  src/_pytest/config/compat.py
  src/_pytest/hookspec.py
  src/_pytest/python.py
  testing/python/collect.py
Due: py-deprecated

Rename pytest_report_header startpath parameter to start_path
  src/_pytest/config/compat.py
  src/_pytest/hookspec.py
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: py-deprecated

Use pytest-flakes fork temporarily to prove it works
  testing/plugins_integration/requirements.txt
Due: none

Use pytest-flakes 4.0.5
  testing/plugins_integration/requirements.txt
Due: none

Rename pathlib hook parameters (#9363)
  changelog/8144.feature.rst
  doc/en/deprecations.rst
  src/_pytest/config/compat.py
  src/_pytest/doctest.py
  src/_pytest/hookspec.py
  src/_pytest/main.py
  src/_pytest/python.py
  src/_pytest/terminal.py
  testing/acceptance_test.py
  testing/conftest.py
  testing/deprecated_test.py
  testing/example_scripts/collect/package_infinite_recursion/conftest.py
  testing/example_scripts/fixtures/custom_item/conftest.py
  testing/example_scripts/issue88_initial_file_multinodes/conftest.py
  testing/plugins_integration/requirements.txt
  testing/python/collect.py
  testing/test_collection.py
  testing/test_conftest.py
  testing/test_junitxml.py
  testing/test_skipping.py
  testing/test_terminal.py
Due: py-deprecated

Improve reference and path/fspath docs
  changelog/8144.feature.rst
  changelog/8251.feature.rst
  doc/en/deprecations.rst
  src/_pytest/nodes.py
  src/_pytest/python.py
Due: py-deprecated

fixups
  changelog/7259.deprecation.rst
  changelog/8251.feature.rst
  changelog/9341.doc.rst
  doc/en/deprecations.rst
Due: none

Add explanation
  changelog/7259.deprecation.rst
  changelog/8144.feature.rst
  changelog/8251.feature.rst
  doc/en/deprecations.rst
Due: none

Update wording after #9363
  changelog/7259.deprecation.rst
  changelog/8144.feature.rst
  changelog/8251.feature.rst
  doc/en/deprecations.rst
Due: none

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: none

Improve reference and path/fspath docs (#9341)
  changelog/7259.deprecation.rst
  changelog/8144.feature.rst
  changelog/8251.feature.rst
  changelog/9341.doc.rst
  doc/en/deprecations.rst
  src/_pytest/nodes.py
  src/_pytest/python.py
Due: py-deprecated

Revert "Fix Dead link in README for 'assert statements' "
  README.rst
Due: rst

Revert "Fix Dead link in README for 'assert statements' " (#9369)
  README.rst
Due: rst

Drop readline workaround introduced in #1281 (#8848)
  changelog/8733.breaking.rst
  src/_pytest/capture.py
Due: py-deprecated

Don't thank pytest bot
  scripts/release.py
Due: py-deprecated

Fix hook param name in nonpython example
  doc/en/example/nonpython/conftest.py
Due: py-deprecated

Fix hook param name in nonpython example (#9373)
  doc/en/example/nonpython/conftest.py
Due: py-deprecated

Don't thank pytest bot (#9372)
  scripts/release.py
Due: py-deprecated

adding comments
  src/_pytest/_code/source.py
Due: py-deprecated

Fixed error message prints function decorators when using assert in Python 3.9 and above. (#9359)
  AUTHORS
  changelog/9355.bugfix.rst
  src/_pytest/_code/source.py
  testing/code/test_source.py
Due: py-deprecated

Fix changelog URL in 7.0.0rc1 announcement
  doc/en/announce/release-7.0.0rc1.rst
Due: none

scripts: Use release branch for changelog URL
  scripts/prepare-release-pr.py
  scripts/release.pre.rst
  scripts/release.py
Due: py-deprecated

Fix changelog URL in 7.0.0rc1 announcement (#9379)
  doc/en/announce/release-7.0.0rc1.rst
Due: none

scripts: Use release branch for changelog URL (#9380)
  scripts/prepare-release-pr.py
  scripts/release.pre.rst
  scripts/release.py
Due: py-deprecated

Fix changelog URL in 7.0.0rc1 announcement (#9379) (#9382)
  doc/en/announce/release-7.0.0rc1.rst
Due: none

RELEASING: should also tag dev0 for prereleases
  RELEASING.rst
Due: rst

fix typo
  doc/en/deprecations.rst
Due: none

fix python version in changelog message
  changelog/9355.bugfix.rst
Due: none

scripts: Use release branch for changelog URL (#9380) (#9383)
  scripts/prepare-release-pr.py
  scripts/release.pre.rst
  scripts/release.py
Due: py-deprecated

Remove deprecated `_fillfuncargs` function
  doc/en/deprecations.rst
  doc/en/how-to/plugins.rst
  src/_pytest/deprecated.py
  src/_pytest/fixtures.py
  src/pytest/__init__.py
  src/pytest/collect.py
  testing/deprecated_test.py
  testing/python/fixtures.py
  testing/python/integration.py
Due: py-deprecated
