Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.(BytesIO|saferepr|TerminalWriter)|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.\n)\n"

Minor adjustment to CHANGELOG
  changelog/1316.breaking.rst
Due: none

Rename no_pytrace to value
  src/_pytest/_code/code.py
  src/_pytest/nodes.py
Due: py-deprecated

ci: update github action versions, remove outdated comment
  .github/workflows/main.yml
  .github/workflows/release-on-comment.yml
Due: none

New flag added.
  src/_pytest/terminal.py
Due: py-deprecated

Try to fetch tags for setuptools_scm
  .github/workflows/main.yml
  .github/workflows/release-on-comment.yml
Due: none

Changelog added.
  AUTHORS
  changelog/6292.feature.rst
Due: none

Try another fetch command
  .github/workflows/main.yml
  .github/workflows/release-on-comment.yml
Due: none

warnings: speed up work done in catch_warnings_for_item()
  src/_pytest/warnings.py
Due: py-deprecated

New flag signature.
  src/_pytest/terminal.py
Due: py-deprecated

Fix tests for python3.9
  .github/workflows/main.yml
  setup.cfg
  testing/code/test_source.py
  tox.ini
Due: py-deprecated

Fix test_getfslineno for Python 3.9
  testing/code/test_source.py
Due: py-deprecated

testing: clean up parametrization in test_mark.py
  testing/test_mark.py
Due: py-deprecated

Does the reverse also fail?
  testing/test_mark.py
Due: py-deprecated

testing: clean up parametrization in test_mark.py (#7184)
  testing/test_mark.py
Due: py-deprecated

Fix _is_setup_py for files encoded differently than locale
  changelog/7180.bugfix.rst
  src/_pytest/doctest.py
  testing/test_doctest.py
Due: py-deprecated

remove incorrect note about requiring admin install
  CONTRIBUTING.rst
Due: none

Merge pull request #7179 from asottile/py39
  .github/workflows/main.yml
  setup.cfg
  testing/code/test_source.py
  tox.ini
Due: py-deprecated

Merge pull request #7186 from asottile/is_setup_py_encoding_agnostic
  changelog/7180.bugfix.rst
  src/_pytest/doctest.py
  testing/test_doctest.py
Due: py-deprecated

[4.6] Merge pull request #7179 from asottile/py39
  setup.cfg
  testing/code/test_source.py
  tox.ini
Due: py-deprecated

Handle EPIPE/BrokenPipeError in pytest's CLI
  changelog/4375.improvement.rst
  setup.cfg
  src/_pytest/config/__init__.py
  src/pytest/__init__.py
  src/pytest/__main__.py
  testing/acceptance_test.py
Due: py-deprecated

ci: update github action versions, remove outdated comment (#7177)
  .github/workflows/main.yml
  .github/workflows/release-on-comment.yml
Due: none

Preparing release version 5.4.2
  changelog/6871.bugfix.rst
  changelog/6924.bugfix.rst
  changelog/6925.bugfix.rst
  changelog/6947.bugfix.rst
  changelog/6951.bugfix.rst
  changelog/6992.bugfix.rst
  changelog/7110.bugfix.rst
  changelog/7143.bugfix.rst
  changelog/7145.bugfix.rst
  changelog/7180.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-5.4.2.rst
  doc/en/changelog.rst
  doc/en/writing_plugins.rst
Due: none

Cherry-pick release 5.4.2
  doc/en/announce/index.rst
  doc/en/announce/release-5.4.2.rst
  doc/en/changelog.rst
  doc/en/writing_plugins.rst
Due: none

Revert "[parametrize] enforce explicit argnames declaration (#6330)"
  changelog/6909.bugfix.rst
  doc/en/example/parametrize.rst
  src/_pytest/fixtures.py
  src/_pytest/python.py
  testing/python/collect.py
  testing/python/metafunc.py
Due: py-deprecated

Preparing release version 4.6.10
  CHANGELOG.rst
  changelog/6404.trivial.rst
  changelog/6870.feature.rst
  doc/en/announce/index.rst
  doc/en/announce/release-4.6.10.rst
  doc/en/example/parametrize.rst
  doc/en/example/reportingdemo.rst
  doc/en/getting-started.rst
Due: none

Add myself to TIDELIFT
  TIDELIFT.rst
Due: rst

Add asottile as well
  TIDELIFT.rst
Due: rst

Introduce missing remark as commented in original PR
  CHANGELOG.rst
Due: none

Reason is optional in skipif mark
  src/_pytest/mark/evaluate.py
  src/_pytest/skipping.py
  testing/test_skipping.py
Due: py-deprecated

Add changelog issue 6866
  changelog/6866.breaking.rst
Due: none

import pathlib from _pytest
  src/_pytest/main.py
Due: py-deprecated

add type hints
  src/_pytest/main.py
Due: py-deprecated

update error message
  src/_pytest/main.py
Due: py-deprecated

use pathlib.Path.parents to check for ancestors
  src/_pytest/main.py
Due: py-deprecated

updated error message in test
  testing/test_main.py
Due: py-deprecated

updated validate basetemp tests and added integration tests
  testing/test_main.py
Due: py-deprecated

Fix #7126 - saferepr for bytes params
  AUTHORS
  changelog/7126.bugfix.rst
  src/_pytest/setuponly.py
  testing/test_setuponly.py
Due: py-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
  py-deprecated: any of: \.py$
