Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

refactor: declare logging options with addconfig
  changelog/10551.improvement.rst
  src/_pytest/logging.py
  testing/logging/test_reporting.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

cacheprovider: add --cache-prune
  changelog/1089.feature.3.rst
  src/_pytest/cacheprovider.py
  testing/test_cacheprovider.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

feat: mirror resolved settings onto config.option
  doc/en/deprecations.rst
  doc/en/reference/reference.rst
  src/_pytest/config/__init__.py
  src/_pytest/config/settings.py
  src/_pytest/deprecated.py
  src/_pytest/logging.py
  src/_pytest/warning_types.py
  src/pytest/__init__.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

refactor: use fallback= for the strict option family
  src/_pytest/config/__init__.py
  src/_pytest/main.py
  src/_pytest/mark/__init__.py
  src/_pytest/mark/structures.py
  src/_pytest/python.py
  src/_pytest/skipping.py
  testing/test_mark.py
Due: py-deprecated, py-path-deprecated

cacheprovider: funnel cache directory resolution through one function
  src/_pytest/cacheprovider.py
Due: py-deprecated, py-path-deprecated

fix #14632: never rewrite stdlib and pytest modules
  changelog/14632.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix: keep lazy keywords last-wins for same-named markers
  src/_pytest/mark/structures.py
  testing/test_collection.py
Due: py-deprecated, py-path-deprecated

Modernize ConftestImportFailure to use the exception chain
  changelog/14943.misc.rst
  src/_pytest/config/__init__.py
  src/_pytest/debugging.py
  src/_pytest/nodes.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix: keep --help listing settings in declaration order
  src/_pytest/config/settings.py
  testing/test_helpconfig.py
Due: py-deprecated, py-path-deprecated

refactor: render --help from the settings store
  src/_pytest/helpconfig.py
  testing/test_helpconfig.py
Due: py-deprecated, py-path-deprecated

cacheprovider: add the cache_policy option
  changelog/1089.feature.1.rst
  src/_pytest/cacheprovider.py
  src/_pytest/pathlib.py
  testing/test_cacheprovider.py
  testing/test_pathlib.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

refactor: make Parser._inidict values a named tuple
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
Due: py-deprecated, py-path-deprecated

doc: separate the AI policy's rules from its rationale
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.rst
Due: changelogs-user-role

pathlib: resolve the user-level cache root behind an xdg extra
  changelog/1089.packaging.rst
  pyproject.toml
  src/_pytest/pathlib.py
  testing/test_pathlib.py
  uv.lock
Due: changelogs-user-role, py-deprecated, py-path-deprecated

cacheprovider: pin lastfailed, nodeids and stepwise to the env scope
  changelog/1089.improvement.2.rst
  src/_pytest/cacheprovider.py
  src/_pytest/stepwise.py
  testing/test_cacheprovider.py
  testing/test_stepwise.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

WIP: reduce collection memory via dense CallSpec and lazy node state
  bench/collection_memory.py
  src/_pytest/mark/structures.py
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

fixtures: warn when two modules register the same fixture
  changelog/1511.improvement.rst
  doc/en/reference/fixtures.rst
  doc/en/reference/reference.rst
  src/_pytest/fixtures.py
  src/_pytest/warning_types.py
  src/pytest/__init__.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

refactor: type max_warnings and faulthandler_timeout
  changelog/10551.improvement.1.rst
  changelog/10551.improvement.2.rst
  src/_pytest/faulthandler.py
  src/_pytest/main.py
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

docs: rewrite import roots proposal against current pytest reality
  doc/en/proposals/import_roots.rst
  doc/en/proposals/importmode_root_spec.rst
Due: changelogs-user-role

pytester: isolate the user-level cache directory
  changelog/1089.improvement.1.rst
  src/_pytest/pytester.py
  testing/test_pytester.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

feat: addini(fallback=...) for declarative config fallbacks
  changelog/10551.feature.rst
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
  src/_pytest/helpconfig.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

doc: document declaring configuration options in plugins
  doc/en/how-to/writing_plugins.rst
Due: changelogs-user-role

doc: add AGENTS.md as the baseline for coding agents
  AGENTS.md
  CLAUDE.md
Due: none

cacheprovider: deprecate the TOX_ENV_DIR cache_dir default
  changelog/1089.deprecation.rst
  doc/en/deprecations.rst
  src/_pytest/cacheprovider.py
  src/_pytest/deprecated.py
  testing/test_cacheprovider.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix: collect ini overrides after every option-registration round
  changelog/14442.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

terminal: list deselected items and their reason at -v
  changelog/13617.improvement.rst
  src/_pytest/terminal.py
  testing/test_stepwise.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

stash: add a context manager for a block-scoped value
  changelog/15035.feature.rst
  src/_pytest/deselect.py
  src/_pytest/stash.py
  testing/test_stash.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

config: add plugin hookspecs at registration, not at Config.parse()
  changelog/2720.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_pluginmanager.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

refactor: resolve setting values in the settings store
  src/_pytest/config/__init__.py
  src/_pytest/config/settings.py
Due: py-deprecated, py-path-deprecated

docs: specify interaction between import roots and testpaths
  doc/en/proposals/import_roots.rst
Due: changelogs-user-role

fix(rewrite): rewrite a package __init__.py named on the command line
  changelog/1930.bugfix.1.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

doc: make the contributor workflow uv-first and version-agnostic
  CONTRIBUTING.rst
Due: changelogs-user-role

docs: document cache policy, scopes and pruning
  doc/en/how-to/cache.rst
  doc/en/reference/reference.rst
Due: changelogs-user-role

doc: lead with addconfig when declaring plugin settings
  doc/en/how-to/writing_plugins.rst
  src/_pytest/config/argparsing.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

feat: let OverrideIniAction carry a value
  src/_pytest/config/argparsing.py
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

fix(pathlib): rewrite a package __init__.py under --import-mode=importlib
  changelog/1930.bugfix.2.rst
  src/_pytest/pathlib.py
  testing/test_assertrewrite.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

feat: give the settings store an ordered command line layer
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
  src/_pytest/config/settings.py
  src/_pytest/helpconfig.py
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

refactor: hold every declared setting in one registry
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
  src/_pytest/config/settings.py
  src/_pytest/helpconfig.py
  src/_pytest/main.py
  src/_pytest/mark/__init__.py
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

doc: add changelog entry for the contribution docs rework
  changelog/15054.contrib.rst
Due: changelogs-user-role

python: warn when an abstract test class swallows its tests
  changelog/13546.improvement.rst
  src/_pytest/python.py
  src/_pytest/unittest.py
  testing/python/collect.py
  testing/test_unittest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
