Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

Delete changelog/14438.doc.rst
  changelog/14438.doc.rst
Due: changelogs-user-role

pytester: improve Pytester.LineMatcher._no_match_line docstring (#14438)
  src/_pytest/pytester.py
Due: py-deprecated, py-path-deprecated

tmpdir: stop relying on atexit and add integration tests for tmpdir fixture
  src/_pytest/pathlib.py
  src/_pytest/tmpdir.py
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

Fix Config.getoption default argument not being returned (#10558)
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

unraisableexception: reduce gc_collect_harder default to 1 on CPython
  src/_pytest/unraisableexception.py
Due: py-deprecated, py-path-deprecated

Fix strict options from addopts
  AUTHORS
  changelog/14442.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
  testing/test_mark.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Update src/_pytest/python_api.py
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

Allow timedelta rel tolerance in approx
  src/_pytest/python_api.py
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

Merge repr tests per review: combine initialized/with_type, use exact string matching
  testing/test_parseopt.py
Due: py-deprecated, py-path-deprecated

add failing test for issue #14445
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

Fix Argument.__repr__ crash when _action is not initialized (#14429)
  changelog/13817.bugfix.rst
  src/_pytest/config/argparsing.py
  testing/test_parseopt.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

add author and changelog entry
  AUTHORS
  changelog/14445.bugfix.rst
Due: changelogs-user-role

Update changelog/8395.feature.rst
  changelog/8395.feature.rst
Due: changelogs-user-role

Tweaks
  changelog/14442.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
  testing/test_mark.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

terminal: add --name-only option to suppress tracebacks
  changelog/14443.feature.rst
  src/_pytest/terminal.py
  testing/test_name_only.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

docs: add --name-only to reference and update AUTHORS
  AUTHORS
  doc/en/reference/reference.rst
Due: changelogs-user-role

Fix unittest subtest timing output
  AUTHORS
  changelog/14412.bugfix.rst
  src/_pytest/terminal.py
  src/_pytest/unittest.py
  testing/test_terminal.py
  testing/test_unittest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

determine_setup: rootdir should be invocation_dir when -c is given
  changelog/14454.bugfix.rst
  src/_pytest/config/__init__.py
  src/_pytest/config/findpaths.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix _as_numpy_array: use variable obj instead of string literal "obj"
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

fix(python_api): correct hasattr call for __array_interface__ check
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

test: add test for __array_interface__ protocol without __array__
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

Fix hasattr typo in _as_numpy_array: use variable obj instead of string "obj"
  AUTHORS
  changelog/14456.bugfix.rst
  src/_pytest/python_api.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

WIP: broaden isdict() to support generic Mapping types (#14461)
  src/_pytest/assertion/util.py
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

fix approx rel for timedelta: accept float, compute rel * expected
  changelog/14462.bugfix.rst
  src/_pytest/python_api.py
  testing/python/approx.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add validation for negative and NaN tolerances in ApproxTimedelta
  src/_pytest/python_api.py
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

handle timedelta/datetime in _approx_scalar for sequence and mapping comparisons
  src/_pytest/python_api.py
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

remove dead code and add missing test coverage for approx timedelta/datetime
  src/_pytest/python_api.py
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

docs: clarify subtests progress output
  changelog/13902.doc.rst
  doc/en/how-to/subtests.rst
Due: changelogs-user-role

remove changelog entry for unreleased behavior
  changelog/14462.bugfix.rst
Due: changelogs-user-role

fix: update xdist newhooks.py link in hooks how-to docs
  changelog/14465.doc.rst
  doc/en/how-to/writing_hook_functions.rst
Due: changelogs-user-role

Fix _as_numpy_array: use variable obj instead of string literal "obj"
  AUTHORS
  changelog/14456.bugfix.rst
  src/_pytest/python_api.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix mark expression scanner: search for backslash in string value, not entire input
  changelog/14474.bugfix.rst
  src/_pytest/mark/expression.py
  testing/test_mark_expression.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix test: include 'mark' and 'test\case' in matcher set
  testing/test_mark_expression.py
Due: py-deprecated, py-path-deprecated

Update changelog/14474.bugfix.rst
  changelog/14474.bugfix.rst
Due: changelogs-user-role

mark/expression: fix scanner - search for backslash in string value, not entire input (#14475)
  changelog/14474.bugfix.rst
  src/_pytest/mark/expression.py
  testing/test_mark_expression.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Update changelog/14456.bugfix.rst
  changelog/14456.bugfix.rst
Due: changelogs-user-role

Update deprecated_test.py
  testing/deprecated_test.py
Due: py-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
