Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

Relax timing threshold in slow-teardown terminal test
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Wait for the pdb prompt before sending EOF in test_pdb_and_capsys
  testing/test_debugging.py
Due: py-deprecated, py-path-deprecated

faulthandler: accept numeric TOML value for faulthandler_timeout
  changelog/15132.bugfix.rst
  src/_pytest/faulthandler.py
  testing/test_faulthandler.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix two flaky tests: slow-teardown timing and pdb EOF race (#15151)
  testing/test_debugging.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

logging: capture a record once when a non-propagating logger starts propagating (#15064)
  changelog/15064.bugfix.rst
  src/_pytest/logging.py
  testing/logging/test_fixture.py
  testing/logging/test_reporting.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

logging: skip Handler.__init__ for stand-ins
  src/_pytest/logging.py
Due: py-deprecated, py-path-deprecated

logging: stand-ins on ancestors too, direct handler for shared lists
  src/_pytest/logging.py
  testing/logging/test_fixture.py
Due: py-deprecated, py-path-deprecated

Accept native TOML types for the remaining built-in ini options
  doc/en/reference/reference.rst
  src/_pytest/config/__init__.py
  src/_pytest/logging.py
  src/_pytest/python.py
  src/_pytest/tmpdir.py
  testing/logging/test_reporting.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add changelog entry for #15153
  changelog/15153.improvement.rst
Due: changelogs-user-role

Avoid unhelpful full diff for unequal range comparisons
  changelog/6772.improvement.rst
  src/_pytest/assertion/_compare_any.py
  src/_pytest/assertion/_compare_sequence.py
  testing/test_assertion.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Restore sys.exc_info() in pytest_fixture_post_finalizer
  AUTHORS
  changelog/12306.bugfix.rst
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Pass teardown error to pytest_fixture_post_finalizer explicitly
  changelog/12306.bugfix.rst
  changelog/12306.feature.rst
  changelog/14800.bugfix.rst
  src/_pytest/fixtures.py
  src/_pytest/hookspec.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Update changelog
  changelog/8096.improvement.rst
Due: changelogs-user-role

Skip separate funcargs block when showlocals is enabled
  changelog/5675.improvement.rst
  src/_pytest/_code/code.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix monkeypatch resolution of cached submodules
  AUTHORS
  changelog/0.bugfix.rst
  src/_pytest/monkeypatch.py
  testing/test_monkeypatch.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Rename changelog entry for PR #15157
  changelog/15157.bugfix.rst
Due: changelogs-user-role

Allow fixture and marker listing without required plugin options
  changelog/3042.bugfix.rst
  src/_pytest/config/argparsing.py
  src/_pytest/fixtures.py
  src/_pytest/mark/__init__.py
  testing/test_config.py
  testing/test_parseopt.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add Sagar to AUTHORS
  AUTHORS
Due: none

Filter argparse encoding warning in argument-file regression test
  testing/test_parseopt.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role
