Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

Update URL of `pytest-doctestplus`
  doc/en/how-to/doctest.rst
Due: changelogs-user-role

Update URL of `pytest-doctestplus` (#13589)
  doc/en/how-to/doctest.rst
Due: changelogs-user-role

feat: Shorten ExceptionGroup summary to a single line
  AUTHORS
  changelog/11235.bugfix.rst
  src/_pytest/_code/code.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Support PEP420 (implicit namespace packages) as `--pyargs` target.
  changelog/478.feature.rst
  src/_pytest/main.py
  testing/test_main.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

address review
  changelog/478.feature.rst
  doc/en/reference/reference.rst
  src/_pytest/main.py
  testing/test_collection.py
  testing/test_main.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Update changelog/478.feature.rst
  changelog/478.feature.rst
Due: changelogs-user-role

Support PEP420 (implicit namespace packages) as `--pyargs` target. (#13426)
  changelog/478.feature.rst
  doc/en/reference/reference.rst
  src/_pytest/main.py
  testing/test_collection.py
  testing/test_main.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

main: use a better windows short-path comparison method
  src/_pytest/main.py
Due: py-deprecated, py-path-deprecated

doc: Update trainings
  doc/en/index.rst
Due: changelogs-user-role

Merge pull request #13605 from The-Compiler/training-update-2025-07
  doc/en/index.rst
Due: changelogs-user-role

Preserve dict insertion order in safeformat output (fixes #13503)
  src/_pytest/_io/saferepr.py
  testing/io/test_saferepr.py
Due: py-deprecated, py-path-deprecated

Add changelog entry for #13503
  changelog/13503.bugfix.rst
Due: changelogs-user-role

fix: test case
  testing/test_error_diffs.py
Due: py-deprecated, py-path-deprecated

test: fix test cases
  testing/test_error_diffs.py
Due: py-deprecated, py-path-deprecated

test: add test case nested dicts
  testing/test_error_diffs.py
Due: py-deprecated, py-path-deprecated

style: fix fmt
  testing/test_error_diffs.py
Due: py-deprecated, py-path-deprecated

test: add test case for pprint
  testing/io/test_pprint.py
Due: py-deprecated, py-path-deprecated

feat(13617): record reason for deselection and allow it to be displayed
  src/_pytest/main.py
  src/_pytest/mark/__init__.py
  src/_pytest/nodes.py
  src/_pytest/terminal.py
Due: py-deprecated, py-path-deprecated

build: replace outdated *-latest runners with specific ones
  .github/workflows/test.yml
  .python-version
  testing/plugins_integration/requirements.txt
  tox.ini
Due: none

Handle --version eagerly to avoid loading the entire infrastructure
  changelog/13574.improvement.rst
  src/_pytest/config/__init__.py
  src/_pytest/helpconfig.py
  testing/test_capture.py
  testing/test_config.py
  testing/test_helpconfig.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Update setuptools minimum to version supporting PEP 639
  pyproject.toml
Due: none

Apply PEP 639
  pyproject.toml
Due: none

Apply PEP 639 (#13014)
  pyproject.toml
Due: none

build: replace outdated *-latest runners with specific ones
  .github/workflows/test.yml
Due: none

selftests: Set a timeout for lsof
  changelog/13621.contrib.rst
  testing/test_capture.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

selftests: Set a timeout for lsof (#13621)
  changelog/13621.contrib.rst
  testing/test_capture.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

runner: correctly cleanup item _request/funcargs if an exception was reraised during call (e.g. KeyboardInterrupt)
  src/_pytest/runner.py
Due: py-deprecated, py-path-deprecated

fix: display output failure message in insertion order of dictionary
  src/_pytest/_io/pprint.py
  src/_pytest/assertion/util.py
  testing/test_error_diffs.py
Due: py-deprecated, py-path-deprecated

chore: add changelog message
  changelog/13503.improvement.rst
Due: changelogs-user-role
