Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        args: [--safe, --quiet]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.0.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==19.10b0]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: check-yaml
    -   id: debug-statements
        exclude: _pytest/debugging.py
        language_version: python3
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        language_version: python3
        additional_dependencies: [flake8-typing-imports==1.3.0]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.4.0
    hooks:
    -   id: reorder-python-imports
        args: ['--application-directories=.:src', --py3-plus]
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.18.0
    hooks:
    -   id: pyupgrade
        args: [--py3-plus]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.761  # NOTE: keep this in sync with setup.py.
    hooks:
    -   id: mypy
        files: ^(src/|testing/)
        args: []
-   repo: local
    hooks:
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'
        exclude: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
        files: ^changelog/
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.(BytesIO|saferepr|TerminalWriter)|
                path\.local\.sysfind|
                process\.|
                std\.
            )
        types: [python]

Add pythonic code style to validate boolean conditions
  AUTHORS
  changelog/7809.refactor.rst
  src/_pytest/pytester.py
  src/_pytest/terminal.py
  testing/test_skipping.py
Due: changelogs-rst, py-deprecated

adding ability to disable certain loggers from propagating or writing warnings to stderr
  src/_pytest/logging.py
  testing/logging/test_reporting.py
Due: py-deprecated

initial work on --suppress-logger
  src/_pytest/logging.py
  testing/logging/test_reporting.py
Due: py-deprecated

Parser.addini() can take and defaults to 'string'
  src/_pytest/config/argparsing.py
Due: py-deprecated

assert using the caplog fixture correctly & assert stderr when writing warnings
  testing/logging/test_reporting.py
Due: py-deprecated

add changelog entry; improve unit tests
  changelog/7431.feature.rst
  src/_pytest/logging.py
  testing/logging/test_reporting.py
Due: py-deprecated

Update tests to cover explicit None and "string" as addini() types
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: py-deprecated

Added changelog/7872.doc.rst
  changelog/7872.doc.rst
Due: none

use self._config of the LoggingPlugin instead of passing it explicitly
  src/_pytest/logging.py
Due: py-deprecated

Use instead of a in Issue #7868 Use `collections.Counter` instead of a `dict` in `terminal.py` Issue #7868
  src/_pytest/terminal.py
Due: py-deprecated

Fixed formatting
  src/_pytest/terminal.py
Due: py-deprecated

Added name to authors list
  AUTHORS
Due: none

Modify summary stats when using '--collect-only'
  src/_pytest/terminal.py
Due: py-deprecated

Update existing tests
  src/_pytest/terminal.py
  testing/logging/test_reporting.py
  testing/python/metafunc.py
  testing/test_cacheprovider.py
Due: py-deprecated

Update small comment
  src/_pytest/terminal.py
Due: py-deprecated

Add changelog entry
  changelog/7701.improvement.rst
Due: none

Fix formatting in changelog entry
  changelog/7701.improvement.rst
Due: none

better handle errors raised while applying filterwarnings (#7864)
  AUTHORS
  changelog/7864.improvement.rst
  src/_pytest/config/__init__.py
Due: py-deprecated

test warning filter category parsing error handling
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: py-deprecated

ask for commit after changelog and authors file edit (#7878)
  CONTRIBUTING.rst
  changelog/7878.doc.rst
Due: none

New pytester fixture
  changelog/7425.feature.rst
  doc/en/reference.rst
  src/_pytest/pytester.py
  testing/acceptance_test.py
  testing/test_doctest.py
  testing/test_pytester.py
Due: py-deprecated

Code review improvements
  changelog/7425.feature.rst
  doc/en/reference.rst
  src/_pytest/pytester.py
  testing/acceptance_test.py
  testing/test_doctest.py
Due: py-deprecated

Fix docs: test_path -> pytester
  src/_pytest/pytester.py
Due: py-deprecated

New code review suggestions
  src/_pytest/pytester.py
  src/_pytest/warning_types.py
  testing/test_pytester.py
Due: py-deprecated

New code review suggestions: test_tmproot
  src/_pytest/pytester.py
Due: py-deprecated

Make test_tmp_root private in Pytester
  src/_pytest/pytester.py
Due: py-deprecated

Put smoke test deps in requirements.txt for Dependabot (#7806)
  .github/dependabot.yml
  testing/plugins_integration/requirements.txt
  tox.ini
Due: none

release-on-comment: add "Closes <release issue number>" to release PR
  scripts/release-on-comment.py
Due: py-deprecated

Implement importlib.abc.InspectLoader in AssertionRewritingHook
  src/_pytest/assertion/rewrite.py
Due: py-deprecated

docs(example/markers.rst): add eg of registering multiple custom markers
  AUTHORS
  doc/en/example/markers.rst
Due: none

docs(example/markers.rst): Update eg of registering markers
  doc/en/example/markers.rst
Due: none

Cleaner implementation of ``is_package``
  src/_pytest/assertion/rewrite.py
Due: py-deprecated

New type annotations
  src/_pytest/pytester.py
Due: py-deprecated

Fix small typos
  doc/en/reference.rst
  src/_pytest/pytester.py
Due: py-deprecated

New pytester fixture (#7854)
  changelog/7425.feature.rst
  doc/en/reference.rst
  src/_pytest/pytester.py
  src/_pytest/warning_types.py
  testing/acceptance_test.py
  testing/test_doctest.py
  testing/test_pytester.py
Due: py-deprecated

List Testdir members in the docs
  doc/en/reference.rst
  src/_pytest/pytester.py
Due: py-deprecated

Add example for registering multiple custom mark (#7886)
  AUTHORS
  doc/en/example/markers.rst
Due: none

Update writing_plugins.rst
  doc/en/writing_plugins.rst
Due: none

basic collect by line number implementation based on ast parsing
  src/_pytest/main.py
  src/_pytest/parser.py
Due: py-deprecated

Update doc/en/writing_plugins.rst
  doc/en/writing_plugins.rst
Due: none
