Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst

.pre-commit-config.yaml:

exclude: doc/en/example/py2py3/test_py2.py
repos:
-   repo: https://github.com/ambv/black
    rev: 18.6b4
    hooks:
    -   id: black
        args: [--safe, --quiet]
        language_version: python3
-   repo: https://github.com/asottile/blacken-docs
    rev: v0.3.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==18.9b0]
        language_version: python3
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0-1
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: debug-statements
        exclude: _pytest/debugging.py
        language_version: python3
    -   id: flake8
        language_version: python3
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.8.0
    hooks:
    -   id: pyupgrade
        args: [--keep-percent-format]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.1.0
    hooks:
    -   id: rst-backticks
-   repo: local
    hooks:
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(CHANGELOG.rst|HOWTORELEASE.rst|README.rst|changelog/.*)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: 'changelog files must be named ####.(feature|bugfix|doc|deprecation|removal|vendor|trivial).rst'
        exclude: changelog/(\d+\.(feature|bugfix|doc|deprecation|removal|vendor|trivial).rst|README.rst|_template.rst)
        files: ^changelog/

Improve coverage for _report_unserialization_failure
  src/_pytest/reports.py
  testing/test_reports.py
Due: none

Add CHANGELOG
  changelog/4965.trivial.rst
Due: rst

Add pytest_report_serialize and pytest_report_unserialize hooks
  src/_pytest/config/__init__.py
  src/_pytest/hookspec.py
  src/_pytest/reports.py
  testing/test_reports.py
Due: none

Improve coverage for to_json() with paths in reports
  src/_pytest/reports.py
  testing/test_reports.py
Due: none

Make sure TestReports are not collected as test classes
  src/_pytest/reports.py
Due: none

Note that tests from xdist reference the correct xdist issues
  testing/test_reports.py
Due: none

Code review suggestions
  src/_pytest/hookspec.py
  src/_pytest/reports.py
Due: none

changelog
  changelog/4987.trivial.rst
Due: rst

Fix usages of "verbose" option
  changelog/4975.bugfix.rst
  doc/en/builtin.rst
  src/_pytest/assertion/util.py
  src/_pytest/cacheprovider.py
  src/_pytest/fixtures.py
  src/_pytest/logging.py
  testing/test_terminal.py
Due: rst

Do not swallow outcomes.Exit in assertrepr_compare
  changelog/4978.bugfix.rst
  src/_pytest/assertion/util.py
  testing/test_assertion.py
Due: rst

stepwise: report status via pytest_report_collectionfinish
  changelog/4993.feature.rst
  src/_pytest/stepwise.py
Due: rst

skipping: factor out _get_pos, pass only config to _get_report_str
  src/_pytest/skipping.py
Due: none

Fix assertion in pytest_report_unserialize
  src/_pytest/reports.py
  testing/test_reports.py
Due: none

logging: close log_file_handler
  changelog/4988.bugfix.rst
  src/_pytest/logging.py
Due: rst

doc: fix note about output capturing with pdb
  doc/en/usage.rst
Due: none

Update doc/en/parametrize.rst
  doc/en/parametrize.rst
Due: none

Fix glitches of original patch of disable-test-id-escaping
  changelog/2482.feature.rst
  src/_pytest/python.py
Due: rst

add ini option to disable string escape for parametrization
  AUTHORS
  changelog/2482.feature
  doc/en/parametrize.rst
  src/_pytest/python.py
Due: rst, changelogs-rst

Fix off-by-one error with lineno in mark collection error
  changelog/5003.bugfix.rst
  src/_pytest/_code/source.py
  src/_pytest/mark/structures.py
  testing/test_mark.py
Due: rst

runner: runtestprotocol: remove unused reports
  src/_pytest/runner.py
Due: none

tests: ensure cleanup with configs via get_config()
  src/_pytest/pytester.py
  testing/test_config.py
  testing/test_pluginmanager.py
Due: none

Fix/revisit do_continue with regard to conditions
  src/_pytest/debugging.py
  testing/test_pdb.py
Due: none

Factor out pytestPDB._is_capturing
  src/_pytest/debugging.py
Due: none

Use new suspend/resume in global_and_fixture_disabled
  src/_pytest/capture.py
Due: none

add test_pdb_continue_with_recursive_debug
  testing/test_pdb.py
Due: none

pdb: handle capturing with fixtures only
  src/_pytest/capture.py
  src/_pytest/debugging.py
  testing/test_pdb.py
Due: none

test_pdb_continue_with_recursive_debug: mock pdb.set_trace
  testing/test_pdb.py
Due: none

changelog
  changelog/4951.feature.rst
Due: rst

Rename hooks: to/from_serializable
  changelog/4965.trivial.rst
  src/_pytest/hookspec.py
  src/_pytest/reports.py
  testing/test_reports.py
Due: rst

Update docs for 'pytest_cmdline_parse' hook to note availability liminations
  changelog/4974.doc.rst
  src/_pytest/hookspec.py
Due: rst

setup.cfg: use existing [tool:pytest] (ignoring [pytest])
  changelog/5008.feature.rst
  src/_pytest/config/findpaths.py
  testing/test_config.py
Due: rst

pdb: do not raise outcomes.Exit with quit in debug
  changelog/4968.bugfix.rst
  src/_pytest/debugging.py
  testing/test_pdb.py
Due: rst

pdb: add option to skip `pdb.set_trace()`
  changelog/4854.feature.rst
  src/_pytest/debugging.py
  testing/test_pdb.py
Due: rst

Update CHANGELOG.rst
  CHANGELOG.rst
Due: rst

Register "issue" mark for self-tests
  testing/python/fixtures.py
  testing/python/integration.py
  testing/python/metafunc.py
  testing/test_capture.py
  testing/test_conftest.py
  testing/test_mark.py
  tox.ini
Due: none

Fix typos in comments
  src/_pytest/mark/structures.py
Due: none

Register mark used by pytester
  src/_pytest/pytester.py
Due: none

More docs on registering marks
  changelog/4935.doc.rst
  doc/en/mark.rst
  doc/en/writing_plugins.rst
Due: rst

Update doc/en/mark.rst
  doc/en/mark.rst
Due: none
