Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

add extra coverage for junit test helpers
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

fix rtd
  src/_pytest/raises.py
Due: py-deprecated, py-path-deprecated

assorted code updates and f string migrations (#12017)
  changelog/12017.contrib.rst
  src/_pytest/setuponly.py
  src/_pytest/timing.py
  testing/conftest.py
  testing/python/fixtures.py
  testing/test_junitxml.py
  testing/test_skipping.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Update changelog/13192.feature.2.rst
  changelog/13192.feature.2.rst
Due: changelogs-user-role

revert change in behaviour if raises has a type mismatch
  src/_pytest/raises.py
  testing/python/raises.py
  testing/python/raises_group.py
Due: py-deprecated, py-path-deprecated

add check example to raises, fix test after behaviour revert
  src/_pytest/raises.py
  testing/code/test_excinfo.py
Due: py-deprecated, py-path-deprecated

made args to AbstractMatcher, RaisesExc and RaisesGroup pos/kw-only
  src/_pytest/raises.py
  testing/python/raises_group.py
Due: py-deprecated, py-path-deprecated

fix precommit
  testing/typing_raises_group.py
Due: py-deprecated, py-path-deprecated

fix doctest fail
  src/_pytest/raises.py
Due: py-deprecated, py-path-deprecated

use pendingdeprecationwarning instead. Narrow some filterwarnings. Fix more tests
  src/_pytest/deprecated.py
  src/_pytest/python_api.py
  src/_pytest/warning_types.py
  src/pytest/__init__.py
  testing/python/raises.py
  testing/test_cacheprovider.py
  testing/test_recwarn.py
Due: py-deprecated, py-path-deprecated

fixes after review by nicoddemus
  doc/en/deprecations.rst
  src/_pytest/deprecated.py
  src/_pytest/recwarn.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix tests. And stop the decorator from erroring cause idk why it did
  src/_pytest/deprecated.py
  testing/test_recwarn.py
Due: py-deprecated, py-path-deprecated

ignore the warning from demonstrating the pending-deprecated callable form in docstrings
  tox.ini
Due: none

Apply suggestions from code review
  changelog/13192.feature.2.rst
  src/_pytest/raises.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix https://github.com/pytest-dev/pytest/issues/13292
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

fix https://github.com/pytest-dev/pytest/issues/13292
  AUTHORS
Due: none

fix attrs==25.2.0 compatibility
  changelog/13291.bugfix.rst
  src/_pytest/assertion/util.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Merge pull request #13291 from jakkdl/fix_attrs
  changelog/13291.bugfix.rst
  src/_pytest/assertion/util.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Merge pull request #13263 from pytest-dev/fix-prepare-release
  .github/workflows/prepare-release-pr.yml
  RELEASING.rst
  scripts/prepare-release-pr.py
  tox.ini
Due: rst, changelogs-user-role, py-deprecated, py-path-deprecated

Add changelog
  changelog/13292.bugfix.rst
  testing/test_assertrewrite.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix ut in `Windows` platform
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

python: allow adding parameter names to parametrized test IDs
  AUTHORS
  changelog/13055.feature.rst
  doc/en/example/parametrize.rst
  src/_pytest/mark/structures.py
  src/_pytest/python.py
  testing/python/metafunc.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Update additional projects list
  scripts/update-plugin-list.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

[pre-commit.ci] pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

[lint] Put noqa in pyproject.toml or locally if possible
  pyproject.toml
  testing/_py/test_local.py
  testing/code/test_source.py
Due: py-deprecated, py-path-deprecated

I could revert that if it does not plase the reviewer :)
  src/_pytest/raises_group.py
Due: py-deprecated, py-path-deprecated

Implement PEP 302 optional get_code loader method
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

Add all pytester.plugins to runpytest_subprocess invocation
  src/_pytest/pytester.py
Due: py-deprecated, py-path-deprecated

Add myself to AUTHORS
  AUTHORS
Due: none

Create changelog/13314.bugfix.rst
  changelog/13314.bugfix.rst
Due: changelogs-user-role

Update 13314.bugfix.rst
  changelog/13314.bugfix.rst
Due: changelogs-user-role

Add test_pytester_subprocess_with_plugins
  testing/test_pytester.py
Due: py-deprecated, py-path-deprecated

Update src/_pytest/assertion/rewrite.py
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

Address lint
  testing/test_pytester.py
Due: py-deprecated, py-path-deprecated

Specify minimum requirements for dependencies
  pyproject.toml
Due: none

Bump minimum requirement of exceptiongroup to 1.0.0
  pyproject.toml
Due: none

Add changelog entry
  changelog/13317.packaging.rst
Due: changelogs-user-role

map module fullname to origin
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
