Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

cacheprovider: add --cache-list
  changelog/1089.feature.2.rst
  src/_pytest/cacheprovider.py
  testing/test_cacheprovider.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

cacheprovider: add --cache-prune
  changelog/1089.feature.3.rst
  src/_pytest/cacheprovider.py
  testing/test_cacheprovider.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Doc: commit access follows demonstrated judgement, not a single clean PR
  CONTRIBUTING.rst
Due: changelogs-user-role

Merge pull request #14790 from RonnyPfannschmidt/doc/commit-access-is-an-invitation
  CONTRIBUTING.rst
Due: changelogs-user-role

Cache the original string directly in OpaqueNodeId.parse()
  src/_pytest/_nodeid.py
Due: py-deprecated, py-path-deprecated

Add NodeId.to_opaque() and use OpaqueNodeId as LFPlugin/NFPlugin's sole lookup type
  src/_pytest/_nodeid.py
  src/_pytest/cacheprovider.py
  testing/test_nodeid.py
Due: py-deprecated, py-path-deprecated

Add changelog entry for the NodeId refactor
  changelog/14758.misc.rst
Due: changelogs-user-role

Review changes
  src/_pytest/_nodeid.py
  testing/test_nodeid.py
Due: py-deprecated, py-path-deprecated

Rename NodeId.to_opaque to as_opaque, add OpaqueNodeId.as_opaque
  src/_pytest/_nodeid.py
  src/_pytest/cacheprovider.py
  testing/test_nodeid.py
Due: py-deprecated, py-path-deprecated

Replace string nodeids with a structured NodeId internally
  src/_pytest/_nodeid.py
  src/_pytest/cacheprovider.py
  src/_pytest/junitxml.py
  src/_pytest/nodes.py
  src/_pytest/python.py
  src/_pytest/reports.py
  src/_pytest/runner.py
  src/_pytest/stepwise.py
  src/_pytest/subtests.py
  src/_pytest/terminal.py
  testing/python/metafunc.py
  testing/test_cacheprovider.py
  testing/test_mark.py
  testing/test_nodeid.py
  testing/test_reports.py
  testing/test_runner.py
Due: py-deprecated, py-path-deprecated

Split NodeId into NodeId (live collection) and OpaqueNodeId (external strings)
  changelog/14758.misc.rst
  src/_pytest/_nodeid.py
  src/_pytest/cacheprovider.py
  src/_pytest/junitxml.py
  src/_pytest/nodes.py
  src/_pytest/reports.py
  src/_pytest/stepwise.py
  src/_pytest/subtests.py
  src/_pytest/terminal.py
  testing/test_nodeid.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Use an explicit match statement in coerce_node_id
  src/_pytest/_nodeid.py
Due: py-deprecated, py-path-deprecated

Split NodeId into CollectionNodeId/ItemNodeId along the Collector/Item boundary
  changelog/14758.misc.rst
  doc/en/conf.py
  src/_pytest/_nodeid.py
  src/_pytest/cacheprovider.py
  src/_pytest/junitxml.py
  src/_pytest/nodes.py
  src/_pytest/python.py
  src/_pytest/reports.py
  src/_pytest/stepwise.py
  src/_pytest/subtests.py
  src/_pytest/terminal.py
  testing/python/metafunc.py
  testing/test_junitxml.py
  testing/test_mark.py
  testing/test_nodeid.py
  testing/test_nodes.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix docs build warnings from the NodeId/OpaqueNodeId refactor
  doc/en/conf.py
  src/_pytest/reports.py
Due: py-deprecated, py-path-deprecated

Improve docs
  src/_pytest/_nodeid.py
Due: py-deprecated, py-path-deprecated

Remove NodeId.fspath, redundant with NodeId.path
  src/_pytest/_nodeid.py
  testing/test_nodeid.py
Due: py-deprecated, py-path-deprecated

Make NodeId._str a lazily-computed cached attribute
  src/_pytest/_nodeid.py
Due: py-deprecated, py-path-deprecated

Turn nodeid string/NodeId conversion helpers into NodeId classmethods
  src/_pytest/_nodeid.py
  src/_pytest/cacheprovider.py
  src/_pytest/junitxml.py
  src/_pytest/nodes.py
  src/_pytest/reports.py
  src/_pytest/stepwise.py
  testing/test_nodeid.py
Due: py-deprecated, py-path-deprecated

Move comment
  src/_pytest/_nodeid.py
Due: py-deprecated, py-path-deprecated

Assert the actual nodeid value in test_to_json_nodeid_wire_shape
  testing/test_reports.py
Due: py-deprecated, py-path-deprecated

Add @override to _build_str implementations, moving the shim to compat.py
  src/_pytest/_nodeid.py
  src/_pytest/compat.py
Due: py-deprecated, py-path-deprecated

Remove Node.__hash__
  src/_pytest/nodes.py
Due: py-deprecated, py-path-deprecated

Extend OpaqueNodeId to (path, names, params); convert mangle_test_address/matchreport
  src/_pytest/junitxml.py
  src/_pytest/nodeid.py
  src/_pytest/pytester.py
  testing/test_nodeid.py
Due: py-deprecated, py-path-deprecated

Remove cross-type equality between CollectionNodeId/ItemNodeId/OpaqueNodeId
  src/_pytest/junitxml.py
  src/_pytest/nodeid.py
  src/_pytest/stepwise.py
  src/_pytest/terminal.py
  testing/test_nodeid.py
  testing/test_reports.py
Due: py-deprecated, py-path-deprecated

Replace remaining nodeid string-splitting with OpaqueNodeId.path/.rest
  src/_pytest/config/__init__.py
  src/_pytest/config/findpaths.py
  src/_pytest/reports.py
  src/_pytest/terminal.py
Due: py-deprecated, py-path-deprecated

Rename _pytest._nodeid to _pytest.nodeid
  doc/en/conf.py
  src/_pytest/cacheprovider.py
  src/_pytest/junitxml.py
  src/_pytest/nodeid.py
  src/_pytest/nodes.py
  src/_pytest/python.py
  src/_pytest/reports.py
  src/_pytest/stepwise.py
  src/_pytest/subtests.py
  src/_pytest/terminal.py
  testing/python/metafunc.py
  testing/test_mark.py
  testing/test_nodeid.py
Due: py-deprecated, py-path-deprecated

Remove str support from Node.__init__'s nodeid parameter
  src/_pytest/main.py
  src/_pytest/nodes.py
  testing/test_nodeid.py
Due: py-deprecated, py-path-deprecated

Drop ParamId; merge OpaqueNodeId into ItemNodeId
  src/_pytest/cacheprovider.py
  src/_pytest/config/__init__.py
  src/_pytest/config/findpaths.py
  src/_pytest/junitxml.py
  src/_pytest/nodeid.py
  src/_pytest/nodes.py
  src/_pytest/python.py
  src/_pytest/reports.py
  src/_pytest/stepwise.py
  src/_pytest/subtests.py
  src/_pytest/terminal.py
  testing/test_nodeid.py
Due: py-deprecated, py-path-deprecated

Collapse CollectionNodeId into a single NodeId class
  changelog/14758.misc.rst
  doc/en/conf.py
  src/_pytest/cacheprovider.py
  src/_pytest/config/__init__.py
  src/_pytest/config/findpaths.py
  src/_pytest/junitxml.py
  src/_pytest/main.py
  src/_pytest/nodeid.py
  src/_pytest/nodes.py
  src/_pytest/python.py
  src/_pytest/reports.py
  src/_pytest/stepwise.py
  src/_pytest/subtests.py
  src/_pytest/terminal.py
  testing/python/metafunc.py
  testing/test_mark.py
  testing/test_nodeid.py
  testing/test_reports.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Use slots=True/kw_only=True on nodeid.py dataclasses
  src/_pytest/nodeid.py
  src/_pytest/nodes.py
Due: py-deprecated, py-path-deprecated

Fold _WithNodeId into BaseReport; use match in junitxml's node_reporter
  doc/en/conf.py
  src/_pytest/junitxml.py
  src/_pytest/reports.py
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

Fix stale CallSpec2 reference in ParamId docstring after rebase
  src/_pytest/nodeid.py
Due: py-deprecated, py-path-deprecated

Doc changes
  src/_pytest/nodeid.py
  src/_pytest/nodes.py
Due: py-deprecated, py-path-deprecated

Fix grammar
  src/_pytest/nodeid.py
Due: py-deprecated, py-path-deprecated

Add a runtime check that Node.__init__'s nodeid is a NodeId or None
  src/_pytest/nodes.py
Due: py-deprecated, py-path-deprecated

Remove stale type: ignore[misc] from test_nodes.py
  testing/test_nodes.py
Due: py-deprecated, py-path-deprecated

docs: qualify tox package_env references (#14825)
  doc/en/changelog.rst
Due: changelogs-user-role

Rename NodeId.leaf(name, params) -> child(name).with_params(params)
  src/_pytest/nodeid.py
  src/_pytest/nodes.py
  src/_pytest/python.py
  testing/test_nodeid.py
Due: py-deprecated, py-path-deprecated

Tighten Node.parent type to Collector | None
  src/_pytest/nodes.py
Due: py-deprecated, py-path-deprecated

Remove "Experimental/internal" notes from NodeId .id property docstrings
  src/_pytest/nodes.py
  src/_pytest/reports.py
Due: py-deprecated, py-path-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
