Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

Merge pull request #14721 from pytest-dev/update-plugin-list/patch-67a174fce
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

test: cover _chmod_rwx when os.chmod raises OSError
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

ci: reuse official uv pattern to install tox via composite action
  .github/actions/setup-tox/action.yml
  .github/workflows/deploy.yml
  .github/workflows/doc-check-links.yml
  .github/workflows/prepare-release-pr.yml
  .github/workflows/test.yml
  .github/workflows/update-plugin-list.yml
Due: none

python: rename CallSpec2 -> CallSpec
  src/_pytest/fixtures.py
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

python: keep deprecated CallSpec2 alias via __getattr__
  changelog/14742.deprecation.rst
  doc/en/deprecations.rst
  src/_pytest/deprecated.py
  src/_pytest/python.py
  testing/deprecated_test.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix missing traceback source for code with cwd-relative filenames
  changelog/1139.bugfix.rst
  src/_pytest/_code/source.py
  testing/code/test_source.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add regression test for #2568 (properties evaluated during collection)
  testing/python/collect.py
Due: py-deprecated, py-path-deprecated

Fix missing traceback source for code with cwd-relative filenames (#14744)
  changelog/1139.bugfix.rst
  src/_pytest/_code/source.py
  testing/code/test_source.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add regression test for #2568 (properties evaluated during collection) (#14745)
  testing/python/collect.py
Due: py-deprecated, py-path-deprecated

Fix pytest.warns re-emitting warnings with module="warnings"
  changelog/11933.bugfix.rst
  src/_pytest/recwarn.py
  testing/test_recwarn.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Consider entry points for PYTEST_PLUGINS and pytest_plugins
  AUTHORS
  changelog/12624.improvement.rst
  doc/en/how-to/plugins.rst
  doc/en/how-to/writing_plugins.rst
  doc/en/reference/reference.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
  testing/test_pluginmanager.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Cap text diff computation for huge strings in non-verbose mode
  changelog/12406.improvement.rst
  src/_pytest/assertion/compare_text.py
  testing/test_assertion.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix elision of long collections in assertion messages with -vv
  changelog/12307.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fixtures: reorder parametrized tests by param value, not index
  changelog/8914.bugfix.rst
  src/_pytest/fixtures.py
  testing/example_scripts/issue_519.py
  testing/python/fixtures.py
  testing/python/metafunc.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Drop explanatory comment; the regression test covers it
  src/_pytest/recwarn.py
Due: py-deprecated, py-path-deprecated

Address review: free renamed-away ids from used_ids, add regression test
  src/_pytest/python.py
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

Allow dotted test filenames via dot-escape in compute_module_name
  src/_pytest/pathlib.py
Due: py-deprecated, py-path-deprecated

Add tests for dotted test filenames in compute_module_name
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

Add changelog entry for #14514
  changelog/14514.bugfix.rst
Due: changelogs-user-role

Make Metafunc.parametrize keyword-only from indirect onwards
  changelog/8593.breaking.rst
  src/_pytest/python.py
  testing/python/metafunc.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix mypy ignore code
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

Exclude never-called stub from coverage via NotImplementedError convention
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

Fix infinite relative tolerance for timedeltas
  AUTHORS
  src/_pytest/approx.py
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

Add changelog for #14754
  changelog/14754.bugfix.rst
Due: changelogs-user-role

Consider entry points for PYTEST_PLUGINS and pytest_plugins (#14752)
  AUTHORS
  changelog/12624.improvement.rst
  doc/en/how-to/plugins.rst
  doc/en/how-to/writing_plugins.rst
  doc/en/reference/reference.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
  testing/test_pluginmanager.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix pytest.warns re-emitting warnings with module="warnings" (#14747)
  changelog/11933.bugfix.rst
  src/_pytest/recwarn.py
  testing/test_recwarn.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

feat: introduce a legend for - and + in diff outputs
  changelog/14743.feature.rst
  src/_pytest/assertion/_compare_sequence.py
  testing/test_assertion.py
  testing/test_error_diffs.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add missing docstrings to main.py lines 245-490
  src/_pytest/main.py
Due: py-deprecated, py-path-deprecated

Make `Metafunc.parametrize` keyword-only from indirect onwards (#14753)
  changelog/8593.breaking.rst
  src/_pytest/python.py
  testing/python/metafunc.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Document firstresult behavior for report (de)serialization hooks
  src/_pytest/hookspec.py
Due: py-deprecated, py-path-deprecated

feat: introduce a legend for - and + in diff outputs (#14756)
  changelog/14743.feature.rst
  src/_pytest/assertion/_compare_sequence.py
  testing/test_assertion.py
  testing/test_error_diffs.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Warning filters apply to pytest_configure hooks
  AUTHORS
  changelog/10128.bugfix.rst
  src/_pytest/config/__init__.py
  src/_pytest/warnings.py
  testing/plugins_integration/pytest.ini
  testing/test_warnings.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Always warn for @staticmethod above @pytest.fixture
  changelog/13564.improvement.rst
  src/_pytest/fixtures.py
  src/_pytest/legacypath.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Explain the parametrization of ``tryfirst``
  testing/test_warnings.py
Due: py-deprecated, py-path-deprecated

Document firstresult behavior for report (de)serialization hooks (#14759)
  src/_pytest/hookspec.py
Due: py-deprecated, py-path-deprecated

Explain location of _catch_configured_warnings
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

Reject implicit option destination conflicts (#14661)
  changelog/12824.bugfix.rst
  src/_pytest/config/argparsing.py
  testing/test_parseopt.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Register legacy path plugins as instances
  src/_pytest/legacypath.py
Due: py-deprecated

Reject infinite timedelta relative tolerance
  changelog/14754.bugfix.rst
  src/_pytest/approx.py
  testing/python/approx.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Improve deprecation message for class-scoped fixtures as instance methods
  src/_pytest/deprecated.py
  src/_pytest/fixtures.py
  testing/deprecated_test.py
Due: py-deprecated, py-path-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
