Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

feat: introduce ItemLocation NamedTuple and redesign CodeLocation to 0-based
  src/_pytest/compat.py
  src/_pytest/fixtures.py
  src/_pytest/nodes.py
  src/_pytest/reports.py
  testing/python/fixtures.py
  testing/python/show_fixtures_per_test.py
  testing/test_junitxml.py
  testing/typing_checks.py
Due: py-deprecated, py-path-deprecated

fix #6881: add parametrize_long_str_id_strategy ini option
  changelog/6881.feature.rst
  doc/en/reference/reference.rst
  src/_pytest/python.py
  testing/python/metafunc.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Drop unreachable wrapped-fixture lookup fallbacks
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

[RFC] code location as a namedtuple
  src/_pytest/compat.py
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

fix(rewrite): avoid double evaluation of walrus in BoolOp condition
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

Address remaining review feedback on rm_rf permission handling
  src/_pytest/pathlib.py
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

Fix infinite loop in wrapped fixture detection
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

doc: add changelog fragment for #14329
  changelog/14329.bugfix.rst
Due: changelogs-user-role

fix: rm_rf now handles directories without S_IXUSR permission (#7940)
  changelog/7940.bugfix.rst
  src/_pytest/pathlib.py
  testing/test_tmpdir.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix wrapped-fixture detection on older Pythons and evil __class__
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

Peel classmethod/staticmethod before emitting wrapped-fixture warnings
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

Improve wrapped fixture detection to handle edge cases
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

test: add coverage for _chmod_rwx OSError and recursion guard paths
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

docs: add changelog fragment and architectural comment for #14635
  changelog/14635.bugfix.rst
  src/_pytest/main.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Address Copilot review feedback on rm_rf permission handling
  src/_pytest/pathlib.py
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

Drop unnecessary defensive checks in wrapped fixture detection
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

fix(rewrite): assign walrus comparators to temps in chained comparisons
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

refactor(rewrite): minimal snapshots in BoolOp for walrus conflicts
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

Use inspect.unwrap and type __dict__ for wrapped fixture warnings
  changelog/13564.improvement.rst
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Address review comments on wrapped fixture detection
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

Address review feedback on wrapped fixture detection
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

fix: iter_markers/get_closest_marker now correctly returns closest MRO marker
  src/_pytest/fixtures.py
  src/_pytest/nodes.py
  src/_pytest/python.py
  testing/test_mark.py
Due: py-deprecated, py-path-deprecated

fix #13564 - warn when fixtures get wrapped with a decorator
  .gitignore
  changelog/13564.improvement.rst
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

test: add coverage for unlink OSError and parent walk, add no-branch pragmas
  src/_pytest/pathlib.py
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

fix(rewrite): show correct walrus values in BoolOp explanations
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

remove dead allow_escape param, add tests and changelog
  changelog/8056.misc.rst
  src/_pytest/compat.py
  src/_pytest/fixtures.py
  testing/test_compat.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

test(rewrite): add xfail tests for remaining walrus edge cases
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

fix: convert ItemLocation to plain tuple at execnet boundaries
  src/_pytest/reports.py
  src/_pytest/runner.py
Due: py-deprecated, py-path-deprecated

scripts: add assert-rewrite dump and diff tools
  scripts/diff-assert-rewrite.py
  scripts/dump-assert-rewrite.py
  scripts/example_asserts.py
Due: py-deprecated, py-path-deprecated

docs: document ItemLocation for Sphinx nitpick
  doc/en/reference/reference.rst
  src/_pytest/nodes.py
  src/_pytest/reports.py
  src/pytest/__init__.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix: deduplicate Directory nodes on re-collection to preserve fixture identity (#14635)
  src/_pytest/main.py
  testing/test_conftest.py
Due: py-deprecated, py-path-deprecated

test(rewrite): add introspection matrix covering all expression types
  testing/test_assertrewrite_coverage.py
Due: py-deprecated, py-path-deprecated

feat(rewrite): add visit_Subscript for container[key] introspection
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite_coverage.py
Due: py-deprecated, py-path-deprecated

feat(rewrite): flatten method call display to remove bound-method noise
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite_coverage.py
Due: py-deprecated, py-path-deprecated

test(rewrite): add edge case and regression tests for new visitors
  testing/test_assertrewrite_coverage.py
Due: py-deprecated, py-path-deprecated

test(rewrite): add single-evaluation test suite for all expression types
  testing/test_assertrewrite_coverage.py
Due: py-deprecated, py-path-deprecated

feat(rewrite): add visit_IfExp for ternary expression introspection
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite_coverage.py
Due: py-deprecated, py-path-deprecated

test(rewrite): add systematic assertion rewriting test infrastructure
  testing/test_assertrewrite_coverage.py
Due: py-deprecated, py-path-deprecated

fix(rewrite): update test_assert_matches for flat method call format
  testing/python/raises_group.py
  testing/test_assertrewrite_coverage.py
Due: py-deprecated, py-path-deprecated

fix: teach FakeConfig about _iter_registered_markers
  testing/test_mark.py
Due: py-deprecated, py-path-deprecated
