Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

ensemble: build a hermetic nested Config from declarative data
  src/_pytest/config/__init__.py
  src/_pytest/ensemble/__init__.py
  src/_pytest/ensemble/config.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

ensemble: collect and run in-memory sources, record typed results
  changelog/14809.feature.rst
  src/_pytest/ensemble/__init__.py
  src/_pytest/ensemble/collection.py
  src/_pytest/ensemble/results.py
  testing/test_ensemble.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add the generic ItemDefinition parametrization protocol (#3926)
  changelog/14858.feature.rst
  changelog/14858.misc.rst
  doc/en/example/nonpython.rst
  doc/en/proposals/generic_fixture_closures.rst
  doc/en/reference/reference.rst
  src/_pytest/fixtures.py
  src/_pytest/nodes.py
  src/_pytest/parametrize.py
  src/_pytest/python.py
  testing/python/metafunc.py
  testing/test_item_definition.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

config: let get_config() take an explicit invocation dir
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

ensemble: build the record after session teardown
  src/_pytest/ensemble/__init__.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

config: split Config.parse into phase methods
  src/_pytest/config/__init__.py
  testing/test_warnings.py
Due: py-deprecated, py-path-deprecated

terminal: let a private output stream count as captured
  src/_pytest/terminal.py
Due: py-deprecated, py-path-deprecated

ensemble: load the assertion plugin by default
  src/_pytest/ensemble/config.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

ensemble: run the items through pytest_runtestloop
  src/_pytest/ensemble/results.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

testing: convert pytester-based tests to _pytest.ensemble
  testing/python/collect.py
  testing/python/fixtures.py
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

ensemble: document the capture boundary honestly
  src/_pytest/ensemble/__init__.py
Due: py-deprecated, py-path-deprecated

ensemble: do not let a config take ownership of a spec's ini values
  src/_pytest/ensemble/config.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

refactor: extract the parametrization core into _pytest.parametrize
  changelog/14856.misc.rst
  src/_pytest/fixtures.py
  src/_pytest/parametrize.py
  src/_pytest/python.py
  testing/deprecated_test.py
  testing/python/metafunc.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

ensemble: give an ensemble its own output sink
  src/_pytest/ensemble/__init__.py
  src/_pytest/ensemble/config.py
  src/_pytest/ensemble/results.py
  src/_pytest/terminal.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

Add opt-in FunctionDefinition collection tree node (#3926)
  changelog/14769.bugfix.rst
  changelog/3926.improvement.rst
  doc/en/reference/reference.rst
  src/_pytest/main.py
  src/_pytest/nodes.py
  src/_pytest/python.py
  testing/test_collect_function_definition.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add the "definition" fixture scope (#3926)
  changelog/14857.feature.rst
  doc/en/how-to/fixtures.rst
  src/_pytest/fixtures.py
  src/_pytest/python.py
  src/_pytest/scope.py
  src/_pytest/setuponly.py
  testing/deprecated_test.py
  testing/test_definition_scope.py
  testing/test_scope.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

debugging: trace via pytest_runtest_call instead of pytest_pyfunc_call
  src/_pytest/debugging.py
  src/_pytest/unittest.py
  testing/test_debugging.py
Due: py-deprecated, py-path-deprecated

fix: skipping an item without a line number no longer crashes
  changelog/14855.bugfix.rst
  src/_pytest/reports.py
  testing/test_skipping.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fixtures: point at out-of-scope definitions when a fixture is not found
  changelog/10151.improvement.rst
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

deselect: record why pytest deselects items
  src/_pytest/cacheprovider.py
  src/_pytest/deselect.py
  src/_pytest/hookspec.py
  src/_pytest/main.py
  src/_pytest/mark/__init__.py
  src/_pytest/stepwise.py
Due: py-deprecated, py-path-deprecated

Modernize ConftestImportFailure to use the exception chain
  changelog/14943.misc.rst
  src/_pytest/config/__init__.py
  src/_pytest/debugging.py
  src/_pytest/nodes.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

terminal: list deselected items and their reason at -v
  changelog/13617.improvement.rst
  src/_pytest/terminal.py
  testing/test_stepwise.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

docs: specify interaction between import roots and testpaths
  doc/en/proposals/import_roots.rst
Due: changelogs-user-role

stash: add a context manager for a block-scoped value
  changelog/15035.feature.rst
  src/_pytest/deselect.py
  src/_pytest/stash.py
  testing/test_stash.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

WIP: throw together a initial halfassed proposal on rootspec import mode
  doc/en/proposals/importmode_root_spec.rst
Due: changelogs-user-role

fixtures: warn when two modules register the same fixture
  changelog/1511.improvement.rst
  doc/en/reference/fixtures.rst
  doc/en/reference/reference.rst
  src/_pytest/fixtures.py
  src/_pytest/warning_types.py
  src/pytest/__init__.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

docs: rewrite import roots proposal against current pytest reality
  doc/en/proposals/import_roots.rst
  doc/en/proposals/importmode_root_spec.rst
Due: changelogs-user-role

doc: add AGENTS.md as the baseline for coding agents
  AGENTS.md
  CLAUDE.md
Due: none

config: add plugin hookspecs at registration, not at Config.parse()
  changelog/2720.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_pluginmanager.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

doc: describe backporting as patchback-driven, with manual as fallback
  doc/en/maintenance.rst
Due: changelogs-user-role

doc: separate the AI policy's rules from its rationale
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.rst
Due: changelogs-user-role

doc: add changelog entry for the contribution docs rework
  changelog/15054.contrib.rst
Due: changelogs-user-role

doc: make the contributor workflow uv-first and version-agnostic
  CONTRIBUTING.rst
Due: changelogs-user-role

doc: move maintainer process into a maintenance guide
  CONTRIBUTING.rst
  doc/en/contents.rst
  doc/en/development_guide.rst
  doc/en/maintenance.rst
Due: changelogs-user-role

Compare mapping keys through their key views
  changelog/14463.improvement.rst
  src/_pytest/assertion/_compare_mapping.py
  testing/test_assertion.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix terminal reporter output not appearing with capture active
  changelog/8973.bugfix.rst
  src/_pytest/config/__init__.py
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

docs(changelog): reference TerminalReporter.write by its public name
  changelog/8973.bugfix.rst
Due: changelogs-user-role

test: cover the Class marker iteration fallbacks
  src/_pytest/python.py
  testing/test_mark.py
Due: py-deprecated, py-path-deprecated

fix #8412: warn for a fixture-marked setUpClass, correct the changelog
  changelog/8412.bugfix.rst
  changelog/8412.improvement.rst
  src/_pytest/unittest.py
  testing/test_unittest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix: preserve add_marker order for MRO markers on Class nodes
  src/_pytest/python.py
  testing/test_mark.py
Due: py-deprecated, py-path-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
