Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        args: [--safe, --quiet]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.8.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==19.10b0]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: check-yaml
    -   id: debug-statements
        exclude: _pytest/(debugging|hookspec).py
        language_version: python3
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-typing-imports==1.9.0
          - flake8-docstrings==1.5.0
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.3.5
    hooks:
    -   id: reorder-python-imports
        args: ['--application-directories=.:src', --py36-plus]
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.11.0
    hooks:
    -   id: setup-cfg-fmt
        # TODO: when upgrading setup-cfg-fmt this can be removed
        args: [--max-py-version=3.9]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.6.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.790
    hooks:
    -   id: mypy
        files: ^(src/|testing/)
        args: []
        additional_dependencies:
          - iniconfig>=1.1.0
          - py>=1.8.2
          - attrs>=19.2.0
          - packaging
-   repo: local
    hooks:
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'
        exclude: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
        files: ^changelog/
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]

ci: Bump up timeout (#9560)
  .github/workflows/main.yml
Due: none

[7.0.x] doc: Add ellipsis to warning usecase list
  doc/en/how-to/capture-warnings.rst
Due: none

[7.0.x] Add missing cooperative constructor changelog
  changelog/9488.deprecation.rst
Due: none

doc: Recategorize 7.0.0 changelog items (#9561)
  changelog/9505.doc.rst
  changelog/9521.trivial.rst
Due: none

[7.0.x] doc: Recategorize 7.0.0 changelog items
  changelog/9505.doc.rst
  changelog/9521.trivial.rst
Due: none

ci: Bump up timeout
  .github/workflows/main.yml
Due: none

ci: Bump up timeout (#9565)
  .github/workflows/main.yml
Due: none

[7.0.x] Make 'warnings' and 'deselected' in assert_outcomes optional
  src/_pytest/pytester.py
  src/_pytest/pytester_assertions.py
  testing/test_pytester.py
Due: py-deprecated

Added logging-level link to logging level table
  doc/en/logging.rst
Due: none

Merge pull request #9512 from bluetech/pluggy-private
  testing/test_config.py
Due: py-deprecated

ci: remove linting job - covered be pre-commit.ci (#9247)
  .github/workflows/main.yml
Due: none

mention of python's documentation should be refereced in context with logging page link
  doc/en/logging.rst
Due: none

Linking text statement to mentioned docs
  doc/en/how-to/logging.rst
Due: none

Merge pull request #9417 from nicoddemus/fix-py3.10.1-9413
  .github/workflows/main.yml
  testing/test_skipping.py
Due: py-deprecated

Merge pull request #8664 from hroncok/test_unittest-ignore_DeprecationWarning-from-twisted
  testing/test_unittest.py
Due: py-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: none

more text linking to referenced docs
  doc/en/how-to/logging.rst
Due: none

releasing: Always set doc_version
  scripts/prepare-release-pr.py
Due: py-deprecated

releasing: Always set doc_version (#9589)
  scripts/prepare-release-pr.py
Due: py-deprecated

[7.0.x] releasing: Always set doc_version
  scripts/prepare-release-pr.py
Due: py-deprecated

Prepare release version 7.0.0
  changelog/9355.bugfix.rst
  changelog/9396.bugfix.rst
  changelog/9404.doc.rst
  changelog/9488.deprecation.rst
  changelog/9505.doc.rst
  changelog/9521.trivial.rst
  doc/en/announce/index.rst
  doc/en/announce/release-7.0.0.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/getting-started.rst
Due: none

Add note to changelog
  doc/en/changelog.rst
Due: none

releasing: Add template for major releases
  scripts/prepare-release-pr.py
  scripts/release.major.rst
Due: py-deprecated

Update scripts/release.minor.rst
  scripts/release.minor.rst
Due: none

releasing: Add template for major releases (#9596)
  scripts/prepare-release-pr.py
  scripts/release.major.rst
Due: py-deprecated

[7.0.x] releasing: Add template for major releases
  scripts/prepare-release-pr.py
  scripts/release.major.rst
Due: py-deprecated

ci: Add missing macOS CI envs
  .github/workflows/main.yml
Due: none

doc: Hide done training
  doc/en/index.rst
Due: none

doc: Streamline remote handling in releasing docs
  RELEASING.rst
Due: rst

Prepare release 7.0.0 (#9598) (#9604)
  changelog/9355.bugfix.rst
  changelog/9396.bugfix.rst
  changelog/9404.doc.rst
  changelog/9488.deprecation.rst
  changelog/9505.doc.rst
  changelog/9521.trivial.rst
  doc/en/announce/index.rst
  doc/en/announce/release-7.0.0.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/getting-started.rst
Due: none

ci: Add missing macOS CI envs (#9601)
  .github/workflows/main.yml
Due: none

doc: Hide done training (#9602)
  doc/en/index.rst
Due: none

doc: Streamline remote handling in releasing docs (#9603)
  RELEASING.rst
Due: rst

doc: Add changing RTD version to checklist
  RELEASING.rst
Due: rst

[7.0.x] doc: Hide done training
  doc/en/index.rst
Due: none

Update docs about tempdirs
  doc/en/how-to/tmp_path.rst
Due: none

Update doc/en/how-to/tmp_path.rst
  doc/en/how-to/tmp_path.rst
Due: none

Mention basetemp in docs as a way to only keep last temp dir (#9607)
  doc/en/how-to/tmp_path.rst
Due: none
