Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

Improve stepwise to not forget failed tests
  changelog/13122.improvement.rst
  src/_pytest/stepwise.py
  testing/test_cacheprovider.py
  testing/test_stepwise.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Tighten test
  testing/test_stepwise.py
Due: py-deprecated, py-path-deprecated

Fix issue #13047: Handle numpy booleans in pytest.approx
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

Accept generic ExceptionGroups for raises
  AUTHORS
  changelog/13115.improvement.rst
  src/_pytest/python_api.py
  testing/code/test_excinfo.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Show cache age instead of update date
  src/_pytest/stepwise.py
  testing/test_stepwise.py
Due: py-deprecated, py-path-deprecated

Update testing/test_terminal.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

timer -> times + fixed bad times format when used with xdist
  doc/en/reference/reference.rst
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Update changelog/13125.feature.rst
  changelog/13125.feature.rst
Due: changelogs-user-role

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

Add confval ``console_output_style`` option ``times`` (#13126)
  AUTHORS
  changelog/13125.feature.rst
  doc/en/reference/reference.rst
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix example in pytest_collection_modifyitems
  src/_pytest/hookspec.py
Due: py-deprecated, py-path-deprecated

Fix internal mypy error on Windows
  src/_pytest/_py/error.py
Due: py-deprecated, py-path-deprecated

Fix example in pytest_collection_modifyitems (#13152)
  src/_pytest/hookspec.py
Due: py-deprecated, py-path-deprecated

Fix internal mypy error on Windows (#13153)
  src/_pytest/_py/error.py
Due: py-deprecated, py-path-deprecated

Fix review suggestions
  changelog/13115.improvement.rst
  src/_pytest/python_api.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Minor suggested refactor of if clause (review comment)
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

Add extra test, changelog improvement
  changelog/13115.improvement.rst
  src/_pytest/python_api.py
  testing/code/test_excinfo.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Accept generic ExceptionGroups for raises (#13134)
  AUTHORS
  changelog/13115.improvement.rst
  src/_pytest/python_api.py
  testing/code/test_excinfo.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add --force-short-summary option
  changelog/12713.feature.rst
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix sequences being shortened even with `-vv` verbosity.
  changelog/11777.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix sequences being shortened even with `-vv` verbosity. (#13163)
  changelog/11777.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add changelog entry
  AUTHORS
  changelog/10224.improvement.rst
Due: changelogs-user-role

Add pragma no cover for branch where column info is missing
  src/_pytest/_code/code.py
Due: py-deprecated, py-path-deprecated

Add basic implementation of PEP657 style expression markers in tracebacks (#13102)
  AUTHORS
  changelog/10224.improvement.rst
  src/_pytest/_code/code.py
  src/_pytest/_code/source.py
  testing/code/test_excinfo.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Update testing/test_warnings.py
  testing/test_warnings.py
Due: py-deprecated, py-path-deprecated

updates test case
  testing/test_warnings.py
Due: py-deprecated, py-path-deprecated

updates testcase
  testing/test_warnings.py
Due: py-deprecated, py-path-deprecated

copy over code from trio with minimal changes
  src/_pytest/_raises_group.py
  src/_pytest/python_api.py
  src/pytest/__init__.py
  testing/python/raises_group.py
  testing/python/typing_raises_group.py
Due: py-deprecated, py-path-deprecated

fix (and ignore) E501
  src/_pytest/_raises_group.py
  src/pytest/__init__.py
  testing/python/raises_group.py
Due: py-deprecated, py-path-deprecated

assertions -> Failed, update various comments, only take exc.message if it's a BaseExceptionGroup, ValueError->TypeError on wrong type
  src/_pytest/_raises_group.py
  src/_pytest/python_api.py
  testing/python/raises_group.py
Due: py-deprecated, py-path-deprecated

move typing_raises_group to testing/ so it doesn't get executed
  testing/typing_raises_group.py
Due: py-deprecated, py-path-deprecated

add changelog. helpful suggestion if check would pass on sub-exception. export raises_group as a convenience alias.
  changelog/11671.feature.rst
  src/_pytest/_raises_group.py
  src/pytest/__init__.py
  testing/python/raises_group.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add readline workaround for libedit
  changelog/12888.bugfix.rst
  src/_pytest/capture.py
  testing/test_capture.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

feat: Exposed autoused fixture names as global variable for tests (#13171)
  AUTHORS
  changelog/13180.feature.rst
  src/_pytest/python.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Update pythonpath.rst
  doc/en/explanation/pythonpath.rst
Due: changelogs-user-role
