Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
    -   id: black
        args: [--safe, --quiet]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==20.8b1]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: check-yaml
    -   id: debug-statements
        exclude: _pytest/(debugging|hookspec).py
        language_version: python3
-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        name: autoflake
        args: ["--in-place", "--remove-unused-variables", "--remove-all-unused-imports"]
        language: python
        files: \.py$
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-typing-imports==1.12.0
          - flake8-docstrings==1.5.0
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.7.1
    hooks:
    -   id: reorder-python-imports
        args: ['--application-directories=.:src', --py37-plus]
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.31.0
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
-   repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.20.0
    hooks:
    -   id: setup-cfg-fmt
        args: [--max-py-version=3.10]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        files: ^(src/|testing/)
        args: []
        additional_dependencies:
          - iniconfig>=1.1.0
          - py>=1.8.2
          - attrs>=19.2.0
          - packaging
          - tomli
          - types-atomicwrites
          - types-pkg_resources
-   repo: local
    hooks:
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'
        exclude: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
        files: ^changelog/
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

Add a non regression test for 9765
  testing/test_pluginmanager.py
Due: py-deprecated, py-path-deprecated

Try different path constructor
  testing/test_pluginmanager.py
Due: py-deprecated, py-path-deprecated

Lower conftest.py
  testing/test_pluginmanager.py
Due: py-deprecated, py-path-deprecated

Adds similar test with differents paths that resolves identically
  testing/test_pluginmanager.py
Due: py-deprecated, py-path-deprecated

Some minor typing tweaks
  src/_pytest/logging.py
  src/_pytest/runner.py
Due: py-deprecated, py-path-deprecated

fixup! fixup! Add syntactic highlighting to the error explanations
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

fixup! fixup! fixup! Add syntactic highlighting to the error explanations
  src/_pytest/_io/terminalwriter.py
  src/_pytest/assertion/util.py
Due: py-deprecated, py-path-deprecated

fixup! fixup! fixup! fixup! Add syntactic highlighting to the error explanations
  changelog/11520.improvement.rst
Due: none

fixup! Put a 'reset' color in front of the highlighting
  src/_pytest/_io/terminalwriter.py
Due: py-deprecated, py-path-deprecated

fixup! fixup! fixup! fixup! fixup! Add syntactic highlighting to the error explanations
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

fixup! fixup! fixup! fixup! fixup! fixup! Add syntactic highlighting to the error explanations
  src/_pytest/_io/terminalwriter.py
  src/_pytest/assertion/util.py
Due: py-deprecated, py-path-deprecated

Add syntactic highlights to the error explanations (#11661)
  changelog/11520.improvement.rst
  src/_pytest/_io/terminalwriter.py
  src/_pytest/assertion/util.py
  testing/io/test_terminalwriter.py
  testing/test_assertion.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Slight tweak to xfail summary, and added tests
  test_xfail.py
  venv/pyvenv.cfg
  xfail/pyproject.toml
  xfail/test_xfail.py
Due: py-deprecated, py-path-deprecated

Slight tweak to xfail summary, and added tests
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

summary changes + testing for xfail and xpass
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

remove some unused variables
  src/_pytest/terminal.py
Due: py-deprecated, py-path-deprecated

Fix handling empty values of NO_COLOR and FORCE_COLOR (#11712)
  AUTHORS
  changelog/11712.bugfix.rst
  doc/en/reference/reference.rst
  src/_pytest/_io/terminalwriter.py
  testing/io/test_terminalwriter.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: none

remove assert outcome from xfail summary, as it breaks [NOTRUN] functionality
  src/_pytest/terminal.py
  testing/test_skipping.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Remove a test
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

Revert a tiny change
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

Remove a redundant test
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

Change "Marks applied to fixtures" removal from 8 to 9
  src/_pytest/deprecated.py
  testing/deprecated_test.py
Due: py-deprecated

nodes: fix tracebacks from collection errors are not getting pruned (#11711)
  changelog/11710.bugfix.rst
  src/_pytest/nodes.py
  testing/test_collection.py
Due: py-deprecated, py-path-deprecated

[7.4.x] nodes: fix tracebacks from collection errors are not getting pruned
  changelog/11710.bugfix.rst
  src/_pytest/nodes.py
  testing/test_collection.py
Due: py-deprecated, py-path-deprecated

[7.4.x] Fix handling empty values of NO_COLOR and FORCE_COLOR
  AUTHORS
  changelog/11712.bugfix.rst
  doc/en/reference/reference.rst
  src/_pytest/_io/terminalwriter.py
  testing/io/test_terminalwriter.py
Due: py-deprecated, py-path-deprecated

[7.4.x] Improve reporting from __iter__ exceptions
  changelog/7966.bugfix.rst
  src/_pytest/assertion/util.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

[7.4.x] #11091: documentation should use hypthonated properties
  AUTHORS
  changelog/11091.doc.rst
  changelog/README.rst
  doc/en/deprecations.rst
  doc/en/example/markers.rst
  doc/en/example/simple.rst
  doc/en/how-to/output.rst
  src/_pytest/junitxml.py
  src/_pytest/pytester.py
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

Update 11091.doc.rst
  changelog/11091.doc.rst
Due: none

Update 7966.bugfix.rst
  changelog/7966.bugfix.rst
Due: none

Merge pull request #11143 from tushar-deepsource/patch-1
  AUTHORS
  changelog/11140.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

Prepare release version 7.4.4
  changelog/11091.doc.rst
  changelog/11140.bugfix.rst
  changelog/11572.bugfix.rst
  changelog/11710.bugfix.rst
  changelog/7966.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-7.4.4.rst
  doc/en/changelog.rst
  doc/en/getting-started.rst
Due: none

Merge pull request #11752 from pytest-dev/release-7.4.4
  changelog/11091.doc.rst
  changelog/11146.bugfix.rst
  changelog/11572.bugfix.rst
  changelog/11710.bugfix.rst
  changelog/7966.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-7.4.4.rst
  doc/en/changelog.rst
  doc/en/getting-started.rst
Due: none

Remove deprecated pytest.{exit,fail,skip}(msg=...) argument
  doc/en/deprecations.rst
  src/_pytest/deprecated.py
  src/_pytest/outcomes.py
  testing/deprecated_test.py
  testing/test_skipping.py
Due: py-deprecated, py-path-deprecated

Remove deprecated nose support
  README.rst
  doc/en/adopt.rst
  doc/en/contents.rst
  doc/en/deprecations.rst
  doc/en/example/index.rst
  doc/en/explanation/fixtures.rst
  doc/en/how-to/existingtestsuite.rst
  doc/en/how-to/index.rst
  doc/en/how-to/nose.rst
  doc/en/index.rst
  setup.cfg
  src/_pytest/config/__init__.py
  src/_pytest/deprecated.py
  src/_pytest/nose.py
  src/_pytest/python.py
  testing/deprecated_test.py
  testing/test_nose.py
Due: rst, py-deprecated, py-path-deprecated

Remove deprecated `Parser.addoption` backward compatibilities
  doc/en/deprecations.rst
  src/_pytest/config/argparsing.py
  src/_pytest/deprecated.py
  testing/test_parseopt.py
Due: py-deprecated, py-path-deprecated

Remove deprecated `--strict` option
  doc/en/deprecations.rst
  src/_pytest/config/__init__.py
  src/_pytest/deprecated.py
  testing/deprecated_test.py
Due: py-deprecated, py-path-deprecated
