Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.(feature|bugfix|doc|deprecation|removal|vendor|trivial).rst'

Fix reST markup.
  changelog/6255.bugfix.rst
Due: rst

WIP: last-failed: honor args
  src/_pytest/cacheprovider.py
Due: none

main: wrap_session: handle exit.Exception with notify_exception
  changelog/6257.improvement.rst
  src/_pytest/main.py
  testing/test_main.py
Due: rst, changelogs-rst

terminal: _get_main_color: help pytest-parallel
  changelog/6254.bugfix.rst
  src/_pytest/terminal.py
Due: rst

Add stacklevel tests for warnings, 'location' to pytest_warning_captured
  AUTHORS
  changelog/4445.bugfix.rst
  changelog/5928.bugfix.rst
  changelog/5984.improvement.rst
  src/_pytest/config/__init__.py
  src/_pytest/hookspec.py
  src/_pytest/mark/structures.py
  src/_pytest/warnings.py
  testing/test_warnings.py
Due: rst, changelogs-rst

Fix line detection for properties in doctest tests
  changelog/6082.bugfix.rst
  src/_pytest/doctest.py
  testing/test_doctest.py
Due: rst

pytester: remove special handling of env during inner runs
  changelog/6213.improvement.rst
  src/_pytest/pytester.py
  testing/test_pdb.py
  testing/test_pytester.py
Due: rst, changelogs-rst

update doc examples **untested**
  doc/en/deprecations.rst
  doc/en/example/nonpython/conftest.py
  doc/en/example/py2py3/conftest.py
Due: none

deprecate direct node construction and introduce Node.from_parent
  changelog/5975.deprecation.rst
  src/_pytest/deprecated.py
  src/_pytest/doctest.py
  src/_pytest/main.py
  src/_pytest/nodes.py
  src/_pytest/pytester.py
  src/_pytest/python.py
  src/_pytest/unittest.py
  testing/deprecated_test.py
  testing/python/collect.py
  testing/python/integration.py
  testing/python/metafunc.py
  testing/test_collection.py
  testing/test_mark.py
  testing/test_pluginmanager.py
Due: rst

Correct a typo in _pytest/config/__init__.py
  src/_pytest/config/__init__.py
Due: none

Fix for issue #5430 - junit-xml: logs are not passed to junit report for tests failed not in a teardown phase
  src/_pytest/junitxml.py
  testing/test_junitxml.py
Due: none

Create changelog file and update AUTHORS
  AUTHORS
  changelog/5430.bugfix.rst
Due: rst

Avoid duplicating system-out and system-error tags
  src/_pytest/junitxml.py
Due: none

tox: docs: --keep-going and posargs
  tox.ini
Due: none

docs: add missing `log_cli` confval
  doc/en/reference.rst
Due: none

typing: minor improvements
  src/_pytest/fixtures.py
  src/_pytest/main.py
Due: none

stop using rst-lint for changelogs
  .pre-commit-config.yaml
Due: none

improve new changelog entries
  changelog/5914.bugfix.rst
  changelog/6082.bugfix.rst
  changelog/6231.improvement.rst
  changelog/6257.improvement.rst
Due: rst, changelogs-rst

tox: docs: do not use changedir for saner (pos)args handling
  tox.ini
Due: none

docs: changelog add links for #5255
  changelog/6255.bugfix.rst
Due: rst

Revert "Fix reST markup."
  changelog/6255.bugfix.rst
Due: rst

docs: add docs-draft tox env, with generated towncrier draft
  .gitignore
  .travis.yml
  doc/en/changelog.rst
  doc/en/conf.py
  tox.ini
Due: none

add some links to current changelog
  CHANGELOG.rst
  doc/en/reference.rst
Due: rst

Preparing release version 5.3.1
  CHANGELOG.rst
  changelog/5914.bugfix.rst
  changelog/6082.bugfix.rst
  changelog/6231.improvement.rst
  changelog/6254.bugfix.rst
  changelog/6255.bugfix.rst
  changelog/6257.improvement.rst
  doc/en/announce/index.rst
  doc/en/announce/release-5.3.1.rst
  doc/en/example/parametrize.rst
  doc/en/example/reportingdemo.rst
  doc/en/example/simple.rst
  doc/en/getting-started.rst
Due: rst, changelogs-rst

changelog/README.rst: add note about docs-draft
  changelog/README.rst
Due: rst

doc/en/conf.py: document WarnLogFilter
  doc/en/conf.py
Due: none

pytester: use no colors with inline runs by default
  src/_pytest/pytester.py
  testing/test_pdb.py
  testing/test_terminal.py
Due: none

Display `session.shouldfail` with summary stats
  changelog/6181.improvement.rst
  src/_pytest/main.py
  src/_pytest/terminal.py
  testing/test_collection.py
  testing/test_terminal.py
Due: rst, changelogs-rst

Remove duplicated changelog entry for 5.3.1
  CHANGELOG.rst
Due: rst

typing: helpconfig
  src/_pytest/helpconfig.py
Due: none

minor: helpconfig: simplify code
  src/_pytest/helpconfig.py
Due: none

fixes #5065
  testing/test_debugging.py
Due: none

docs: move changelog to docs/en and allow sphinx directives
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.rst
  changelog/README.rst
  doc/en/changelog.rst
  doc/en/conf.py
  doc/en/reference.rst
  pyproject.toml
  scripts/release.py
  tox.ini
Due: rst

WIP POC RFC: remove config/session as possible parameters for node
  src/_pytest/main.py
  src/_pytest/nodes.py
  src/_pytest/python.py
  testing/deprecated_test.py
  testing/example_scripts/fixtures/custom_item/conftest.py
  testing/python/collect.py
  testing/python/fixtures.py
  testing/test_collection.py
Due: none

Include <testsuites> root tag in generated XML (#5550)
  changelog/5477.bugfix.rst
  src/_pytest/junitxml.py
  testing/test_junitxml.py
Due: rst

Ensure cache supporting files still exist after --cache-clear
  changelog/6290.bugfix.rst
  src/_pytest/cacheprovider.py
  testing/test_cacheprovider.py
Due: rst

fixed typo
  doc/en/reference.rst
Due: none

Path conditions:
  rst: any of: ^(CHANGELOG.rst|HOWTORELEASE.rst|README.rst|changelog/.*)$, but not: doc/en/example/py2py3/test_py2.py
  changelogs-rst: any of: ^changelog/ and not (changelog/(\d+\.(feature|bugfix|doc|deprecation|removal|vendor|trivial).rst|README.rst|_template.rst)) and not (doc/en/example/py2py3/test_py2.py)
