Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

Add comprehensive CLI options documentation and new cross-referencing role
  changelog/4492.doc.rst
  doc/en/conf.py
  doc/en/how-to/cli-options.rst
  doc/en/how-to/index.rst
  doc/en/reference/reference.rst
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Enhance CLI options documentation with improved formatting and clarity
  doc/en/reference/reference.rst
Due: changelogs-user-role

Add online CLI options reference – fixes #4492
  doc/en/how-to/cli-options.rst
  doc/en/how-to/index.rst
Due: changelogs-user-role

Fix CLI options documentation references and correct link formatting
  doc/en/reference/reference.rst
Due: changelogs-user-role

Add changelog
  changelog/4492.doc.rst
Due: changelogs-user-role

Improvements
  changelog/4492.doc.rst
  doc/en/conf.py
  doc/en/how-to/usage.rst
  doc/en/reference/reference.rst
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix docs typo
  doc/en/example/pythoncollection.rst
Due: changelogs-user-role

Drop an accidental backtick from the plugin list doc template
  scripts/update-plugin-list.py
Due: py-deprecated, py-path-deprecated

Merge pull request #14006 from pytest-dev/maintenance/update-plugin-list-tmpl-rst-backtick-typo
  scripts/update-plugin-list.py
Due: py-deprecated, py-path-deprecated

Fix docs typo (#14005)
  doc/en/example/pythoncollection.rst
Due: changelogs-user-role

Add some cross refs
  doc/en/backwards-compatibility.rst
  doc/en/builtin.rst
  doc/en/example/markers.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/simple.rst
  doc/en/explanation/goodpractices.rst
  doc/en/explanation/pythonpath.rst
  doc/en/getting-started.rst
  doc/en/how-to/assert.rst
  doc/en/how-to/cache.rst
  doc/en/how-to/capture-stdout-stderr.rst
  doc/en/how-to/capture-warnings.rst
  doc/en/how-to/doctest.rst
  doc/en/how-to/failures.rst
  doc/en/how-to/fixtures.rst
  doc/en/how-to/logging.rst
  doc/en/how-to/mark.rst
  doc/en/how-to/monkeypatch.rst
  doc/en/how-to/output.rst
  doc/en/how-to/plugins.rst
  doc/en/how-to/skipping.rst
  doc/en/how-to/subtests.rst
  doc/en/how-to/tmp_path.rst
  doc/en/how-to/unittest.rst
  doc/en/how-to/usage.rst
  doc/en/how-to/writing_plugins.rst
  doc/en/reference/customize.rst
  doc/en/reference/fixtures.rst
  doc/en/reference/reference.rst
Due: changelogs-user-role

Add some "more information" backrefs
  doc/en/reference/reference.rst
Due: changelogs-user-role

Add CLI options reference documentation (#13930)
  changelog/4492.doc.rst
  doc/en/backwards-compatibility.rst
  doc/en/builtin.rst
  doc/en/example/markers.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/simple.rst
  doc/en/explanation/goodpractices.rst
  doc/en/explanation/pythonpath.rst
  doc/en/getting-started.rst
  doc/en/how-to/assert.rst
  doc/en/how-to/cache.rst
  doc/en/how-to/capture-stdout-stderr.rst
  doc/en/how-to/capture-warnings.rst
  doc/en/how-to/doctest.rst
  doc/en/how-to/failures.rst
  doc/en/how-to/fixtures.rst
  doc/en/how-to/logging.rst
  doc/en/how-to/mark.rst
  doc/en/how-to/monkeypatch.rst
  doc/en/how-to/output.rst
  doc/en/how-to/plugins.rst
  doc/en/how-to/skipping.rst
  doc/en/how-to/subtests.rst
  doc/en/how-to/tmp_path.rst
  doc/en/how-to/unittest.rst
  doc/en/how-to/usage.rst
  doc/en/how-to/writing_plugins.rst
  doc/en/reference/customize.rst
  doc/en/reference/fixtures.rst
  doc/en/reference/reference.rst
Due: changelogs-user-role

Fix broken contact reference in contributing.rst by adding proper contact link
  CONTRIBUTING.rst
Due: changelogs-user-role

Add changelog entry for CONTRIBUTING.rst fix
  changelog/13966.trivial.rst
Due: changelogs-rst, changelogs-user-role

Add correct changelog entry for PR #14010
  changelog/13966.trivial.rst
  changelog/14010.doc.rst
Due: changelogs-rst, changelogs-user-role

Use pickle
  src/_pytest/subtests.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

doc: use builtin `confval` directive
  changelog/14012.packaging.rst
  doc/en/conf.py
  doc/en/requirements.txt
Due: changelogs-user-role, py-deprecated, py-path-deprecated

doc: make use of `confval`'s `type' and `default` options
  changelog/14012.doc.rst
  doc/en/reference/reference.rst
Due: changelogs-user-role

Delete changelog/14010.doc.rst
  changelog/14010.doc.rst
Due: changelogs-user-role

Make references in CONTRIBUTIGN.rst work in GitHub (#14010)
  CONTRIBUTING.rst
Due: changelogs-user-role

doc: add compat note about `config.args` to pytest 9.0.0 changelog
  doc/en/changelog.rst
Due: changelogs-user-role

fixtures: turn requesting async fixture without a plugin into a hard error
  doc/en/deprecations.rst
  src/_pytest/fixtures.py
  testing/acceptance_test.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

Fix subtests documentation highlighting: remove misleading all-green 'u' output
  AUTHORS
  doc/en/how-to/subtests.rst
Due: changelogs-user-role

docs: restore accidentally removed subtest output explanation
  doc/en/how-to/subtests.rst
Due: changelogs-user-role

separate subtests failures to give better indication on tests analysis
  AUTHORS
  changelog/13986.bugfix.rst
  src/_pytest/pytester.py
  src/_pytest/subtests.py
  src/_pytest/terminal.py
  testing/test_subtests.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

config: catch conftest blocking
  changelog/13634.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

new author
  AUTHORS
Due: none

Add Never Enough Tests: Comprehensive stress testing suite
  testing/never_enough_tests/CONTRIBUTING.md
  testing/never_enough_tests/QUICKSTART.sh
  testing/never_enough_tests/README.md
  testing/never_enough_tests/RESULTS.md
  testing/never_enough_tests/conftest.py
  testing/never_enough_tests/cpp_components/Makefile
  testing/never_enough_tests/cpp_components/boundary_tester
  testing/never_enough_tests/cpp_components/boundary_tester.cpp
  testing/never_enough_tests/cpp_components/fuzzer.cpp
  testing/never_enough_tests/pytest.ini
  testing/never_enough_tests/requirements.txt
  testing/never_enough_tests/scripts/benchmark_runner.sh
  testing/never_enough_tests/scripts/chaos_runner.sh
  testing/never_enough_tests/scripts/never_enough_tests.sh
  testing/never_enough_tests/test_advanced_patterns.py
  testing/never_enough_tests/test_never_enough.py
Due: py-deprecated, py-path-deprecated

Add contribution documentation and PR templates
  testing/never_enough_tests/FORK_AND_CONTRIBUTE.md
  testing/never_enough_tests/PRE_CONTRIBUTION_CHECKLIST.md
  testing/never_enough_tests/PULL_REQUEST_TEMPLATE.md
  testing/never_enough_tests/README.md
Due: none

feat: add `--report-chars` long option and its corresponding test
  src/_pytest/terminal.py
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

docs: Add `--report-chars` long option to `-r` in reference documentation.
  doc/en/reference/reference.rst
Due: changelogs-user-role

docs: add Junhao Liao to AUTHORS
  AUTHORS
Due: none

add changelog
  changelog/14023.feature.rst
Due: changelogs-user-role

docs: format CLI option in changelog entry
  changelog/14023.feature.rst
Due: changelogs-user-role

don't crash if exceptiongroup has only hidden tb frames
  src/_pytest/_code/code.py
  testing/code/test_excinfo.py
Due: py-deprecated, py-path-deprecated

add newsfragment
  changelog/13734.bugfix.rst
Due: changelogs-user-role

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
