Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

[7.4.x] Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Due: none

Prepare release version 7.4.1
  changelog/10337.bugfix.rst
  changelog/10702.bugfix.rst
  changelog/10811.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-7.4.1.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/reportingdemo.rst
  doc/en/getting-started.rst
  doc/en/how-to/tmp_path.rst
  doc/en/reference/reference.rst
Due: none

Improve CI workflow
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  RELEASING.rst
Due: rst

Checkout source code during deploy
  .github/workflows/deploy.yml
Due: none

Merge pull request #11377 from pytest-dev/release-7.4.1
  .github/workflows/deploy.yml
  changelog/10337.bugfix.rst
  changelog/10702.bugfix.rst
  changelog/10811.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-7.4.1.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/reportingdemo.rst
  doc/en/getting-started.rst
  doc/en/how-to/tmp_path.rst
  doc/en/reference/reference.rst
Due: none

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: none

Update changelog/11367.bugfix.rst
  changelog/11367.bugfix.rst
Due: none

[junit] move properties handling to `finalize()`
  AUTHORS
  changelog/11367.bugfix.rst
  src/_pytest/junitxml.py
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

Fix user_properties not saved to XML if fixture errors during teardown
  AUTHORS
  changelog/11367.bugfix.rst
  src/_pytest/junitxml.py
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

Fix user_properties not saved to XML if fixture errors during teardown (#11382)
  AUTHORS
  changelog/11367.bugfix.rst
  src/_pytest/junitxml.py
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

Fix import_path for packages
  changelog/11306.bugfix.rst
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

fixtures: avoid using the mildly expensive `fixturenames` property
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

fixtures: use the item `fixturenames` in `request.fixturenames`
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

doctest: add `fixturenames` field to `DoctestItem`
  src/_pytest/doctest.py
Due: py-deprecated, py-path-deprecated

python: type some CallSpec2 fields as immutable
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

fixtures: require `item.fixturenames` to exist in `_fillfixtures`
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

fixtures: avoid some redundant work in `_fillfixtures`
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

fixtures: tiny code cleanup
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

python: avoid an Any
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

Fix import_path for packages (#11390)
  changelog/11306.bugfix.rst
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

[7.4.x] Fix import_path for packages
  changelog/11306.bugfix.rst
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

Issue #11391 improve plugin list disclaimer
  AUTHORS
  changelog/11391.doc.rst
  doc/en/reference/plugin_list.rst
  scripts/update-plugin-list.py
Due: py-deprecated, py-path-deprecated

Improve plugin list disclaimer (#11397)
  AUTHORS
  changelog/11391.doc.rst
  doc/en/reference/plugin_list.rst
  scripts/update-plugin-list.py
Due: py-deprecated, py-path-deprecated

[7.4.x] improve plugin list disclaimer
  AUTHORS
  changelog/11391.doc.rst
  doc/en/reference/plugin_list.rst
  scripts/update-plugin-list.py
Due: py-deprecated, py-path-deprecated

doc: Remove done training
  doc/en/index.rst
Due: none

doc: Remove done training (#11399)
  doc/en/index.rst
Due: none

[7.4.x] doc: Remove done training
  doc/en/index.rst
Due: none

[7.4.x] Fix doctest collection of `functools.cached_property` objects.
  AUTHORS
  changelog/11237.bugfix.rst
  src/_pytest/doctest.py
  testing/test_doctest.py
Due: py-deprecated, py-path-deprecated

Account for Python 3.7 in the 7.4.x branch
  src/_pytest/doctest.py
  testing/test_doctest.py
Due: py-deprecated, py-path-deprecated

Fix crash when passing a very long cmdline argument
  testing/test_main.py
Due: py-deprecated, py-path-deprecated

fixup! Fix crash when passing a very long cmdline argument
  changelog/11394.bugfix.rst
  src/_pytest/main.py
  src/_pytest/pathlib.py
  testing/test_main.py
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

Improve and fix changelog
  changelog/10465.deprecation.rst
  changelog/11151.breaking.rst
Due: none

updating changelog
  changelog/10465.deprecation.rst
Due: none

changing parent class of PytestReturnNotNoneWarning
  AUTHORS
  src/_pytest/warning_types.py
Due: py-deprecated, py-path-deprecated

Change PytestReturnNotNoneWarning to return a normal warning (#11211)
  AUTHORS
  changelog/10465.deprecation.rst
  changelog/11151.breaking.rst
  src/_pytest/warning_types.py
Due: py-deprecated, py-path-deprecated

Fix crash when passing a very long cmdline argument (#11404)
  changelog/11394.bugfix.rst
  src/_pytest/main.py
  src/_pytest/pathlib.py
  testing/test_main.py
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

Use _pytest.pathlib.safe_exists in get_dirs_from_args
  src/_pytest/config/__init__.py
  src/_pytest/config/findpaths.py
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py
