Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        args: [--safe, --quiet]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.8.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==19.10b0]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: check-yaml
    -   id: debug-statements
        exclude: _pytest/(debugging|hookspec).py
        language_version: python3
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-typing-imports==1.9.0
          - flake8-docstrings==1.5.0
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.3.5
    hooks:
    -   id: reorder-python-imports
        args: ['--application-directories=.:src', --py36-plus]
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.11.0
    hooks:
    -   id: setup-cfg-fmt
        # TODO: when upgrading setup-cfg-fmt this can be removed
        args: [--max-py-version=3.9]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.6.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.790
    hooks:
    -   id: mypy
        files: ^(src/|testing/)
        args: []
        additional_dependencies:
          - iniconfig>=1.1.0
          - py>=1.8.2
          - attrs>=19.2.0
          - packaging
-   repo: local
    hooks:
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'
        exclude: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
        files: ^changelog/
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]

tests: Migrate testing/python to pytester fixture
  src/_pytest/pytester.py
  testing/python/collect.py
  testing/python/fixtures.py
  testing/python/integration.py
  testing/python/metafunc.py
  testing/python/raises.py
  testing/python/show_fixtures_per_test.py
Due: py-deprecated

python_api: handle array-like args in approx()
  changelog/8132.bugfix.rst
  src/_pytest/python_api.py
  testing/python/approx.py
Due: py-deprecated

python_api: reduce duplication in _is_numpy_array
  src/_pytest/python_api.py
Due: py-deprecated

tests: Migrate to pytester - incremental update
  src/_pytest/reports.py
  testing/code/test_excinfo.py
  testing/examples/test_issue519.py
  testing/io/test_terminalwriter.py
  testing/logging/test_fixture.py
  testing/logging/test_reporting.py
  testing/test_cacheprovider.py
  testing/test_conftest.py
  testing/test_junitxml.py
  testing/test_monkeypatch.py
  testing/test_pluginmanager.py
  testing/test_reports.py
  testing/test_runner.py
Due: py-deprecated

Some py.path.local -> pathlib.Path
  src/_pytest/assertion/rewrite.py
  src/_pytest/config/argparsing.py
  src/_pytest/fixtures.py
  src/_pytest/main.py
  src/_pytest/monkeypatch.py
  src/_pytest/nodes.py
  src/_pytest/pathlib.py
  testing/test_assertrewrite.py
  testing/test_main.py
  testing/test_nodes.py
Due: py-deprecated

hookspec: add pathlib.Path alternatives to py.path.local parameters in hooks
  changelog/8144.feature.rst
  src/_pytest/hookspec.py
  src/_pytest/main.py
  src/_pytest/python.py
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: py-deprecated

address comments
  src/_pytest/reports.py
  testing/test_cacheprovider.py
  testing/test_junitxml.py
  testing/test_reports.py
Due: py-deprecated

tests: Migrate to pytester - incremental update (#8145)
  testing/code/test_excinfo.py
  testing/examples/test_issue519.py
  testing/io/test_terminalwriter.py
  testing/logging/test_fixture.py
  testing/logging/test_reporting.py
  testing/test_cacheprovider.py
  testing/test_conftest.py
  testing/test_monkeypatch.py
  testing/test_pluginmanager.py
  testing/test_reports.py
  testing/test_runner.py
Due: py-deprecated

python_api: handle array-like args in approx() (#8137)
  changelog/8132.bugfix.rst
  src/_pytest/python_api.py
  testing/python/approx.py
Due: py-deprecated

Prepare release version 6.2.1
  changelog/7678.bugfix.rst
  changelog/8132.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-6.2.1.rst
  doc/en/changelog.rst
  doc/en/getting-started.rst
Due: none

Use manual trigger to prepare release PRs
  .github/workflows/prepare-release-pr.yml
  scripts/prepare-release-pr.py
  tox.ini
Due: py-deprecated

Merge pull request #8149 from pytest-dev/release-6.2.1
  changelog/7678.bugfix.rst
  changelog/8132.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-6.2.1.rst
  doc/en/changelog.rst
  doc/en/getting-started.rst
Due: none

terminal: fix "(<Skipped instance>)" skip reason in test status line
  changelog/8152.bugfix.rst
  src/_pytest/outcomes.py
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: py-deprecated

Apply suggestions from code review
  scripts/prepare-release-pr.py
Due: py-deprecated

Remove the check about feature releases from master
  scripts/prepare-release-pr.py
Due: py-deprecated

Use manual trigger to prepare release PRs (#8150)
  .github/workflows/prepare-release-pr.yml
  scripts/prepare-release-pr.py
  tox.ini
Due: py-deprecated

Fix events variable in prepare-release-pr.yml
  .github/workflows/prepare-release-pr.yml
Due: none

Prepare release version 6.3.0
  changelog/8144.feature.rst
  doc/en/announce/index.rst
  doc/en/announce/release-6.3.0.rst
  doc/en/changelog.rst
  doc/en/getting-started.rst
Due: none

Use transparent PNG for logo
  doc/en/img/pytest1.png
Due: none

DO NOT MERGE using link to actual image
  README.rst
Due: rst

Use svg instead of PNG
  README.rst
Due: rst

Add image
  doc/en/img/pytest_logo_curves.svg
Due: none

Reduce SVG size on readme
  README.rst
Due: rst

Set height to 200
  README.rst
Due: rst

Use svg on the docs
  doc/en/conf.py
Due: py-deprecated

Fix link in README
  README.rst
Due: rst

Use transparent PNG for logo (#8159)
  README.rst
  doc/en/conf.py
  doc/en/img/pytest1.png
  doc/en/img/pytest_logo_curves.svg
Due: rst, py-deprecated

Clarify fixture execution order and provide visual aids (#7381)
  AUTHORS
  doc/en/example/fixtures/fixture_availability.svg
  doc/en/example/fixtures/fixture_availability_plugins.svg
  doc/en/example/fixtures/test_fixtures_order.py
  doc/en/example/fixtures/test_fixtures_order_autouse.py
  doc/en/example/fixtures/test_fixtures_order_autouse.svg
  doc/en/example/fixtures/test_fixtures_order_autouse_multiple_scopes.py
  doc/en/example/fixtures/test_fixtures_order_autouse_multiple_scopes.svg
  doc/en/example/fixtures/test_fixtures_order_autouse_temp_effects.py
  doc/en/example/fixtures/test_fixtures_order_autouse_temp_effects.svg
  doc/en/example/fixtures/test_fixtures_order_dependencies.py
  doc/en/example/fixtures/test_fixtures_order_dependencies.svg
  doc/en/example/fixtures/test_fixtures_order_dependencies_flat.svg
  doc/en/example/fixtures/test_fixtures_order_dependencies_unclear.svg
  doc/en/example/fixtures/test_fixtures_order_scope.py
  doc/en/example/fixtures/test_fixtures_order_scope.svg
  doc/en/example/fixtures/test_fixtures_request_different_scope.py
  doc/en/example/fixtures/test_fixtures_request_different_scope.svg
  doc/en/fixture.rst
Due: py-deprecated

Remove Travis badge from README
  README.rst
Due: rst

Merge pull request #8152 from bluetech/empty-skip
  changelog/8152.bugfix.rst
  src/_pytest/outcomes.py
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: py-deprecated

Remove other references to Travis
  scripts/append_codecov_token.py
  scripts/publish-gh-release-notes.py
  tox.ini
Due: py-deprecated

Fix getfuncargnames on wrapper function
  src/_pytest/compat.py
Due: py-deprecated

Add Changelog to setup.cfg
  setup.cfg
Due: none

stable
  setup.cfg
Due: none

Update setup.cfg
  setup.cfg
Due: none

Add Changelog to setup.cfg (#8166)
  setup.cfg
Due: none

infra: Temporary pin setup-python GH action to v2.1.4
  .github/workflows/main.yml
  .github/workflows/prepare-release-pr.yml
  .github/workflows/release-on-comment.yml
Due: none
