Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

pathlib: remove unneeded code from `_import_module_using_spec`
  src/_pytest/pathlib.py
Due: py-deprecated, py-path-deprecated

assertion/rewrite: remove unnecessary code in `AssertionRewritingHook.find_spec`
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

pathlib: remove `module_location` parameter of `_import_module_using_spec`
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

doc/reference: add a note to `consider_namespace_packages` that the packages need to be importable
  doc/en/reference/reference.rst
Due: changelogs-user-role

Add --max-warnings option to fail test runs
  AUTHORS
  changelog/14371.feature.rst
  doc/en/how-to/capture-warnings.rst
  doc/en/reference/exit-codes.rst
  doc/en/reference/reference.rst
  src/_pytest/config/__init__.py
  src/_pytest/main.py
  src/_pytest/terminal.py
  testing/test_warnings.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

apply suggestions from feedback
  changelog/14371.feature.rst
  doc/en/how-to/capture-warnings.rst
  doc/en/reference/reference.rst
  src/_pytest/config/__init__.py
  src/_pytest/main.py
  src/_pytest/terminal.py
  testing/test_warnings.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix `-V` to show version information
  changelog/14381.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_helpconfig.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Apply suggestion from @nicoddemus
  doc/en/how-to/capture-warnings.rst
Due: changelogs-user-role

Apply suggestion from @nicoddemus
  doc/en/reference/reference.rst
Due: changelogs-user-role

Rename ExitCode.WARNINGS_ERROR to ExitCode.MAX_WARNINGS_ERROR
  doc/en/how-to/capture-warnings.rst
  doc/en/reference/reference.rst
  src/_pytest/config/__init__.py
  src/_pytest/terminal.py
  testing/test_warnings.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

assertion/util: improve typing
  src/_pytest/assertion/util.py
Due: py-deprecated, py-path-deprecated

testing/python/approx: add coverage for assertion rewriting when `approx` is on the LHS
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

runner: correctly cleanup item _request/funcargs if an exception was reraised during call (e.g. KeyboardInterrupt)
  changelog/13626.bugfix.rst
  src/_pytest/runner.py
  testing/test_runner.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Style: Use type.__name__ in raises error messages for consistency (#13862)
  changelog/13862.improvement.rst
  src/_pytest/raises.py
  testing/python/raises.py
  testing/python/raises_group.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

assertion/util: remove unused parameter `use_ascii` to `assertrepr_compare`
  src/_pytest/assertion/util.py
Due: py-deprecated, py-path-deprecated

docs: hyphenate user-provided scope wording
  src/_pytest/scope.py
Due: py-deprecated, py-path-deprecated

Add `--max-warnings` option to fail test runs (#14372)
  AUTHORS
  changelog/14371.feature.rst
  doc/en/how-to/capture-warnings.rst
  doc/en/reference/exit-codes.rst
  doc/en/reference/reference.rst
  src/_pytest/config/__init__.py
  src/_pytest/main.py
  src/_pytest/terminal.py
  testing/test_warnings.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Clarify caplog.set_level() is a threshold level in docs
  doc/en/how-to/logging.rst
Due: changelogs-user-role

Use direct cause for raises match failures
  AUTHORS
  changelog/14389.bugfix.rst
  src/_pytest/raises.py
  testing/python/raises.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix is_fully_escaped not handling consecutive backslashes
  changelog/14392.bugfix.rst
  src/_pytest/raises.py
  testing/python/raises.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix incorrect test assertion for 4-backslash case
  testing/python/raises.py
Due: py-deprecated, py-path-deprecated

Fix line endings in test file (LF instead of CRLF)
  testing/python/raises.py
Due: py-deprecated, py-path-deprecated

Initial fix for issue 14112-pytest crashing with ptest-xdist
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

fix: use f-string instead of .format() in show_test_item
  src/_pytest/runner.py
Due: py-deprecated, py-path-deprecated

fix: use f-string instead of .format() in show_test_item (#14398)
  src/_pytest/runner.py
Due: py-deprecated, py-path-deprecated

fix: preserve bytes type in partial binary capture
  src/_pytest/capture.py
  testing/test_capture.py
Due: py-deprecated, py-path-deprecated

Handle missing terminalreporter in get_terminal_writer
  changelog/14377.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix `-V` to show version information (#14382)
  changelog/14381.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_helpconfig.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix(raises): count consecutive backslashes in is_fully_escaped
  src/_pytest/raises.py
Due: py-deprecated, py-path-deprecated

fix(pytester): add type annotations to makepyfile and maketxtfile params
  src/_pytest/pytester.py
Due: py-deprecated, py-path-deprecated

Fix: use in RaisesExc.__exit__ for correct exception chaining
  src/_pytest/raises.py
Due: py-deprecated, py-path-deprecated

fix(raises): guard check callback against AttributeError on inner exception in RaisesGroup
  src/_pytest/raises.py
Due: py-deprecated, py-path-deprecated

fix(terminal): include subtests in timing progress reports
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Add datetime/timedelta support to pytest.approx (#8395)
  AUTHORS
  changelog/8395.feature.rst
  src/_pytest/python_api.py
  testing/python/approx.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Handle unittest.SkipTest during collection as error (#10821)
  src/_pytest/runner.py
  testing/test_unittest.py
Due: py-deprecated, py-path-deprecated

Fix phantom nodeid for tests collected outside rootpath (#13254)
  changelog/13254.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated
