Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
    -   id: black
        args: [--safe, --quiet]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==20.8b1]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: check-yaml
    -   id: debug-statements
        exclude: _pytest/(debugging|hookspec).py
        language_version: python3
-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        name: autoflake
        args: ["--in-place", "--remove-unused-variables", "--remove-all-unused-imports"]
        language: python
        files: \.py$
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-typing-imports==1.12.0
          - flake8-docstrings==1.5.0
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.7.1
    hooks:
    -   id: reorder-python-imports
        args: ['--application-directories=.:src', --py37-plus]
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.31.0
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
-   repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.20.0
    hooks:
    -   id: setup-cfg-fmt
        args: [--max-py-version=3.10]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        files: ^(src/|testing/)
        args: []
        additional_dependencies:
          - iniconfig>=1.1.0
          - py>=1.8.2
          - attrs>=19.2.0
          - packaging
          - tomli
          - types-atomicwrites
          - types-pkg_resources
-   repo: local
    hooks:
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'
        exclude: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
        files: ^changelog/
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

Update AUTHORS
  AUTHORS
Due: none

chore: add changelog entry
  changelog/11525.improvement.rst
Due: none

docs: fix docstring
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

add test case for asserting missing fixture
  src/_pytest/assertion/rewrite.py
  src/_pytest/fixtures.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

refactor: replace attribute check with type check
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

chore: update changelog
  changelog/11525.improvement.rst
Due: none

test: add test for _get_wrapped_function
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

refactor: remove unused code
  src/_pytest/assertion/rewrite.py
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

refactor: replace type with isinstance
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

docs: update docstring
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

refactor: use instance check to print repr
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

docs: ignore FixtureFunctionDefinition from docs
  doc/en/conf.py
Due: py-deprecated, py-path-deprecated

🚑🧪📝 Allow invoking `git` in tox
  tox.ini
Due: none

🚑🧪📝 Stop capping Towncrier @ local docs builds
  tox.ini
Due: none

fixup: restore comment for Config.cache
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

fixup: summary_failures_combined arg needed_opt is not kwonly on 8.2.x
  src/_pytest/terminal.py
Due: py-deprecated, py-path-deprecated

fixup: Config.cache cannot be None
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

chore: setuponly - migrate to f string
  src/_pytest/setuponly.py
Due: py-deprecated, py-path-deprecated

chore: junitxml tests: introduce more typesafe helpers
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

chore: skipping tests: migrate to f-strings
  testing/test_skipping.py
Due: py-deprecated, py-path-deprecated

chore: MockTiming - move impl to _pytest.timing
  src/_pytest/timing.py
  testing/conftest.py
Due: py-deprecated, py-path-deprecated

chore: fixture tests: migrate to f-strings
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

chore: junitxml tests: add more type annotations
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

add changelog
  changelog/12017.improvement.rst
Due: none

Node: use f-string for repr
  src/_pytest/nodes.py
Due: py-deprecated, py-path-deprecated

add type annotations, pass over Node to more
  src/_pytest/main.py
  src/_pytest/nodes.py
  testing/test_nodes.py
Due: py-deprecated, py-path-deprecated

📝 Add comments to change note categories
  pyproject.toml
Due: none

📝 Extend change log title meanings
  pyproject.toml
Due: none

📝💅 Split `trivial` change log category into 3
  .pre-commit-config.yaml
  changelog/README.rst
  pyproject.toml
Due: none

🎨 Set up Git to only allow certain change notes
  changelog/.gitignore
Due: changelogs-rst

📝 Add a change note for PR #12501
  changelog/12501.contrib.rst
Due: changelogs-rst

complete typing of nodes.py
  src/_pytest/nodes.py
Due: py-deprecated, py-path-deprecated

Merge pull request #12501 from webknjaz/maintenance/changelog-categories
  .pre-commit-config.yaml
  changelog/.gitignore
  changelog/12501.contrib.rst
  changelog/README.rst
  pyproject.toml
Due: changelogs-rst

🧪 Make a draft based plugin bump PR CI trigger
  .github/workflows/test.yml
  .github/workflows/update-plugin-list.yml
Due: none

📝 Add a change note for PR #12502
  changelog/12502.contrib.rst
Due: changelogs-rst

🎨 Add descriptions to all `tox` environments
  tox.ini
Due: none

📝 Add a change note to PR #12498
  changelog/12498.contrib.rst
Due: changelogs-rst

📝 Add a change note for PR #12493
  changelog/12493.contrib.rst
Due: changelogs-rst

🧪🚑 Pass a Codecov config to the action @ GHA
  .github/workflows/test.yml
  codecov.yml
Due: none

Merge pull request #12498 from webknjaz/maintenance/tox-descriptions
  changelog/12498.contrib.rst
  tox.ini
Due: changelogs-rst
