Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

FIX: Update raises.py and tests for new error message
  src/_pytest/raises.py
  testing/python/raises.py
  testing/python/raises_group.py
Due: py-deprecated, py-path-deprecated

Clarify regex match error in pytest.raises
  changelog/13859.improvement.rst
  src/_pytest/raises.py
  testing/python/raises.py
  testing/python/raises_group.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

CI: Clarify pytest.raises() regex mismatch error message
  changelog/13859.improvement.rst
  src/_pytest/_code/code.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Clarify regex match error in pytest.raises (#13859)
  changelog/13859.improvement.rst
  src/_pytest/_code/code.py
  src/_pytest/raises.py
  testing/code/test_excinfo.py
  testing/python/raises.py
  testing/python/raises_group.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

helpconfig: remove unused `conftest_options` global
  src/_pytest/helpconfig.py
Due: py-deprecated, py-path-deprecated

Update _argcomplete.py
  src/_pytest/_argcomplete.py
Due: py-deprecated, py-path-deprecated

Refactor: Improve clarity of 'expected exception' error messages
  changelog/13861.improvement.rst
  src/_pytest/raises.py
  testing/python/raises.py
  testing/python/raises_group.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Style: Use type.__name__ in raises error messages for consistency
  changelog/13862.improvement.rst
  src/_pytest/raises.py
  testing/python/raises.py
  testing/python/raises_group.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

config: replace post-parse usage of `known_args_namespace` with `option`
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

config: remove a couple of unneeded `:type:` doc comments
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

config: remove unneeded parse in `_consider_importhook`
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

config: reorder `Parser.parse` near its comrades and add a docstring
  src/_pytest/config/argparsing.py
Due: py-deprecated, py-path-deprecated

config: replace confusing use of `parse_known_and_unknown_args` in `_preparse`
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
Due: py-deprecated, py-path-deprecated

main: remove ineffective "general" group description
  src/_pytest/main.py
Due: py-deprecated, py-path-deprecated

config: use intermixed arg parsing also in `parse_known_and_unknown_args`
  src/_pytest/config/argparsing.py
  testing/test_parseopt.py
Due: py-deprecated, py-path-deprecated

config: use one `ArgumentParser` instead of creating new one for each parse
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
  testing/test_config.py
  testing/test_parseopt.py
Due: py-deprecated, py-path-deprecated

helpconfig: add missing envvars to --help
  src/_pytest/helpconfig.py
Due: py-deprecated, py-path-deprecated

config: remove an unneeded Namespace copy
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

config: move uninteresting error handling code to own functions
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

config: remove `after_preparse`
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
  src/_pytest/helpconfig.py
  testing/test_helpconfig.py
Due: py-deprecated, py-path-deprecated

config: remove unneeded lazy imports
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
Due: py-deprecated, py-path-deprecated

config: inline `_preparse`
  src/_pytest/config/__init__.py
  testing/test_config.py
  testing/test_warnings.py
Due: py-deprecated, py-path-deprecated

Add test for subtest skip
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

Forward log_level from plugin
  src/_pytest/subtests.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

Add test case for nested subtests
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

Docs
  doc/en/how-to/subtests.rst
Due: changelogs-user-role

Replace separate plugin by config.stash
  src/_pytest/subtests.py
Due: py-deprecated, py-path-deprecated

Minor code review
  doc/en/how-to/subtests.rst
  src/_pytest/subtests.py
  testing/test_subtests.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Code review
  changelog/1367.feature.rst
  doc/en/how-to/subtests.rst
  doc/en/reference/reference.rst
  src/_pytest/subtests.py
  src/_pytest/unittest.py
  src/pytest/__init__.py
  testing/test_subtests.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Cleanup internal hacks
  src/_pytest/reports.py
  src/_pytest/subtests.py
  src/_pytest/terminal.py
  src/_pytest/unittest.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

Mention pytest-subtests in the docs
  changelog/1367.feature.rst
  doc/en/how-to/subtests.rst
Due: changelogs-user-role

Update doc/en/reference/reference.rst
  doc/en/reference/reference.rst
Due: changelogs-user-role

Replace attr by dataclass
  src/_pytest/subtests.py
Due: py-deprecated, py-path-deprecated

Force using xdist plugin and fix linting
  src/_pytest/subtests.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

Code review
  changelog/1367.feature.rst
  doc/en/how-to/subtests.rst
  src/_pytest/subtests.py
  src/_pytest/unittest.py
  testing/test_subtests.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add pytest-subtests files changes
  src/_pytest/config/__init__.py
  src/_pytest/subtests.py
  src/pytest/__init__.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

Add "verbosity_subtests" option and revamp tests
  doc/en/reference/reference.rst
  src/_pytest/config/__init__.py
  src/_pytest/subtests.py
  src/_pytest/terminal.py
  src/pytest/__init__.py
  testing/test_subtests.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

subtests: remove direct pytest import
  src/_pytest/subtests.py
Due: py-deprecated, py-path-deprecated

Make top-level tests fail when there are failing subtests
  src/_pytest/subtests.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

Improve coverage
  src/_pytest/subtests.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
