Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

Improve test
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

approx: do not raise error in mixed sequence/collections
  changelog/13010.improvement.rst
  src/_pytest/python_api.py
  testing/python/approx.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Revert "Ignore warning about usefixtures() empty in plugins integration"
  testing/plugins_integration/pytest.ini
Due: none

Ignore warning about usefixtures() empty in plugins integration
  testing/plugins_integration/pytest.ini
Due: none

[Fix PYI063] Use PEP 570 syntax for positional-only parameters
  pyproject.toml
  testing/example_scripts/dataclasses/test_compare_dataclasses_with_custom_eq.py
Due: py-deprecated, py-path-deprecated

[pre-commit] Upgrade ruff to 0.8.1
  .pre-commit-config.yaml
  pyproject.toml
  src/_pytest/_code/__init__.py
  src/_pytest/_code/code.py
  src/_pytest/assertion/rewrite.py
  src/_pytest/capture.py
  src/_pytest/fixtures.py
  src/_pytest/mark/expression.py
  src/_pytest/mark/structures.py
  src/_pytest/nodes.py
  src/_pytest/python.py
  src/_pytest/runner.py
  src/_pytest/skipping.py
  src/pytest/__init__.py
  testing/_py/test_local.py
Due: py-deprecated, py-path-deprecated

[Fix UP031] Manually, keeping some required %r specifiers
  bench/empty.py
  pyproject.toml
  src/_pytest/_code/code.py
  src/_pytest/_io/pprint.py
  src/_pytest/_py/error.py
  src/_pytest/assertion/util.py
  src/_pytest/cacheprovider.py
  src/_pytest/compat.py
  src/_pytest/doctest.py
  src/_pytest/fixtures.py
  src/_pytest/main.py
  src/_pytest/mark/structures.py
  src/_pytest/pytester.py
  src/_pytest/terminal.py
  testing/_py/test_local.py
  testing/example_scripts/dataclasses/test_compare_dataclasses_with_custom_eq.py
  testing/python/metafunc.py
  testing/test_assertion.py
  testing/test_conftest.py
  testing/test_doctest.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Enhancements to unraisable plugin (#12958)
  changelog/12958.improvement.rst
  src/_pytest/tracemalloc.py
  src/_pytest/unraisableexception.py
  src/_pytest/warnings.py
  testing/test_unraisableexception.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

threadexception enhancements
  src/_pytest/threadexception.py
Due: py-deprecated, py-path-deprecated

add changelog
  changelog/13016.improvement.rst
Due: changelogs-user-role

join straggling threads for 1 second before removing excepthook
  src/_pytest/threadexception.py
Due: py-deprecated, py-path-deprecated

add tests
  testing/test_threadexception.py
Due: py-deprecated, py-path-deprecated

use assert_outcomes
  testing/test_threadexception.py
Due: py-deprecated, py-path-deprecated

Apply suggestions from code review
  changelog/13016.improvement.rst
Due: changelogs-user-role

Update changelog/13016.improvement.rst
  changelog/13016.improvement.rst
Due: changelogs-user-role

Update testing/test_threadexception.py
  testing/test_threadexception.py
Due: py-deprecated, py-path-deprecated

Prepare release version 8.3.4
  changelog/10558.doc.rst
  changelog/10829.doc.rst
  changelog/12497.contrib.rst
  changelog/12592.bugfix.rst
  changelog/12818.bugfix.rst
  changelog/12849.bugfix.rst
  changelog/12866.doc.rst
  changelog/12966.doc.rst
  doc/en/announce/index.rst
  doc/en/announce/release-8.3.4.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/getting-started.rst
  doc/en/how-to/fixtures.rst
Due: changelogs-user-role

Prepare release version 8.3.4
  changelog/10558.doc.rst
  changelog/10829.doc.rst
  changelog/12497.contrib.rst
  changelog/12592.bugfix.rst
  changelog/12818.bugfix.rst
  changelog/12849.bugfix.rst
  changelog/12866.doc.rst
  changelog/12966.doc.rst
  changelog/9353.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-8.3.4.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/getting-started.rst
  doc/en/how-to/fixtures.rst
Due: changelogs-user-role

Remove 'pip' command hint from release announcement
  scripts/release.patch.rst
Due: changelogs-user-role

Warn `pytest.mark.usefixtures()` is used without arguments (#13008)
  AUTHORS
  changelog/12426.improvement.rst
  src/_pytest/fixtures.py
  testing/plugins_integration/pytest.ini
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Also mention to announce releases on BlueSky
  RELEASING.rst
Due: rst, changelogs-user-role

Fix collection and simplify tests
  src/_pytest/python.py
  testing/test_collect_imported_tests.py
  testing/test_collect_imports.py
Due: py-deprecated, py-path-deprecated

Improve docs
  changelog/12749.feature.rst
  doc/en/reference/reference.rst
Due: changelogs-user-role

Pass tests directory explicitly
  testing/test_collect_imported_tests.py
Due: py-deprecated, py-path-deprecated

Rename test helper
  testing/test_collect_imported_tests.py
Due: py-deprecated, py-path-deprecated

Update pypa/gh-action-pypi-publish to v1.12.2
  .github/workflows/deploy.yml
Due: none

Merge pull request #13019 from nicoddemus/release-template
  RELEASING.rst
  scripts/release.patch.rst
Due: rst, changelogs-user-role

Load plugins referencing entry point name provided via config and env var
  AUTHORS
  changelog/12624.improvement.rst
  doc/en/reference/reference.rst
  src/_pytest/config/__init__.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

align comments between threadexception and unraisableexception plugins
  src/_pytest/threadexception.py
  src/_pytest/unraisableexception.py
Due: py-deprecated, py-path-deprecated

correct statement about where thread_exception_hook exceptions go
  src/_pytest/threadexception.py
Due: py-deprecated, py-path-deprecated

move thread exception even later
  testing/test_threadexception.py
Due: py-deprecated, py-path-deprecated

test when hook args are all None
  testing/test_threadexception.py
  testing/test_unraisableexception.py
Due: py-deprecated, py-path-deprecated

threadexception enhancements (#13016)
  changelog/13016.improvement.rst
  src/_pytest/threadexception.py
  src/_pytest/unraisableexception.py
  testing/test_threadexception.py
  testing/test_unraisableexception.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

remove 1-second join from threadexception plugin
  changelog/13016.improvement.rst
  src/_pytest/threadexception.py
  testing/test_threadexception.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

add news
  changelog/13028.improvement.rst
Due: changelogs-user-role

Delete changelog/13028.improvement.rst
  changelog/13028.improvement.rst
Due: changelogs-user-role

Update src/_pytest/threadexception.py
  src/_pytest/threadexception.py
Due: py-deprecated, py-path-deprecated

fix #13026
  changelog/13026.bugfix.rst
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
