Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

Classify plugin startup import failures (#993)
  changelog/993.breaking.rst
  doc/en/reference/exit-codes.rst
  src/_pytest/config/__init__.py
  testing/acceptance_test.py
  testing/python/collect.py
  testing/test_config.py
  testing/test_pluginmanager.py
  testing/test_session.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Modernize ConftestImportFailure to use the exception chain
  changelog/14943.misc.rst
  src/_pytest/config/__init__.py
  src/_pytest/debugging.py
  src/_pytest/nodes.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fixtures: make override-chain ordering and matching non-quadratic
  changelog/14942.bugfix.rst
  src/_pytest/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fixtures: avoid hashing Nodes when matching fixturedefs
  changelog/14942.improvement.rst
  src/_pytest/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fixtures: index fixturedefs by visibility instead of scanning
  changelog/14942.improvement.rst
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fixtures: cover the whole _arg2fixturedefs mutation surface
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

fixtures: property-test the visibility index against a naive lookup
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

fixtures: cover legacy baseid visibility, and drop dead _matchfactories
  src/_pytest/fixtures.py
  testing/deprecated_test.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

fixtures: document the aliasing change and the id() workaround
  changelog/14942.improvement.rst
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Update changelog/2388.improvement.rst
  changelog/2388.improvement.rst
Due: changelogs-user-role

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

Allow int for ``max_warnings`` in TOML (#14953)
  changelog/14953.bugfix.rst
  doc/en/reference/reference.rst
  src/_pytest/main.py
  src/_pytest/terminal.py
  testing/test_warnings.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add Cen Fangyu to AUTHORS
  AUTHORS
Due: none

Remove extra max_warnings config tests
  testing/test_warnings.py
Due: py-deprecated, py-path-deprecated

Restore native TOML max_warnings tests
  testing/test_warnings.py
Due: py-deprecated, py-path-deprecated

Preserve getini strings for max_warnings
  doc/en/reference/reference.rst
  src/_pytest/main.py
  src/_pytest/terminal.py
  testing/test_warnings.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix(rewrite): prevent walrus operator double evaluation in assertions
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

test(rewrite): add xfail tests for remaining walrus edge cases
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

refactor(rewrite): minimal snapshots in BoolOp for walrus conflicts
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

fix(rewrite): avoid double evaluation of walrus in BoolOp condition
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

fix(rewrite): assign walrus comparators to temps in chained comparisons
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

fix(rewrite): show correct walrus values in BoolOp explanations
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

Add changelog fragment for #14445
  changelog/14445.bugfix.rst
Due: changelogs-user-role

fix(rewrite): freeze operands a later walrus would clobber
  changelog/14445.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite_coverage.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

test(rewrite): retire the walrus tests the matrix subsumes
  testing/test_assertrewrite.py
  testing/test_assertrewrite_coverage.py
Due: py-deprecated, py-path-deprecated

fix(rewrite): freeze walrus and starred operands too
  changelog/14814.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite_coverage.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

refactor(rewrite): drop the unreachable Load guard in visit_Attribute
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

refactor(rewrite): drop the walrus snapshot visit_Compare no longer needs
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

feat(rewrite): introspect the condition of a ternary
  changelog/14816.improvement.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite_coverage.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

test(rewrite): record the introspection gaps nothing fixes yet
  testing/test_assertrewrite_coverage.py
Due: py-deprecated, py-path-deprecated

feat(rewrite): introspect container[key] in failure messages
  changelog/14815.improvement.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite_coverage.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

feat(rewrite): show a method call on one line
  changelog/14817.improvement.rst
  src/_pytest/assertion/rewrite.py
  testing/python/raises_group.py
  testing/test_assertrewrite_coverage.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix(rewrite): short-circuit chained comparisons (#14819)
  changelog/14822.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite_coverage.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix(rewrite): freeze operands against any later side effect (#14820)
  changelog/14821.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite_coverage.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix(rewrite): guard a chained comparison's explanation too
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite_coverage.py
Due: py-deprecated, py-path-deprecated

Run unittest module cleanups after module tests (#14958)
  changelog/14958.bugfix.rst
  src/_pytest/python.py
  src/_pytest/unittest.py
  testing/test_unittest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix #14632: never rewrite stdlib and pytest modules
  changelog/14632.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix: preserve add_marker order for MRO markers on Class nodes
  src/_pytest/python.py
  testing/test_mark.py
Due: py-deprecated, py-path-deprecated

fix: iter_markers/get_closest_marker now correctly returns closest MRO marker
  src/_pytest/fixtures.py
  src/_pytest/nodes.py
  src/_pytest/python.py
  testing/test_mark.py
Due: py-deprecated, py-path-deprecated

fix: address review comments on MRO marker iteration
  src/_pytest/python.py
  testing/test_mark.py
Due: py-deprecated, py-path-deprecated
