Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst

.pre-commit-config.yaml:

exclude: doc/en/example/py2py3/test_py2.py
repos:
-   repo: https://github.com/ambv/black
    rev: 18.6b4
    hooks:
    -   id: black
        args: [--safe, --quiet]
        language_version: python3
-   repo: https://github.com/asottile/blacken-docs
    rev: v0.3.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==18.9b0]
        language_version: python3
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0-1
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: debug-statements
        exclude: _pytest/debugging.py
        language_version: python3
    -   id: flake8
        language_version: python3
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.8.0
    hooks:
    -   id: pyupgrade
        args: [--keep-percent-format]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.1.0
    hooks:
    -   id: rst-backticks
-   repo: local
    hooks:
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(CHANGELOG.rst|HOWTORELEASE.rst|README.rst|changelog/.*)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: 'changelog files must be named ####.(feature|bugfix|doc|deprecation|removal|vendor|trivial).rst'
        exclude: changelog/(\d+\.(feature|bugfix|doc|deprecation|removal|vendor|trivial).rst|README.rst|_template.rst)
        files: ^changelog/

Drop redundant custom MarkDecorator __eq__ implementation
  src/_pytest/mark/structures.py
Due: none

Drop the "alias" helper used in MarkDecorator
  src/_pytest/mark/structures.py
  testing/test_mark.py
Due: none

Add CHANGELOG for #6152
  changelog/6152.improvement.rst
Due: rst, changelogs-rst

Use real path
  src/_pytest/doctest.py
Due: none

setup.cfg: fix check-manifest ignore [ci skip]
  setup.cfg
Due: none

[RFC/WIP] do not collect dunder attributes (#99)
  src/_pytest/python.py
Due: none

showversion: no need for `py.path.local`
  src/_pytest/helpconfig.py
Due: none

terminal: use red color with KeyboardInterrupt message
  src/_pytest/terminal.py
Due: none

pytester: set PYTEST_DISABLE_PLUGIN_AUTOLOAD=1 (#80)
  src/_pytest/pytester.py
  testing/acceptance_test.py
Due: none

fix some tests wrt PYTEST_DISABLE_PLUGIN_AUTOLOAD
  testing/test_helpconfig.py
  testing/test_junitxml.py
  testing/test_terminal.py
Due: none

[WIP] typing around terminal
  src/_pytest/reports.py
  src/_pytest/terminal.py
Due: none

unittest: do not use TestCase.debug() with `--pdb`
  changelog/3823.bugfix.rst
  changelog/5991.bugfix.rst
  doc/en/unittest.rst
  src/_pytest/unittest.py
  testing/test_unittest.py
Due: rst

Add a @cached_property implementation
  src/_pytest/compat.py
  src/_pytest/nodes.py
  testing/test_compat.py
Due: none

A bit more typing around Node
  src/_pytest/nodes.py
Due: none

Use real path
  src/_pytest/config/__init__.py
Due: none

filterwarnings: ignore DeprecationWarning from nose
  tox.ini
Due: none

tests: remove test_nested_marks (xfail)
  testing/python/metafunc.py
Due: none

pytester: assert_outcomes: use/set __tracebackhide__
  src/_pytest/pytester.py
Due: none

No need to call tearDown on expected failures
  src/_pytest/unittest.py
Due: none

Bring back explicit tear down
  src/_pytest/unittest.py
Due: none

Delineate syntactically that the 'match' argument to 'raises' is keyword-only
  doc/en/reference.rst
Due: none

pytester: Hookrecorder: improve assertoutcome
  changelog/6176.improvement.rst
  src/_pytest/pytester.py
  testing/test_assertion.py
Due: rst, changelogs-rst

terminal: report ``session.shouldfail`` reason (``-x``)
  changelog/6181.improvement.rst
  doc/en/usage.rst
  src/_pytest/terminal.py
  testing/test_collection.py
  testing/test_terminal.py
Due: rst, changelogs-rst

doc: s/_pytest.config.Parser/_pytest.config.argparsing.Parser/
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
  src/_pytest/hookspec.py
Due: none

fix typo in _issue_warning_captured doc
  src/_pytest/warnings.py
Due: none

terminal: fix/remove wrong typing for currentfspath
  src/_pytest/terminal.py
Due: none

Issue a warning to prepare change of 'junit_family' default value
  changelog/6179.deprecation.rst
  doc/en/deprecations.rst
  src/_pytest/deprecated.py
  src/_pytest/junitxml.py
  testing/deprecated_test.py
Due: rst

Show a better message when 'request' is used in parametrize
  changelog/6183.bugfix.rst
  src/_pytest/python.py
  testing/python/metafunc.py
Due: rst

Update text in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Make whole checklist a comment to avoid incomplete TODOs in PRs
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Preparing release version 5.2.3
  CHANGELOG.rst
  changelog/5830.bugfix.rst
  changelog/6099.bugfix.rst
  changelog/6183.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-5.2.3.rst
  doc/en/example/parametrize.rst
  doc/en/example/reportingdemo.rst
  doc/en/getting-started.rst
Due: rst

Update advice about _called_from_test.
  doc/en/example/simple.rst
Due: none

Adjust CHANGELOG
  CHANGELOG.rst
Due: rst

Remove report_log in favor of pytest-reportlog
  changelog/4488.feature.rst
  doc/en/contents.rst
  doc/en/deprecations.rst
  doc/en/report_log.rst
  doc/en/usage.rst
  src/_pytest/config/__init__.py
  src/_pytest/deprecated.py
  src/_pytest/report_log.py
  testing/deprecated_test.py
  testing/test_report_log.py
Due: rst

Revert "fix bug with nonskipped first test in package (#5831)"
  AUTHORS
  src/_pytest/python.py
  testing/test_skipping.py
Due: none

Add regression tests for __init__.py breakage
  AUTHORS
  changelog/6194.bugfix.rst
  changelog/6197.bugfix.rst
  testing/test_collection.py
Due: rst

Import Path from _pytest.pathlib for py35
  src/_pytest/assertion/rewrite.py
  src/_pytest/config/__init__.py
  testing/test_assertrewrite.py
  testing/test_config.py
  testing/test_conftest.py
  testing/test_junitxml.py
Due: none

Preparing release version 5.2.4
  CHANGELOG.rst
  changelog/6194.bugfix.rst
  changelog/6197.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-5.2.4.rst
  doc/en/example/parametrize.rst
Due: rst

tests: use sys.dont_write_bytecode
  testing/test_cacheprovider.py
Due: none

Fix incorrect result of getmodpath method.
  AUTHORS
  changelog/6189.bugfix.rst
  src/_pytest/python.py
Due: rst
