Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

cache: keep cache keys within the cache directory
  changelog/14884.bugfix.rst
  src/_pytest/cacheprovider.py
  testing/test_cacheprovider.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Replace string nodeids with a structured NodeId internally
  changelog/14758.misc.rst
  doc/en/conf.py
  src/_pytest/cacheprovider.py
  src/_pytest/compat.py
  src/_pytest/config/__init__.py
  src/_pytest/config/findpaths.py
  src/_pytest/junitxml.py
  src/_pytest/main.py
  src/_pytest/nodeid.py
  src/_pytest/nodes.py
  src/_pytest/pytester.py
  src/_pytest/python.py
  src/_pytest/reports.py
  src/_pytest/runner.py
  src/_pytest/stepwise.py
  src/_pytest/subtests.py
  src/_pytest/terminal.py
  testing/python/metafunc.py
  testing/test_cacheprovider.py
  testing/test_junitxml.py
  testing/test_mark.py
  testing/test_nodeid.py
  testing/test_reports.py
  testing/test_runner.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Skip unwrapping plugin attributes that cannot hide a fixture
  changelog/14877.improvement.rst
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

[refactor] Start using match case in 'assertrepr_compare' (#13762)
  src/_pytest/assertion/util.py
Due: py-deprecated, py-path-deprecated

Use pytest's pretty-printer for pformat outputs (expand-style format)
  changelog/14859.improvement.rst
  src/_pytest/_io/pprint.py
  src/_pytest/_io/saferepr.py
  src/_pytest/approx.py
  src/_pytest/recwarn.py
  testing/code/test_excinfo.py
  testing/io/test_pprint.py
  testing/test_recwarn.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix(config): load rootdir conftest initially
  changelog/11071.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_conftest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

Merge pull request #14887 from pytest-dev/update-plugin-list/patch-fa7ccb176
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

[refactor] Drop the now-dead ``istext`` guard
  src/_pytest/assertion/_guards.py
Due: py-deprecated, py-path-deprecated

[match case] Use match case in ``_compare_eq_any``
  src/_pytest/assertion/_compare_any.py
  src/_pytest/assertion/_guards.py
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

[refactor] Group the ``str`` cases and pin their order with tests
  src/_pytest/assertion/_compare_any.py
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

[refactor] Handle ``str`` explicitly instead of guarding against it
  src/_pytest/assertion/_compare_any.py
  src/_pytest/assertion/_guards.py
Due: py-deprecated, py-path-deprecated

DOC: add docstring to FixtureFunctionDefinition
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

Fix duplicated exception chain output when an exception group has a cause (#14829)
  changelog/14828.bugfix.rst
  src/_pytest/_code/code.py
  testing/code/test_excinfo.py
  testing/test_unittest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix(assertion): read bare-name operand before later call
  changelog/14820.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix(assertion): satisfy mypy no-any-return in visit_operand
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

[ruff] Inherit ruff's default rule set with all new rules disabled
  pyproject.toml
Due: none

[ruff] Enable the rule families that already pass
  pyproject.toml
Due: none

Fix SyntaxError crash line to show file, line, and column
  changelog/2388.improvement.rst
  src/_pytest/_code/code.py
  testing/code/test_excinfo.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix collection with inode 0 on Windows network drives
  changelog/14864.bugfix.rst
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

pathlib: don't trust a zero Windows file ID in samefile_nofollow
  changelog/14864.bugfix.rst
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Merge pull request #14865 from RonnyPfannschmidt/fix-14864-samefile-zero-file-id
  changelog/14864.bugfix.rst
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Memoize the statement line numbers of a parsed module
  changelog/10745.improvement.1.rst
  src/_pytest/_code/source.py
  testing/code/test_source.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Truncate recursive tracebacks when the origin cannot be located
  changelog/10745.improvement.2.rst
  src/_pytest/_code/code.py
  testing/code/test_excinfo.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Use the internal pretty-printer consistently
  AUTHORS
  changelog/14859.improvement.rst
  src/_pytest/_io/saferepr.py
  src/_pytest/approx.py
  src/_pytest/assertion/_compare_any.py
  src/_pytest/assertion/_compare_mapping.py
  src/_pytest/cacheprovider.py
  src/_pytest/recwarn.py
  testing/io/test_saferepr.py
  testing/python/approx.py
  testing/test_assertion.py
  testing/test_cacheprovider.py
  testing/test_error_diffs.py
  testing/test_recwarn.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Update expanded locals formatting expectation
  testing/code/test_excinfo.py
Due: py-deprecated, py-path-deprecated

Fix reporting for teardown errors
  AUTHORS
  changelog/1004.bugfix.rst
  src/_pytest/terminal.py
  testing/acceptance_test.py
  testing/python/fixtures.py
  testing/test_terminal.py
  testing/test_unittest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add hash comparison for pyc cache files
  changelog/11418.improvement.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add invalidation-mode option
  src/_pytest/assertion/__init__.py
  src/_pytest/assertion/rewrite.py
  src/_pytest/main.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

assertion/rewrite: always use checked-hash pyc invalidation
  changelog/11418.improvement.rst
  changelog/13292.bugfix.rst
  src/_pytest/assertion/__init__.py
  src/_pytest/assertion/rewrite.py
  src/_pytest/main.py
  testing/test_assertrewrite.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Preserve mapping output truncation behavior
  src/_pytest/assertion/_compare_mapping.py
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

show correct extra item in "contains one more item" diffs
  changelog/13652.bugfix.rst
  src/_pytest/assertion/_compare_sequence.py
  testing/test_assertion.py
  testing/test_error_diffs.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

[refactor] Drop the unreachable 'setUpClass' guard in 'UnitTestCase'
  src/_pytest/unittest.py
Due: py-deprecated, py-path-deprecated

[refactor] Drop an unreachable 'setUpClass' / 'tearDownClass' guard in 'UnitTestCase'
  src/_pytest/unittest.py
Due: py-deprecated, py-path-deprecated

[ruff] Enable TC005 (empty type-checking block)
  pyproject.toml
  src/_pytest/threadexception.py
  src/_pytest/unraisableexception.py
Due: py-deprecated, py-path-deprecated

[ruff] Enable RET501 (unnecessary explicit 'return None')
  pyproject.toml
  src/_pytest/unittest.py
Due: py-deprecated, py-path-deprecated

[ruff] Enable FURB188 (use 'str.removeprefix()'/'removesuffix()')
  pyproject.toml
  src/_pytest/_code/code.py
  src/_pytest/junitxml.py
  src/_pytest/pathlib.py
  src/_pytest/terminal.py
Due: py-deprecated, py-path-deprecated

[ruff] Enable FURB157 (verbose 'Decimal' constructor)
  pyproject.toml
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

[ruff] Enable SIM905 (split a static string)
  pyproject.toml
  testing/python/fixtures.py
  testing/test_argcomplete.py
  testing/test_config.py
  testing/test_conftest.py
Due: py-deprecated, py-path-deprecated

[ruff] Enable C414 (unnecessary double cast or process)
  pyproject.toml
  testing/test_cacheprovider.py
Due: py-deprecated, py-path-deprecated
