Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

Do not suppress pytest.exit() or keyboard interrupt when working with pdb
  src/_pytest/runner.py
  src/_pytest/subtests.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

Ignore case unreachable for coverage
  .coveragerc
Due: none

More code review
  src/_pytest/subtests.py
Due: py-deprecated, py-path-deprecated

Mention verbosity_subtests
  doc/en/how-to/subtests.rst
Due: changelogs-user-role

Remove update_report
  src/_pytest/subtests.py
  src/_pytest/unittest.py
Due: py-deprecated, py-path-deprecated

Add docs
  changelog/1367.feature.rst
  doc/en/how-to/index.rst
  doc/en/how-to/parametrize.rst
  doc/en/how-to/subtests.rst
  doc/en/how-to/unittest.rst
  doc/en/reference/fixtures.rst
  doc/en/reference/reference.rst
  src/_pytest/deprecated.py
  src/_pytest/subtests.py
  testing/test_subtests.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Integrate pytest-subtests (#13738)
  .coveragerc
  changelog/1367.feature.rst
  doc/en/how-to/index.rst
  doc/en/how-to/parametrize.rst
  doc/en/how-to/subtests.rst
  doc/en/how-to/unittest.rst
  doc/en/reference/fixtures.rst
  doc/en/reference/reference.rst
  src/_pytest/config/__init__.py
  src/_pytest/deprecated.py
  src/_pytest/reports.py
  src/_pytest/runner.py
  src/_pytest/subtests.py
  src/_pytest/terminal.py
  src/_pytest/unittest.py
  src/pytest/__init__.py
  testing/test_subtests.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Apply suggestion from @nicoddemus
  changelog/13861.improvement.rst
Due: changelogs-user-role

Improve clarity of 'expected exception' error messages (#13861)
  changelog/13861.improvement.rst
  src/_pytest/raises.py
  testing/python/raises.py
  testing/python/raises_group.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix(testing): correct expected and actual dictionary keys
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

docs: add changelog entry
  changelog/13816.bugfix.rst
Due: changelogs-user-role

docs: add Charles-Meldhine Madi Mnemoi (cmnemoi) to AUTHORS
  AUTHORS
Due: none

fix(testing): `pytest.approx` returns a clearer error mesage when comparing mappings with different keys
  src/_pytest/python_api.py
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

`pytest.approx` returns a clearer error mesage when comparing mappings with different keys (#13818)
  AUTHORS
  changelog/13816.bugfix.rst
  src/_pytest/python_api.py
  testing/python/approx.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

Update test_terminal.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Update terminal.py
  src/_pytest/terminal.py
Due: py-deprecated, py-path-deprecated

Update AUTHORS
  AUTHORS
Due: none

Create 13865.bugfix.rst
  changelog/13865.bugfix.rst
Due: changelogs-user-role

typo
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Update changelog/13865.bugfix.rst
  changelog/13865.bugfix.rst
Due: changelogs-user-role

docs: fix mistakes in explanation/pythonpath
  doc/en/explanation/pythonpath.rst
Due: changelogs-user-role

Merge pull request #13870 from sazsu/pythonpath-doc-fix
  doc/en/explanation/pythonpath.rst
Due: changelogs-user-role

Merge pull request #13806 from pytest-dev/dependabot/github_actions/hynek/build-and-inspect-python-package-2.14.0
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: none

config: use one `ArgumentParser` instead of creating new one for each parse
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
  testing/test_config.py
  testing/test_parseopt.py
Due: py-deprecated, py-path-deprecated

config: move uninteresting error handling code to own functions
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

config: inline `_preparse`
  src/_pytest/config/__init__.py
  testing/test_config.py
  testing/test_warnings.py
Due: py-deprecated, py-path-deprecated

config: remove `after_preparse`
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
  src/_pytest/helpconfig.py
  testing/test_helpconfig.py
Due: py-deprecated, py-path-deprecated

config: remove an unneeded Namespace copy
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

main: remove ineffective "general" group description
  src/_pytest/main.py
Due: py-deprecated, py-path-deprecated

Update testing/test_terminal.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Fix `--show-capture` with `--tb=line` (#13868)
  AUTHORS
  changelog/13865.bugfix.rst
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

ci: generate github release notes separately from creating github release
  .github/workflows/deploy.yml
Due: none

tox: use `pypandoc_binary` instead of `pypandoc`
  .github/workflows/deploy.yml
  tox.ini
Due: none

scripts/generate-gh-release-notes: use github flavor markdown
  scripts/generate-gh-release-notes.py
Due: py-deprecated, py-path-deprecated

ci: move running update-plugin-list script to tox
  .github/workflows/update-plugin-list.yml
  tox.ini
Due: none

ci: update setup python's from 3.11 or 3.* to 3.13
  .github/workflows/deploy.yml
  .github/workflows/doc-check-links.yml
  .github/workflows/prepare-release-pr.yml
  .github/workflows/update-plugin-list.yml
Due: none

ci: split publish-to-pypi and push-tag jobs
  .github/workflows/deploy.yml
  RELEASING.rst
Due: rst, changelogs-user-role
