Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

nocover
  src/_pytest/runner.py
Due: py-deprecated, py-path-deprecated

Rename `xfail_strict` to `strict_xfail`, make it an alias
  changelog/13823.improvement.rst
  doc/en/how-to/skipping.rst
  doc/en/reference/reference.rst
  pyproject.toml
  src/_pytest/helpconfig.py
  src/_pytest/skipping.py
  testing/test_skipping.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add `strict_config`, `strict_markers` ini options, same as CLI flags
  changelog/13823.improvement.rst
  doc/en/example/markers.rst
  doc/en/how-to/mark.rst
  doc/en/reference/reference.rst
  pyproject.toml
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
  src/_pytest/main.py
  src/_pytest/mark/structures.py
  testing/plugins_integration/pytest.ini
  testing/test_config.py
  testing/test_mark.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

mark: enable "parametrize" misspelling error even in strict_markers mode
  src/_pytest/mark/structures.py
Due: py-deprecated, py-path-deprecated

config: add `config.hasini` to allow checking if ini value is explicitly set
  changelog/13823.improvement.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

docs: Clarify difference between PYTEST_PLUGINS and -p option
  doc/en/reference/reference.rst
Due: changelogs-user-role

track item: thread mapping for PYTEST_CURRENT_TEST
  src/_pytest/main.py
  src/_pytest/runner.py
Due: py-deprecated, py-path-deprecated

fix unintentional and unconditional skips
  testing/_py/test_local.py
Due: py-deprecated, py-path-deprecated

add encoding
  testing/_py/test_local.py
Due: py-deprecated, py-path-deprecated

remove trivial from CONTRIBUTING.rst
  CONTRIBUTING.rst
Due: changelogs-user-role

add changelog
  changelog/13842.contrib.rst
Due: changelogs-user-role

tox: require tox>=4
  changelog/13841.contrib.rst
  tox.ini
Due: changelogs-user-role

tox: remove `distshare` setting
  tox.ini
Due: none

tox: remove `isolated_build` setting
  tox.ini
Due: none

tox: remove `basepython = python3` lines
  tox.ini
Due: none

tox: use the same wheel for all environments
  tox.ini
Due: none

Add `strict` ini option to enable all other strictness options
  changelog/13823.feature.rst
  doc/en/deprecations.rst
  doc/en/reference/reference.rst
  pyproject.toml
  src/_pytest/config/__init__.py
  src/_pytest/main.py
  src/_pytest/mark/structures.py
  src/_pytest/python.py
  src/_pytest/skipping.py
  testing/test_collection.py
  testing/test_config.py
  testing/test_mark.py
  testing/test_skipping.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

address review
  CONTRIBUTING.rst
  changelog/13842.contrib.rst
  testing/_py/test_local.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

config: convert ini type `None` to `string` earlier
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
  src/_pytest/helpconfig.py
Due: py-deprecated, py-path-deprecated

config: remove `Parser._ininames`
  src/_pytest/config/argparsing.py
  src/_pytest/helpconfig.py
Due: py-deprecated, py-path-deprecated

config: rename `IniValue` to `ConfigValue`
  src/_pytest/config/__init__.py
  src/_pytest/config/findpaths.py
  testing/test_config.py
  testing/test_findpaths.py
Due: py-deprecated, py-path-deprecated

config: make `ConfigValue.origin` kw-only
  src/_pytest/config/findpaths.py
  testing/test_config.py
  testing/test_findpaths.py
Due: py-deprecated, py-path-deprecated

Minor code review
  doc/en/how-to/subtests.rst
  src/_pytest/subtests.py
  testing/test_subtests.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Docs
  doc/en/how-to/subtests.rst
Due: changelogs-user-role

More code review
  src/_pytest/subtests.py
Due: py-deprecated, py-path-deprecated

Mention pytest-subtests in the docs
  changelog/1367.feature.rst
  doc/en/how-to/subtests.rst
Due: changelogs-user-role

Replace separate plugin by config.stash
  src/_pytest/subtests.py
Due: py-deprecated, py-path-deprecated

Add pytest-subtests files changes
  src/_pytest/config/__init__.py
  src/_pytest/subtests.py
  src/pytest/__init__.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

Make top-level tests fail when there are failing subtests
  src/_pytest/subtests.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

Add docs
  changelog/1367.feature.rst
  doc/en/how-to/index.rst
  doc/en/how-to/parametrize.rst
  doc/en/how-to/subtests.rst
  doc/en/how-to/unittest.rst
  doc/en/reference/fixtures.rst
  doc/en/reference/reference.rst
  src/_pytest/deprecated.py
  src/_pytest/subtests.py
  testing/test_subtests.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Forward log_level from plugin
  src/_pytest/subtests.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

Code review
  changelog/1367.feature.rst
  doc/en/how-to/subtests.rst
  doc/en/reference/reference.rst
  src/_pytest/subtests.py
  src/_pytest/unittest.py
  src/pytest/__init__.py
  testing/test_subtests.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Force using xdist plugin and fix linting
  src/_pytest/subtests.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

Cleanup internal hacks
  src/_pytest/reports.py
  src/_pytest/subtests.py
  src/_pytest/terminal.py
  src/_pytest/unittest.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

subtests: remove direct pytest import
  src/_pytest/subtests.py
Due: py-deprecated, py-path-deprecated

Remove update_report
  src/_pytest/subtests.py
  src/_pytest/unittest.py
Due: py-deprecated, py-path-deprecated

Do not suppress pytest.exit() or keyboard interrupt when working with pdb
  src/_pytest/runner.py
  src/_pytest/subtests.py
  testing/test_subtests.py
Due: py-deprecated, py-path-deprecated

Replace attr by dataclass
  src/_pytest/subtests.py
Due: py-deprecated, py-path-deprecated

Code review
  changelog/1367.feature.rst
  doc/en/how-to/subtests.rst
  src/_pytest/subtests.py
  src/_pytest/unittest.py
  testing/test_subtests.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add "verbosity_subtests" option and revamp tests
  doc/en/reference/reference.rst
  src/_pytest/config/__init__.py
  src/_pytest/subtests.py
  src/_pytest/terminal.py
  src/pytest/__init__.py
  testing/test_subtests.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
