Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst

.pre-commit-config.yaml:

exclude: doc/en/example/py2py3/test_py2.py
repos:
-   repo: https://github.com/ambv/black
    rev: 18.6b4
    hooks:
    -   id: black
        args: [--safe, --quiet]
        language_version: python3
-   repo: https://github.com/asottile/blacken-docs
    rev: v0.3.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==18.9b0]
        language_version: python3
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0-1
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: debug-statements
        exclude: _pytest/debugging.py
        language_version: python3
    -   id: flake8
        language_version: python3
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.8.0
    hooks:
    -   id: pyupgrade
        args: [--keep-percent-format]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.1.0
    hooks:
    -   id: rst-backticks
-   repo: local
    hooks:
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(CHANGELOG.rst|HOWTORELEASE.rst|README.rst|changelog/.*)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: 'changelog files must be named ####.(feature|bugfix|doc|deprecation|removal|vendor|trivial).rst'
        exclude: changelog/(\d+\.(feature|bugfix|doc|deprecation|removal|vendor|trivial).rst|README.rst|_template.rst)
        files: ^changelog/

Change Exit.__init__ params order to keep backward compatibility
  src/_pytest/outcomes.py
Due: none

Check if returncode is not None before assigning test return code
  src/_pytest/main.py
Due: none

Update pytest.exit docstring
  src/_pytest/outcomes.py
Due: none

Fix order of parameters when raising Exit exception
  src/_pytest/outcomes.py
Due: none

Display the filename when encountering `SyntaxWarning`.
  changelog/4152.bugfix.rst
  src/_pytest/assertion/rewrite.py
Due: rst

move most setuptools parameters over to setup.cfg
  setup.cfg
  setup.py
Due: none

changelog
  changelog/4149.feature.rst
Due: rst

Add testdir examples to CONTRIBUTING guide
  CONTRIBUTING.rst
Due: none

Check off PR requirements
  AUTHORS
  changelog/4151.doc.rst
Due: rst

Improve docs a bit
  CONTRIBUTING.rst
Due: none

Fix linting
  CONTRIBUTING.rst
Due: none

Use full link to changelog's README in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Increase required verbosity level for debug output
  changelog/4159.feature.rst
  src/_pytest/terminal.py
  testing/acceptance_test.py
  testing/test_terminal.py
Due: rst

Use a single node ID rather than a set for failed tests.
  pytest_stepwise/plugin.py
Due: none

Restructured project.
  pytest_stepwise/__init__.py
  pytest_stepwise/compat.py
  pytest_stepwise/plugin.py
  tests/conftest.py
  tests/test_pytest_stepwise.py
Due: none

authors
  AUTHORS
Due: none

Use result.stderr in tests since result.errlines has changed behaviour.
  tests/test_pytest_stepwise.py
Due: none

we have a pr number now
  changelog/4147.feature.rst
Due: rst

update for builtin plugin
  src/_pytest/config/__init__.py
  src/_pytest/stepwise.py
  testing/test_stepwise.py
Due: none

now pinned to pytest version
  testing/test_stepwise.py
Due: none

draft changelog
  changelog/xxx.feature.rst
Due: rst, changelogs-rst

pytest 2.7 compatibility.
  pytest_stepwise/compat.py
  pytest_stepwise/plugin.py
Due: none

move files into the pytest file structure
  pytest_stepwise/__init__.py
  pytest_stepwise/compat.py
  src/_pytest/stepwise.py
  testing/test_stepwise.py
  tests/conftest.py
Due: none

grammar
  src/_pytest/stepwise.py
Due: none

add compat for pytest 3.7 and tox config for (some of) the versions i could still get working
  pytest_stepwise/compat.py
  tests/test_pytest_stepwise.py
Due: none

linting
  src/_pytest/stepwise.py
  testing/test_stepwise.py
Due: none

draft doc
  doc/en/cache.rst
Due: none

Fix tmp_path example in docs
  doc/en/tmpdir.rst
Due: none

Preparing release version 3.9.0
  CHANGELOG.rst
  changelog/2293.feature.rst
  changelog/2293.trivial.rst
  changelog/2535.bugfix.rst
  changelog/3057.bugfix.rst
  changelog/3332.feature.rst
  changelog/3616.deprecation.rst
  changelog/3713.doc.rst
  changelog/3849.feature.rst
  changelog/3946.bugfix.rst
  changelog/3964.feature.rst
  changelog/3985.feature.rst
  changelog/3988.deprecation.rst
  changelog/3988.trivial.rst
  changelog/4013.feature.rst
  changelog/4058.doc.rst
  changelog/4063.trivial.rst
  changelog/4064.doc.rst
  changelog/4066.bugfix.rst
  changelog/4073.feature.rst
  changelog/4093.trivial.rst
  changelog/4098.feature.rst
  changelog/4102.bugfix.rst
  changelog/4102.feature.rst
  changelog/4108.bugfix.rst
  changelog/4132.bugfix.rst
  changelog/4135.bugfix.rst
  changelog/4149.feature.rst
  changelog/4151.doc.rst
  changelog/4152.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-3.9.0.rst
  doc/en/builtin.rst
  doc/en/example/markers.rst
  doc/en/example/nonpython.rst
  doc/en/example/simple.rst
  doc/en/fixture.rst
  doc/en/tmpdir.rst
  doc/en/writing_plugins.rst
Due: rst

fix cacheprovider test
  testing/test_cacheprovider.py
Due: none

Pass TRAVIS env var to test environments [skip appveyor]
  tox.ini
Due: none

fix #3533: properly escape raw XML object
  src/_pytest/junitxml.py
  testing/test_junitxml.py
Due: none

add changelog for #3533
  changelog/3533.bugfix.rst
Due: rst

fix url quotes in setup.cfg metadata
  setup.cfg
Due: none

Preparing release version 3.9.1
  CHANGELOG.rst
  changelog/4159.feature.rst
  doc/en/announce/index.rst
  doc/en/announce/release-3.9.1.rst
  doc/en/example/markers.rst
  doc/en/example/nonpython.rst
  doc/en/example/simple.rst
  doc/en/fixture.rst
Due: rst

make note about the unpublished 3.9.0 release
  CHANGELOG.rst
Due: rst

Update warnings docs
  doc/en/warnings.rst
Due: none

s/comparision/comparison/g [ci skip]
  CHANGELOG.rst
  doc/en/deprecations.rst
  src/_pytest/logging.py
Due: rst

Fix hook name in deprecations.rst
  doc/en/deprecations.rst
Due: none

fix #4177 - pin setuptools>=40.0
  changelog/4177.bugfix.rst
  pyproject.toml
  setup.py
Due: rst
