Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.(feature|bugfix|doc|deprecation|removal|vendor|trivial).rst'

Cache split nodes results to reduce long tests collection time on large test suites
  changelog/5516.trivial.rst
  src/_pytest/nodes.py
Due: rst

Improve rm_rf to handle only known functions
  src/_pytest/pathlib.py
  testing/test_tmpdir.py
Due: none

Use OSError subclasses instead of handling errno
  changelog/5684.trivial.rst
  src/_pytest/assertion/rewrite.py
  src/_pytest/pathlib.py
  testing/test_assertrewrite.py
Due: rst

Mention pytest-custom_exit_code in the docs
  doc/en/usage.rst
Due: none

Handle only known functions in rm_rf (#5627)
  src/_pytest/pathlib.py
  testing/test_tmpdir.py
Due: none

Add hostname and timestamp to JUnit XML testsuite tag
  changelog/5471.trivial.rst
  src/_pytest/junitxml.py
  testing/test_junitxml.py
Due: rst

Added info to access exitcodes directly
  doc/en/usage.rst
Due: none

Rename 5471.trivial.rst to 5471.feature.rst
  changelog/5471.feature.rst
Due: rst

Fix RuntimeError when trying to collect package with "__init__.py" only
  changelog/4344.bugfix.rst
  src/_pytest/main.py
  testing/test_collection.py
Due: rst

[4.6] Fix RuntimeError when trying to collect package with "__init__.py" only
  changelog/4344.bugfix.rst
  src/_pytest/main.py
  testing/test_collection.py
Due: rst

Preparing release version 4.6.5
  CHANGELOG.rst
  changelog/4344.bugfix.rst
  changelog/5478.bugfix.rst
  changelog/5524.bugfix.rst
  changelog/5547.bugfix.rst
  changelog/5650.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-4.6.5.rst
  doc/en/example/parametrize.rst
  doc/en/example/simple.rst
Due: rst

Add CHANGELOG for 4.6.5 (#5696)
  CHANGELOG.rst
  doc/en/announce/index.rst
  doc/en/announce/release-4.6.5.rst
Due: rst

fix grammar in test_collect_functools_partial docstr
  testing/python/collect.py
Due: none

ran pyupgrade-docs
  doc/en/assert.rst
  doc/en/example/attic.rst
  doc/en/example/markers.rst
  doc/en/example/simple.rst
  doc/en/monkeypatch.rst
  doc/en/skipping.rst
  doc/en/usage.rst
  doc/en/writing_plugins.rst
Due: none

label code blocks
  doc/en/builtin.rst
  doc/en/cache.rst
  doc/en/capture.rst
  doc/en/deprecations.rst
  doc/en/doctest.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/special.rst
  doc/en/existingtestsuite.rst
  doc/en/fixture.rst
  doc/en/funcarg_compare.rst
  doc/en/getting-started.rst
  doc/en/goodpractices.rst
  doc/en/logging.rst
  doc/en/plugins.rst
  doc/en/pythonpath.rst
  doc/en/reference.rst
  doc/en/skipping.rst
  doc/en/tmpdir.rst
  doc/en/unittest.rst
  doc/en/usage.rst
  doc/en/warnings.rst
  doc/en/xunit_setup.rst
Due: none

ran pyupgrade-docs again
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/special.rst
  doc/en/fixture.rst
  doc/en/funcarg_compare.rst
  doc/en/getting-started.rst
  doc/en/unittest.rst
  doc/en/usage.rst
Due: none

ran blacken-docs
  doc/en/assert.rst
  doc/en/builtin.rst
  doc/en/cache.rst
  doc/en/capture.rst
  doc/en/doctest.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/special.rst
  doc/en/fixture.rst
  doc/en/funcarg_compare.rst
  doc/en/getting-started.rst
  doc/en/logging.rst
  doc/en/reference.rst
  doc/en/tmpdir.rst
  doc/en/unittest.rst
  doc/en/usage.rst
  doc/en/xunit_setup.rst
Due: none

remove implicit code tags .replace("::\n\n.. code-block", "\n\n.. code-block")
  doc/en/builtin.rst
  doc/en/cache.rst
  doc/en/capture.rst
  doc/en/deprecations.rst
  doc/en/doctest.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/special.rst
  doc/en/existingtestsuite.rst
  doc/en/fixture.rst
  doc/en/funcarg_compare.rst
  doc/en/getting-started.rst
  doc/en/goodpractices.rst
  doc/en/logging.rst
  doc/en/plugins.rst
  doc/en/pythonpath.rst
  doc/en/reference.rst
  doc/en/skipping.rst
  doc/en/tmpdir.rst
  doc/en/unittest.rst
  doc/en/usage.rst
  doc/en/warnings.rst
  doc/en/xunit_setup.rst
Due: none

Revert "remove implicit code tags .replace("::\n\n.. code-block", "\n\n.. code-block")"
  doc/en/builtin.rst
  doc/en/cache.rst
  doc/en/capture.rst
  doc/en/deprecations.rst
  doc/en/doctest.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/special.rst
  doc/en/existingtestsuite.rst
  doc/en/fixture.rst
  doc/en/funcarg_compare.rst
  doc/en/getting-started.rst
  doc/en/goodpractices.rst
  doc/en/logging.rst
  doc/en/plugins.rst
  doc/en/pythonpath.rst
  doc/en/reference.rst
  doc/en/skipping.rst
  doc/en/tmpdir.rst
  doc/en/unittest.rst
  doc/en/usage.rst
  doc/en/warnings.rst
  doc/en/xunit_setup.rst
Due: none

replace implicit code tag with colon .replace("::\n\n.. code-block", ":\n\n.. code-block")
  doc/en/builtin.rst
  doc/en/cache.rst
  doc/en/capture.rst
  doc/en/deprecations.rst
  doc/en/doctest.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/special.rst
  doc/en/existingtestsuite.rst
  doc/en/fixture.rst
  doc/en/funcarg_compare.rst
  doc/en/getting-started.rst
  doc/en/goodpractices.rst
  doc/en/logging.rst
  doc/en/plugins.rst
  doc/en/pythonpath.rst
  doc/en/reference.rst
  doc/en/skipping.rst
  doc/en/tmpdir.rst
  doc/en/unittest.rst
  doc/en/usage.rst
  doc/en/warnings.rst
  doc/en/xunit_setup.rst
Due: none

trivial doc change
  doc/en/example/pythoncollection.rst
Due: none

Add a code of conduct
  CODE_OF_CONDUCT.md
Due: none

more code updates
  src/_pytest/doctest.py
  src/_pytest/junitxml.py
  src/_pytest/logging.py
  src/_pytest/pytester.py
  src/_pytest/terminal.py
  src/_pytest/warnings.py
Due: none

sync junitxml with master
  src/_pytest/junitxml.py
Due: none

assertion no longer uses imp
  testing/test_own_modules.py
Due: none

type annotate KNOWN BAD
  testing/test_own_modules.py
Due: none

Add `enabled()` context manager to output capture fixtures, to force capture even if it is disabled globally
  AUTHORS
  changelog/5713.feature.rst
  doc/en/capture.rst
  src/_pytest/capture.py
  testing/test_capture.py
Due: rst

Remove xfail marker from test_runs_twice_xdist
  testing/test_junitxml.py
Due: none

Validate xunit2 files against the schema
  changelog/5095.trivial.rst
  setup.py
  testing/example_scripts/junit-10.xsd
  testing/test_junitxml.py
Due: rst

Remove unused function CallSpec2.setall
  src/_pytest/python.py
Due: none

Improve docs of pytest.importorskip
  doc/en/reference.rst
  doc/en/skipping.rst
  src/_pytest/outcomes.py
Due: none

pytester: add docstrings for Testdir.copy_example
  changelog/5669.doc.rst
  src/_pytest/pytester.py
Due: rst

pytester: fix docstrings
  src/_pytest/pytester.py
Due: none

Add new 'improvement' changelog category
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  changelog/5471.improvement.rst
  changelog/README.rst
  pyproject.toml
Due: rst, changelogs-rst

Show session duration in human-readable format
  changelog/5707.improvement.rst
  src/_pytest/pytester.py
  src/_pytest/terminal.py
  testing/logging/test_reporting.py
  testing/test_pytester.py
  testing/test_terminal.py
Due: rst, changelogs-rst

Update URL: python/black → psf/black
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  README.rst
Due: rst

ci: Travis: use $TRAVIS_PULL_REQUEST_BRANCH for PRs
  scripts/report-coverage.sh
Due: none

test_non_ascii_paste_text: mock call to urlopen
  testing/test_pastebin.py
Due: none

assertrepr_compare: prefer same maxsize
  src/_pytest/assertion/util.py
  testing/test_assertrewrite.py
Due: none

assertion.rewrite: use ast.NameConstant(None) directly
  src/_pytest/assertion/rewrite.py
Due: none

Path conditions:
  rst: any of: ^(CHANGELOG.rst|HOWTORELEASE.rst|README.rst|changelog/.*)$, but not: doc/en/example/py2py3/test_py2.py
  changelogs-rst: any of: ^changelog/ and not (changelog/(\d+\.(feature|bugfix|doc|deprecation|removal|vendor|trivial).rst|README.rst|_template.rst)) and not (doc/en/example/py2py3/test_py2.py)
