Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

Use :meth: role for dict.items in changelog
  changelog/14717.bugfix.rst
Due: changelogs-user-role

Fix: respect --tb style for KeyboardInterrupt traceback (#5225)
  AUTHORS
  changelog/5225.bugfix.rst
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix: show skip reason on a new line when it does not fit (#11146)
  AUTHORS
  changelog/11146.bugfix.rst
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

terminal: render file paths as OSC 8 hyperlinks
  AUTHORS
  changelog/13580.feature.rst
  src/_pytest/_code/code.py
  src/_pytest/_io/terminalwriter.py
  src/_pytest/config/__init__.py
  src/_pytest/pastebin.py
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

test: specify encoding for write_text to fix EncodingWarning on CI
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

test: cover _format_path_hyperlink lineno=None branch for codecov
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

test: use real TerminalWriter in _format_path_hyperlink test for mypy
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

fix: validate explicit config file paths
  AUTHORS
  changelog/14716.bugfix.rst
  src/_pytest/config/findpaths.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

DOC: fix pytest.mark.xfail and pytest.mark.skip reference docs (#10094)
  doc/en/reference/reference.rst
Due: changelogs-user-role

Docs: Move collection hooks under Collection hooks in reference docs (#12658)
  doc/en/reference/reference.rst
Due: changelogs-user-role

Docs: Note that ResourceWarning is often delayed and needs an extra filter (#9825)
  doc/en/how-to/capture-warnings.rst
Due: changelogs-user-role

Type gethookproxy/ihook as HookRelay | FSHookProxy.
  src/_pytest/main.py
  src/_pytest/nodes.py
Due: py-deprecated, py-path-deprecated

Satisfy RTD and Chronographer for the gethookproxy typing PR.
  changelog/14728.misc.rst
  doc/en/conf.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix: keep frame locations in longrepr under --tb=line/no
  AUTHORS
  changelog/14720.bugfix.rst
  src/_pytest/_code/code.py
  testing/code/test_excinfo.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix bare except clause in testing/test_unittest.py
  testing/test_unittest.py
Due: py-deprecated, py-path-deprecated

Treat malformed unittest skips as collection errors
  AUTHORS
  changelog/10821.bugfix.rst
  src/_pytest/runner.py
  testing/test_unittest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Allow Twisted's SkipTest name in regression output
  testing/test_unittest.py
Due: py-deprecated, py-path-deprecated

Reopen sys.__std*__ on Windows consoles so they follow fd capture
  AUTHORS
  changelog/12349.bugfix.rst
  src/_pytest/capture.py
  testing/test_capture.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Docs: Document that pytest_assertrepr_compare is called on passing asserts
  src/_pytest/hookspec.py
Due: py-deprecated, py-path-deprecated

Avoid quadratic behavior in IdMaker.make_unique_parameterset_ids
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

Add changelog entry for #14739
  changelog/14739.improvement.rst
Due: changelogs-user-role

fix: propagate package-level pytestmark from __init__.py
  src/_pytest/python.py
  testing/test_mark.py
Due: py-deprecated, py-path-deprecated

fix: satisfy mypy 2.3.0 [deprecated] and [unreachable] checks
  testing/freeze/tox_run.py
  testing/test_monkeypatch.py
Due: py-deprecated, py-path-deprecated

fix: validate marker names in -m expression with --strict-markers
  changelog/2781.feature.rst
  src/_pytest/mark/__init__.py
  src/_pytest/mark/expression.py
  testing/test_mark.py
  testing/test_mark_expression.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Apply suggestions from code review
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

refactor: centralize marker registration parsing in Config
  src/_pytest/config/__init__.py
  src/_pytest/mark/__init__.py
  src/_pytest/mark/structures.py
Due: py-deprecated, py-path-deprecated

fix: address review feedback for uv allowlist and dev extra
  pyproject.toml
  tox.ini
Due: none

Point developer installs at the dependency group via pytest[dev]
  CONTRIBUTING.rst
  changelog/14122.deprecation.rst
  pyproject.toml
  uv.lock
Due: changelogs-user-role

testing: force classic REPL for pdb pexpect selftests on 3.15+
  testing/test_debugging.py
Due: py-deprecated, py-path-deprecated

Address review: empty dev extra, drop redundant filters
  CONTRIBUTING.rst
  changelog/14122.deprecation.rst
  pyproject.toml
  testing/conftest.py
  testing/test_debugging.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

testing: ignore forkpty DeprecationWarning on pexpect spawn tests
  pyproject.toml
  testing/conftest.py
Due: py-deprecated, py-path-deprecated

experiment: use uv and dependency-groups in build pipelines
  .github/workflows/deploy.yml
  .github/workflows/doc-check-links.yml
  .github/workflows/prepare-release-pr.yml
  .github/workflows/test.yml
  .github/workflows/update-plugin-list.yml
  pyproject.toml
  tox.ini
  uv.lock
Due: none

remove optional-dependencies.dev in favor of dependency-groups
  pyproject.toml
Due: none

Add changelog fragment for #14445
  changelog/14445.bugfix.rst
Due: changelogs-user-role

refactor: hoist p = Path(path) above branches in on_rm_rf_error
  src/_pytest/pathlib.py
Due: py-deprecated, py-path-deprecated

fix: address review feedback on rm_rf permission handling
  changelog/7940.bugfix.rst
  src/_pytest/pathlib.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix: address review comments on MRO marker iteration
  src/_pytest/python.py
  testing/test_mark.py
Due: py-deprecated, py-path-deprecated

chore: drop redundant .claude settings gitignore entry
  .gitignore
Due: none

fix(rewrite): prevent walrus operator double evaluation in assertions
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated
