Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

fix(testing): `pytest.approx` correctly take account Mapping keys order to compare them
  src/_pytest/python_api.py
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

remove deprecated changelog entry
  changelog/13816.bugfix.rst
Due: changelogs-user-role

apply ruff fixes
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

docs: add changelog entry
  changelog/13816.bugfix.rst
Due: changelogs-user-role

fix(testing): `pytest.approx` returns a clearer error mesage when comparing mappings with different keys
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

fix: properly scope conftest fixtures when testpaths points outside rootdir
  src/_pytest/fixtures.py
  testing/test_conftest.py
Due: py-deprecated, py-path-deprecated

fix: assign conftest fixtures to Directory nodes during collection
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

refactor: propagate nodes into FixtureDef for robust matching
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

refactor: use node= instead of nodeid= in all internal fixture registration
  src/_pytest/python.py
  src/_pytest/unittest.py
Due: py-deprecated, py-path-deprecated

deprecate: add PytestRemovedIn10Warning for baseid/nodeid string parameters
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

doc: add changelog fragments for #14004
  changelog/14004.bugfix.rst
  changelog/14004.deprecation.rst
Due: changelogs-user-role

actualize pytest_version in docs
  doc/en/backwards-compatibility.rst
  doc/en/reference/reference.rst
Due: changelogs-user-role

Improve types for simple examples
  AUTHORS
  doc/en/example/simple.rst
Due: changelogs-user-role

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

improve: compute meaningful nodeids for paths outside rootdir
  changelog/14004.bugfix.rst
  src/_pytest/fixtures.py
  src/_pytest/nodes.py
  testing/test_nodes.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

add: nodes.norm_sep helper for nodeid path separator normalization
  changelog/14098.improvement.rst
  src/_pytest/nodes.py
  testing/test_nodes.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Initial
  changelog/14095.bugfix.rst
  changelog/14103.bugfix.rst
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

[truncate explanation] Fix edge case when we truncate due to max_chars
  src/_pytest/assertion/truncate.py
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

Fix current_item_index
  src/_pytest/fixtures.py
  src/_pytest/main.py
  src/_pytest/pytester.py
Due: py-deprecated, py-path-deprecated

Always fixture finish in teardown phase
  changelog/14095.bugfix.rst
  src/_pytest/fixtures.py
  src/_pytest/main.py
  src/_pytest/pytester.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix: default for xfail condition is `True`
  src/_pytest/mark/structures.py
Due: py-deprecated, py-path-deprecated

Merge pull request #14106 from flying-sheep/xfail-default
  src/_pytest/mark/structures.py
Due: py-deprecated, py-path-deprecated

Update doc/en/backwards-compatibility.rst
  doc/en/backwards-compatibility.rst
Due: changelogs-user-role

Update backwards-compatibility.rst
  doc/en/backwards-compatibility.rst
Due: changelogs-user-role

doc: use new-style dict/tuple annotations in simple.rst examples (#14100)
  AUTHORS
  doc/en/example/simple.rst
Due: changelogs-user-role

docs: actualize pytest_version (#14099)
  doc/en/backwards-compatibility.rst
  doc/en/reference/reference.rst
Due: changelogs-user-role

[doc] Better documentation in _truncate_explanation
  src/_pytest/assertion/truncate.py
Due: py-deprecated, py-path-deprecated

[truncate explanation] Simplification of the '...' adding mechanism
  src/_pytest/assertion/truncate.py
Due: py-deprecated, py-path-deprecated

[truncate explanation] Refactor the logic to simplify the code
  src/_pytest/assertion/truncate.py
Due: py-deprecated, py-path-deprecated

Use nextitem to teardown stale fixtures
  src/_pytest/fixtures.py
  src/_pytest/nodes.py
  src/_pytest/pytester.py
  src/_pytest/python.py
  src/_pytest/runner.py
Due: py-deprecated, py-path-deprecated

Fix exception handling
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

[truncate explanation] Optimize the string length calculation
  src/_pytest/assertion/truncate.py
Due: py-deprecated, py-path-deprecated

[truncate_explanation] Cut short by checking if we're going to truncate
  src/_pytest/assertion/truncate.py
Due: py-deprecated, py-path-deprecated

[truncate explanation] Remove some redundant checks by grouping them together
  src/_pytest/assertion/truncate.py
Due: py-deprecated, py-path-deprecated

[pre-commit zizmor] Make zizmor output legible in pre-commit.ci
  .pre-commit-config.yaml
Due: none

[zizmor] Set 'actions/cache''s version by hash
  .github/workflows/update-plugin-list.yml
Due: none
