Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        args: [--safe, --quiet]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.0.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==19.10b0]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: check-yaml
    -   id: debug-statements
        exclude: _pytest/debugging.py
        language_version: python3
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        language_version: python3
        additional_dependencies: [flake8-typing-imports==1.3.0]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.4.0
    hooks:
    -   id: reorder-python-imports
        args: ['--application-directories=.:src', --py3-plus]
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.18.0
    hooks:
    -   id: pyupgrade
        args: [--py3-plus]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.761  # NOTE: keep this in sync with setup.py.
    hooks:
    -   id: mypy
        files: ^(src/|testing/)
        args: []
-   repo: local
    hooks:
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'
        exclude: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
        files: ^changelog/
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.(BytesIO|saferepr|TerminalWriter)|
                path\.local\.sysfind|
                process\.|
                std\.
            )
        types: [python]

Changing key "error" to "errors" in other files
  src/_pytest/junitxml.py
  src/_pytest/pytester.py
  src/_pytest/runner.py
  src/_pytest/terminal.py
  testing/example_scripts/junit-10.xsd
  testing/test_junitxml.py
  testing/test_meta.py
  testing/test_terminal.py
Due: py-deprecated

Fix CI config and coverage report
  .github/workflows/main.yml
  .travis.yml
  scripts/append_codecov_token.py
  scripts/report-coverage.sh
  tox.ini
Due: py-deprecated

Handle unknown stats in pytest_report_teststatus hook
  changelog/6910.bugfix.rst
  src/_pytest/resultlog.py
  testing/test_resultlog.py
Due: py-deprecated

Merge pull request #6910 from nicoddemus/resultlog-logreport
  changelog/6910.bugfix.rst
  src/_pytest/resultlog.py
  testing/test_resultlog.py
Due: py-deprecated

Revert "[parametrize] enforce explicit argnames declaration (#6330)"
  changelog/6909.bugfix.rst
  doc/en/example/parametrize.rst
  src/_pytest/fixtures.py
  src/_pytest/python.py
  testing/python/collect.py
  testing/python/metafunc.py
Due: py-deprecated

Skip link checks when doing releases through the bot
  scripts/release-on-comment.py
Due: py-deprecated

Merge pull request #6916 from nicoddemus/no-link-checks
  scripts/release-on-comment.py
Due: py-deprecated

Preparing release version 5.4.1
  changelog/6909.bugfix.rst
  changelog/6910.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-5.4.1.rst
  doc/en/changelog.rst
Due: none

Merge pull request #6914 from nicoddemus/revert-6330
  changelog/6909.bugfix.rst
  doc/en/example/parametrize.rst
  src/_pytest/fixtures.py
  src/_pytest/python.py
  testing/python/collect.py
  testing/python/metafunc.py
Due: py-deprecated

Cherry pick CHANGELOG from 5.4.1
  doc/en/announce/index.rst
  doc/en/announce/release-5.4.1.rst
  doc/en/changelog.rst
Due: none

Remove safe_text_dupfile() and simplify EncodedFile
  src/_pytest/capture.py
  testing/test_capture.py
Due: py-deprecated

Fix reference to the cache fixture
  doc/en/reference.rst
Due: none

Fix crash when printing while capsysbinary is active
  changelog/6871.bugfix.rst
  src/_pytest/capture.py
  testing/test_capture.py
Due: py-deprecated

Improved time counter used to compute test durations. `CallInfo.start` is now retro-computed as `CallInfo.stop - duration`, where `duration` is counted using `time.perf_counter()`. Fixes #4391
  src/_pytest/runner.py
Due: py-deprecated

Added changelog and authors
  AUTHORS
  changelog/4391.feature.rst
Due: none

Linter fix
  src/_pytest/runner.py
Due: py-deprecated

Linter fix 2
  src/_pytest/runner.py
Due: py-deprecated

Improved terminal message when the `--duration` option is used so as to display the number of skipped items with small duration < 0.005s. Fixed #6940
  src/_pytest/runner.py
Due: py-deprecated

Updated durations test to match the new terminal output
  testing/acceptance_test.py
Due: py-deprecated

make linter happy
  src/_pytest/runner.py
Due: py-deprecated

As per code review: renamed towncrier changelog file
  changelog/4391.improvement.rst
Due: none

Edited changelog according to latest proposal
  changelog/4391.improvement.rst
Due: none

Linter/black edit
  src/_pytest/reports.py
  src/_pytest/runner.py
  testing/acceptance_test.py
Due: py-deprecated

Made one test a little looser
  testing/acceptance_test.py
Due: py-deprecated

update available plugin count
  README.rst
Due: rst

Attempt to improve terminal reporting again
  src/_pytest/runner.py
  testing/acceptance_test.py
Due: py-deprecated

Modified tests so that they now pass of windows
  testing/acceptance_test.py
Due: py-deprecated

Fixed test mistake on windows
  testing/acceptance_test.py
Due: py-deprecated

Linter fixes
  testing/acceptance_test.py
Due: py-deprecated

Flake8 fix
  src/_pytest/runner.py
Due: py-deprecated

Code simplification for linter: `duration_ns` is now always present but is just `None` on python < 3.7
  src/_pytest/reports.py
  src/_pytest/runner.py
Due: py-deprecated

Updated changelog
  changelog/4391.improvement.rst
Due: none

mypy fix
  src/_pytest/runner.py
Due: py-deprecated

Tiny fix: now `duration_ns` attribute is always available on `TestReport`
  src/_pytest/reports.py
Due: py-deprecated

ci: twisted and oldattrs tox envs are now incompatible, don't run them together
  .github/workflows/main.yml
Due: none

Upgrade mypy 0.761 -> 0.770
  .pre-commit-config.yaml
  setup.py
  src/_pytest/python_api.py
  src/_pytest/recwarn.py
  src/_pytest/reports.py
  src/_pytest/terminal.py
Due: py-deprecated

Fixed typos in comments
  testing/acceptance_test.py
Due: py-deprecated

Update fixture.rst
  doc/en/fixture.rst
Due: none

CONTRIBUTING: Grammatical clarification and minor typo fixes
  CONTRIBUTING.rst
Due: none

unittest: fix the `_GetOutOf_testPartExecutor` exception kind. Fixes https://github.com/pytest-dev/pytest/issues/6947
  AUTHORS
  changelog/6947.bugfix.rst
  src/_pytest/unittest.py
  testing/test_unittest.py
Due: py-deprecated
