Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
    -   id: black
        args: [--safe, --quiet]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==20.8b1]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: check-yaml
    -   id: debug-statements
        exclude: _pytest/(debugging|hookspec).py
        language_version: python3
-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        name: autoflake
        args: ["--in-place", "--remove-unused-variables", "--remove-all-unused-imports"]
        language: python
        files: \.py$
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-typing-imports==1.12.0
          - flake8-docstrings==1.5.0
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.7.1
    hooks:
    -   id: reorder-python-imports
        args: ['--application-directories=.:src', --py37-plus]
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.31.0
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
-   repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.20.0
    hooks:
    -   id: setup-cfg-fmt
        args: [--max-py-version=3.10]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        files: ^(src/|testing/)
        args: []
        additional_dependencies:
          - iniconfig>=1.1.0
          - py>=1.8.2
          - attrs>=19.2.0
          - packaging
          - tomli
          - types-atomicwrites
          - types-pkg_resources
-   repo: local
    hooks:
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'
        exclude: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
        files: ^changelog/
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

Merge pull request #12503 from webknjaz/maintenance/hotfixes/sphinx-towncrier-draft
  tox.ini
Due: none

Merge pull request #12507 from webknjaz/maintenance/hotfixes/note/sphinx-towncrier-draft
  changelog/12493.contrib.rst
Due: changelogs-rst

🧪🚑 Pass a Codecov config to the action @ GHA (#12508)
  .github/workflows/test.yml
  codecov.yml
Due: none

add change log for 389
  AUTHORS
  changelog/389.improvement.rst
Due: none

🧪🚑🐛 Adjust object ID repr @ unbound saferepr test
  testing/io/test_saferepr.py
Due: py-deprecated, py-path-deprecated

fixup! tests: add for bound method representation
  testing/io/test_saferepr.py
Due: py-deprecated, py-path-deprecated

refactor: move bound_method repr from global version to rewrite module
  src/_pytest/_io/saferepr.py
  src/_pytest/assertion/rewrite.py
  testing/io/test_saferepr.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

tests: add for bound method representation
  src/_pytest/_io/saferepr.py
  testing/io/test_saferepr.py
Due: py-deprecated, py-path-deprecated

refactor: move bound_method repr from global version to rewrite module
  src/_pytest/_io/saferepr.py
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

fixup! add change log for 389
  changelog/389.improvement.rst
Due: none

refactor: simplify bound method representation
  src/_pytest/_io/saferepr.py
Due: py-deprecated, py-path-deprecated

refactor: simplify bound method representation (#12492)
  AUTHORS
  changelog/389.improvement.rst
  src/_pytest/_io/saferepr.py
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

Update trainings
  doc/en/index.rst
Due: none

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: none

style: use `@overload` to get rid of mypy only assertions
  src/_pytest/mark/expression.py
Due: py-deprecated, py-path-deprecated

feat: support keyword arguments in marker expressions
  src/_pytest/mark/__init__.py
  src/_pytest/mark/expression.py
  testing/test_mark.py
  testing/test_mark_expression.py
Due: py-deprecated, py-path-deprecated

test: add empty string keyword argument marker test cases
  testing/test_mark_expression.py
Due: py-deprecated, py-path-deprecated

perf(expression): improve string lexing & error messages
  src/_pytest/mark/expression.py
  testing/test_mark_expression.py
Due: py-deprecated, py-path-deprecated

test: use new `MarkMatcher.from_markers` method & register test markers
  pyproject.toml
  testing/test_mark_expression.py
Due: py-deprecated, py-path-deprecated

docs: document keyword argument support in marker expressions
  doc/en/example/markers.rst
  doc/en/how-to/usage.rst
Due: none

refactor(MarkMatcher): replace `from_item` with `from_markers` method
  src/_pytest/mark/__init__.py
Due: py-deprecated, py-path-deprecated

test(test_mark.py): add sad case that `-k` doesn't support keyword expressions
  testing/test_mark.py
Due: py-deprecated, py-path-deprecated

docs(12281.feature.rst): add changelog fragment
  changelog/12281.feature.rst
Due: none

style(mark): type hint `**kwargs` as `str | int | bool | None`
  src/_pytest/mark/__init__.py
  src/_pytest/mark/expression.py
Due: py-deprecated, py-path-deprecated

docs(AUTHORS): add myself as contributor
  AUTHORS
Due: none

refactor(mark): use existing `NOT_SET` sentinel
  src/_pytest/mark/__init__.py
Due: py-deprecated, py-path-deprecated

📝 Use explicit RST roles for built-in types in docs
  changelog/12281.feature.rst
  doc/en/example/markers.rst
Due: none

📝 Drop stray trailing period from the change note byline
  changelog/12281.feature.rst
Due: none

🔥 Drop the missing kwargs case
  src/_pytest/mark/__init__.py
Due: py-deprecated, py-path-deprecated

🚑🧪 Set the Codecov token directly in GHA
  .github/workflows/test.yml
Due: none

🧪 Bump the `alls-green` action to 223erbb7
  .github/workflows/test.yml
Due: none

Merge pull request #12455 from stdedos/patch-1
  doc/en/contact.rst
Due: none

Update contact channels
  doc/en/contact.rst
Due: none

wip: more type annotations, too many Any still
  src/_pytest/compat.py
  src/_pytest/doctest.py
  src/_pytest/fixtures.py
  src/_pytest/python.py
  testing/python/collect.py
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

Merge pull request #12517 from webknjaz/maintenance/gha-check-223e4bb7
  .github/workflows/test.yml
Due: none

expand marker test debugging and restore maker discovery when obj is passed trough
  src/_pytest/nodes.py
  src/_pytest/python.py
  testing/test_mark.py
Due: py-deprecated, py-path-deprecated

Merge pull request #12516 from webknjaz/maintenance/hotfix/gha-codecov-token
  .github/workflows/test.yml
Due: none
