Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

assertion: add support for `dict.keys()` and `dict.values()` types in assertion explanations (as sets)
  AUTHORS
  changelog/12860.improvement.rst
  src/_pytest/assertion/_guards.py
  testing/test_assertion.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Improve parametrize error for scalar parameter sets
  AUTHORS
  changelog/14619.bugfix.rst
  src/_pytest/mark/structures.py
  testing/test_mark.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

docs: clarify recwarn resets warnings filter after tests
  doc/en/how-to/capture-warnings.rst
Due: changelogs-user-role

docs: add changelog fragment for recwarn doc clarification
  changelog/14653.doc.rst
Due: changelogs-user-role

Delete changelog/14653.doc.rst
  changelog/14653.doc.rst
Due: changelogs-user-role

Error on top-level options in pytest.toml (#14646)
  changelog/14638.bugfix.rst
  src/_pytest/config/findpaths.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

docs: clarify recwarn resets warnings filter after tests (#14653)
  doc/en/how-to/capture-warnings.rst
Due: changelogs-user-role

docs: fix malformed list
  doc/en/backwards-compatibility.rst
Due: changelogs-user-role

Fix off-by-one in trailing assertion diff skipping (#14637) (#14639)
  AUTHORS
  changelog/14637.bugfix.rst
  src/_pytest/assertion/compare_text.py
  testing/test_assertion.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

[refactor] Trim redundant docstring prose flagged in review
  src/_pytest/assertion/_typing.py
  src/_pytest/assertion/truncate.py
Due: py-deprecated, py-path-deprecated

[refactor] Introduce a TruncationBudget for assertion truncation
  src/_pytest/assertion/_typing.py
  src/_pytest/assertion/truncate.py
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

[refactor] Introduce a TruncationBudget for assertion truncation (#14652)
  src/_pytest/assertion/_typing.py
  src/_pytest/assertion/truncate.py
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

docs: fix malformed list (#14655)
  doc/en/backwards-compatibility.rst
Due: changelogs-user-role

Reject implicit option dest conflicts
  changelog/12824.bugfix.rst
  src/_pytest/config/argparsing.py
  testing/test_parseopt.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Cover option destination derivation
  testing/test_parseopt.py
Due: py-deprecated, py-path-deprecated

Expose CaptureManager as public API (#14186)
  changelog/14186.improvement.rst
  doc/en/reference/reference.rst
  src/pytest/__init__.py
  testing/test_capture.py
  testing/typing_checks.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Clarify implicit option dest conflict error
  src/_pytest/config/argparsing.py
  testing/test_parseopt.py
Due: py-deprecated, py-path-deprecated

Update assertion to use issubclass for RuntimeError
  doc/en/how-to/assert.rst
Due: changelogs-user-role

Document delayed ResourceWarning filtering
  doc/en/how-to/capture-warnings.rst
Due: changelogs-user-role

Add ResourceWarning docs changelog
  changelog/9825.doc.rst
Due: changelogs-user-role

Keep log CLI level from changing verbosity
  changelog/13612.bugfix.rst
  src/_pytest/logging.py
  testing/logging/test_reporting.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Handle RaisesGroup check errors during suggestions
  src/_pytest/raises.py
  testing/python/raises_group.py
Due: py-deprecated, py-path-deprecated

Add changelog for RaisesGroup check fix
  changelog/14324.bugfix.rst
Due: changelogs-user-role

Cover RaisesGroup check suggestion branch
  testing/python/raises_group.py
Due: py-deprecated, py-path-deprecated

Move fixture hooks to runtest docs section
  changelog/12658.doc.rst
  doc/en/reference/reference.rst
Due: changelogs-user-role

logging: show live log item without verbose outcomes
  src/_pytest/logging.py
  testing/logging/test_reporting.py
Due: py-deprecated, py-path-deprecated

test: cover live log item output
  testing/logging/test_reporting.py
Due: py-deprecated, py-path-deprecated

fix: correct timing information for subtests and add related test case
  AUTHORS
  changelog/14412.bugfix.rst
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix: add current logreport attribute and test for progress information message
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Do not derive rootdir from a non-regular config file
  AUTHORS
  changelog/11502.bugfix.rst
  src/_pytest/config/findpaths.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

parametrize: replace opaque TypeError on non-Sized argvalues entry
  src/_pytest/mark/structures.py
  testing/python/collect.py
Due: py-deprecated, py-path-deprecated

Cover the filesystem-root fallback in the non-regular config file test
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

test: cover nested RaisesGroup ordered toggle combinations
  testing/python/raises_group.py
Due: py-deprecated, py-path-deprecated

docs: add docstring to test_foo
  bench/skip.py
Due: py-deprecated, py-path-deprecated

docs: add docstring to setup
  doc/en/conf.py
Due: py-deprecated, py-path-deprecated

fix: correct docstring placement for test_foo()
  bench/skip.py
Due: py-deprecated, py-path-deprecated

fix: correct docstring placement for setup()
  doc/en/conf.py
Due: py-deprecated, py-path-deprecated

Mention single-value tuple syntax in parametrize error
  src/_pytest/mark/structures.py
  testing/test_mark.py
Due: py-deprecated, py-path-deprecated
