Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

Always use, and improve the AlwaysDispatchPrettyPrinter
  src/_pytest/_io/saferepr.py
  src/_pytest/assertion/util.py
  testing/io/test_saferepr.py
  testing/test_assertion.py
  testing/test_error_diffs.py
Due: py-deprecated, py-path-deprecated

fixup! Always use, and improve the AlwaysDispatchPrettyPrinter
  src/_pytest/_io/saferepr.py
Due: py-deprecated, py-path-deprecated

Add changelog entry
  changelog/1531.improvement.rst
Due: none

Fix tag name generated by deploy workflow
  .github/workflows/deploy.yml
Due: none

Update publish-gh-release-notes.py
  scripts/publish-gh-release-notes.py
Due: py-deprecated, py-path-deprecated

Add deploy instructions using the command-line (#11547)
  scripts/prepare-release-pr.py
Due: py-deprecated, py-path-deprecated

[7.4.x] Add deploy instructions using the command-line
  scripts/prepare-release-pr.py
Due: py-deprecated, py-path-deprecated

Fix tag name generated by deploy workflow (#11550)
  .github/workflows/deploy.yml
Due: none

Fix tag name generated by deploy workflow (#11550) (#11554)
  .github/workflows/deploy.yml
Due: none

Doc fix issue #11556
  AUTHORS
  changelog/11556.doc.rst
  doc/en/example/parametrize.rst
Due: none

Updated python_api+recwarn to reflect changes
  src/_pytest/python_api.py
  src/_pytest/recwarn.py
Due: py-deprecated, py-path-deprecated

fix issue #11507 - part1
  changelog/11507.doc.rst
  doc/en/how-to/output.rst
Due: none

fix issue #11507 - part2
  doc/en/how-to/output.rst
Due: none

Move lines to Verbosity
  doc/en/how-to/output.rst
Due: none

added v flags to verbosity
  doc/en/how-to/output.rst
Due: none

Add denotation, users now can use annotation to denote a test
  AUTHORS
  changelog/11495.feature.rst
  src/_pytest/assertion/rewrite.py
  src/_pytest/cacheprovider.py
  src/_pytest/main.py
  src/_pytest/mark/structures.py
  src/_pytest/pytester.py
  src/_pytest/python.py
  testing/test_denotation.py
Due: py-deprecated, py-path-deprecated

Add denote test
  AUTHORS
  src/_pytest/assertion/rewrite.py
  src/_pytest/cacheprovider.py
  src/_pytest/main.py
  src/_pytest/mark/structures.py
  src/_pytest/pytester.py
  src/_pytest/python.py
  testing/11495.feature.rst
  testing/test_denotation.py
Due: py-deprecated, py-path-deprecated

Update build-and-inspect-python-package action
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: none

Update build-and-inspect-python-package action (#11561)
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: none

Update build-and-inspect-python-package action (#11561) (#11562)
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: none

add special cases for 'request' and direct parametrization arguments
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

replace `FuncFixtureInfo` with `FuncFixtureInfo2`
  src/_pytest/doctest.py
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

Do not discard invalid fixture names for now
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

Delete changelog/11507.doc.rst
  changelog/11507.doc.rst
Due: none

Mention -q and -s in the docs (#11558)
  doc/en/how-to/output.rst
Due: none

Fix crash using empty string for parametrized value more than once
  changelog/11563.bugfix.rst
  src/_pytest/python.py
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

Accept `None` in `_XfailMarkDecorator`'s `condition`param and expose default value
  AUTHORS
  changelog/10094#issuecomment-1774215699.improvement.rst
  doc/en/reference/reference.rst
  src/_pytest/mark/structures.py
Due: changelogs-rst, py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: none

clear some unused comments for denotation feature
  src/_pytest/assertion/rewrite.py
  src/_pytest/main.py
Due: py-deprecated, py-path-deprecated

change the log to correct position
  changelog/11495.feature.rst
Due: none

doc/reference: fix sidebar TOC depth
  doc/en/reference/reference.rst
Due: none

doc: allow Sphinx 6.x and 7.x
  doc/en/requirements.txt
Due: none

doc: allow Sphinx 6.x and 7.x (#11568)
  doc/en/requirements.txt
Due: none

[7.4.x] doc/reference: fix sidebar TOC depth
  doc/en/reference/reference.rst
Due: none

Apply documentation suggestions
  doc/en/how-to/output.rst
  src/_pytest/assertion/__init__.py
  src/_pytest/assertion/truncate.py
Due: py-deprecated, py-path-deprecated

Expose VerbosityType
  src/pytest/__init__.py
Due: py-deprecated, py-path-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py
