Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

fix: change Exeption to Exception in raises.py
  src/_pytest/raises.py
  testing/python/raises_group.py
Due: py-deprecated, py-path-deprecated

Apply suggestions from code review
  changelog/13678.feature.rst
Due: changelogs-user-role

Improve get_return_annotation logic
  changelog/13676.improvement.rst
  src/_pytest/fixtures.py
  testing/python/fixtures.py
  testing/python/show_fixtures_per_test.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

MAINT passenv CI in tox.ini
  tox.ini
Due: none

MAINT make tests insensitive to the presence of the CI env var
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

Make test_line_with_reprcrash CI insensitive
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Document change in the changelog
  changelog/13684.contrib.rst
Due: changelogs-user-role

Make test_error_messages_with_different_verbosity CI insensitive
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

Update changelog/13684.contrib.rst
  changelog/13684.contrib.rst
Due: changelogs-user-role

Better way to tell mypy that faulthandler_exit_on_timeout is always a bool instance
  src/_pytest/faulthandler.py
Due: py-deprecated, py-path-deprecated

Docs+Tests: clarify special discovery of pytest_generate_tests
  doc/en/how-to/parametrize.rst
  doc/en/how-to/writing_hook_functions.rst
  testing/test_pytest_generate_tests_discovery.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix: add type annotations in test to satisfy mypy
  testing/test_pytest_generate_tests_discovery.py
Due: py-deprecated, py-path-deprecated

chore: add PR body
  PR_BODY.md
Due: none

chore: add changelog entry for #13577 and remove PR_BODY.md
  PR_BODY.md
Due: none

chore: fix changelog fragment type for #13577
  changelog/13577.doc.rst
Due: changelogs-user-role

Move get_return_annotation tests into a separate class
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

Address review: delete redundant test; keep docs-only adjustments for pytest_generate_tests
  testing/test_pytest_generate_tests_discovery.py
Due: py-deprecated, py-path-deprecated

Merge pull request #13685 from CoretexShadow/fix/docs-pytest-generate-tests
  changelog/13577.doc.rst
  doc/en/how-to/parametrize.rst
  doc/en/how-to/writing_hook_functions.rst
Due: changelogs-user-role

Merge pull request #13683 from even-even/fix_Exeption_to_Exception_in_errorMessage
  src/_pytest/raises.py
  testing/python/raises_group.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

Run Link Checks via scheduled workflow (#13682)
  .github/workflows/doc-check-links.yml
  AUTHORS
  changelog/12474.contrib.rst
Due: changelogs-user-role

Factorize monkeypatch.delenv('CI', raising=False) into remove_ci_env_var fixture
  testing/conftest.py
  testing/python/approx.py
  testing/test_assertion.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Make enable autouse on the remove_ci_env_var fixture + add a marker to skip it
  pyproject.toml
  testing/conftest.py
  testing/python/approx.py
  testing/test_assertion.py
  testing/test_faulthandler.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Re-add the skip mark on test_timeout
  testing/test_faulthandler.py
Due: py-deprecated, py-path-deprecated

Fix passenv CI in tox ini and make tests insensitive to the presence of the CI env variable (#13684)
  changelog/13684.contrib.rst
  pyproject.toml
  testing/conftest.py
  testing/python/approx.py
  testing/test_faulthandler.py
  tox.ini
Due: changelogs-user-role, py-deprecated, py-path-deprecated

skip test only on CI
  testing/test_faulthandler.py
Due: py-deprecated, py-path-deprecated

TST increase faulthandler timeout value in test on CI
  testing/test_faulthandler.py
Due: py-deprecated, py-path-deprecated

Back to 1. to check that the ubuntu-314 failure does not depend on the actual duration
  testing/test_faulthandler.py
Due: py-deprecated, py-path-deprecated

Force flush in Pytester._dump_lines
  src/_pytest/pytester.py
Due: py-deprecated, py-path-deprecated

Try flushing stdout/stderr in Pytester.run instead
  src/_pytest/pytester.py
Due: py-deprecated, py-path-deprecated

Trigger test_timeout on CI to check stability of the fix
  tox.ini
Due: none

Restore tox.ini
  tox.ini
Due: none

Add changelog entry
  changelog/13695.contrib.rst
Due: changelogs-user-role

Try not closing fds in Pytester.run subprocess
  src/_pytest/pytester.py
Due: py-deprecated, py-path-deprecated

Prepare release version 8.4.2
  changelog/13478.bugfix.rst
  changelog/13480.contrib.rst
  changelog/13530.bugfix.rst
  changelog/13547.contrib.rst
  changelog/13549.bugfix.rst
  changelog/13559.bugfix.rst
  changelog/13563.bugfix.rst
  changelog/13577.doc.rst
  changelog/13684.contrib.rst
  doc/en/announce/index.rst
  doc/en/announce/release-8.4.2.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/getting-started.rst
  doc/en/how-to/fixtures.rst
Due: changelogs-user-role

Merge pull request #13696 from pytest-dev/release-8.4.2
  changelog/13478.bugfix.rst
  changelog/13480.contrib.rst
  changelog/13530.bugfix.rst
  changelog/13547.contrib.rst
  changelog/13549.bugfix.rst
  changelog/13559.bugfix.rst
  changelog/13563.bugfix.rst
  changelog/13577.doc.rst
  changelog/13684.contrib.rst
  doc/en/announce/index.rst
  doc/en/announce/release-8.4.2.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/getting-started.rst
  doc/en/how-to/fixtures.rst
Due: changelogs-user-role

Merge pull request #13696 from pytest-dev/release-8.4.2 (#13698)
  changelog/13478.bugfix.rst
  changelog/13480.contrib.rst
  changelog/13530.bugfix.rst
  changelog/13547.contrib.rst
  changelog/13549.bugfix.rst
  changelog/13559.bugfix.rst
  changelog/13563.bugfix.rst
  changelog/13577.doc.rst
  changelog/13684.contrib.rst
  doc/en/announce/index.rst
  doc/en/announce/release-8.4.2.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/getting-started.rst
  doc/en/how-to/fixtures.rst
Due: changelogs-user-role

junitxml: do not print summary with `--quiet`
  changelog/13700.improvement.rst
  src/_pytest/junitxml.py
  testing/test_junitxml.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
