Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

Add changelog entry
  changelog/14582.misc.rst
Due: changelogs-user-role

Fix changelog encoding
  changelog/14582.misc.rst
Due: changelogs-user-role

Fix recursion traceback test to cover all styles (#14582)
  changelog/14582.misc.rst
  testing/code/test_excinfo.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix pathologically slow assertion diffs for large inputs (#8998)
  AUTHORS
  changelog/8998.bugfix.rst
  src/_pytest/assertion/_compare_sequence.py
  src/_pytest/assertion/_diff.py
  src/_pytest/assertion/compare_text.py
  testing/test_assertion.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix last-failed with unittest subtests
  AUTHORS
  changelog/14575.bugfix.rst
  src/_pytest/cacheprovider.py
  testing/test_subtests.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

recwarn: pass originating module name when re-emitting unmatched warnings
  changelog/11933.bugfix.rst
  src/_pytest/recwarn.py
  testing/test_recwarn.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Address review comments on assertrepr_compare docstring and structure
  src/_pytest/assertion/util.py
Due: py-deprecated, py-path-deprecated

[refactor] Make base assertion comparisons return an iterator instead of a list of string (#14546)
  src/_pytest/assertion/__init__.py
  src/_pytest/assertion/_compare_any.py
  src/_pytest/assertion/_compare_set.py
  src/_pytest/assertion/util.py
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

[refactor] Tighten ``SetComparisonFunction`` to ``Iterator[str]``
  src/_pytest/assertion/_compare_set.py
  src/_pytest/assertion/util.py
Due: py-deprecated, py-path-deprecated

Reject negative log_auto_indent values
  src/_pytest/logging.py
  testing/logging/test_formatter.py
Due: py-deprecated, py-path-deprecated

Changelog added
  changelog/14586.bugfix.rst
Due: changelogs-user-role

[refactor] Tighten ``SetComparisonFunction`` to ``Iterator[str]`` (#14587)
  src/_pytest/assertion/_compare_set.py
  src/_pytest/assertion/util.py
Due: py-deprecated, py-path-deprecated

test_recwarn: pass encoding="utf-8" to write_text in regression test
  testing/test_recwarn.py
Due: py-deprecated, py-path-deprecated

Restore precedence of indirect parametrize over fixture params
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

doc,testing: fix `scope="class"` instance methods
  doc/en/how-to/fixtures.rst
  testing/python/fixtures.py
  testing/python/metafunc.py
  testing/test_unittest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Revert "fixtures: remove no longer needed special case in `pytest_generate_tests`"
  changelog/14591.bugfix.rst
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

docs: clarify confcutdir plugin discovery cutoff
  doc/en/how-to/writing_plugins.rst
Due: changelogs-user-role

[perf] test: mark Sized.__len__ as no cover
  testing/io/test_pprint.py
Due: py-deprecated, py-path-deprecated

[perf] pprint: apply review feedback on ``pformat_lines``
  src/_pytest/_io/pprint.py
  testing/io/test_pprint.py
Due: py-deprecated, py-path-deprecated

[perf] Skip the newline count on chunks without a newline
  src/_pytest/_io/pprint.py
Due: py-deprecated, py-path-deprecated

[perf] test: cover vendored pprint UserDict/UserList/UserString, frozenset, bytes/str wrap
  src/_pytest/_io/pprint.py
  testing/io/test_pprint.py
Due: py-deprecated, py-path-deprecated

[perf] Make ``PrettyPrinter`` format lazily so output can be budget-capped
  src/_pytest/_io/pprint.py
  testing/io/test_pprint.py
Due: py-deprecated, py-path-deprecated

Honor name-only output with tb=line
  src/_pytest/terminal.py
  testing/test_name_only.py
Due: py-deprecated, py-path-deprecated

Merge pull request #14597 from bluetech/fix-param-override
  changelog/14591.bugfix.rst
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Strip ANSI escape codes from TerminalRepr.__str__ output
  src/_pytest/_code/code.py
Due: py-deprecated, py-path-deprecated

Add tests for ANSI escape code stripping in JUnit XML
  testing/test_junitxml.py
Due: py-deprecated, py-path-deprecated

Show node id for singleton skipped summaries
  AUTHORS
  changelog/14607.bugfix.rst
  src/_pytest/terminal.py
  testing/test_mark.py
  testing/test_reports.py
  testing/test_skipping.py
  testing/test_subtests.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

nicoddemus review
  .github/workflows/update-plugin-list.yml
Due: none

mark/structures: undo non-collection-argvalues type-check time deprecation due to mypy bug
  changelog/14606.bugfix.rst
  src/_pytest/mark/structures.py
  testing/typing_checks.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Merge pull request #14611 from bluetech/parametrize-argvalues-typing
  changelog/14606.bugfix.rst
  src/_pytest/mark/structures.py
  testing/typing_checks.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix 'template-injection'
  .github/workflows/update-plugin-list.yml
Due: none

'The Compiler' review
  .github/workflows/update-plugin-list.yml
Due: none

Add ordered parameter to RaisesGroup
  AUTHORS
  changelog/14580.feature.rst
  doc/en/how-to/assert.rst
  src/_pytest/raises.py
  testing/python/raises_group.py
  testing/typing_raises_group.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

python: minor refactor of `_find_parametrized_scope`
  src/_pytest/python.py
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

Backport plugin list updates to maintenance branches (#14538)
  .github/workflows/update-plugin-list.yml
Due: none

update-plugin-list: fix add label command
  .github/workflows/update-plugin-list.yml
Due: none

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
