Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        args: [--safe, --quiet]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.0.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==19.10b0]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: check-yaml
    -   id: debug-statements
        exclude: _pytest/debugging.py
        language_version: python3
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        language_version: python3
        additional_dependencies: [flake8-typing-imports==1.3.0]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.4.0
    hooks:
    -   id: reorder-python-imports
        args: ['--application-directories=.:src', --py3-plus]
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.18.0
    hooks:
    -   id: pyupgrade
        args: [--py3-plus]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.761  # NOTE: keep this in sync with setup.py.
    hooks:
    -   id: mypy
        files: ^(src/|testing/)
        args: []
-   repo: local
    hooks:
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'
        exclude: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
        files: ^changelog/
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.(BytesIO|saferepr|TerminalWriter)|
                path\.local\.sysfind|
                process\.|
                std\.
            )
        types: [python]

fixup! fixup! main: report ignored paths
  testing/test_session.py
Due: py-deprecated

revisit pytest_report_collectionfinish
  src/_pytest/main.py
Due: py-deprecated

Move _collectfile to FSCollector
  src/_pytest/main.py
  src/_pytest/nodes.py
  src/_pytest/python.py
Due: py-deprecated

tests: simplify test_newfirst_usecase
  testing/test_cacheprovider.py
Due: py-deprecated

cacheprovider: --lf/--ff: use hookwrapper, respect --collect-only
  src/_pytest/cacheprovider.py
  testing/test_cacheprovider.py
Due: py-deprecated

Type annotate fixtures.py & related
  src/_pytest/capture.py
  src/_pytest/fixtures.py
  src/_pytest/hookspec.py
  src/_pytest/python.py
  src/_pytest/setuponly.py
  src/_pytest/setupplan.py
  testing/python/metafunc.py
Due: py-deprecated

Type annotate some hookspecs & impls
  src/_pytest/assertion/__init__.py
  src/_pytest/cacheprovider.py
  src/_pytest/capture.py
  src/_pytest/config/__init__.py
  src/_pytest/debugging.py
  src/_pytest/doctest.py
  src/_pytest/faulthandler.py
  src/_pytest/fixtures.py
  src/_pytest/helpconfig.py
  src/_pytest/hookspec.py
  src/_pytest/junitxml.py
  src/_pytest/logging.py
  src/_pytest/mark/__init__.py
  src/_pytest/mark/structures.py
  src/_pytest/nodes.py
  src/_pytest/pastebin.py
  src/_pytest/pytester.py
  src/_pytest/python.py
  src/_pytest/resultlog.py
  src/_pytest/runner.py
  src/_pytest/setuponly.py
  src/_pytest/setupplan.py
  src/_pytest/skipping.py
  src/_pytest/stepwise.py
  src/_pytest/terminal.py
  src/_pytest/warnings.py
Due: py-deprecated

Add a typing-compatible mechanism for ad-hoc attributes on various objects
  src/_pytest/config/__init__.py
  src/_pytest/faulthandler.py
  src/_pytest/junitxml.py
  src/_pytest/mark/__init__.py
  src/_pytest/nodes.py
  src/_pytest/pastebin.py
  src/_pytest/resultlog.py
  src/_pytest/skipping.py
  src/_pytest/store.py
  src/_pytest/unittest.py
  testing/test_junitxml.py
  testing/test_resultlog.py
  testing/test_store.py
Due: py-deprecated

Simplify test_rootdir_wrong_option_arg (#6812)
  testing/test_session.py
Due: py-deprecated

changelog
  changelog/6795.improvement.rst
Due: none

Improve UsageError with invalid `-o` style (#6795)
  changelog/6795.improvement.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: py-deprecated

typing: get_dirs_from_args
  src/_pytest/config/findpaths.py
Due: py-deprecated

typing: parseconfig
  src/_pytest/pytester.py
Due: py-deprecated

Adjust/fix test_config: use strs with determine_setup
  testing/test_config.py
Due: py-deprecated

Fix test_write_pyc: passed list to parseconfig
  testing/test_assertrewrite.py
Due: py-deprecated

Add Read The Docs badge to README
  README.rst
Due: rst

Remove _SectionsRepr: `sections` is handled in __attrs_post_init__
  src/_pytest/_code/code.py
Due: py-deprecated

docs: use doc/en/_build/html for html output
  CONTRIBUTING.rst
  changelog/README.rst
  tox.ini
Due: none

Add Read The Docs badge to README (#6841)
  README.rst
Due: rst

docs: use doc/en/_build/html for html output (#6842)
  CONTRIBUTING.rst
  changelog/README.rst
  tox.ini
Due: none

docs: remove tracking through Google Analytics
  doc/en/_templates/layout.html
Due: none

Update src/_pytest/config/findpaths.py
  src/_pytest/config/findpaths.py
Due: py-deprecated

Move _collectfile to FSCollector (#6830)
  src/_pytest/main.py
  src/_pytest/nodes.py
  src/_pytest/python.py
Due: py-deprecated

When writing rewritten module's pyc, only ignore OSError
  src/_pytest/assertion/rewrite.py
Due: py-deprecated

Mark AssertionRewritingHook as implementing importlib.abc.Loader
  src/_pytest/assertion/rewrite.py
Due: py-deprecated

fix #571: deprecate pytest_collect_directory as its missaligned since 2010
  changelog/571.deprecation.rst
  src/_pytest/deprecated.py
  src/_pytest/hookspec.py
Due: py-deprecated

summarize warning summaries if the number of locations is high
  changelog/6834.feature.rst
  src/_pytest/terminal.py
  testing/example_scripts/warnings/test_group_warnings_by_message_summary.py
  testing/test_warnings.py
Due: py-deprecated

filter deprecation warning for collect_directory test
  testing/acceptance_test.py
  testing/test_collection.py
Due: py-deprecated

Automate release by comment notifications (#6823)
  .github/workflows/release-on-comment.yml
  RELEASING.rst
  scripts/release-on-comment.py
  tox.ini
Due: rst, py-deprecated

fixup: correct changelog/deprecations warnings
  changelog/571.deprecation.rst
  src/_pytest/deprecated.py
Due: py-deprecated

Add .gitblameignore
  .gitblameignore
Due: none

refer the node-from-parent deprecation documentation in the warning
  src/_pytest/deprecated.py
  testing/deprecated_test.py
Due: py-deprecated

followup: add note on from_parent kwargs
  doc/en/deprecations.rst
Due: none

docs: from_parent - add minimal before/after example
  doc/en/deprecations.rst
Due: none

Change .parseoutcomes() tests to expect plural keys only
  testing/test_pytester.py
Due: py-deprecated

logging: improve help for log_level
  src/_pytest/logging.py
Due: py-deprecated

logging: minor typing, rename function
  src/_pytest/logging.py
Due: py-deprecated

Fix (internal) documentation for pytester's LineComp
  src/_pytest/pytester.py
Due: py-deprecated

ci: Travis: pip-list
  .travis.yml
Due: none

ci: Travis: pin pip
  .travis.yml
Due: none
