Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

Improve docstring and type annotation
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

fixtures: add an internal API for registering a fixture
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

python,unittest: replace obj fixture patching with `FixtureManager._register_fixture`
  src/_pytest/python.py
  src/_pytest/unittest.py
Due: py-deprecated, py-path-deprecated

fixtures: match fixtures based on actual node hierarchy, not textual nodeids
  changelog/11785.trivial.rst
  src/_pytest/fixtures.py
  src/_pytest/nodes.py
  testing/plugins_integration/requirements.txt
  testing/python/fixtures.py
  testing/test_nodes.py
  tox.ini
Due: py-deprecated, py-path-deprecated

Fix a test
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

fixtures: avoid FixtureDef <-> FixtureManager reference cycle
  src/_pytest/fixtures.py
  src/_pytest/python.py
  src/_pytest/setuponly.py
Due: py-deprecated, py-path-deprecated

fixtures: remove unhelpful FixtureManager.{FixtureLookupError,FixtureLookupErrorRepr}
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

config: clarify a bit of code in `_importconftest`
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

python: remove support for nose's `compat_co_firstlineno`
  doc/en/deprecations.rst
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

Updated tmp_path documentation
  changelog/11790.doc.rst
  doc/en/how-to/tmp_path.rst
Due: none

Delete changelog/11790.doc.rst
  changelog/11790.doc.rst
Due: none

Slight change to tmp_path documentation to more clearly illustrate its behavior (#11800)
  doc/en/how-to/tmp_path.rst
Due: none

nodes: add `Node.iterparents()` function
  changelog/11801.improvement.rst
  src/_pytest/fixtures.py
  src/_pytest/nodes.py
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

Clarify package scope
  doc/en/how-to/fixtures.rst
Due: none

doctest: remove special conftest handling
  src/_pytest/doctest.py
Due: py-deprecated, py-path-deprecated

Correct link name
  doc/en/changelog.rst
Due: none

Fix `assert mod not in mods` crash
  changelog/9765.bugfix.rst
  src/_pytest/config/__init__.py
  testing/acceptance_test.py
  testing/test_pluginmanager.py
Due: py-deprecated, py-path-deprecated

[8.0.x] FIX key formating divergence when inspecting plugin dictionary.
  changelog/9765.bugfix.rst
  src/_pytest/config/__init__.py
  testing/acceptance_test.py
  testing/test_pluginmanager.py
Due: py-deprecated, py-path-deprecated

Just raise deprecation warning
  doc/en/example/simple.rst
  src/_pytest/fixtures.py
  src/_pytest/python.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

Do the change
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

Apply review comments
  doc/en/example/simple.rst
  src/_pytest/deprecated.py
  src/_pytest/python.py
  testing/deprecated_test.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

A tiny improvement
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

Add changelog and note
  changelog/11284.deprecation.rst
  doc/en/deprecations.rst
  src/_pytest/deprecated.py
  testing/deprecated_test.py
Due: py-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: none

terminal: include markers in `--collect-only` output
  AUTHORS
  changelog/1509.improvement.rst
  src/_pytest/terminal.py
  testing/test_cacheprovider.py
Due: py-deprecated, py-path-deprecated

Improve assert mod not in mods error message
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

[8.0.x] Improve assert mod not in mods error message
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

main,python: move `__pycache__` ignore to `pytest_ignore_collect`
  src/_pytest/main.py
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

nodes: rename `iterparents()` -> `iter_parents()`
  changelog/11801.improvement.rst
  src/_pytest/fixtures.py
  src/_pytest/nodes.py
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

Apply all but one review comments
  doc/en/deprecations.rst
  src/_pytest/assertion/rewrite.py
  src/_pytest/doctest.py
  src/_pytest/python.py
  testing/deprecated_test.py
  testing/test_doctest.py
Due: py-deprecated, py-path-deprecated

config: stop using exception triplets in `ConftestImportError`
  src/_pytest/config/__init__.py
  src/_pytest/debugging.py
  src/_pytest/nodes.py
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

doc: Update training dates and add pytest sprint
  doc/en/index.rst
Due: none

doc: Update training dates and add pytest sprint (#11819)
  doc/en/index.rst
Due: none

[7.4.x] doc: Update training dates and add pytest sprint
  doc/en/index.rst
Due: none

hookspec: remove explicit `:param` types
  src/_pytest/hookspec.py
Due: py-deprecated, py-path-deprecated

hookspec: move pytest_load_initial_conftests up
  src/_pytest/hookspec.py
Due: py-deprecated, py-path-deprecated

hookspec: modernize a reference
  src/_pytest/hookspec.py
Due: py-deprecated, py-path-deprecated

doc: Remove sold out training
  doc/en/index.rst
Due: none

module __file__ attribute does not have the right casing
  src/_pytest/_py/os_path.py
  src/_pytest/_py/path.py
  src/_pytest/config/__init__.py
  src/_pytest/fixtures.py
  src/_pytest/helpconfig.py
  src/_pytest/pathlib.py
  testing/test_os_utils.py
  testing/test_pluginmanager.py
Due: py-deprecated, py-path-deprecated

doc: Remove sold out training (#11823)
  doc/en/index.rst
Due: none

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py
