Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

Update pythoncollection.py
  doc/en/example/pythoncollection.py
Due: py-deprecated, py-path-deprecated

Update pythoncollection.rst
  doc/en/example/pythoncollection.rst
Due: changelogs-user-role

Update reportingdemo.rst
  doc/en/example/reportingdemo.rst
Due: changelogs-user-role

Update simple.rst
  doc/en/example/simple.rst
Due: changelogs-user-role

Update special.rst
  doc/en/example/special.rst
Due: changelogs-user-role

Update links.html
  doc/en/_templates/links.html
Due: none

Update pytest-custom.css
  doc/en/_static/pytest-custom.css
Due: none

Update talks.rst
  doc/en/talks.rst
Due: changelogs-user-role

Update tidelift.rst
  doc/en/tidelift.rst
Due: changelogs-user-role

Update yieldfixture.rst
  doc/en/yieldfixture.rst
Due: changelogs-user-role

Update get_issues.py
  extra/get_issues.py
Due: py-deprecated, py-path-deprecated

Update .gitignore
  scripts/.gitignore
Due: none

Update generate-gh-release-notes.py
  scripts/generate-gh-release-notes.py
Due: py-deprecated, py-path-deprecated

Update prepare-release-pr.py
  scripts/prepare-release-pr.py
Due: py-deprecated, py-path-deprecated

Update release.major.rst
  scripts/release.major.rst
Due: changelogs-user-role

Update release.minor.rst
  scripts/release.minor.rst
Due: changelogs-user-role

Update release.patch.rst
  scripts/release.patch.rst
Due: changelogs-user-role

Update release.pre.rst
  scripts/release.pre.rst
Due: changelogs-user-role

Update release.py
  scripts/release.py
Due: py-deprecated, py-path-deprecated

Update update-plugin-list.py
  scripts/update-plugin-list.py
Due: py-deprecated, py-path-deprecated

Update py.py
  src/py.py
Due: py-deprecated, py-path-deprecated

Update __init__.py
  src/pytest/__init__.py
Due: py-deprecated, py-path-deprecated

Update __main__.py
  src/pytest/__main__.py
Due: py-deprecated, py-path-deprecated

Update py.typed
  src/pytest/py.typed
Due: none

Update __init__.py
  src/_pytest/_code/__init__.py
Due: py-deprecated, py-path-deprecated

Update code.py
  src/_pytest/_code/code.py
Due: py-deprecated, py-path-deprecated

Update source.py
  src/_pytest/_code/source.py
Due: py-deprecated, py-path-deprecated

Update expression.py
  src/_pytest/mark/expression.py
Due: py-deprecated, py-path-deprecated

Update structures.py
  src/_pytest/mark/structures.py
Due: py-deprecated, py-path-deprecated

Update __init__.py
  src/_pytest/mark/__init__.py
Due: py-deprecated, py-path-deprecated

Update __init__.py
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

Update argparsing.py
  src/_pytest/config/argparsing.py
Due: py-deprecated, py-path-deprecated

Update compat.py
  src/_pytest/config/compat.py
Due: py-deprecated, py-path-deprecated

Update exceptions.py
  src/_pytest/config/exceptions.py
Due: py-deprecated, py-path-deprecated

Update findpaths.py
  src/_pytest/config/findpaths.py
Due: py-deprecated, py-path-deprecated

Create Py-linux-simple.py
  Py-linux-simple.py
Due: py-deprecated, py-path-deprecated

Create It.py
  It.py
Due: py-deprecated, py-path-deprecated

Update pyproject.toml
  pyproject.toml
Due: none

Update test_fixture.py
  testing/logging/test_fixture.py
Due: py-deprecated, py-path-deprecated

Update test_formatter.py
  testing/logging/test_formatter.py
Due: py-deprecated, py-path-deprecated
