Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.(BytesIO|saferepr|TerminalWriter)|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.\n)\n"

python_api: safe repr() for ApproxScalar
  src/_pytest/python_api.py
  testing/python/approx.py
Due: py-deprecated

Update AUTHORS and add changelog entry
  AUTHORS
  changelog/7710.bugfix.rst
Due: none

python_api: add nonnumeric approx example
  src/_pytest/python_api.py
Due: py-deprecated

add anyio smoke tests, and plugin recommendation
  src/_pytest/python.py
  testing/plugins_integration/pytest_anyio_integration.py
  tox.ini
Due: py-deprecated

pre-sort dicts for python<3.7
  testing/python/approx.py
Due: py-deprecated

Skip repr test if dicts unordered
  testing/python/approx.py
Due: py-deprecated

Update to deadsnakes/action@v2.0.0
  .github/workflows/main.yml
Due: none

Add full command-line flags to the reference docs
  doc/en/reference.rst
  doc/en/usage.rst
Due: none

Merge pull request #7747 from nicoddemus/cmdline-flags-docs
  doc/en/reference.rst
  doc/en/usage.rst
Due: none

Update writing_plugins.rst
  doc/en/writing_plugins.rst
Due: none

Update writing_plugins.rst (#7757)
  doc/en/writing_plugins.rst
Due: none

[Docs] remove semi-colon punctuation mark
  README.rst
  doc/en/index.rst
Due: rst

Mistyped was mistyped
  doc/en/mark.rst
Due: none

Improve output for missing required plugins/unknown config keys (#7723)
  changelog/7572.improvement.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: py-deprecated

Improve output for missing required plugins/unknown config keys
  changelog/7572.improvement.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: py-deprecated

Mistyped was mistyped (#7762)
  doc/en/mark.rst
Due: none

Add guidelines section about backporting
  CONTRIBUTING.rst
Due: none

Improve test_invalid_config_options parametrization by using ids
  testing/test_config.py
Due: py-deprecated

Fix assertions now that pytest exits with USAGE_ERROR
  testing/test_config.py
Due: py-deprecated

fix __init__.py arg triggers NotImplementedError
  src/_pytest/main.py
Due: py-deprecated

Add pytest-qt and pytest-flakes
  testing/plugins_integration/README.rst
  testing/plugins_integration/pytest_qt_integration.py
  tox.ini
Due: py-deprecated

Add pytest-bdd
  testing/plugins_integration/bdd_wallet.feature
  testing/plugins_integration/bdd_wallet.py
  tox.ini
Due: py-deprecated

Remove pytest-qt due to the dependency to a X server
  tox.ini
Due: none

Add pip_pre
  tox.ini
Due: none

Update and rename 7710.bugfix.rst to 7710.feature.rst
  changelog/7710.feature.rst
Due: none

Rename 7710.feature.rst to 7710.improvement.rst
  changelog/7710.improvement.rst
Due: none

Small docs and test improvements
  src/_pytest/python_api.py
  testing/python/approx.py
Due: py-deprecated

Merge pull request #7749 from bluetech/fix-get_source-crash
  changelog/4984.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_collection.py
Due: py-deprecated

Add docs about reusing fixtures from other projects
  doc/en/fixture.rst
Due: none

Use multiple issue template types and mention Discussions
  .github/ISSUE_TEMPLATE/1_bug_report.md
  .github/ISSUE_TEMPLATE/2_feature_request.md
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Warning about record_testsuite_property not working with xdist
  src/_pytest/junitxml.py
Due: py-deprecated

Improve output for missing config keys (#7572)
  changelog/7572.improvement.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: py-deprecated

Add pytest-twisted smoke test
  testing/plugins_integration/pytest_twisted_integration.py
  tox.ini
Due: py-deprecated

Merge pull request #7773 from nicoddemus/xml-properties-xdist-docs
  src/_pytest/junitxml.py
Due: py-deprecated

RELEASING: clarify where to push the tag
  RELEASING.rst
Due: rst

Remove obsolete pytest_qt_integration.py
  testing/plugins_integration/pytest_qt_integration.py
Due: py-deprecated

Fix linting and cleanup pytest_twisted_integration a bit
  testing/plugins_integration/pytest_twisted_integration.py
  testing/test_assertrewrite.py
Due: py-deprecated

Smoke tests for assorted plugins (#7721)
  .github/workflows/main.yml
  pyproject.toml
  src/_pytest/config/__init__.py
  src/_pytest/python.py
  testing/plugins_integration/.gitignore
  testing/plugins_integration/README.rst
  testing/plugins_integration/bdd_wallet.feature
  testing/plugins_integration/bdd_wallet.py
  testing/plugins_integration/django_settings.py
  testing/plugins_integration/pytest.ini
  testing/plugins_integration/pytest_anyio_integration.py
  testing/plugins_integration/pytest_asyncio_integration.py
  testing/plugins_integration/pytest_mock_integration.py
  testing/plugins_integration/pytest_trio_integration.py
  testing/plugins_integration/pytest_twisted_integration.py
  testing/plugins_integration/simple_integration.py
  testing/test_assertrewrite.py
  testing/test_config.py
  tox.ini
Due: py-deprecated

Smoke tests for assorted plugins (#7721)
  .github/workflows/main.yml
  pyproject.toml
  src/_pytest/python.py
  testing/plugins_integration/.gitignore
  testing/plugins_integration/README.rst
  testing/plugins_integration/bdd_wallet.feature
  testing/plugins_integration/bdd_wallet.py
  testing/plugins_integration/django_settings.py
  testing/plugins_integration/pytest.ini
  testing/plugins_integration/pytest_anyio_integration.py
  testing/plugins_integration/pytest_asyncio_integration.py
  testing/plugins_integration/pytest_mock_integration.py
  testing/plugins_integration/pytest_trio_integration.py
  testing/plugins_integration/pytest_twisted_integration.py
  testing/plugins_integration/simple_integration.py
  testing/test_assertrewrite.py
  testing/test_config.py
  tox.ini
Due: py-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
  py-deprecated: any of: \.py$
