Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
    -   id: black
        args: [--safe, --quiet]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==20.8b1]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: check-yaml
    -   id: debug-statements
        exclude: _pytest/(debugging|hookspec).py
        language_version: python3
-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        name: autoflake
        args: ["--in-place", "--remove-unused-variables", "--remove-all-unused-imports"]
        language: python
        files: \.py$
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-typing-imports==1.12.0
          - flake8-docstrings==1.5.0
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.7.1
    hooks:
    -   id: reorder-python-imports
        args: ['--application-directories=.:src', --py37-plus]
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.31.0
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
-   repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.20.0
    hooks:
    -   id: setup-cfg-fmt
        args: [--max-py-version=3.10]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        files: ^(src/|testing/)
        args: []
        additional_dependencies:
          - iniconfig>=1.1.0
          - py>=1.8.2
          - attrs>=19.2.0
          - packaging
          - tomli
          - types-atomicwrites
          - types-pkg_resources
-   repo: local
    hooks:
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'
        exclude: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
        files: ^changelog/
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

reference: separate node types to their own section
  doc/en/reference/reference.rst
  src/_pytest/main.py
  src/_pytest/nodes.py
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

doc: Add ep2023 training
  doc/en/index.rst
Due: none

doc: Add ep2023 training (#11113)
  doc/en/index.rst
Due: none

[7.3.x] doc: Add ep2023 training
  doc/en/index.rst
Due: none

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: none

Apply suggestions from code review
  src/_pytest/logging.py
Due: py-deprecated, py-path-deprecated

Encoding for subprocess.run
  src/_pytest/pytester.py
  testing/test_parseopt.py
Due: py-deprecated, py-path-deprecated

Fix encoding warnings
  testing/acceptance_test.py
  testing/python/fixtures.py
  testing/python/metafunc.py
  testing/test_assertrewrite.py
  testing/test_collection.py
  testing/test_config.py
  testing/test_conftest.py
  testing/test_doctest.py
  testing/test_monkeypatch.py
  testing/test_pathlib.py
  tox.ini
Due: py-deprecated, py-path-deprecated

Add encoding in more tests
  scripts/towncrier-draft-to-file.py
  testing/_py/test_local.py
  testing/acceptance_test.py
  testing/code/test_excinfo.py
  testing/code/test_source.py
  testing/logging/test_reporting.py
  testing/python/collect.py
  testing/test_assertion.py
  testing/test_assertrewrite.py
  testing/test_cacheprovider.py
  testing/test_capture.py
  testing/test_collection.py
  testing/test_conftest.py
  testing/test_junitxml.py
  testing/test_link_resolve.py
  testing/test_monkeypatch.py
  testing/test_parseopt.py
  testing/test_pathlib.py
  testing/test_pluginmanager.py
  testing/test_pytester.py
  testing/test_reports.py
  testing/test_session.py
  testing/test_skipping.py
  testing/test_stepwise.py
  testing/test_terminal.py
  testing/test_tmpdir.py
  testing/test_warnings.py
Due: py-deprecated, py-path-deprecated

Use utf-8 debug file
  changelog/7781.bugfix.rst
  src/_pytest/helpconfig.py
Due: py-deprecated, py-path-deprecated

config: extract initial paths/nodeids args logic to a function
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

config: fix the paths considered for initial conftest discovery
  changelog/11104.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_collection.py
  testing/test_conftest.py
Due: py-deprecated, py-path-deprecated

reference: add note that `pythonpath` does not affect `-p`
  doc/en/reference/reference.rst
Due: none

Prepare release version 7.4.0
  changelog/10831.bugfix.rst
  changelog/10872.improvement.rst
  changelog/10901.feature.rst
  changelog/10907.improvement.rst
  changelog/10940.improvement.rst
  changelog/10991.improvement.rst
  changelog/11005.improvement.rst
  changelog/11013.improvement.rst
  changelog/11031.trivial.rst
  changelog/11043.improvement.rst
  changelog/11068.bugfix.rst
  changelog/11081.improvement.rst
  changelog/11104.bugfix.rst
  changelog/1904.bugfix.rst
  changelog/7781.bugfix.rst
  changelog/8711.improvement.rst
  changelog/9146.doc.rst
  doc/en/announce/index.rst
  doc/en/announce/release-7.4.0.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/getting-started.rst
  doc/en/reference/reference.rst
Due: none

Merge pull request #11131 from pytest-dev/release-7.4.0
  changelog/10831.bugfix.rst
  changelog/10872.improvement.rst
  changelog/10901.feature.rst
  changelog/10907.improvement.rst
  changelog/10940.improvement.rst
  changelog/10991.improvement.rst
  changelog/11005.improvement.rst
  changelog/11013.improvement.rst
  changelog/11031.trivial.rst
  changelog/11043.improvement.rst
  changelog/11068.bugfix.rst
  changelog/11081.improvement.rst
  changelog/11104.bugfix.rst
  changelog/1904.bugfix.rst
  changelog/7781.bugfix.rst
  changelog/8711.improvement.rst
  changelog/9146.doc.rst
  doc/en/announce/index.rst
  doc/en/announce/release-7.4.0.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/getting-started.rst
  doc/en/reference/reference.rst
Due: none

Change PytestRemovedIn8Warning to error by default
  changelog/7363.breaking.rst
  src/_pytest/warnings.py
  testing/acceptance_test.py
  testing/deprecated_test.py
  testing/test_config.py
  testing/test_nose.py
  testing/test_warnings.py
Due: py-deprecated, py-path-deprecated

Add PytestRemovedIn9Warning
  doc/en/reference/reference.rst
  src/_pytest/warning_types.py
  src/pytest/__init__.py
Due: py-deprecated, py-path-deprecated

python: change `pytest pkg/__init__.py` to only collect the `__init__.py` Module
  changelog/8976.breaking.rst
  doc/en/deprecations.rst
  src/_pytest/python.py
  testing/example_scripts/collect/package_init_given_as_arg/pkg/__init__.py
  testing/example_scripts/collect/package_init_given_as_arg/pkg/test_foo.py
  testing/python/collect.py
  testing/test_collection.py
  testing/test_doctest.py
  testing/test_nose.py
Due: py-deprecated, py-path-deprecated

Apply suggestions from code review
  doc/en/how-to/fixtures.rst
  src/_pytest/deprecated.py
  testing/deprecated_test.py
Due: py-deprecated

Update doc/en/deprecations.rst
  doc/en/deprecations.rst
Due: none

Ensure the docstring is a string
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

fix code for py37
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

Add test
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

add a test function to the test
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

Add changelog and author
  AUTHORS
  changelog/11146.bugfix.rst
Due: none

Slight change in early teardown solution
  src/_pytest/fixtures.py
  src/_pytest/python.py
  testing/python/fixtures.py
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

Update pre-commit config
  .pre-commit-config.yaml
  src/_pytest/_code/code.py
  src/_pytest/capture.py
  src/_pytest/compat.py
  src/_pytest/legacypath.py
  src/_pytest/pytester.py
Due: py-deprecated, py-path-deprecated

Drop py37 from CI
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  CONTRIBUTING.rst
  README.rst
  doc/en/backwards-compatibility.rst
  doc/en/getting-started.rst
  doc/en/index.rst
  tox.ini
Due: rst

Emit unmatched warnings from pytest.warns()
  AUTHORS
  changelog/9288.breaking.rst
  src/_pytest/recwarn.py
  testing/test_recwarn.py
Due: py-deprecated, py-path-deprecated

Refactor warns() exit logic
  src/_pytest/recwarn.py
  testing/test_recwarn.py
Due: py-deprecated, py-path-deprecated

Tweak docs on review
  changelog/9288.breaking.rst
  src/_pytest/recwarn.py
Due: py-deprecated, py-path-deprecated

Update tests for re-emitted warnings
  src/_pytest/recwarn.py
  testing/test_recwarn.py
Due: py-deprecated, py-path-deprecated

capture warning when exception is raised (fix #9036)
  changelog/9036.bugfix.rst
  src/_pytest/recwarn.py
  testing/test_recwarn.py
Due: py-deprecated, py-path-deprecated

Explicit GC for PyPy
  testing/test_unraisableexception.py
Due: py-deprecated, py-path-deprecated

Apply suggestions from code review
  .github/workflows/test.yml
  changelog/11151.breaking.rst
Due: none

Explicit GC for PyPy, take 2
  testing/test_unraisableexception.py
Due: py-deprecated, py-path-deprecated

Add child modules as attributes of parent modules.
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated
