Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

doc: Add changing RTD version to checklist (#9606)
  RELEASING.rst
Due: rst

DOC: pytest.warns() fails on zero warning
  doc/en/how-to/capture-warnings.rst
Due: none

mark/structures: use class-based NamedTuple syntax
  src/_pytest/mark/structures.py
Due: py-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: none

python: Fix count of selected tests on terminal collection summary.
  changelog/9626.bugfix.rst
  src/_pytest/terminal.py
  testing/test_cacheprovider.py
  testing/test_terminal.py
Due: py-deprecated

Fix 'warns' type. 'expected_warning' can accept None as the value
  AUTHORS
  src/_pytest/recwarn.py
Due: py-deprecated

work around test pollution caused by new setuptools mutating global logger level
  testing/test_doctest.py
Due: py-deprecated

importlib.readers not valid until python 3.10
  src/_pytest/assertion/rewrite.py
Due: py-deprecated

Fix invalid importing of `importlib.reader` in Python 3.9
  changelog/9608.bugfix.rst
  src/_pytest/assertion/rewrite.py
Due: py-deprecated

Update changelog/9608.bugfix.rst
  changelog/9608.bugfix.rst
Due: none

move function specific imports to function
  src/_pytest/assertion/rewrite.py
Due: py-deprecated

Update src/_pytest/assertion/rewrite.py
  src/_pytest/assertion/rewrite.py
Due: py-deprecated

unittest: restore `UnitTestFunction.obj` to return unbound rather than bound method
  changelog/9610.bugfix.rst
  src/_pytest/unittest.py
  testing/test_unittest.py
Due: py-deprecated

doc: remove django intersphinx mapping
  doc/en/conf.py
  doc/en/how-to/plugins.rst
Due: py-deprecated

doc: fix a reference
  doc/en/deprecations.rst
Due: none

pythonpath: make it compatible with pytest-pythonpath until pytest 8
  changelog/9636.bugfix.rst
  doc/en/deprecations.rst
  extra/setup-py.test/setup.py
  src/_pytest/deprecated.py
  src/_pytest/pythonpath.py
Due: py-deprecated

fix test pollution in test_assertrewrite
  testing/test_assertrewrite.py
  testing/test_doctest.py
Due: py-deprecated

allow running testids which contain :: in the parametrized portion
  changelog/9642.bugfix.rst
  src/_pytest/main.py
  testing/test_main.py
Due: py-deprecated

fix: lint.
  testing/test_terminal.py
Due: py-deprecated

add working docker-compose elements
  testing/downstream_testing/Dockerfile
  testing/downstream_testing/docker-compose.yml
  testing/downstream_testing/entrypoint.sh
Due: none

[7.0.x] work around test pollution caused by new setuptools mutating global logger level
  testing/test_doctest.py
Due: py-deprecated

[7.0.x] importlib.readers not valid until python 3.10
  changelog/9608.bugfix.rst
  src/_pytest/assertion/rewrite.py
Due: py-deprecated

[7.0.x] allow running testids which contain :: in the parametrized portion
  changelog/9642.bugfix.rst
  src/_pytest/main.py
  testing/test_main.py
Due: py-deprecated

Rename ``pythonpath`` plugin to ``python_path``
  changelog/9636.bugfix.rst
  src/_pytest/config/__init__.py
  src/_pytest/python_path.py
  testing/test_config.py
  testing/test_python_path.py
Due: py-deprecated

[7.0.x] Rename ``pythonpath`` plugin to ``python_path``
  changelog/9636.bugfix.rst
  src/_pytest/config/__init__.py
  src/_pytest/python_path.py
  testing/test_config.py
  testing/test_python_path.py
Due: py-deprecated

Prepare release version 7.0.1
  changelog/9608.bugfix.rst
  changelog/9636.bugfix.rst
  changelog/9642.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-7.0.1.rst
  doc/en/changelog.rst
  doc/en/getting-started.rst
  extra/setup-py.test/setup.py
Due: py-deprecated

[7.0.x] unittest: restore `UnitTestFunction.obj` to return unbound rather than bound method
  changelog/9610.bugfix.rst
  src/_pytest/unittest.py
  testing/test_unittest.py
Due: py-deprecated

doc: Discourage squashing for release
  RELEASING.rst
Due: rst

doc: Discourage squashing for release (#9657)
  RELEASING.rst
Due: rst

Delay warning about collector/item diamond inheritance
  changelog/9643.bugfix.rst
  src/_pytest/nodes.py
  testing/test_nodes.py
Due: py-deprecated

[7.0.x] Delay warning about collector/item diamond inheritance
  changelog/9643.bugfix.rst
  src/_pytest/nodes.py
  testing/test_nodes.py
Due: py-deprecated

Fix diff output for data types where `-v` would show less information
  changelog/5192.improvement.rst
  src/_pytest/assertion/util.py
  testing/acceptance_test.py
  testing/test_assertion.py
  testing/test_error_diffs.py
Due: py-deprecated

Add autoflake to pre-commit configuration
  .pre-commit-config.yaml
  src/_pytest/python.py
  src/_pytest/python_api.py
  testing/code/test_source.py
Due: py-deprecated

CI: Test latest 3.10 available
  .github/workflows/main.yml
Due: none

Only update the plugin for upstream
  .github/workflows/update-plugin-list.yml
Due: none

Merge pull request #9668 from hugovk/test-me-latest-3.10
  .github/workflows/main.yml
Due: none

Merge pull request #9669 from hugovk/ci-only-update-plugin-list-for-upstream
  .github/workflows/update-plugin-list.yml
Due: none

Enable testing with Python 3.11
  .github/workflows/main.yml
  tox.ini
Due: none

python 3.11 fixes: enum repr changed
  testing/python/metafunc.py
  testing/test_pytester.py
Due: py-deprecated

python 3.11 fixes: native support for un-stringable exceptions
  testing/test_assertion.py
Due: py-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
  py-deprecated: any of: \.py$
