Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

[zizmor] Set 'actions/checkout''s version by hash
  .github/workflows/deploy.yml
  .github/workflows/doc-check-links.yml
  .github/workflows/prepare-release-pr.yml
  .github/workflows/test.yml
  .github/workflows/update-plugin-list.yml
Due: none

[zizmor] Set 'actions/download-artifact''s version by hash
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: none

[zizmor] Set 'actions/setup-python''s version by hash
  .github/workflows/deploy.yml
  .github/workflows/doc-check-links.yml
  .github/workflows/prepare-release-pr.yml
  .github/workflows/test.yml
  .github/workflows/update-plugin-list.yml
Due: none

[zizmor] Set 'actions/stale''s version by hash
  .github/workflows/stale.yml
Due: none

[zizmor] Set 'actions/upload-artifact''s version by hash
  .github/workflows/deploy.yml
Due: none

remove deprecated changelog entry
  changelog/13816.bugfix.rst
Due: changelogs-user-role

fix(testing): `pytest.approx` returns a clearer error mesage when comparing mappings with different keys
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

doc(changelog): add entry for fixing `pytest.approx` to account for Mapping keys order
  changelog/12444.bugfix.rst
Due: changelogs-user-role

refactor: Use `pytester` to verify output thoroughly
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

apply ruff fixes
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

docs: add changelog entry
  changelog/13816.bugfix.rst
Due: changelogs-user-role

fix(testing): `pytest.approx` correctly take account Mapping keys order to compare them
  src/_pytest/python_api.py
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

refactor: remove useless `set` usage to compare unique mapping keys
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

refactor: change dictionary get method to direct access for ApproxMapping comparison
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

Rewrite everything, add more tests
  src/_pytest/fixtures.py
  src/_pytest/setuponly.py
  testing/python/fixture_dependencies.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

Docs: clarify -p vs PYTEST_PLUGINS plugin loading
  doc/en/how-to/plugins.rst
Due: changelogs-user-role

Add changelogs
  changelog/2043.bugfix.rst
  changelog/4871.improvement.rst
Due: changelogs-user-role

Fix coverage
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

Fix changelogs
  changelog/14114.bugfix.rst
  changelog/5848.improvement.rst
  testing/python/fixture_dependencies.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add changelog entry for #13388
  changelog/13388.doc.rst
Due: changelogs-user-role

Remove fixture finalizers as they become stale
  changelog/4871.improvement.rst
  changelog/9287.bugfix.rst
  src/_pytest/fixtures.py
  src/_pytest/nodes.py
  src/_pytest/runner.py
  testing/python/fixture_dependencies.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix typing
  changelog/4871.improvement.rst
  src/_pytest/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix docs
  changelog/4871.improvement.rst
Due: changelogs-user-role

Expand changelog entries
  changelog/4871.improvement.rst
  changelog/9287.bugfix.rst
Due: changelogs-user-role

Fix: Preserve dict insertion order in assertion output
  src/_pytest/_io/pprint.py
Due: py-deprecated, py-path-deprecated

Add test for dict insertion order preservation
  testing/io/test_pprint.py
Due: py-deprecated, py-path-deprecated

Add changelog entry for issue #13503
  changelog/13503.bugfix.rst
Due: changelogs-user-role

Add test for _safe_repr dict insertion order
  testing/io/test_pprint.py
Due: py-deprecated, py-path-deprecated

Add direct _safe_repr test for full coverage
  testing/io/test_pprint.py
Due: py-deprecated, py-path-deprecated

test: more thourough testing
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

improve: compute meaningful nodeids for paths outside rootdir
  changelog/14004.bugfix.rst
  src/_pytest/fixtures.py
  src/_pytest/nodes.py
  testing/test_nodes.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Docs: clarify -p vs PYTEST_PLUGINS plugin loading (#14113)
  changelog/13388.doc.rst
  doc/en/how-to/plugins.rst
Due: changelogs-user-role

fix: compute consistent nodeids for paths outside rootpath
  src/_pytest/fixtures.py
  src/_pytest/nodes.py
  testing/test_nodes.py
Due: py-deprecated, py-path-deprecated

WIP: Migrate Node __init__ logic to from_parent factory methods
  src/_pytest/doctest.py
  src/_pytest/main.py
  src/_pytest/nodes.py
  src/_pytest/python.py
  testing/test_collection.py
  testing/test_nodes.py
Due: py-deprecated, py-path-deprecated

add: nodes.norm_sep helper for nodeid path separator normalization
  src/_pytest/fixtures.py
  src/_pytest/nodes.py
  src/_pytest/terminal.py
  testing/test_nodes.py
Due: py-deprecated, py-path-deprecated

add: nodes.norm_sep helper for nodeid path separator normalization (#14120)
  src/_pytest/fixtures.py
  src/_pytest/nodes.py
  src/_pytest/terminal.py
  testing/test_nodes.py
Due: py-deprecated, py-path-deprecated

experiment: use uv and dependency-groups in build pipelines
  .github/workflows/deploy.yml
  .github/workflows/doc-check-links.yml
  .github/workflows/prepare-release-pr.yml
  .github/workflows/test.yml
  .github/workflows/update-plugin-list.yml
  pyproject.toml
  tox.ini
  uv.lock
Due: none

cacheprovider: simplify cache directory creation
  src/_pytest/cacheprovider.py
  testing/test_cacheprovider.py
Due: py-deprecated, py-path-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
