Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

Merge pull request #12560 from webknjaz/maintenance/hotfixes/note/12531--xfail-no-cover
  changelog/12531.contrib.rst
Due: changelogs-rst

Merge pull request #12562 from webknjaz/maintenance/docs/user-role-validation
  .pre-commit-config.yaml
  changelog/12562.contrib.rst
Due: changelogs-rst

Improved handling of invalid regex pattern in pytest.raises (#12526)
  AUTHORS
  changelog/12505.bugfix.rst
  src/_pytest/python_api.py
  testing/python/raises.py
Due: py-deprecated, py-path-deprecated

ENH: Figure out where to go
  src/_pytest/deprecated.py
  src/_pytest/fixtures.py
  src/_pytest/mark/structures.py
  testing/deprecated_test.py
Due: py-deprecated, py-path-deprecated

FIX: Type
  src/_pytest/deprecated.py
  testing/deprecated_test.py
Due: py-deprecated

FIX: Where
  src/_pytest/deprecated.py
Due: py-deprecated

[lint] Handle misplaced-bare-raise with ruff instead of pylint
  pyproject.toml
  src/_pytest/logging.py
Due: py-deprecated, py-path-deprecated

[ruff] Fix all RUF024 (no mutable objects as values in 'dict.fromkeys'
  testing/test_runner.py
Due: py-deprecated, py-path-deprecated

[pylint] Disable new messages raised since last pre-commit auto-update
  pyproject.toml
  testing/test_mark_expression.py
Due: py-deprecated, py-path-deprecated

[python 3.13] Mark functool.partial test to be skipped
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

feat: add --fold-skipped=yes|no cli option
  changelog/12567.feature.rst
  doc/en/how-to/output.rst
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Only override list styling in sidebar
  doc/en/_templates/style.html
Due: none

DOC: mention `CI` and `BUILD_NUMBER` in `pytest -h`
  src/_pytest/helpconfig.py
Due: py-deprecated, py-path-deprecated

DOC: mention the impacts of setting `CI` env var
  doc/en/reference/reference.rst
Due: none

DOC: create changelog entry
  changelog/12577.doc.rst
Due: none

[python 3.13] Mark functool.partial test to be skipped (#12574)
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

DOC: update env var description
  doc/en/reference/reference.rst
  src/_pytest/helpconfig.py
Due: py-deprecated, py-path-deprecated

DOC: update output of `pytest -h`
  doc/en/reference/reference.rst
Due: none

Add --no-fold-skipped cli option (#12567)
  changelog/12567.feature.rst
  doc/en/how-to/output.rst
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Cache class: Fix crash on data race on Windows.
  AUTHORS
  changelog/12580.bugfix.rst
  src/_pytest/cacheprovider.py
Due: py-deprecated, py-path-deprecated

DOC: add doc page about pytest in CI pipelines
  doc/en/explanation/ci.rst
  doc/en/reference/reference.rst
Due: none

Fix syntax and improve grammar/flow a bit
  doc/en/explanation/ci.rst
  doc/en/explanation/index.rst
  doc/en/reference/reference.rst
Due: none

Docs: Fix custom styling, restore bullets
  doc/en/_static/pytest.css
  doc/en/_templates/style.html
  doc/en/conf.py
Due: py-deprecated, py-path-deprecated

Add a bottom margin to events sidebar
  doc/en/_static/pytest.css
Due: none

Update src/_pytest/helpconfig.py
  src/_pytest/helpconfig.py
Due: py-deprecated, py-path-deprecated

Cache class: Fix crash on data race on Windows. (#12579)
  AUTHORS
  changelog/12580.bugfix.rst
  src/_pytest/cacheprovider.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: none

Add changelog
  changelog/12008.bugfix.rst
Due: none

Fix heading level on index.rst
  doc/en/index.rst
Due: none

STY: break line to have a meet ruff requirements
  src/_pytest/helpconfig.py
Due: py-deprecated, py-path-deprecated

New docs about CI/BUILD_NUMBER env vars (#12578)
  changelog/12577.doc.rst
  doc/en/explanation/ci.rst
  doc/en/explanation/index.rst
  doc/en/reference/reference.rst
  src/_pytest/helpconfig.py
Due: py-deprecated, py-path-deprecated

Fix heading level on index.rst (#12586)
  doc/en/index.rst
Due: none

Remove done Europython training
  doc/en/index.rst
Due: none

Modernise Sphinx configuration
  doc/en/conf.py
Due: py-deprecated, py-path-deprecated

Remove `layout.html`
  doc/en/_templates/layout.html
Due: none

Improve how the documentation sidebar is managed
  doc/en/_static/pytest-custom.css
  doc/en/_templates/globaltoc.html
  doc/en/_templates/relations.html
  doc/en/_templates/sidebar/brand.html
  doc/en/_templates/sidebarintro.html
  doc/en/_templates/style.html
  doc/en/conf.py
  doc/en/contents.rst
  doc/en/index.rst
Due: py-deprecated, py-path-deprecated

set `FixtureDef.cache_key()` default to `0` not `None`
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

Merge pull request #12589 from The-Compiler/training-update-2024-07
  doc/en/index.rst
Due: none

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py
