Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

feat(warnings): add an 'error_later' warning filter action
  src/_pytest/config/__init__.py
  src/_pytest/terminal.py
  src/_pytest/warning_late_error.py
  src/_pytest/warnings.py
  testing/test_config.py
  testing/test_warnings.py
Due: py-deprecated, py-path-deprecated

feat(warnings): add error_later_report = session
  src/_pytest/main.py
  src/_pytest/warnings.py
  testing/test_warnings.py
Due: py-deprecated, py-path-deprecated

feat(warnings): report error_later warnings of pytest-xdist workers
  src/_pytest/warning_late_error.py
  src/_pytest/warnings.py
  testing/test_warnings.py
Due: py-deprecated, py-path-deprecated

docs: document the error_later warning filter action
  changelog/+error-later.feature.rst
  doc/en/how-to/capture-warnings.rst
  doc/en/reference/exit-codes.rst
  doc/en/reference/reference.rst
Due: changelogs-rst, changelogs-user-role

Fix native TOML faulthandler timeout
  AUTHORS
  changelog/15132.bugfix.rst
  src/_pytest/faulthandler.py
  testing/test_faulthandler.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

subtests: send str subclass messages as plain str
  changelog/15134.bugfix.rst
  src/_pytest/subtests.py
  testing/test_subtests.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

monkeypatch: decide undo from where setattr actually writes
  changelog/10646.bugfix.rst
  changelog/1938.bugfix.rst
  src/_pytest/monkeypatch.py
  testing/test_monkeypatch.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

test_monkeypatch: cover the missing-attribute paths of the new test helpers
  testing/test_monkeypatch.py
Due: py-deprecated, py-path-deprecated

fix(warnings): build deprecation warnings fresh per emission
  changelog/14912.bugfix.rst
  src/_pytest/config/__init__.py
  src/_pytest/deprecated.py
  src/_pytest/fixtures.py
  src/_pytest/mark/structures.py
  src/_pytest/monkeypatch.py
  src/_pytest/pastebin.py
  src/_pytest/python.py
  src/_pytest/warning_types.py
  testing/deprecated_test.py
  testing/test_warning_types.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

feat(warnings): let the stdlib match error_later filters
  doc/en/how-to/capture-warnings.rst
  src/_pytest/config/__init__.py
  src/_pytest/warning_late_error.py
  src/_pytest/warnings.py
  testing/test_config.py
  testing/test_warnings.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

changelog: name the error_later fragment after its PR
  changelog/15135.feature.rst
Due: changelogs-user-role

fix(warnings): implement pytest_testnodedown as an optional hook
  src/_pytest/warnings.py
  testing/test_warnings.py
Due: py-deprecated, py-path-deprecated

docs: fix the -W and catch_warnings references in the error_later docs
  changelog/15135.feature.rst
  doc/en/how-to/capture-warnings.rst
Due: changelogs-user-role

fix: stop reusing shared PytestWarning instances whose tracebacks grow under -W error (#14931)
  changelog/14912.bugfix.rst
  src/_pytest/config/__init__.py
  src/_pytest/deprecated.py
  src/_pytest/fixtures.py
  src/_pytest/monkeypatch.py
  src/_pytest/pastebin.py
  src/_pytest/python.py
  testing/deprecated_test.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

docs: add packaged suites proposal alongside import roots
  doc/en/proposals/packaged_suites.rst
Due: changelogs-user-role

junitxml: bound the failure/error message attribute
  changelog/12223.bugfix.rst
  src/_pytest/junitxml.py
  testing/test_junitxml.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix(terminal): avoid teardown timing leak by keeping nodeid tracking and handling SubtestReport directly
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Set assertion strip text when filling ExceptionInfo.for_later()
  changelog/12175.bugfix.rst
  src/_pytest/_code/code.py
  testing/code/test_excinfo.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

stop test session on BdbQuit from pdb
  changelog/13453.improvement.rst
  src/_pytest/runner.py
  testing/test_debugging.py
  testing/test_unittest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix(warnings): keep error_later through forwarding showwarning hooks
  src/_pytest/config/__init__.py
  src/_pytest/warning_late_error.py
  testing/test_warnings.py
Due: py-deprecated, py-path-deprecated

remove type ignore fixed in mypy
  src/_pytest/monkeypatch.py
Due: py-deprecated, py-path-deprecated

Let conftest.py skip its directory only with a module-level skip
  changelog/15142.bugfix.rst
  changelog/15142.deprecation.rst
  doc/en/deprecations.rst
  doc/en/how-to/skipping.rst
  src/_pytest/config/__init__.py
  src/_pytest/deprecated.py
  src/_pytest/main.py
  src/_pytest/outcomes.py
  src/_pytest/pathlib.py
  testing/test_conftest.py
  testing/test_pathlib.py
  testing/test_skipping.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Drop a failed importlib-mode module like importlib does
  src/_pytest/pathlib.py
Due: py-deprecated, py-path-deprecated

Restore callspec2-renamed anchor, type conftest failure cause as outcome
  doc/en/deprecations.rst
  src/_pytest/config/__init__.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

docs: update import roots proposal to the agreed design
  doc/en/proposals/import_roots.rst
Due: changelogs-user-role

Add public fixture dependency graph snapshots
  AUTHORS
  changelog/14991.feature.rst
  doc/en/reference/reference.rst
  src/_pytest/fixtures.py
  src/_pytest/nodes.py
  src/_pytest/python.py
  src/pytest/__init__.py
  testing/test_fixture_graph.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Remove unreachable fixture graph branches
  src/_pytest/fixtures.py
  testing/test_fixture_graph.py
Due: py-deprecated, py-path-deprecated

Bugfix 14412 subtests timing (#14670)
  AUTHORS
  changelog/14412.bugfix.rst
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Clarify collection counts after deselection (#15121)
  changelog/9614.doc.rst
  src/_pytest/hookspec.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

debugging: raise BdbQuit on Ctrl+D again on Python 3.14
  changelog/13453.improvement.rst
  src/_pytest/debugging.py
  testing/test_debugging.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix node duration formatting when rounding crosses a unit boundary
  changelog/15145.bugfix.rst
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix: monkeypatch.setattr undo on objects with custom __setattr__ (#15099)
  testing/test_monkeypatch.py
Due: py-deprecated, py-path-deprecated

Fix fixture discovery for bound methods in custom collectors (#15058)
  AUTHORS
  changelog/6750.bugfix.rst
  src/_pytest/compat.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

logging: capture each record once when propagate changes during a test
  AUTHORS
  changelog/15064.bugfix.rst
  src/_pytest/logging.py
  testing/logging/test_bound_proxy.py
  testing/logging/test_fixture.py
  testing/logging/test_reporting.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Deprecate pytest.skip(allow_module_level=True) in conftest.py too
  changelog/15142.bugfix.rst
  changelog/15142.deprecation.rst
  doc/en/deprecations.rst
  doc/en/how-to/skipping.rst
  src/_pytest/config/__init__.py
  src/_pytest/deprecated.py
  src/_pytest/outcomes.py
  testing/test_conftest.py
  testing/test_skipping.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

junitxml: shorten the message attribute before XML escaping
  changelog/12223.bugfix.rst
  src/_pytest/junitxml.py
  testing/test_junitxml.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Satisfy mypy on the for_later assertion strip test.
  testing/code/test_excinfo.py
Due: py-deprecated, py-path-deprecated

Derive ExceptionInfo strip text lazily from the exception
  changelog/12175.bugfix.rst
  src/_pytest/_code/code.py
  testing/code/test_excinfo.py
  testing/test_subtests.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Cover legacy msg and explicit exprinfo paths of the strip text
  testing/code/test_excinfo.py
Due: py-deprecated, py-path-deprecated

junitxml: keep failure/error message attributes short
  changelog/12223.bugfix.rst
  src/_pytest/junitxml.py
  testing/test_junitxml.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated
