Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

doc: add example for dynamic session-scoped parametrized fixtures
  changelog/10156.doc.rst
  doc/en/example/special.rst
Due: changelogs-user-role

refactor: rename _safe_open_dir to _verify_ownership_and_tighten_permissions and update tests for CVE-2025-71176 compliance
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

Fix type annotation for parametrize ids to allow HIDDEN_PARAM
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

Enable record_property for junit_family=xunit2
  changelog/14315.improvement.rst
  src/_pytest/junitxml.py
  testing/test_junitxml.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Added names to authors
  AUTHORS
Due: none

refactor: rename _safe_open_dir to _verify_ownership_and_tighten_permissions for improved security and update usage
  src/_pytest/tmpdir.py
Due: py-deprecated, py-path-deprecated

fix: update tmp_path directory creation to prevent symlink attacks and TOCTOU races
  changelog/14279.bugfix.rst
Due: changelogs-user-role

initial scopename chnages
  doc/en/conf.py
  src/_pytest/fixtures.py
  src/_pytest/mark/structures.py
  src/_pytest/python.py
  src/_pytest/scope.py
  src/pytest/__init__.py
Due: py-deprecated, py-path-deprecated

Added test for ScopeName change
  changelog/14137.improvement.rst
  testing/typing_checks.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

recwarn: include warning count in regex mismatch message
  changelog/11225.improvement.rst
  doc/en/how-to/capture-warnings.rst
  src/_pytest/recwarn.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

hotfix: unicode encoding
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

Avoid rechecking RaisesGroup callbacks
  src/_pytest/raises.py
  testing/python/raises_group.py
Due: py-deprecated, py-path-deprecated

recwarn: improved `warns(match=...)` error message on regex mismatch (closes #11225) (#14310)
  AUTHORS
  changelog/11225.improvement.rst
  doc/en/how-to/capture-warnings.rst
  src/_pytest/recwarn.py
  testing/test_recwarn.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix: rm_rf now handles directories without S_IXUSR permission (#7940)
  changelog/7940.bugfix.rst
  src/_pytest/pathlib.py
  testing/test_tmpdir.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Address Copilot review feedback on rm_rf permission handling
  src/_pytest/pathlib.py
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

Add changelog entry for RaisesGroup callback fix
  changelog/14327.bugfix.rst
Due: changelogs-user-role

Add direct RaisesGroup.matches callback regression
  testing/python/raises_group.py
Due: py-deprecated, py-path-deprecated

chore: remove changelog entry
  changelog/14279.bugfix.rst
Due: changelogs-user-role

fix: improve docstring for safe_rmtree to clarify symlink attack protection
  src/_pytest/pathlib.py
Due: py-deprecated, py-path-deprecated

docs: move functionality comments from docstring to body
  src/_pytest/tmpdir.py
Due: py-deprecated, py-path-deprecated

chore: move comment
  src/_pytest/tmpdir.py
Due: py-deprecated, py-path-deprecated

chore: reformatting
  src/_pytest/pathlib.py
Due: py-deprecated, py-path-deprecated

fix: update assertion for symlink warnings in test_tmpdir
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

docs: update docstring to include issue reference for TestSafeRmtree
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

fix: remove redundant import of shutil in test_tmpdir
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

add symlink
  changelog/14279.bugfix.rst
Due: changelogs-user-role

hotfix: make Windows tests pass
  src/_pytest/pathlib.py
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

fix: enhance symlink safety checks and add create_symlink option in make_numbered_dir
  src/_pytest/pathlib.py
Due: py-deprecated, py-path-deprecated

fix: disable symlink creation in make_numbered_dir by default
  src/_pytest/tmpdir.py
Due: py-deprecated, py-path-deprecated

test: add test for make_numbered_dir with create_symlink=False
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

chore: linting
  src/_pytest/pathlib.py
  src/_pytest/tmpdir.py
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

enhance: prevent warning spam in cleanup loops
  src/_pytest/pathlib.py
Due: py-deprecated, py-path-deprecated

docs: move comment
  src/_pytest/pathlib.py
Due: py-deprecated, py-path-deprecated

docs: Rewrote comment to accurately describe best-effort behavior
  src/_pytest/pathlib.py
Due: py-deprecated, py-path-deprecated

hotfix: Per-entry OSError handling in _cleanup_old_rootdirs via a _mtime helper that returns inf on failure, so one bad entry no longer aborts all cleanup
  src/_pytest/tmpdir.py
Due: py-deprecated, py-path-deprecated

feat: hotfix: _check_symlink_attack_safety(path) runs after the path is extended for Windows
  src/_pytest/pathlib.py
Due: py-deprecated, py-path-deprecated

hotfix: Removed redundant path-based os.chmod; fd-based fchmod now handles POSIX, os.chmod falls back for Windows only
  src/_pytest/tmpdir.py
Due: py-deprecated, py-path-deprecated

refactor: Added stacklevel keyword param to _check_symlink_attack_safety; rm_rf passes stacklevel=2, safe_rmtree uses default 3
  src/_pytest/pathlib.py
Due: py-deprecated, py-path-deprecated

docs: Documented POSIX-only O_NOFOLLOW limitation in _verify_ownership_and_tighten_permissions docstring
  src/_pytest/tmpdir.py
Due: py-deprecated, py-path-deprecated
