Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

fix error: Redundant cast to "str"
  testing/code/test_excinfo.py
Due: py-deprecated, py-path-deprecated

fix and questions
  testing/code/test_code.py
  testing/test_capture.py
  testing/test_collection.py
Due: py-deprecated, py-path-deprecated

BugFix 14329
  changelog/14329.bugfix.rst
  src/_pytest/fixtures.py
  src/_pytest/mark/structures.py
  testing/test_mark.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Tweaks
  changelog/14329.bugfix.rst
  src/_pytest/fixtures.py
  src/_pytest/nodes.py
  testing/test_mark.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Prepare release version 9.0.3
  changelog/12444.bugfix.rst
  changelog/12689.contrib.rst
  changelog/13388.doc.rst
  changelog/13634.bugfix.rst
  changelog/13731.doc.rst
  changelog/13734.bugfix.rst
  changelog/14050.bugfix.rst
  changelog/14088.doc.rst
  changelog/14195.bugfix.rst
  changelog/14255.doc.rst
  changelog/14343.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-9.0.3.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/getting-started.rst
  doc/en/how-to/fixtures.rst
Due: changelogs-user-role

Revert "Fix: assertrepr_compare respects dict insertion order (#14050) (#14193)"
  changelog/14050.bugfix.rst
  src/_pytest/_io/pprint.py
  src/_pytest/_io/saferepr.py
  src/_pytest/pytester_assertions.py
  testing/io/test_saferepr.py
  testing/test_assertion.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Prepare release version 9.0.3
  changelog/12444.bugfix.rst
  changelog/12689.contrib.rst
  changelog/13388.doc.rst
  changelog/13634.bugfix.rst
  changelog/13731.doc.rst
  changelog/13734.bugfix.rst
  changelog/14088.doc.rst
  changelog/14195.bugfix.rst
  changelog/14255.doc.rst
  changelog/14343.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-9.0.3.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/getting-started.rst
  doc/en/how-to/fixtures.rst
Due: changelogs-user-role

Merge pull request #14367 from pytest-dev/release-9.0.3
  changelog/12444.bugfix.rst
  changelog/12689.contrib.rst
  changelog/13388.doc.rst
  changelog/13634.bugfix.rst
  changelog/13731.doc.rst
  changelog/13734.bugfix.rst
  changelog/14088.doc.rst
  changelog/14195.bugfix.rst
  changelog/14255.doc.rst
  changelog/14343.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-9.0.3.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/getting-started.rst
  doc/en/how-to/fixtures.rst
Due: changelogs-user-role

testing/python/fixtures: add xfail test for static fixture closure with overrides and parametrization
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

testing/python/fixtures: modernize test_parametrization_setup_teardown_ordering
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

testing/python/fixtures: rewrite test_func_closure_with_native_fixtures without monkeypatching
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

fixtures: fix parametrization losing (static) transitive dependencies from overridden fixtures
  changelog/14248.bugfix.rst
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fixtures: change static fixture closure order fully to DFS
  src/_pytest/fixtures.py
  testing/example_scripts/fixtures/test_getfixturevalue_dynamic.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

fixtures: optimize a bit around `traverse_fixture_closure`
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

doc: use builtin `confval` directive
  doc/en/conf.py
Due: py-deprecated, py-path-deprecated

doc: make use of `confval`'s `type' and `default` options
  changelog/14012.doc.rst
  doc/en/reference/reference.rst
Due: changelogs-user-role

Improve error message for module-level __getattr__ issues
  changelog/8265.improvement.rst
  src/_pytest/mark/structures.py
  testing/test_mark.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Move __getattr__ None check from normalize_mark_list to get_unpacked_marks
  changelog/8265.improvement.rst
  src/_pytest/mark/structures.py
  testing/test_mark.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Type `pytest.approx`
  changelog/14373.improvement.rst
  src/_pytest/python_api.py
  testing/python/approx.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix AttributeError on invalid option name in addoption (#13817)
  changelog/13817.bugfix.rst
  src/_pytest/config/argparsing.py
  testing/test_config.py
  testing/test_parseopt.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add Fazeel Usmani to AUTHORS
  AUTHORS
Due: none

python: add a DirectParamFixtureDef subclass to mark direct-parametrization helper fixtures
  src/_pytest/python.py
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

fixtures: exclude direct-param fixtures from --fixtures-per-test output
  AUTHORS
  changelog/11295.improvement.rst
  src/_pytest/fixtures.py
  testing/python/show_fixtures_per_test.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

testing: avoid legacy forms of `warns`, `raises`, `deprecated_call`
  testing/_py/test_local.py
  testing/code/test_code.py
  testing/code/test_excinfo.py
  testing/code/test_source.py
  testing/python/collect.py
  testing/python/fixtures.py
  testing/python/raises.py
  testing/test_cacheprovider.py
  testing/test_capture.py
  testing/test_config.py
  testing/test_debugging.py
  testing/test_legacypath.py
  testing/test_mark.py
  testing/test_monkeypatch.py
  testing/test_parseopt.py
  testing/test_pluginmanager.py
  testing/test_pytester.py
  testing/test_recwarn.py
  testing/test_runner.py
  testing/test_session.py
  testing/test_skipping.py
Due: py-deprecated, py-path-deprecated

doc: undocument legacy forms of `raises`, `warns`, `deprecated_call`
  doc/en/how-to/assert.rst
  doc/en/how-to/capture-warnings.rst
  src/_pytest/raises.py
  src/_pytest/recwarn.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add `ParamSpec` to legacy callable forms of `raises`/`warns`/`deprecated_call`
  changelog/13241.improvement.rst
  doc/en/conf.py
  pyproject.toml
  src/_pytest/raises.py
  src/_pytest/recwarn.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Update changelog/14373.improvement.rst
  changelog/14373.improvement.rst
Due: changelogs-user-role

Type `pytest.approx` (#14373)
  changelog/14373.improvement.rst
  src/_pytest/python_api.py
  testing/python/approx.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

testing/logging/test_reporting: add xfail test for report capturing of non-propagating loggers
  testing/logging/test_reporting.py
Due: py-deprecated, py-path-deprecated

logging: also capture logs from non-propagating loggers
  changelog/3697.bugfix.rst
  src/_pytest/logging.py
  testing/logging/test_fixture.py
  testing/logging/test_reporting.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix importlib mode shadowing stdlib modules from same-named test dirs (#12303)
  changelog/12303.bugfix.rst
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add unit tests for _top_level_shadows_external to reach 100% patch coverage
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

Improve patch coverage: test Path 1 shadow branch, pragma on OSError
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

Fix test_normalized_dir_name to exercise iterdir branch (line 795)
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

pragma: no cover on defensive empty-meta_path guard in insert_missing_modules
  src/_pytest/pathlib.py
Due: py-deprecated, py-path-deprecated

Harden shadow detection: fix find_spec ordering, add cache, improve tests
  changelog/12303.bugfix.rst
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix codecov patch misses: cover PathFinder.find_spec except branch, simplify iterdir mock
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

Cover remaining branch misses: _spec_locations False branches and path-1 mod=None fallback
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

Fix Config.get_terminal_writer() crash
  AUTHORS
  changelog/14377.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_assertion.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated
