Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
    -   id: black
        args: [--safe, --quiet]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==20.8b1]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: check-yaml
    -   id: debug-statements
        exclude: _pytest/(debugging|hookspec).py
        language_version: python3
-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        name: autoflake
        args: ["--in-place", "--remove-unused-variables", "--remove-all-unused-imports"]
        language: python
        files: \.py$
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-typing-imports==1.12.0
          - flake8-docstrings==1.5.0
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.7.1
    hooks:
    -   id: reorder-python-imports
        args: ['--application-directories=.:src', --py37-plus]
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.31.0
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
-   repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.20.0
    hooks:
    -   id: setup-cfg-fmt
        args: [--max-py-version=3.10]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        files: ^(src/|testing/)
        args: []
        additional_dependencies:
          - iniconfig>=1.1.0
          - py>=1.8.2
          - attrs>=19.2.0
          - packaging
          - tomli
          - types-atomicwrites
          - types-pkg_resources
-   repo: local
    hooks:
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'
        exclude: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
        files: ^changelog/
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

Use _pytest.pathlib.safe_exists in get_dirs_from_args
  src/_pytest/config/__init__.py
  src/_pytest/config/findpaths.py
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

Prepare release version 7.4.2
  changelog/11237.bugfix.rst
  changelog/11306.bugfix.rst
  changelog/11367.bugfix.rst
  changelog/11391.doc.rst
  changelog/11394.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-7.4.2.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/reportingdemo.rst
  doc/en/getting-started.rst
Due: none

Use _pytest.pathlib.safe_exists in get_dirs_from_args (#11407)
  src/_pytest/config/__init__.py
  src/_pytest/config/findpaths.py
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

Merge pull request #11408 from pytest-dev/release-7.4.2
  changelog/11237.bugfix.rst
  changelog/11306.bugfix.rst
  changelog/11367.bugfix.rst
  changelog/11391.doc.rst
  changelog/11394.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-7.4.2.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/reportingdemo.rst
  doc/en/getting-started.rst
Due: none

Merge pull request #11408 from pytest-dev/release-7.4.2 (#11409)
  changelog/11237.bugfix.rst
  changelog/11306.bugfix.rst
  changelog/11367.bugfix.rst
  changelog/11391.doc.rst
  changelog/11394.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-7.4.2.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/reportingdemo.rst
  doc/en/getting-started.rst
Due: none

Adjustments to the release process
  .github/workflows/deploy.yml
  RELEASING.rst
  scripts/prepare-release-pr.py
Due: rst, py-deprecated, py-path-deprecated

refactor: use division operator to join paths
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

Adjustments to the release process (#11410)
  .github/workflows/deploy.yml
  RELEASING.rst
  scripts/prepare-release-pr.py
Due: rst, py-deprecated, py-path-deprecated

Fix assert rewriting with assignment expressions
  AUTHORS
  changelog/11239.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

Adjustments to the release process (#11410) (#11415)
  .github/workflows/deploy.yml
  RELEASING.rst
  scripts/prepare-release-pr.py
Due: rst, py-deprecated, py-path-deprecated

Update test docstring
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

fixtures: clean up getfixtureclosure()
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

fixtures: change getfixtureclosure(ignore_args) to a set
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

doctest: remove unnecessary Optionals
  src/_pytest/doctest.py
Due: py-deprecated, py-path-deprecated

doctest: some missing type annotations
  src/_pytest/doctest.py
Due: py-deprecated, py-path-deprecated

doctest: inline `_setup_fixtures`, make more similar to `Function`
  src/_pytest/doctest.py
Due: py-deprecated, py-path-deprecated

fixtures: remove `getfixtureinfo(funcargs)` in favor of None `func`
  src/_pytest/doctest.py
  src/_pytest/fixtures.py
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

Use an enum for sentinel
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

Revert "Use an enum for sentinel"
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

Use sentinel value
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

Fix assert rewriting with assignment expressions (#11414)
  AUTHORS
  changelog/11239.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

Refactor: use division operator to join paths (#11413)
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

Fix --import-mode=importlib when root contains `__init__.py` file
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

[7.4.x] fix: closes #11343's [attr-defined] type errors
  src/_pytest/compat.py
  testing/test_parseopt.py
Due: py-deprecated, py-path-deprecated

Skip test_assertion_walrus_different_test_cases on Python 3.7
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: none

Force terminal width when running tests
  testing/conftest.py
Due: py-deprecated, py-path-deprecated

Fix --import-mode=importlib when root contains `__init__.py` file (#11420)
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

[7.4.x] Fix --import-mode=importlib when root contains `__init__.py` file
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

docs: add class docstring to NodeMeta
  src/_pytest/nodes.py
Due: py-deprecated, py-path-deprecated

docs: add punctuation to class docstring
  src/_pytest/nodes.py
Due: py-deprecated, py-path-deprecated

fix invalid signature
  testing/python/collect.py
Due: py-deprecated, py-path-deprecated

Force terminal width when running tests (#11425)
  testing/conftest.py
Due: py-deprecated, py-path-deprecated

Force terminal width when running tests (#11425) (#11432)
  testing/conftest.py
Due: py-deprecated, py-path-deprecated

support usefixtures with parametrize
  src/_pytest/python.py
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

set unique fixtureinfo if it was changed from params marks
  src/_pytest/compat.py
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

add changelog and update authors
  AUTHORS
  changelog/4112.feature.rst
Due: none
