Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        args: [--safe, --quiet]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.8.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==19.10b0]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: check-yaml
    -   id: debug-statements
        exclude: _pytest/(debugging|hookspec).py
        language_version: python3
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-typing-imports==1.9.0
          - flake8-docstrings==1.5.0
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.3.5
    hooks:
    -   id: reorder-python-imports
        args: ['--application-directories=.:src', --py36-plus]
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.11.0
    hooks:
    -   id: setup-cfg-fmt
        # TODO: when upgrading setup-cfg-fmt this can be removed
        args: [--max-py-version=3.9]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.6.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.790
    hooks:
    -   id: mypy
        files: ^(src/|testing/)
        args: []
        additional_dependencies:
          - iniconfig>=1.1.0
          - py>=1.8.2
          - attrs>=19.2.0
          - packaging
-   repo: local
    hooks:
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'
        exclude: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
        files: ^changelog/
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]

doc/reference: add 4 missing hooks to reference
  doc/en/reference/reference.rst
Due: none

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: none

Drop Python3.6 in CI, setup.cfg, and readme.
  .github/workflows/main.yml
  README.rst
  changelog/9437.breaking.rst
  doc/en/getting-started.rst
  doc/en/index.rst
  setup.cfg
  tox.ini
Due: rst

Merge pull request #9441 from bluetech/nose-setup-callable
  src/_pytest/python.py
  testing/test_nose.py
Due: py-deprecated

Merge pull request #9443 from bluetech/undocumented-hooks
  doc/en/reference/reference.rst
Due: none

code: accept any `os.PathLike[str]` in `Traceback.cut`
  src/_pytest/_code/code.py
Due: py-deprecated

Fix typos (#9424)
  AUTHORS
  doc/en/announce/release-2.5.0.rst
  doc/en/changelog.rst
  doc/en/history.rst
  doc/en/how-to/skipping.rst
  doc/en/reference/fixtures.rst
  src/_pytest/_code/code.py
  src/_pytest/assertion/rewrite.py
  src/_pytest/assertion/util.py
  src/_pytest/config/__init__.py
  src/_pytest/config/compat.py
  src/_pytest/junitxml.py
  src/_pytest/mark/expression.py
  src/_pytest/pytester.py
  src/_pytest/python.py
  testing/acceptance_test.py
  testing/code/test_source.py
  testing/test_compat.py
  testing/test_config.py
  testing/test_doctest.py
  testing/test_runner.py
  testing/test_stash.py
  testing/test_warnings.py
  tox.ini
Due: py-deprecated

Fix typos (#9424)
  AUTHORS
  doc/en/announce/release-2.5.0.rst
  doc/en/changelog.rst
  doc/en/history.rst
  doc/en/how-to/skipping.rst
  doc/en/reference/fixtures.rst
  src/_pytest/_code/code.py
  src/_pytest/assertion/rewrite.py
  src/_pytest/config/__init__.py
  src/_pytest/config/compat.py
  src/_pytest/junitxml.py
  src/_pytest/mark/expression.py
  src/_pytest/pytester.py
  src/_pytest/python.py
  testing/acceptance_test.py
  testing/code/test_source.py
  testing/test_compat.py
  testing/test_config.py
  testing/test_doctest.py
  testing/test_runner.py
  testing/test_stash.py
  testing/test_warnings.py
  tox.ini
Due: py-deprecated

Merge pull request #9447 from bluetech/code-cut-pathlike
  src/_pytest/_code/code.py
Due: py-deprecated

Merge pull request #9438 from bluetech/pytest-legacypath-imports
  src/_pytest/legacypath.py
  src/pytest/__init__.py
Due: py-deprecated

doc: document {Code,TracebackEntry}.path changes as breaking
  doc/en/changelog.rst
Due: none

Merge pull request #9451 from bluetech/code-path-changelog
  doc/en/changelog.rst
Due: none

Add a note in the usage docs about quotes
  doc/en/how-to/usage.rst
Due: none

Add a note in the reference docs about quotes
  doc/en/reference/reference.rst
Due: none

Update AUTHORS
  AUTHORS
Due: none

Update reference documentation for `-k` to double quotes
  doc/en/reference/reference.rst
Due: none

ci: run plugins job with python 3.9 instead of 3.7
  .github/workflows/main.yml
  tox.ini
Due: none

Update syntax to Python3.7+.
  .pre-commit-config.yaml
  doc/en/how-to/skipping.rst
  src/_pytest/assertion/rewrite.py
  src/_pytest/compat.py
  src/_pytest/logging.py
  src/_pytest/pytester.py
  testing/test_debugging.py
  testing/test_parseopt.py
Due: py-deprecated

Move nullcontext import to src._pytest.logging.
  src/_pytest/compat.py
  src/_pytest/logging.py
Due: py-deprecated

Remove breakpoint support checking since all python versions support it.
  testing/test_debugging.py
Due: py-deprecated

Remove has_flags conditions from src._pytest.assertion.rewrite._read_pyc
  src/_pytest/assertion/rewrite.py
Due: py-deprecated

Update required Python version in docs.
  README.rst
  doc/en/getting-started.rst
  doc/en/index.rst
Due: rst

Remove Python 3.6 related warning from filterwarnings.
  pyproject.toml
Due: none

Drop support for EOL Python 3.6
  pyproject.toml
  src/_pytest/assertion/rewrite.py
  src/_pytest/capture.py
  src/_pytest/python.py
  testing/deprecated_test.py
  testing/test_assertrewrite.py
  testing/test_capture.py
  testing/test_compat.py
  testing/test_error_diffs.py
  testing/test_pathlib.py
Due: py-deprecated

Drop support for EOL Python 3.6
  testing/python/approx.py
  testing/test_assertion.py
Due: py-deprecated

fix mypy 0.930 errors
  src/_pytest/config/__init__.py
  src/_pytest/monkeypatch.py
  src/_pytest/pathlib.py
  src/_pytest/python.py
  testing/test_conftest.py
  testing/test_pathlib.py
Due: py-deprecated

dummy commit, will the CI build this
  README.rst
Due: rst

Update capture-warnings.rst doc on syntax
  doc/en/how-to/capture-warnings.rst
Due: none

Update capture-warnings.rst
  doc/en/how-to/capture-warnings.rst
Due: none

Also test branches prefixed test-me-
  .github/workflows/main.yml
Due: none

ci: Security improvements
  .github/workflows/backport.yml
Due: none

ci: Try backporting via pull_request_target (#9430)
  .github/workflows/backport.yml
Due: none

Update doc/en/how-to/capture-warnings.rst
  doc/en/how-to/capture-warnings.rst
Due: none

Ensure Config.inifile is available during pytest_cmdline_main
  changelog/9396.bugfix.rst
  src/_pytest/legacypath.py
  testing/test_config.py
  testing/test_legacypath.py
Due: py-deprecated

Split wrappers and non-wrappers in test_load_initial_conftest_last_ordering
  testing/test_config.py
Due: py-deprecated

[7.0.x] Ensure Config.inifile is available during pytest_cmdline_main
  changelog/9396.bugfix.rst
  src/_pytest/legacypath.py
  testing/test_config.py
  testing/test_legacypath.py
Due: py-deprecated

- instead of throwing exception, return empty sequence
  src/_pytest/config/__init__.py
Due: py-deprecated

Apply suggestions from code review
  doc/en/how-to/capture-warnings.rst
Due: none
