Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst

.pre-commit-config.yaml:

exclude: doc/en/example/py2py3/test_py2.py
repos:
-   repo: https://github.com/ambv/black
    rev: 18.6b4
    hooks:
    -   id: black
        args: [--safe, --quiet]
        language_version: python3
-   repo: https://github.com/asottile/blacken-docs
    rev: v0.3.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==18.9b0]
        language_version: python3
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0-1
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: debug-statements
        exclude: _pytest/debugging.py
        language_version: python3
    -   id: flake8
        language_version: python3
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.8.0
    hooks:
    -   id: pyupgrade
        args: [--keep-percent-format]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.1.0
    hooks:
    -   id: rst-backticks
-   repo: local
    hooks:
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(CHANGELOG.rst|HOWTORELEASE.rst|README.rst|changelog/.*)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: 'changelog files must be named ####.(feature|bugfix|doc|deprecation|removal|vendor|trivial).rst'
        exclude: changelog/(\d+\.(feature|bugfix|doc|deprecation|removal|vendor|trivial).rst|README.rst|_template.rst)
        files: ^changelog/

Update mypy 0.740 -> 0.750
  .pre-commit-config.yaml
  src/_pytest/_code/code.py
  src/_pytest/_code/source.py
  src/_pytest/assertion/rewrite.py
  src/_pytest/compat.py
  src/_pytest/recwarn.py
Due: none

_idval: remove trailing newline from exception
  src/_pytest/python.py
Due: none

typing: minor improvements
  src/_pytest/fixtures.py
  src/_pytest/main.py
Due: none

Correct a typo in _pytest/config/__init__.py
  src/_pytest/config/__init__.py
Due: none

main: wrap_session: handle exit.Exception with notify_exception
  changelog/6257.improvement.rst
  src/_pytest/main.py
  testing/test_main.py
Due: rst, changelogs-rst

terminal: _get_main_color: help pytest-parallel
  changelog/6254.bugfix.rst
  src/_pytest/terminal.py
Due: rst

pytester: use no colors with inline runs by default
  src/_pytest/pytester.py
  testing/test_pdb.py
  testing/test_terminal.py
Due: none

Remove duplicated changelog entry for 5.3.1
  CHANGELOG.rst
Due: rst

Fix line detection for properties in doctest tests
  changelog/6082.bugfix.rst
  src/_pytest/doctest.py
  testing/test_doctest.py
Due: rst

Revert "A warning is now issued when assertions are made for `None`"
  changelog/4639.feature.rst
  src/_pytest/assertion/rewrite.py
  testing/test_warnings.py
Due: rst

fixes #5065
  testing/test_debugging.py
Due: none

docs: add missing `log_cli` confval
  doc/en/reference.rst
Due: none

Preparing release version 5.3.1
  CHANGELOG.rst
  changelog/5914.bugfix.rst
  changelog/6082.bugfix.rst
  changelog/6231.improvement.rst
  changelog/6254.bugfix.rst
  changelog/6255.bugfix.rst
  changelog/6257.improvement.rst
  doc/en/announce/index.rst
  doc/en/announce/release-5.3.1.rst
  doc/en/example/parametrize.rst
  doc/en/example/reportingdemo.rst
  doc/en/example/simple.rst
  doc/en/getting-started.rst
Due: rst, changelogs-rst

Add link to testdir fixture in CHANGELOG entry
  CHANGELOG.rst
Due: rst

tox: docs: --keep-going and posargs
  tox.ini
Due: none

Rebasing Remove outdated py2py3 example
  .pre-commit-config.yaml
  doc/en/example/py2py3/test_py2.py
  doc/en/example/py2py3/test_py3.py
Due: none

fix typo
  doc/en/reference.rst
Due: none

update backward compatibility policy to allow for breakage
  doc/en/backwards-compatibility.rst
Due: none

Include new --capture-mode=tee-sys option
  AUTHORS
  changelog/4597.feature.rst
  doc/en/capture.rst
  src/_pytest/capture.py
  src/_pytest/compat.py
  testing/acceptance_test.py
  testing/test_capture.py
Due: rst

Convert pytest.py into a package
  setup.cfg
  src/pytest/__init__.py
  src/pytest/__main__.py
Due: none

Rebasing Deprecate --no-print-logs option
  doc/en/deprecations.rst
  src/_pytest/deprecated.py
  testing/deprecated_test.py
Due: none

Make -r letters "f" and "F" aliases
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: none

Make -r letters "s" and "S" aliases
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: none

Add CHANGELOG entry for #6334
  changelog/6334.bugfix.rst
Due: rst

fix #5686, mktemp now fails given absolute and non-normalized paths.
  changelog/5686.improvement.rst
  src/_pytest/tmpdir.py
  testing/test_tmpdir.py
Due: rst, changelogs-rst

Bugfix 5430 pass logs to junit report (#6274)
  AUTHORS
  changelog/5430.bugfix.rst
  src/_pytest/junitxml.py
  testing/test_junitxml.py
Due: rst

Drop validation against multiple xmlfamilies
  testing/test_junitxml.py
Due: none

Drop 3.4 testing on Azure
  azure-pipelines.yml
Due: none

Ensure colorama versions is no newer than 0.4.1
  setup.py
Due: none

Create CHANGELOG for #6340
  changelog/6340.trivial.rst
Due: rst

Change 4639 from feature to improvement
  changelog/4639.improvement.rst
Due: rst, changelogs-rst

Preparing release version 5.3.2
  changelog/4639.improvement.rst
  changelog/5430.bugfix.rst
  changelog/6290.bugfix.rst
  changelog/6301.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-5.3.2.rst
  doc/en/changelog.rst
  doc/en/example/parametrize.rst
  doc/en/example/reportingdemo.rst
  doc/en/example/simple.rst
  doc/en/getting-started.rst
Due: rst, changelogs-rst

Improve warning about incoming change to 'junitxml_family' default
  src/_pytest/deprecated.py
Due: none

Remove duplicated user from announcement
  doc/en/announce/release-5.3.2.rst
Due: none

Pin the colorama version only for Python 3.4
  changelog/6340.trivial.rst
  changelog/6345.trivial.rst
  setup.py
Due: rst

delete inspect.getargspect() as is deprecated since Python 3.0
  testing/test_runner.py
Due: none

Use license_files instead of deprecated license_file
  setup.cfg
Due: none

Deprecate --no-print-logs option
  changelog/3238.deprecation.rst
  doc/en/deprecations.rst
  src/_pytest/deprecated.py
  src/_pytest/logging.py
  testing/deprecated_test.py
Due: rst

Fix missing import in test_logging_stream_ownership
  testing/test_capture.py
Due: none

Optimized renaming of test parameter ids
  AUTHORS
  changelog/6350.trivial.rst
  src/_pytest/python.py
Due: rst
