Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

Update src/_pytest/python.py
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

Include TerminalReporter in reference docs #6649
  changelog/6649.doc.rst
  doc/en/reference/reference.rst
Due: none

Obey verbosity level when printing 'msg' part of assertions
  changelog/6682.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

TerminalReporter: add to pytest namespace and fix docstring (issue #6649, PR #12661)
  changelog/6649.doc.rst
  src/_pytest/terminal.py
  src/pytest/__init__.py
Due: py-deprecated, py-path-deprecated

Create 6649.trivial.rst
  changelog/6649.trivial.rst
Due: none

Update changelog/6649.doc.rst
  changelog/6649.doc.rst
Due: none

Rename 6649.trivial.rst to 6649.misc.rst
  changelog/6649.misc.rst
Due: changelogs-rst

Fix references
  changelog/6649.doc.rst
  changelog/6649.misc.rst
  doc/en/reference/reference.rst
Due: changelogs-rst

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: none

resolve mypy error: Module has no attribute last_exc [attr-defined]
  src/_pytest/runner.py
Due: py-deprecated, py-path-deprecated

adjust __repr__ in ApproxScalar to format tolerances in decimal form for common ranges
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

Update README.rst
  README.rst
Due: rst

Make TerminalReporter public API and add to reference docs #6649 (#12661)
  changelog/6649.doc.rst
  changelog/6649.misc.rst
  doc/en/reference/reference.rst
  src/_pytest/terminal.py
  src/pytest/__init__.py
Due: changelogs-rst, py-deprecated, py-path-deprecated

add 'n' format specifier for readable tolerance numbers
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

add tests for improved tolerance approx repr output
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

refactor: remove unused code
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

Update changelog/11525.improvement.rst
  changelog/11525.improvement.rst
Due: none

Update AUTHORS
  AUTHORS
Due: none

feat: use repr for pytest fixtures
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

docs: fix docstring
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

refactor: remove _pytestfixturefunction attribute
  src/_pytest/assertion/rewrite.py
  src/_pytest/compat.py
  src/_pytest/fixtures.py
  testing/code/test_source.py
  testing/test_compat.py
Due: py-deprecated, py-path-deprecated

Update src/_pytest/fixtures.py
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

ci: set no cover for test function
  testing/test_compat.py
Due: py-deprecated, py-path-deprecated

refactor: replace type with isinstance
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

refactor: use instance check to print repr
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

(fixture) create a new class to represent fixtures
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

docs: update docstring
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

Update src/_pytest/compat.py
  src/_pytest/compat.py
Due: py-deprecated, py-path-deprecated

chore: update changelog
  changelog/11525.improvement.rst
Due: none

test: add test for _get_wrapped_function
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

fix: update fixture repr in text
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

docs: ignore FixtureFunctionDefinition from docs
  doc/en/conf.py
Due: py-deprecated, py-path-deprecated

refactor: remove unused code
  src/_pytest/assertion/rewrite.py
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

refactor: replace attribute check with type check
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py
