Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

💅 Lowercase booleans in `coveragerc`
  .coveragerc
Due: none

🧪 Rename path mapping key in coveragerc
  .coveragerc
Due: none

💅 Make `coveragerc` two whitespace-indented
  .coveragerc
Due: none

💅 Make `coveragerc` path mapping verbose
  .coveragerc
Due: none

💅 Turn ints to true bools @ `coveragerc`
  .coveragerc
Due: none

🎨 Configure HTML reports @ `coveragerc`
  .coveragerc
Due: none

💅 Migrate `coveragerc` to use `source_pkgs`
  .coveragerc
Due: none

💅 Skip empty files @ coverage text reports
  .coveragerc
Due: none

💅 Add explicit settings @ `coveragerc`
  .coveragerc
Due: none

📦📝 Allow modern Towncrier in docs builds
  doc/en/broken-dep-constraints.txt
Due: none

📝 Add a change note for #13256
  changelog/13256.contrib.rst
Due: changelogs-user-role

Add readline workaround for libedit (#13176)
  changelog/12888.bugfix.rst
  src/_pytest/capture.py
  testing/test_capture.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Apply suggestions from code review
  doc/en/how-to/plugins.rst
  src/_pytest/helpconfig.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

add parens
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

Allow hiding a parameter set from test name (#13229)
  AUTHORS
  changelog/13228.feature.rst
  doc/en/reference/reference.rst
  src/_pytest/mark/__init__.py
  src/_pytest/mark/structures.py
  src/_pytest/python.py
  src/pytest/__init__.py
  testing/python/metafunc.py
  testing/test_mark.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Simplify plugin name in test_installed_plugin_rewrite
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

Apply suggestions from code review
  doc/en/how-to/plugins.rst
  src/_pytest/config/__init__.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Merge pull request #13256 from webknjaz/maintenance/towncrier-bump
  changelog/13256.contrib.rst
  doc/en/broken-dep-constraints.txt
Due: changelogs-user-role

Update doc/en/explanation/flaky.rst
  doc/en/explanation/flaky.rst
Due: changelogs-user-role

Assert fixture value inside the test
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

Add more resources and studies to flaky tests page in docs (#13250)
  doc/en/explanation/flaky.rst
Due: changelogs-user-role

Copy docstrings to wrapped pdb methods (#12947)
  changelog/12946.bugfix.rst
  src/_pytest/debugging.py
  testing/test_debugging.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Update testing/example_scripts/hook_exceptions/test_stop_iteration.py
  testing/example_scripts/hook_exceptions/test_stop_iteration.py
Due: py-deprecated, py-path-deprecated

Add capteesys capture fixture to bubble up output to `--capture` handler (#12854)
  AUTHORS
  changelog/12081.feature.rst
  doc/en/how-to/capture-stdout-stderr.rst
  doc/en/reference/fixtures.rst
  doc/en/reference/reference.rst
  src/_pytest/capture.py
  testing/test_capture.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Updated the section of Typing Temporary Directories and Paths
  doc/en/how-to/types.rst
Due: changelogs-user-role

Added changelog entry for #12842
  changelog/12842.doc.rst
Due: changelogs-user-role

Re-add modified types documentation to types.rst
  doc/en/how-to/types.rst
Due: changelogs-user-role

Update AUTHORS file
  AUTHORS
Due: none

Apply suggestions from code review
  doc/en/how-to/types.rst
Due: changelogs-user-role

Modified formatting of types documentation to types.rst
  doc/en/how-to/types.rst
Due: changelogs-user-role

Move to explanation
  doc/en/explanation/index.rst
  doc/en/explanation/types.rst
Due: changelogs-user-role

Update 12842.doc.rst
  changelog/12842.doc.rst
Due: changelogs-user-role

Added dedicated page about using types with pytest #12842 (#12963)
  AUTHORS
  changelog/12842.doc.rst
  doc/en/explanation/index.rst
  doc/en/explanation/types.rst
Due: changelogs-user-role

add --disable-plugin-autoload (#13253)
  changelog/13253.feature.rst
  doc/en/how-to/plugins.rst
  doc/en/reference/reference.rst
  src/_pytest/config/__init__.py
  src/_pytest/helpconfig.py
  testing/test_assertion.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

Fix prepare-release-pr script
  .github/workflows/prepare-release-pr.yml
  scripts/prepare-release-pr.py
  tox.ini
Due: py-deprecated, py-path-deprecated

Prepare release version 8.3.5
  changelog/11777.bugfix.rst
  changelog/12842.doc.rst
  changelog/12888.bugfix.rst
  changelog/13026.bugfix.rst
  changelog/13053.bugfix.rst
  changelog/13083.bugfix.rst
  changelog/13112.contrib.rst
  changelog/13256.contrib.rst
  doc/en/announce/index.rst
  doc/en/announce/release-8.3.5.rst
  doc/en/builtin.rst
  doc/en/changelog.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/example/reportingdemo.rst
  doc/en/example/simple.rst
  doc/en/getting-started.rst
  doc/en/how-to/fixtures.rst
  doc/en/reference/reference.rst
Due: changelogs-user-role
