Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

fix #13564 - warn when fixtures get wrapped with a decorator (#13745)
  changelog/13564.improvement.rst
  src/_pytest/fixtures.py
  src/_pytest/legacypath.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

WIP: reduce collection memory via dense CallSpec and lazy node state
  bench/collection_memory.py
  src/_pytest/mark/structures.py
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

fix ruff
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

doc: Fix grammar 'the same to apply' -> 'the same as applying'
  doc/en/reference/reference.rst
Due: changelogs-user-role

Apply warning filters to `pytest_configure` (#14760)
  AUTHORS
  changelog/10128.bugfix.rst
  src/_pytest/config/__init__.py
  src/_pytest/warnings.py
  testing/plugins_integration/pytest.ini
  testing/test_warnings.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

doc: Fix grammar 'the same to apply' -> 'the same as applying' (#14767)
  doc/en/reference/reference.rst
Due: changelogs-user-role

doc: sharpen AI/LLM policy on unattended contributions
  CONTRIBUTING.rst
Due: changelogs-user-role

doc: reorder and soften AI policy while keeping firm enforcement
  CONTRIBUTING.rst
Due: changelogs-user-role

fix: keep pytest_terminal_summary under --no-summary
  AUTHORS
  changelog/14724.bugfix.rst
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Adjust changelog
  changelog/14724.bugfix.rst
  changelog/14724.improvement.rst
  src/_pytest/terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Add opt-in FunctionDefinition collection tree node (#3926)
  changelog/3926.improvement.rst
  doc/en/reference/reference.rst
  src/_pytest/main.py
  src/_pytest/python.py
  testing/test_collect_function_definition.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix: keep pytest_terminal_summary under --no-summary (#14730)
  AUTHORS
  changelog/14724.improvement.rst
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

docs: sync CallSpec2 deprecation removal timeline
  changelog/14742.deprecation.rst
  doc/en/deprecations.rst
  src/_pytest/deprecated.py
Due: changelogs-user-role, py-deprecated

Update doc/en/reference/reference.rst
  doc/en/reference/reference.rst
Due: changelogs-user-role

DOC: fix pytest.mark.xfail and pytest.mark.skip reference docs (#10094)
  doc/en/reference/reference.rst
Due: changelogs-user-role

Docs: align pytest.mark.xfail and skip parameter signatures with reality (#10094) (#14725)
  doc/en/reference/reference.rst
Due: changelogs-user-role

Extract _IniTypeTag and _IniTypeArg type aliases
  src/_pytest/config/argparsing.py
Due: py-deprecated, py-path-deprecated

Address review comments
  src/_pytest/config/argparsing.py
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

Accept type expressions in Parser.addini(type=...)
  changelog/14675.improvement.rst
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
  src/_pytest/helpconfig.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Next version is 9.2 now
  src/_pytest/config/argparsing.py
Due: py-deprecated, py-path-deprecated

Simplify addini type handling
  changelog/14751.improvement.rst
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
  src/_pytest/helpconfig.py
  testing/test_config.py
  testing/test_helpconfig.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Accept Literal type expressions in Parser.addini(type=...)
  changelog/14675.improvement.rst
  changelog/14751.improvement.rst
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
  src/_pytest/helpconfig.py
  testing/test_config.py
  testing/test_helpconfig.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

doc: Ignore private _IniTypeArg alias in nitpick list
  doc/en/conf.py
Due: py-deprecated, py-path-deprecated

Fix: Change truncation_limit_lines and chars to accept int in configs
  src/_pytest/assertion/__init__.py
Due: py-deprecated, py-path-deprecated

Add changelog entry
  changelog/14675.improvement.rst
Due: changelogs-user-role

Accept Literal choices as union members in Parser.addini(type=...)
  changelog/14751.improvement.rst
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
  testing/test_config.py
  testing/test_helpconfig.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix: preserve add_marker order for MRO markers on Class nodes
  src/_pytest/python.py
  testing/test_mark.py
Due: py-deprecated, py-path-deprecated

Improve deprecation message for class-scoped fixtures as instance methods (#14764)
  src/_pytest/deprecated.py
  src/_pytest/fixtures.py
  testing/deprecated_test.py
Due: py-deprecated, py-path-deprecated

Fix AttributeError crash in Argument.dest on invalid option strings
  changelog/14773.bugfix.rst
  src/_pytest/config/argparsing.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

WIP: throw together a initial halfassed proposal on rootspec import mode
  doc/en/proposals/importmode_root_spec.rst
Due: changelogs-user-role

Extend instance method fixture deprecation to all higher scopes
  changelog/14774.deprecation.rst
  doc/en/deprecations.rst
  src/_pytest/deprecated.py
  src/_pytest/fixtures.py
  testing/deprecated_test.py
  testing/python/fixtures.py
  testing/test_conftest.py
  testing/test_legacypath.py
  testing/test_pathlib.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

docs: rewrite import roots proposal against current pytest reality
  doc/en/proposals/import_roots.rst
  doc/en/proposals/importmode_root_spec.rst
Due: changelogs-user-role

fixtures: Use sentinel value for non-existant fixture params when caching fixture results to distinguish between *no param* and *None*.
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

fixtures: Split up methods for cache population depending on whether the result is successful or an exception.
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

fixtures, setuponly: Reuse SetupState.fixture_cache to track active params for --setup-show.
  src/_pytest/runner.py
  src/_pytest/setuponly.py
Due: py-deprecated, py-path-deprecated

fixtures: Extracted method to invalidate the cached result of a fixture.
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

docs: Add news fragment
  changelog/14770.misc.rst
Due: changelogs-user-role

fixtures: Selecting the correct cache key for fixture values is now the responsibility of FixtureRequest.
  src/_pytest/fixtures.py
  src/_pytest/setupplan.py
Due: py-deprecated, py-path-deprecated

fixtures: Address typing error for generic namedtuples in Python 3.10
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

fixtures: Move determination of fixture value cache keys from FixtureDef to SubRequest
  src/_pytest/fixtures.py
  src/_pytest/setupplan.py
Due: py-deprecated, py-path-deprecated
