Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.(feature|bugfix|doc|deprecation|removal|vendor|trivial).rst'

Fix error in newly introduced test_collecterror
  testing/test_terminal.py
Due: none

Remove dead code in _pytest.assertion.util._diff_text
  src/_pytest/assertion/util.py
Due: none

Add type annotations to _pytest.assertion.util
  src/_pytest/assertion/util.py
Due: none

Add type annotations to _pytest._io.saferepr
  src/_pytest/_io/saferepr.py
Due: none

test_group_warnings_by_message: ignore own PytestExperimentalApiWarning
  testing/test_warnings.py
Due: none

test_terminal: reduce number of tests (single --fulltrace param)
  testing/test_terminal.py
Due: none

update chanelog link to moved pip docs page
  CHANGELOG.rst
Due: rst

Color percentage indicator according to color of final line
  changelog/6097.improvement.rst
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: rst, changelogs-rst

Removing variable being reassigned
  src/_pytest/assertion/util.py
Due: none

typing around Node.location, reportinfo, repr_excinfo etc
  src/_pytest/_code/code.py
  src/_pytest/doctest.py
  src/_pytest/fixtures.py
  src/_pytest/main.py
  src/_pytest/nodes.py
  src/_pytest/python.py
  src/_pytest/reports.py
  src/_pytest/runner.py
  testing/code/test_excinfo.py
Due: none

tests: clean up chmod-related tests to fix rm_rf warnings
  testing/test_cacheprovider.py
Due: none

Revert "tests: filterwarnings: do not crash with "(rm_rf)" warning"
  tox.ini
Due: none

Use try/finally to ensure chmod is run, filter warning
  testing/test_cacheprovider.py
Due: none

Fix for Python 3.5 not handling LocalPath
  testing/test_cacheprovider.py
Due: none

assert: fix _compare_eq_iterable: re-format both sides
  src/_pytest/assertion/util.py
  testing/test_assertion.py
Due: none

ci: Travis: remove py38 from allowed failures; do not use "-dev"
  .travis.yml
Due: none

Added checklinks to tox and release.py
  doc/en/conf.py
  scripts/release.py
  tox.ini
Due: none

Fixed broken links
  CHANGELOG.rst
  doc/en/announce/release-2.0.0.rst
  doc/en/announce/release-2.0.1.rst
  doc/en/announce/release-2.2.0.rst
  doc/en/announce/release-2.3.0.rst
  doc/en/announce/release-2.3.4.rst
  doc/en/announce/release-2.4.0.rst
  doc/en/announce/release-2.7.0.rst
  doc/en/announce/release-2.9.0.rst
  doc/en/fixture.rst
  doc/en/projects.rst
  doc/en/talks.rst
  tox.ini
Due: rst

saferepr: handle BaseExceptions
  changelog/6047.bugfix.rst
  src/_pytest/_io/saferepr.py
  testing/code/test_excinfo.py
  testing/io/test_saferepr.py
  testing/test_session.py
Due: rst

py38: do not call None() directly
  testing/io/test_saferepr.py
Due: none

Session: collect: keep/use already parsed initialpart
  src/_pytest/main.py
Due: none

test_source: do not instantiate Source objects during collection
  testing/code/test_source.py
Due: none

Fix test_trace_with_parametrize_handles_shared_fixtureinfo for colors
  testing/test_pdb.py
Due: none

test_iterable_full_diff: use test ids
  testing/test_assertion.py
Due: none

test_exc_chain_repr_without_traceback: use ids
  testing/code/test_excinfo.py
Due: none

_perform_collect: remove comment about untested code
  src/_pytest/main.py
  testing/acceptance_test.py
Due: none

Fix order of format args with warning
  src/_pytest/pathlib.py
  testing/test_tmpdir.py
Due: none

on_rm_rf_error: ignore os.open (no warning)
  src/_pytest/pathlib.py
  testing/test_tmpdir.py
Due: none

changelog
  changelog/6074.bugfix.rst
Due: rst

Add type annotations to _pytest.warning_types
  src/_pytest/warning_types.py
Due: none

Add type annotations to some of _pytest.pytester
  src/_pytest/pytester.py
Due: none

Add type annotations to _pytest._code.source
  src/_pytest/_code/source.py
Due: none

Use atomicrewrites only on Windows
  changelog/6148.improvement.rst
  setup.py
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: rst, changelogs-rst

Add --co option to collect-only
  changelog/6116.improvement.rst
  src/_pytest/main.py
  testing/test_collection.py
Due: rst, changelogs-rst

Explicitly implement pytest_assertrepr_compare in assertion plugin
  src/_pytest/assertion/__init__.py
Due: none

Update changelog/6148.improvement.rst
  changelog/6148.improvement.rst
Due: rst, changelogs-rst

_compare_eq_iterable: use AlwaysDispatchingPrettyPrinter
  src/_pytest/assertion/util.py
  testing/test_assertion.py
Due: none

parametrize: allow __name__ id for modules or other objects as well
  src/_pytest/python.py
Due: none

update AUTHORS list
  AUTHORS
Due: none

add minimal test case
  testing/test_mark.py
Due: none

Path conditions:
  rst: any of: ^(CHANGELOG.rst|HOWTORELEASE.rst|README.rst|changelog/.*)$, but not: doc/en/example/py2py3/test_py2.py
  changelogs-rst: any of: ^changelog/ and not (changelog/(\d+\.(feature|bugfix|doc|deprecation|removal|vendor|trivial).rst|README.rst|_template.rst)) and not (doc/en/example/py2py3/test_py2.py)
