Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
    -   id: black
        args: [--safe, --quiet]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==20.8b1]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: check-yaml
    -   id: debug-statements
        exclude: _pytest/(debugging|hookspec).py
        language_version: python3
-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        name: autoflake
        args: ["--in-place", "--remove-unused-variables", "--remove-all-unused-imports"]
        language: python
        files: \.py$
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-typing-imports==1.12.0
          - flake8-docstrings==1.5.0
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.7.1
    hooks:
    -   id: reorder-python-imports
        args: ['--application-directories=.:src', --py37-plus]
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.31.0
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
-   repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.20.0
    hooks:
    -   id: setup-cfg-fmt
        args: [--max-py-version=3.10]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        files: ^(src/|testing/)
        args: []
        additional_dependencies:
          - iniconfig>=1.1.0
          - py>=1.8.2
          - attrs>=19.2.0
          - packaging
          - tomli
          - types-atomicwrites
          - types-pkg_resources
-   repo: local
    hooks:
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'
        exclude: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
        files: ^changelog/
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

docs: update plugin docs to use pyproject.toml
  doc/en/how-to/writing_plugins.rst
Due: none

remove sealed from compat
  src/_pytest/compat.py
Due: py-deprecated, py-path-deprecated

changelog: add in changelog entry for #10344
  changelog/10344.doc.rst
Due: none

Create 10196.trivial.rst
  changelog/10196.trivial.rst
Due: none

chore: add name to AUTHORS
  AUTHORS
Due: none

Update doc/en/deprecations.rst
  doc/en/deprecations.rst
Due: none

use getfixturemarker
  src/_pytest/mark/structures.py
Due: py-deprecated, py-path-deprecated

Code review requests
  .gitignore
  changelog/9886.deprecation.rst
  doc/en/deprecations.rst
Due: none

Add deprecations for tests written for `nose` (#9907)
  .gitignore
  changelog/9886.deprecation.rst
  doc/en/deprecations.rst
  doc/en/how-to/nose.rst
  doc/en/how-to/xunit_setup.rst
  src/_pytest/deprecated.py
  src/_pytest/nose.py
  src/_pytest/python.py
  testing/deprecated_test.py
  testing/test_nose.py
Due: py-deprecated, py-path-deprecated

Update doc/en/how-to/writing_plugins.rst
  doc/en/how-to/writing_plugins.rst
Due: none

Fix setup tools link
  doc/en/how-to/writing_plugins.rst
Due: none

Replace entrypoint example with `pyproject.toml` in docs (#10359)
  AUTHORS
  changelog/10344.doc.rst
  doc/en/how-to/writing_plugins.rst
Due: none

Improve changelog
  changelog/10196.trivial.rst
  doc/en/reference/reference.rst
Due: none

PytestReturnNotNoneWarning now subclasses PytestRemovedIn8Warning (#10196)
  changelog/10196.trivial.rst
  doc/en/reference/reference.rst
  src/_pytest/warning_types.py
Due: py-deprecated, py-path-deprecated

Handle NFC/NFD strings that normalize to the same string. (#10355)
  AUTHORS
  changelog/3426.improvement.rst
  src/_pytest/_io/saferepr.py
  src/_pytest/assertion/util.py
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

Update changelog/3664.deprecation.rst
  changelog/3664.deprecation.rst
Due: none

Update src/_pytest/deprecated.py
  src/_pytest/deprecated.py
Due: py-deprecated

move tests into deprecated_test, and test for number of warnings issued
  testing/deprecated_test.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

add a test for fixture between mark decorators
  testing/deprecated_test.py
Due: py-deprecated

Update to autoflake to 1.7.3
  .pre-commit-config.yaml
Due: none

config: logging: add suppress-logger option
  src/_pytest/logging.py
  testing/logging/test_reporting.py
Due: py-deprecated, py-path-deprecated

config: logging: add suppress-logger option tests
  src/_pytest/logging.py
  testing/logging/test_reporting.py
Due: py-deprecated, py-path-deprecated

changelog
  changelog/7431.feature.rst
Due: none

Apply suggestions from code review
  changelog/7792.bugfix.rst
  src/_pytest/mark/structures.py
  testing/test_mark.py
Due: py-deprecated, py-path-deprecated

Fix packaging example
  doc/en/explanation/goodpractices.rst
Due: none

[7.1.x] Fix packaging example
  doc/en/explanation/goodpractices.rst
Due: none

Don't break into `pdb` for `raise unittest.SkipTest()`
  src/_pytest/debugging.py
  testing/test_debugging.py
Due: py-deprecated, py-path-deprecated

Test fix
  testing/test_debugging.py
Due: py-deprecated, py-path-deprecated

Changelog
  changelog/10382.bugfix.rst
Due: none

Add Gabriel Landau to AUTHORS
  AUTHORS
Due: none

:wrench: Negating --showlocals with --no-showlocals
  src/_pytest/terminal.py
Due: py-deprecated, py-path-deprecated

test(--no-showlocals): Should hide locals when addopts=--showlocals
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

docs(output): Note --no-show-locals
  doc/en/how-to/output.rst
Due: none

docs: Update changelog for --no-show-locals
  changelog/10381.improvement.rst
Due: none

change name to --logger-disabled, refactor and testing for parent propagation
  src/_pytest/logging.py
  testing/logging/test_reporting.py
Due: py-deprecated, py-path-deprecated

fix changelog
  changelog/7431.feature.rst
Due: none

Use logger.disable and change arg name to --logger-disable
  src/_pytest/logging.py
  testing/logging/test_reporting.py
Due: py-deprecated, py-path-deprecated
