Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

fixtures: deprecate pytest.yield_fixture()
  changelog/7988.deprecation.rst
  doc/en/deprecations.rst
  src/_pytest/deprecated.py
  src/_pytest/fixtures.py
  testing/deprecated_test.py
  testing/python/fixtures.py
  testing/test_unittest.py
Due: py-deprecated

Improve input when collected == selected
  doc/en/example/nonpython.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/fixture.rst
  src/_pytest/terminal.py
  testing/logging/test_reporting.py
  testing/test_cacheprovider.py
Due: py-deprecated

Stop importing `pytest` to avoid upcoming import cycles
  src/_pytest/cacheprovider.py
  src/_pytest/capture.py
  src/_pytest/logging.py
  src/_pytest/monkeypatch.py
  src/_pytest/pytester.py
  src/_pytest/terminal.py
  src/_pytest/tmpdir.py
Due: py-deprecated

testing: don't ignore "Module already imported so cannot be rewritten" warning
  pyproject.toml
Due: none

Add specific test for new --collection-only status output
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: py-deprecated

Refactor build_summary_stats_line
  src/_pytest/terminal.py
  testing/python/metafunc.py
  testing/test_terminal.py
Due: py-deprecated

Remove duplicated test
  testing/test_terminal.py
Due: py-deprecated

Capitalize headline
  doc/en/example/markers.rst
Due: none

Capitalize headline
  doc/en/example/simple.rst
Due: none

Capitalize headlines (#8008)
  doc/en/example/markers.rst
  doc/en/example/simple.rst
Due: none

Code review suggestions
  src/_pytest/terminal.py
  testing/logging/test_reporting.py
  testing/python/metafunc.py
  testing/test_cacheprovider.py
  testing/test_terminal.py
Due: py-deprecated

Improve summary stats when using '--collect-only' (#7875)
  changelog/7701.improvement.rst
  doc/en/example/nonpython.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/fixture.rst
  src/_pytest/terminal.py
  testing/logging/test_reporting.py
  testing/python/metafunc.py
  testing/test_cacheprovider.py
  testing/test_terminal.py
Due: py-deprecated

Rename _make_plural to pluralize
  src/_pytest/terminal.py
Due: py-deprecated

Export MonkeyPatch as pytest.MonkeyPatch
  changelog/8006.feature.rst
  doc/en/reference.rst
  src/_pytest/monkeypatch.py
  src/pytest/__init__.py
  testing/test_monkeypatch.py
Due: py-deprecated

Failing doctest collection
  testing/test_doctest.py
Due: py-deprecated

Migrate from testdir to pytester
  testing/test_faulthandler.py
Due: py-deprecated

main: fix only one doctest collected on pytest --doctest-modules __init__.py
  changelog/8016.bugfix.rst
  src/_pytest/main.py
  testing/test_doctest.py
Due: py-deprecated

Add 'node_modules' to norecursedirs
  changelog/8023.improvement.rst
  doc/en/reference.rst
  src/_pytest/main.py
Due: py-deprecated

Update testing/test_faulthandler.py
  testing/test_faulthandler.py
Due: py-deprecated

Add type annotations
  testing/test_faulthandler.py
Due: py-deprecated

pytester: split asserts to a separate plugin, don't rewrite pytester itself
  src/_pytest/config/__init__.py
  src/_pytest/pytester.py
  src/_pytest/pytester_assertions.py
Due: py-deprecated

Export types of builtin fixture for type annotations
  changelog/7469.deprecation.rst
  changelog/7469.improvement.rst
  doc/en/reference.rst
  src/_pytest/cacheprovider.py
  src/_pytest/capture.py
  src/_pytest/deprecated.py
  src/_pytest/doctest.py
  src/_pytest/fixtures.py
  src/_pytest/logging.py
  src/_pytest/pytester.py
  src/_pytest/python.py
  src/_pytest/recwarn.py
  src/_pytest/tmpdir.py
  src/pytest/__init__.py
  testing/deprecated_test.py
  testing/python/fixtures.py
  testing/test_cacheprovider.py
  testing/test_recwarn.py
  testing/test_tmpdir.py
Due: py-deprecated

Call Python 3.8 doCleanup and doClassCleanup.
  AUTHORS
  changelog/8032.improvement.rst
  src/_pytest/unittest.py
  testing/test_unittest.py
Due: py-deprecated

ci: only deploy to PyPI on X.Y.Z{,rcN} tags
  .github/workflows/main.yml
Due: none

RELEASING: start new dev cycle by tagging MAJOR.{MINOR+1}.0.dev0 in master
  RELEASING.rst
Due: rst

Fix: doCleanups is already called
  changelog/8032.improvement.rst
  src/_pytest/unittest.py
Due: py-deprecated

Fix scope to accomodate requested changes
  .gitignore
Due: none

assertion/rewrite: write pyc's according to PEP-552 on Python>=3.7
  changelog/8014.trivial.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated

some done
  src/_pytest/_code/code.py
  src/_pytest/python_api.py
Due: py-deprecated

docs
  doc/en/assert.rst
Due: none

Fix review comments for adding calls to doClassCleanups
  src/_pytest/unittest.py
  testing/test_unittest.py
Due: py-deprecated

testing: convert test_{conftest,recwarn,tmpdir} to pytester
  testing/test_conftest.py
  testing/test_recwarn.py
  testing/test_tmpdir.py
Due: py-deprecated

stop assigning nextline if its potentially not used
  src/_pytest/pytester.py
Due: py-deprecated

refactor runner terminal summary and add more durations coverage
  src/_pytest/runner.py
  testing/acceptance_test.py
Due: py-deprecated

Link mentioned functions instead of using literals
  doc/en/assert.rst
  doc/en/skipping.rst
  doc/en/warnings.rst
  src/_pytest/recwarn.py
Due: py-deprecated

Prefix contextmanagers with module name in doc examples
  src/_pytest/python_api.py
  src/_pytest/recwarn.py
  testing/conftest.py
Due: py-deprecated

Import pytest explicitly for doctests
  src/_pytest/python_api.py
  src/_pytest/recwarn.py
  testing/conftest.py
Due: py-deprecated

Add __str__ to LineMatcher
  src/_pytest/pytester.py
Due: py-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
  py-deprecated: any of: \.py$
