Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

fix(fixtures): run registered finalizers when setup is interrupted by BaseException
  changelog/15067.bugfix.rst
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix: avoid duplicate log capture when a logger enables propagate
  src/_pytest/logging.py
  testing/logging/test_fixture.py
Due: py-deprecated, py-path-deprecated

Clarify the relation between marks and keywords (#15011)
  changelog/4569.bugfix.rst
  changelog/4569.doc.rst
  changelog/4569.improvement.rst
  doc/en/example/markers.rst
  doc/en/example/simple.rst
  doc/en/how-to/usage.rst
  doc/en/reference/reference.rst
  src/_pytest/fixtures.py
  src/_pytest/mark/__init__.py
  src/_pytest/nodes.py
  src/_pytest/python.py
  src/_pytest/reports.py
  testing/test_collection.py
  testing/test_mark.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Attribute session teardown errors past xfail conversion
  changelog/8375.bugfix.rst
  src/_pytest/runner.py
  src/_pytest/skipping.py
  testing/test_runner.py
  testing/test_skipping.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Carry session teardown attribution via session stash
  src/_pytest/runner.py
  src/_pytest/skipping.py
  testing/test_runner.py
  testing/test_skipping.py
Due: py-deprecated, py-path-deprecated

Consume session flag in makereport, clarify changelog boundary
  changelog/8375.bugfix.rst
  src/_pytest/skipping.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Pin one-shot consume and grouped error message
  testing/test_runner.py
  testing/test_skipping.py
Due: py-deprecated, py-path-deprecated

logging: capture each record once when propagate changes during a test
  changelog/15064.bugfix.rst
  src/_pytest/logging.py
  testing/logging/test_fixture.py
  testing/logging/test_reporting.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix tmp_path retention for setup and teardown errors
  AUTHORS
  changelog/14998.bugfix.rst
  src/_pytest/tmpdir.py
  testing/test_tmpdir.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Expose FixtureFunctionDefinition publicly
  src/pytest/__init__.py
  testing/test_mark.py
Due: py-deprecated, py-path-deprecated

Add changelog for FixtureFunctionDefinition
  changelog/14853.feature.rst
Due: changelogs-user-role

python: warn when an abstract test class swallows its tests
  changelog/13546.improvement.rst
  src/_pytest/python.py
  src/_pytest/unittest.py
  testing/python/collect.py
  testing/test_unittest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix fixture finalizers skipped when setup is interrupted by BaseException (#15067)
  changelog/15067.bugfix.rst
  src/_pytest/fixtures.py
  src/_pytest/runner.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Use explicit file encoding in KeyboardInterrupt regression test (#15067)
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

Strip ANSI escapes from junitxml failure output
  changelog/12365.bugfix.rst
  src/_pytest/junitxml.py
  testing/test_junitxml.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Omit redundant File block in SyntaxError output when crash line has location
  changelog/14994.improvement.rst
  src/_pytest/_code/code.py
  testing/code/test_excinfo.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Skip fixture-discovery scan for fixture-less plugins (#14877)
  changelog/14877.improvement.rst
  src/_pytest/assertion/__init__.py
  src/_pytest/config/__init__.py
  src/_pytest/debugging.py
  src/_pytest/faulthandler.py
  src/_pytest/fixtures.py
  src/_pytest/helpconfig.py
  src/_pytest/legacypath.py
  src/_pytest/main.py
  src/_pytest/mark/__init__.py
  src/_pytest/pastebin.py
  src/_pytest/python.py
  src/_pytest/reports.py
  src/_pytest/runner.py
  src/_pytest/setuponly.py
  src/_pytest/setupplan.py
  src/_pytest/skipping.py
  src/_pytest/stepwise.py
  src/_pytest/terminal.py
  src/_pytest/threadexception.py
  src/_pytest/unittest.py
  src/_pytest/unraisableexception.py
  src/_pytest/warnings.py
  testing/test_meta.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix warning filter precedence across test scopes
  AUTHORS
  changelog/10406.bugfix.rst
  doc/en/how-to/capture-warnings.rst
  src/_pytest/warnings.py
  testing/test_warnings.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

WIP: reduce collection memory via dense CallSpec and lazy node state
  bench/collection_memory.py
  src/_pytest/mark/structures.py
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

fix: keep lazy keywords last-wins for same-named markers
  src/_pytest/mark/structures.py
  testing/test_collection.py
Due: py-deprecated, py-path-deprecated

pathlib: resolve the user-level cache root behind an xdg extra
  changelog/1089.packaging.rst
  pyproject.toml
  src/_pytest/pathlib.py
  testing/test_pathlib.py
  uv.lock
Due: changelogs-user-role, py-deprecated, py-path-deprecated

cacheprovider: funnel cache directory resolution through one function
  src/_pytest/cacheprovider.py
Due: py-deprecated, py-path-deprecated

terminalwriter: add OSC 8 hyperlink support
  changelog/1089.improvement.rst
  src/_pytest/_io/terminalwriter.py
  testing/io/test_terminalwriter.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

pytester: isolate the user-level cache directory
  changelog/1089.improvement.1.rst
  src/_pytest/pytester.py
  testing/test_pytester.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

cacheprovider: add --cache-prune
  changelog/1089.feature.3.rst
  src/_pytest/cacheprovider.py
  testing/test_cacheprovider.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

docs: document cache policy, scopes and pruning
  doc/en/how-to/cache.rst
  doc/en/reference/reference.rst
Due: changelogs-user-role

cacheprovider: record cache metadata
  src/_pytest/cacheprovider.py
  testing/test_cacheprovider.py
Due: py-deprecated, py-path-deprecated

cacheprovider: add --cache-list
  changelog/1089.feature.2.rst
  src/_pytest/cacheprovider.py
  testing/test_cacheprovider.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

cacheprovider: deprecate the TOX_ENV_DIR cache_dir default
  changelog/1089.deprecation.rst
  doc/en/deprecations.rst
  src/_pytest/cacheprovider.py
  src/_pytest/deprecated.py
  testing/test_cacheprovider.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

cacheprovider: add the cache_policy option
  changelog/1089.feature.1.rst
  src/_pytest/cacheprovider.py
  src/_pytest/pathlib.py
  testing/test_cacheprovider.py
  testing/test_pathlib.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

cacheprovider: pin lastfailed, nodeids and stepwise to the env scope
  changelog/1089.improvement.2.rst
  src/_pytest/cacheprovider.py
  src/_pytest/stepwise.py
  testing/test_cacheprovider.py
  testing/test_stepwise.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

cacheprovider: introduce cache scopes
  changelog/1089.feature.rst
  src/_pytest/cacheprovider.py
  src/pytest/__init__.py
  testing/test_cacheprovider.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix: collect ini overrides after every option-registration round
  changelog/14442.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

feat: addini(fallback=...) for declarative config fallbacks
  changelog/10551.feature.rst
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
  src/_pytest/helpconfig.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

feat: let OverrideIniAction carry a value
  src/_pytest/config/argparsing.py
  testing/test_config.py
Due: py-deprecated, py-path-deprecated

refactor: make Parser._inidict values a named tuple
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
Due: py-deprecated, py-path-deprecated

feat: Parser.addconfig for combined CLI and config-file options
  changelog/10551.feature.1.rst
  changelog/10551.feature.2.rst
  src/_pytest/config/argparsing.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

refactor: resolve setting values in the settings store
  src/_pytest/config/__init__.py
  src/_pytest/config/settings.py
Due: py-deprecated, py-path-deprecated

refactor: declare logging options with addconfig
  changelog/10551.improvement.rst
  src/_pytest/logging.py
  testing/logging/test_reporting.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
