Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

python: slight refactor to make code read better
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

python: fix confusing note in `Metafunc.parametrize`'s docstring
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

mark: add docstring for `ParameterSet`
  src/_pytest/mark/structures.py
Due: py-deprecated, py-path-deprecated

fixtures: rename `FixtureArgKey` -> `ParamArgKey`
  src/_pytest/fixtures.py
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

python: clarify a bit two comments
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

test on py3.14
  .github/workflows/test.yml
Due: none

add news
  changelog/13308.improvement.rst
Due: changelogs-user-role

add 314 to tox.ini
  tox.ini
Due: none

fix ResourceWarning on pastebin http failures
  src/_pytest/pastebin.py
Due: py-deprecated, py-path-deprecated

fix ResourceWarning on pytest.raises with urllib.error
  testing/python/raises.py
Due: py-deprecated, py-path-deprecated

pass real types for HTTPError so it works in cmgr
  testing/python/raises.py
Due: py-deprecated, py-path-deprecated

xfail test_raises_bdbquit_with_eoferror
  testing/test_debugging.py
Due: py-deprecated, py-path-deprecated

fix message for unraisable exceptions
  testing/test_unraisableexception.py
Due: py-deprecated, py-path-deprecated

use improved prog default value for argparse.ArgumentParser
  testing/test_parseopt.py
Due: py-deprecated, py-path-deprecated

Update testing/python/raises.py
  testing/python/raises.py
Due: py-deprecated, py-path-deprecated

Update testing/test_debugging.py
  testing/test_debugging.py
Due: py-deprecated, py-path-deprecated

be more explicit in debugging xfail
  testing/test_debugging.py
Due: py-deprecated, py-path-deprecated

Update changelog/13308.improvement.rst
  changelog/13308.improvement.rst
Due: changelogs-user-role

Update src/_pytest/pastebin.py
  src/_pytest/pastebin.py
Due: py-deprecated, py-path-deprecated

13403: Disable assertion rewriting for external modules - move root path to AssertState
  src/_pytest/assertion/__init__.py
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

13403: Disable assertion rewriting for external modules
  changelog/13403.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

13403: Disable assertion rewriting for external modules
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

13403: Disable assertion rewriting for external modules - refactor
  src/_pytest/assertion/__init__.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

13403: Disable assertion rewriting for external modules - add tests
  src/_pytest/assertion/__init__.py
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

13403: Disable assertion rewriting for external modules - refactor
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

13403: Disable assertion rewriting for external modules - eliminate os.getcwd
  src/_pytest/assertion/__init__.py
  src/_pytest/pytester.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

13403: Disable assertion rewriting for external modules - add test for plugins
  src/_pytest/assertion/__init__.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

13403: Disable assertion rewriting for external modules - add test for plugins
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

13403: Disable assertion rewriting for external modules - squash commits
  changelog/13403.bugfix.rst
  src/_pytest/assertion/__init__.py
  src/_pytest/assertion/rewrite.py
  src/_pytest/pytester.py
  testing/test_assertrewrite.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

testing: skip `pkg_resources` tests if modern setuptools
  testing/acceptance_test.py
  testing/test_monkeypatch.py
Due: py-deprecated, py-path-deprecated

use ParamSpec for pytest.skip instead of __call__ Protocol attribute
  AUTHORS
  src/_pytest/outcomes.py
Due: py-deprecated, py-path-deprecated

Merge pull request #13444 from pytest-dev/skip-pkg-resources
  testing/acceptance_test.py
  testing/test_monkeypatch.py
Due: py-deprecated, py-path-deprecated

fixtures: workaround PyPy bug which sometimes causes a `KeyError` crash during collection
  changelog/13312.bugfix.rst
  src/_pytest/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

add 3.14 trove classifier
  pyproject.toml
Due: none

Merge pull request #13442 from bluetech/reorder-items-pypy
  changelog/13312.bugfix.rst
  src/_pytest/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

update logic of _check_initialpaths_for_relpath
  src/_pytest/nodes.py
Due: py-deprecated, py-path-deprecated

add changelog entry update AUTHORS
  AUTHORS
  changelog/13420.improvement.rst
Due: changelogs-user-role

update changelog entry
  changelog/13420.improvement.rst
Due: changelogs-user-role
