Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

Add FixtureDefDict type alias
  src/_pytest/fixtures.py
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

Revert FixtureDef to a single argument
  src/_pytest/fixtures.py
  src/_pytest/hookspec.py
  src/_pytest/python.py
  src/_pytest/setuponly.py
  src/_pytest/setupplan.py
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

Fix for warning test arguments with default values
  src/_pytest/python.py
  src/_pytest/warning_types.py
Due: py-deprecated, py-path-deprecated

Bugfix for .approx on mismatched dictionaries by adjusting iteration over other_side by retrieving values using approx_key
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

Regression test added for unordered mismatched dictionaries on approx
  testing/python/approx.py
Due: py-deprecated, py-path-deprecated

Removed comment from compat.py
  src/_pytest/compat.py
Due: py-deprecated, py-path-deprecated

feat: issue `PytestCollectionWarning` when tests used `pytest.fixrure`
  changelog/12989.improvement.rst
  src/_pytest/python.py
  testing/python/collect.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

docs: update version changes about fixture
  changelog/12989.improvement.rst
  doc/en/explanation/fixtures.rst
Due: changelogs-user-role

test: ignore the warnings about `becoming a fixture` via config.
  changelog/12989.improvement.rst
  pyproject.toml
Due: changelogs-user-role

fix `ImportError` crash when using `--import-mode=importlib` (#13058)
  changelog/13053.bugfix.rst
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Update src/_pytest/pathlib.py
  src/_pytest/pathlib.py
Due: py-deprecated, py-path-deprecated

Fix `ImportError` crash when using `--import-mode=importlib` (#13053)
  changelog/13053.bugfix.rst
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

apply warnings filter as soon as possible, and remove it as late as possible
  src/_pytest/warnings.py
Due: py-deprecated, py-path-deprecated

apply unraisablehook and threadexception before the warning plugin, so gc.collect() is called with the warning filters in place
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

apply the warning filter during pytest_configure
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

restore the filterwarnings marker config
  src/_pytest/warnings.py
Due: py-deprecated, py-path-deprecated

move lsof warning to something ignorable and ignore it
  pyproject.toml
  src/_pytest/pytester.py
  src/_pytest/warning_types.py
  src/pytest/__init__.py
Due: py-deprecated, py-path-deprecated

add newsfragment
  changelog/10404.bugfix.rst
Due: changelogs-user-role

add test
  testing/test_unraisableexception.py
Due: py-deprecated, py-path-deprecated

simplify PytestFDWarning filter
  pyproject.toml
Due: none

fix PytestFDWarning module
  src/_pytest/warning_types.py
Due: py-deprecated, py-path-deprecated

get more patch coverage
  testing/test_unraisableexception.py
Due: py-deprecated, py-path-deprecated

Raises an error when a fixture conflict for the same file
  changelog/12953.improvement.rst
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Get any contained func when marking
  changelog/12863.bugfix.rst
  src/_pytest/mark/structures.py
  testing/test_mark.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

More explicit edgecase of decorators
  changelog/12863.bugfix.rst
  src/_pytest/mark/structures.py
  testing/test_mark.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix parametrized mark over staticmethod decorator
  AUTHORS
  changelog/12863.bugfix.rst
  pyproject.toml
  src/_pytest/mark/structures.py
  testing/test_mark.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix compatibility with python pre-3.10
  src/_pytest/mark/structures.py
Due: py-deprecated, py-path-deprecated

Additional sanity tests, and fixes
  changelog/12863.bugfix.rst
  testing/test_mark.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

ci: harden github actions according to "zizmor" recommendations
  .github/workflows/deploy.yml
  .github/workflows/prepare-release-pr.yml
  .github/workflows/update-plugin-list.yml
Due: none

Merge pull request #13064 from pytest-dev/dependabot/github_actions/pypa/gh-action-pypi-publish-1.12.3
  .github/workflows/deploy.yml
Due: none

ci: harden github actions according to "zizmor" recommendations (#13062)
  .github/workflows/deploy.yml
  .github/workflows/prepare-release-pr.yml
  .github/workflows/update-plugin-list.yml
Due: none

[8.3.x] ci: fix failing jobs due to pluggy requiring Python>=3.9
  .github/workflows/test.yml
Due: none

pre-commit: add zizmor hook
  .pre-commit-config.yaml
Due: none

Merge pull request #13069 from bluetech/zizmor-pre-commit
  .pre-commit-config.yaml
Due: none

Update changelog/10404.bugfix.rst
  changelog/10404.bugfix.rst
Due: changelogs-user-role

add more realistic create_task/unawaited coro warning test
  testing/test_unraisableexception.py
Due: py-deprecated, py-path-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
