Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

Fix mypy typing for dict repr override
  src/_pytest/_io/saferepr.py
Due: py-deprecated, py-path-deprecated

Fix mypy typing for SafeRepr.repr_dict
  src/_pytest/_io/saferepr.py
Due: py-deprecated, py-path-deprecated

Fix mypy ignores for getmodpath tests
  testing/test_collection.py
Due: py-deprecated, py-path-deprecated

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

Docs: move collection-reporting hooks under collection hooks (fixes #12658)
  doc/en/reference/reference.rst
Due: changelogs-user-role

Add changelog entry for #12658
  changelog/12658.doc.rst
Due: changelogs-user-role

Docs: add changelog entry for #12658
  changelog/12658.doc.rst
Due: changelogs-user-role

Update test_dict_wrap expected output after dict assertion change
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

Fix ruff errors for typing imports and test formatting
  src/_pytest/_io/saferepr.py
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

Fi mypy attr-defined ignores for getmodpath test
  src/_pytest/_io/saferepr.py
  testing/test_collection.py
Due: py-deprecated, py-path-deprecated

Fix remaining mypy attr-defined ignores in test_collection
  testing/test_collection.py
Due: py-deprecated, py-path-deprecated

Remove remaining standalone type ignores
  testing/test_collection.py
Due: py-deprecated, py-path-deprecated

Fix expected assertion output for extra dict item on Windows
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

Add missing assertion for first dict wrap scenario
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

improve mark.xfail reason gathering
  src/_pytest/skipping.py
  testing/test_skipping.py
Due: py-deprecated, py-path-deprecated

Docs: pin sphinx to `<9.0`
  doc/en/requirements.txt
Due: none

Docs: pin sphinx to `<9.0` (#14067)
  doc/en/requirements.txt
Due: none

Fix scope resolution for parametrized fixtures using dict order
  src/_pytest/python.py
Due: py-deprecated, py-path-deprecated

Add changrlog for issue #13503
  changelog/13503.bugfix.rst
Due: changelogs-user-role

docs : clarify fixture scope behaviour for parametrized fixtures
  doc/en/how-to/fixtures.rst
Due: changelogs-user-role

doc: new label; changelog
  changelog/13731.doc.rst
  doc/en/how-to/capture-stdout-stderr.rst
Due: changelogs-user-role

doc: add note about capture fixture use
  doc/en/how-to/capture-stdout-stderr.rst
Due: changelogs-user-role

doc: restore doc
  doc/en/how-to/capture-stdout-stderr.rst
Due: changelogs-user-role

doc: move the note
  doc/en/how-to/capture-stdout-stderr.rst
Due: changelogs-user-role

Docs: clarify capture fixture precedence over -s (#14053)
  changelog/13731.doc.rst
  doc/en/how-to/capture-stdout-stderr.rst
Due: changelogs-user-role

config: catch conftest blocking
  changelog/13634.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

new author
  AUTHORS
Due: none

Show better error when blocking conftest files via `-p` (#14018)
  AUTHORS
  changelog/13634.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Improve assertion message for pytest.__all__ test
  testing/test_mark.py
Due: py-deprecated, py-path-deprecated

Add trivial changelog entry for test assertion improvement
  changelog/pytest-all-assert.trivial.rst
Due: changelogs-rst, changelogs-user-role

Rename trivial changelog fragment to numeric format
  changelog/12345.trivial.rst
Due: changelogs-rst, changelogs-user-role

Delete changelog/12345.trivial.rst
  changelog/12345.trivial.rst
Due: changelogs-rst, changelogs-user-role

Add numeric trivial changelog fragment
  changelog/12345.trivial.rst
Due: changelogs-rst, changelogs-user-role

correct-class-fixtures(#10819) (#14011)
  changelog/10819.bugfix.rst
  src/_pytest/fixtures.py
  testing/test_inherit_class_fixture.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Preserve insertion order for extra dict items in assertion output
  src/_pytest/assertion/util.py
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated
