Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

rst:
  name: rst
  entry: rst-lint --encoding utf-8
  language: python
  additional_dependencies:
  - pygments
  - restructuredtext_lint

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.( breaking | deprecation | feature | improvement | bugfix | vendor | doc | packaging | contrib | misc )(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

py-deprecated:
  name: py library is deprecated
  language: pygrep
  entry: "(?x)\\bpy\\.(\n    _code\\.|\n    builtin\\.|\n    code\\.|\n    io\\.|\n    path\\.local\\.sysfind|\n    process\\.|\n    std\\.|\n    error\\.|\n    xml\\.\n)\n"

py-path-deprecated:
  name: py.path usage is deprecated
  language: pygrep
  entry: \bpy\.path\.local

testing: convert pytester-based tests to _pytest.ensemble
  testing/python/collect.py
  testing/python/fixtures.py
  testing/python/metafunc.py
Due: py-deprecated, py-path-deprecated

bench: compare pytester and ensemble run costs
  bench/ensemble_vs_pytester.py
Due: py-deprecated, py-path-deprecated

ensemble: do not leave bytecode beside an imported script
  src/_pytest/ensemble/__init__.py
  src/_pytest/ensemble/collection.py
Due: py-deprecated, py-path-deprecated

ensemble: keep configure-time warnings inside the ensemble
  src/_pytest/ensemble/config.py
  src/_pytest/ensemble/results.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

ensemble: make Ensemble.collect() idempotent
  src/_pytest/ensemble/__init__.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

ensemble: give an ensemble its own output sink
  src/_pytest/ensemble/__init__.py
  src/_pytest/ensemble/config.py
  src/_pytest/ensemble/results.py
  src/_pytest/terminal.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

config, debugging: render without a terminal reporter
  src/_pytest/config/__init__.py
  src/_pytest/debugging.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

ensemble: honour shouldfail/shouldstop between items
  src/_pytest/ensemble/results.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

ensemble: run the items through pytest_runtestloop
  src/_pytest/ensemble/results.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

ensemble: build the record after session teardown
  src/_pytest/ensemble/__init__.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

ensemble: stop swallowing collection failures
  src/_pytest/ensemble/__init__.py
  src/_pytest/ensemble/results.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

ensemble: load the assertion plugin by default
  src/_pytest/ensemble/config.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

fixtures: let a plugin declare that it has no fixtures
  src/_pytest/assertion/__init__.py
  src/_pytest/debugging.py
  src/_pytest/faulthandler.py
  src/_pytest/fixtures.py
  src/_pytest/helpconfig.py
  src/_pytest/legacypath.py
  src/_pytest/main.py
  src/_pytest/mark/__init__.py
  src/_pytest/pastebin.py
  src/_pytest/python.py
  src/_pytest/reports.py
  src/_pytest/runner.py
  src/_pytest/setuponly.py
  src/_pytest/setupplan.py
  src/_pytest/skipping.py
  src/_pytest/stepwise.py
  src/_pytest/terminal.py
  src/_pytest/threadexception.py
  src/_pytest/unittest.py
  src/_pytest/unraisableexception.py
  src/_pytest/warnings.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

setuponly, setupplan: normalize options at configure time
  src/_pytest/setuponly.py
  src/_pytest/setupplan.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

terminal: let a private output stream count as captured
  src/_pytest/terminal.py
Due: py-deprecated, py-path-deprecated

ensemble: do not let a config take ownership of a spec's ini values
  src/_pytest/ensemble/config.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

ensemble: let a real module keep its own path
  src/_pytest/ensemble/__init__.py
  src/_pytest/ensemble/collection.py
  testing/test_ensemble.py
Due: py-deprecated, py-path-deprecated

ensemble: do not mask errors raised while building a config
  src/_pytest/ensemble/config.py
  testing/test_ensemble.py
  testing/test_reports.py
Due: py-deprecated, py-path-deprecated

ensemble: document the capture boundary honestly
  src/_pytest/ensemble/__init__.py
Due: py-deprecated, py-path-deprecated

Expose FixtureFunctionDefinition in public API
  changelog/14853.feature.rst
  src/pytest/__init__.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

config: preserve indentation and blank lines in help texts
  src/_pytest/config/argparsing.py
  src/_pytest/helpconfig.py
  testing/test_helpconfig.py
  testing/test_parseopt.py
Due: py-deprecated, py-path-deprecated

Add changelog for help text wrapping fix
  changelog/15032.bugfix.rst
Due: changelogs-user-role

Update doc/en/how-to/fixtures.rst
  doc/en/how-to/fixtures.rst
Due: changelogs-user-role

Fix fixture discovery for bound methods in custom collectors
  AUTHORS
  changelog/6750.bugfix.rst
  src/_pytest/compat.py
  testing/python/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

fix: use _imp._fix_co_filename to fix the filename in the bytecode and use a pure python implementation as fallback
  changelog/14552.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Fix doctest option flags leaking between docstrings
  AUTHORS
  changelog/9924.bugfix.rst
  src/_pytest/doctest.py
  testing/test_doctest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

nodes: store Mark, not MarkDecorator, in keywords from add_marker
  changelog/4569.improvement.rst
  src/_pytest/nodes.py
  testing/test_collection.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

mark: ignore non-keyword function attributes in -k matching
  changelog/4569.bugfix.rst
  src/_pytest/mark/__init__.py
  testing/test_mark.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Merge pull request #14989 from 15r10nk/fix-stale-cached-bytecode-on-file-move
  changelog/14552.bugfix.rst
  src/_pytest/assertion/rewrite.py
  testing/test_assertrewrite.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

deselect: record why pytest deselects items
  src/_pytest/cacheprovider.py
  src/_pytest/deselect.py
  src/_pytest/hookspec.py
  src/_pytest/main.py
  src/_pytest/mark/__init__.py
  src/_pytest/stepwise.py
Due: py-deprecated, py-path-deprecated

terminal: list deselected items and their reason at -v
  changelog/13617.improvement.rst
  src/_pytest/terminal.py
  testing/test_stepwise.py
  testing/test_terminal.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

stash: add a context manager for a block-scoped value
  changelog/15035.feature.rst
  src/_pytest/deselect.py
  src/_pytest/stash.py
  testing/test_stash.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

doc: look up markers with get_closest_marker in the examples
  changelog/4569.doc.rst
  doc/en/example/simple.rst
Due: changelogs-user-role

doc: say what -k actually matches
  changelog/4569.doc.rst
  doc/en/reference/reference.rst
  src/_pytest/mark/__init__.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

doc: correct the keyword-related docstrings
  src/_pytest/fixtures.py
  src/_pytest/mark/__init__.py
  src/_pytest/nodes.py
  src/_pytest/python.py
  src/_pytest/reports.py
Due: py-deprecated, py-path-deprecated

doc: make markers.rst the one explanation of -k
  doc/en/example/markers.rst
  doc/en/how-to/usage.rst
  doc/en/reference/reference.rst
Due: changelogs-user-role

testing: pin the keyword and mark selection behaviour
  testing/test_mark.py
Due: py-deprecated, py-path-deprecated

Harden tail check against slice failures
  src/_pytest/assertion/_compare_sequence.py
  testing/test_assertion.py
Due: py-deprecated, py-path-deprecated

Doc: improve discoverability of passing parameters to fixture functions
  doc/en/example/parametrize.rst
  doc/en/how-to/fixtures.rst
  src/_pytest/fixtures.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Pre-mark pytest_plugins for assertion rewrite
  changelog/2353.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_assertrewrite.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Path conditions:
  rst: any of: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
  changelogs-rst: any of: ^changelog/, but not: (?x) ^
  changelog/(
    \.gitignore
    |\d+\.(
      breaking
      |deprecation
      |feature
      |improvement
      |bugfix
      |vendor
      |doc
      |packaging
      |contrib
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |_template\.rst
  )
$
  changelogs-user-role: any of: \.rst$
  py-deprecated: any of: \.py$
  py-path-deprecated: any of: \.py$, but not: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
