Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, changelogs-user-role, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.7.4"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.1.1]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        args: ["--toml=pyproject.toml"]
        additional_dependencies:
          - tomli
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        files: ^(src/|testing/|scripts/)
        additional_dependencies:
          - iniconfig>=1.1.0
          - attrs>=19.2.0
          - pluggy>=1.5.0
          - packaging
          - tomli
          - types-setuptools
          - types-tabulate
            # for mypy running on python>=3.11 since exceptiongroup is only a dependency
            # on <3.11
          - exceptiongroup>=1.0.0rc8
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.0"
  hooks:
    - id: pyproject-fmt
      # https://pyproject-fmt.readthedocs.io/en/latest/#calculating-max-supported-python-version
      additional_dependencies: ["tox>=4.9"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        stages: [manual]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["-rn", "-sn", "--fail-on=I", "--enable-all-extentions"]
        require_serial: true
        stages: [manual]
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: >-
          changelog files must be named
          ####.(
          breaking
          | deprecation
          | feature
          | improvement
          | bugfix
          | vendor
          | doc
          | packaging
          | contrib
          | misc
          )(.#)?(.rst)?
        exclude: >-
          (?x)
          ^
            changelog/(
              \.gitignore
              |\d+\.(
                breaking
                |deprecation
                |feature
                |improvement
                |bugfix
                |vendor
                |doc
                |packaging
                |contrib
                |misc
              )(\.\d+)?(\.rst)?
              |README\.rst
              |_template\.rst
            )
          $
        files: ^changelog/
    -   id: changelogs-user-role
        name: Changelog files should use a non-broken :user:`name` role
        language: pygrep
        entry: :user:([^`]+`?|`[^`]+[\s,])
        pass_filenames: true
        types:
          - file
          - rst
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py|src/_pytest/legacypath.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

fix: update fixture repr in text
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

Update src/_pytest/fixtures.py
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

refactor: use instance check to print repr
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

feat: use repr for pytest fixtures
  src/_pytest/assertion/rewrite.py
Due: py-deprecated, py-path-deprecated

refactor: removed PytestWrapper class
  src/_pytest/compat.py
  src/_pytest/fixtures.py
  testing/test_compat.py
Due: py-deprecated, py-path-deprecated

docs: update docstring
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

Add follow ups as todo comments
  src/_pytest/compat.py
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

Update changelog/11525.improvement.rst
  changelog/11525.improvement.rst
Due: changelogs-user-role

chore: add changelog entry
  changelog/11525.improvement.rst
Due: changelogs-user-role

refactor: remove unused code
  src/_pytest/assertion/rewrite.py
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

refactor: remove _pytestfixturefunction attribute
  src/_pytest/assertion/rewrite.py
  src/_pytest/compat.py
  src/_pytest/fixtures.py
  testing/code/test_source.py
  testing/test_compat.py
Due: py-deprecated, py-path-deprecated

add test case for asserting missing fixture
  src/_pytest/assertion/rewrite.py
  src/_pytest/fixtures.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated

refactor: remove unused code
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

refactor: replace type with isinstance
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

(fixture) create a new class to represent fixtures
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

test: remove redundant test
  src/_pytest/fixtures.py
  testing/code/test_source.py
Due: py-deprecated, py-path-deprecated

ci: set no cover for test function
  testing/test_compat.py
Due: py-deprecated, py-path-deprecated

test: add test for _get_wrapped_function
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

Update src/_pytest/compat.py
  src/_pytest/compat.py
Due: py-deprecated, py-path-deprecated

docs: fix docstring
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

Use _get_wrapped_function to unwrap fixtures
  src/_pytest/compat.py
  src/_pytest/fixtures.py
  testing/code/test_source.py
  testing/test_compat.py
Due: py-deprecated, py-path-deprecated

refactor: replace attribute check with type check
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

Fix tests
  src/_pytest/compat.py
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

docs: Fix wrong statement about sys.modules with importlib import mode
  doc/en/explanation/goodpractices.rst
Due: changelogs-user-role

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: changelogs-user-role

Prevent Config.add_cleanup callbacks preventing other cleanups running (#12982)
  changelog/12981.bugfix.rst
  src/_pytest/config/__init__.py
  testing/test_config.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

Ensure correct collection of reports
  testing/test_collect_imports.py
Due: py-deprecated, py-path-deprecated

pytest.fail: fix ANSI escape codes for colored output (#12959)
  AUTHORS
  changelog/12849.bugfix.rst
  src/_pytest/_code/code.py
  testing/code/test_excinfo.py
  testing/conftest.py
Due: changelogs-user-role, py-deprecated, py-path-deprecated

docs: Fix wrong statement about sys.modules with importlib import mode (#12985)
  doc/en/explanation/goodpractices.rst
Due: changelogs-user-role

Enable pylint's python 3.8 typing checks (deprecated-typing-alias)
  pyproject.toml
  src/_pytest/_code/code.py
  src/_pytest/_io/pprint.py
  src/_pytest/_py/error.py
  src/_pytest/_py/path.py
  src/_pytest/assertion/rewrite.py
  src/_pytest/assertion/util.py
  src/_pytest/compat.py
  src/_pytest/config/__init__.py
  src/_pytest/config/argparsing.py
  src/_pytest/debugging.py
  src/_pytest/doctest.py
  src/_pytest/fixtures.py
  src/_pytest/junitxml.py
  src/_pytest/main.py
  src/_pytest/mark/structures.py
  src/_pytest/nodes.py
  src/_pytest/outcomes.py
  src/_pytest/pathlib.py
  src/_pytest/pytester.py
  src/_pytest/python.py
  src/_pytest/python_api.py
  src/_pytest/recwarn.py
  src/_pytest/runner.py
  src/_pytest/terminal.py
  src/_pytest/threadexception.py
  src/_pytest/unittest.py
  src/_pytest/unraisableexception.py
  testing/test_doctest.py
  testing/test_mark_expression.py
  testing/test_tmpdir.py
Due: py-deprecated, py-path-deprecated

[typing] Use the re namespace in 're' typing everywhere
  src/_pytest/_code/code.py
  src/_pytest/doctest.py
  src/_pytest/junitxml.py
  src/_pytest/python.py
  src/_pytest/python_api.py
  src/_pytest/recwarn.py
Due: py-deprecated, py-path-deprecated

[black] Fix the target-version configuration
  pyproject.toml
Due: none

Fix 'typing.AbstractSet' is deprecated, use 'collections.abc.Set'
  src/_pytest/assertion/util.py
  src/_pytest/fixtures.py
  src/_pytest/logging.py
  src/_pytest/main.py
  src/_pytest/mark/__init__.py
Due: py-deprecated, py-path-deprecated

Fix 'typing.ContextManager' is deprecated, use 'contextlib.AbstractContextManager'
  src/_pytest/python_api.py
Due: py-deprecated, py-path-deprecated

Fix 'typing.Type' is deprecated, use 'type' instead
  src/_pytest/config/__init__.py
Due: py-deprecated, py-path-deprecated

Remove code that is impossible to reach on python 3.9+
  src/_pytest/config/argparsing.py
  testing/test_assertrewrite.py
Due: py-deprecated, py-path-deprecated
