Repository pytest-dev/pytest: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst, changelogs-rst, py-deprecated, py-path-deprecated

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
    -   id: black
        args: [--safe, --quiet]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==20.8b1]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: check-yaml
    -   id: debug-statements
        exclude: _pytest/(debugging|hookspec).py
        language_version: python3
-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        name: autoflake
        args: ["--in-place", "--remove-unused-variables", "--remove-all-unused-imports"]
        language: python
        files: \.py$
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-typing-imports==1.12.0
          - flake8-docstrings==1.5.0
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.7.1
    hooks:
    -   id: reorder-python-imports
        args: ['--application-directories=.:src', --py37-plus]
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.31.0
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
-   repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.20.0
    hooks:
    -   id: setup-cfg-fmt
        args: [--max-py-version=3.10]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: python-use-type-annotations
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
    -   id: mypy
        files: ^(src/|testing/)
        args: []
        additional_dependencies:
          - iniconfig>=1.1.0
          - py>=1.8.2
          - attrs>=19.2.0
          - packaging
          - tomli
          - types-atomicwrites
          - types-pkg_resources
-   repo: local
    hooks:
    -   id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(RELEASING.rst|README.rst|TIDELIFT.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
    -   id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: 'changelog files must be named ####.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst'
        exclude: changelog/(\d+\.(breaking|bugfix|deprecation|doc|feature|improvement|trivial|vendor).rst|README.rst|_template.rst)
        files: ^changelog/
    -   id: py-deprecated
        name: py library is deprecated
        language: pygrep
        entry: >
            (?x)\bpy\.(
                _code\.|
                builtin\.|
                code\.|
                io\.|
                path\.local\.sysfind|
                process\.|
                std\.|
                error\.|
                xml\.
            )
        types: [python]
    -   id: py-path-deprecated
        name: py.path usage is deprecated
        exclude: docs|src/_pytest/deprecated.py|testing/deprecated_test.py
        language: pygrep
        entry: \bpy\.path\.local
        types: [python]

Fix collection of short paths on Windows (#11936)
  changelog/11895.bugfix.rst
  src/_pytest/main.py
  testing/test_collection.py
Due: py-deprecated, py-path-deprecated

[8.0.x] Fix collection of short paths on Windows
  changelog/11895.bugfix.rst
  src/_pytest/main.py
  testing/test_collection.py
Due: py-deprecated, py-path-deprecated

[8.0.x] Revert "Fix teardown error reporting when `--maxfail=1` (#11721)"
  changelog/12021.bugfix.rst
  doc/en/changelog.rst
  src/_pytest/runner.py
  testing/test_runner.py
Due: py-deprecated, py-path-deprecated

runner: add support for `sys.last_exc` for post-mortem debugging on Python>=3.12
  AUTHORS
  changelog/11850.improvement.rst
  src/_pytest/runner.py
  testing/test_runner.py
Due: py-deprecated, py-path-deprecated

Move changelog back to individual entry
  changelog/11653.feature.rst
  doc/en/changelog.rst
Due: none

New verbosity_test_case ini option (#11653)
  changelog/11653.feature.rst
  doc/en/how-to/output.rst
  doc/en/reference/reference.rst
  src/_pytest/config/__init__.py
  src/_pytest/terminal.py
  testing/test_terminal.py
Due: py-deprecated, py-path-deprecated

Prepare release version 8.0.2
  changelog/11895.bugfix.rst
  changelog/11953.bugfix.rst
  changelog/12021.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-8.0.2.rst
  doc/en/changelog.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/getting-started.rst
  doc/en/how-to/fixtures.rst
Due: none

Cherry pick 8.0.2 release notes
  changelog/11895.bugfix.rst
  changelog/11953.bugfix.rst
  changelog/12021.bugfix.rst
  doc/en/announce/index.rst
  doc/en/announce/release-8.0.2.rst
  doc/en/changelog.rst
  doc/en/example/parametrize.rst
  doc/en/example/pythoncollection.rst
  doc/en/getting-started.rst
  doc/en/how-to/fixtures.rst
Due: none

[automated] Update plugin list
  doc/en/reference/plugin_list.rst
Due: none

Fix mention of the prefix for pytest plugins in `plugin_list`
  doc/en/reference/plugin_list.rst
  scripts/update-plugin-list.py
Due: py-deprecated, py-path-deprecated

Create tea.yaml
  tea.yaml
Due: none

fixtures: remove unneeded optimization from `_getnextfixturedef`
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

fixtures: avoid mutable `arg2index` state in favor of looking up the request chain
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

fixtures: add `_iter_chain` helper method
  src/_pytest/fixtures.py
Due: py-deprecated, py-path-deprecated

docs: update plugins number
  README.rst
  doc/en/index.rst
Due: rst

main: add missing `import importlib.util`
  src/_pytest/main.py
Due: py-deprecated, py-path-deprecated

main: model the result of `resolve_collection_arguments` as a dataclass
  src/_pytest/main.py
  testing/test_main.py
Due: py-deprecated, py-path-deprecated

main: add `module_name` to `CollectionArgument`
  src/_pytest/main.py
  testing/test_main.py
Due: py-deprecated, py-path-deprecated

main: only include package parents in collection tree for --pyargs collection arguments
  changelog/11904.bugfix.rst
  src/_pytest/main.py
  testing/test_collection.py
Due: py-deprecated, py-path-deprecated

main: slight refactor to collection argument parents logic
  src/_pytest/main.py
Due: py-deprecated, py-path-deprecated

pathlib: consider namespace packages in `resolve_pkg_root_and_module_name`
  changelog/11475.feature.rst
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

Add consider_namespace_packages ini option
  src/_pytest/config/__init__.py
  src/_pytest/main.py
  src/_pytest/pathlib.py
  src/_pytest/python.py
  src/_pytest/runner.py
  testing/code/test_excinfo.py
  testing/code/test_source.py
  testing/test_conftest.py
  testing/test_pathlib.py
  testing/test_pluginmanager.py
Due: py-deprecated, py-path-deprecated

pathlib: import signature and docs for import_path
  src/_pytest/pathlib.py
Due: py-deprecated, py-path-deprecated

testing/test_doctest: make `test_importmode` more realistic
  testing/test_doctest.py
Due: py-deprecated, py-path-deprecated

pathlib: extract a function `_import_module_using_spec`
  src/_pytest/pathlib.py
Due: py-deprecated, py-path-deprecated

doc: update and improve import mode docs
  doc/en/explanation/goodpractices.rst
  doc/en/explanation/pythonpath.rst
Due: none

pathlib: handle filenames starting with `.` in `module_name_from_path`
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

pathlib: extract a function `resolve_pkg_root_and_module_name`
  src/_pytest/pathlib.py
Due: py-deprecated, py-path-deprecated

testing/test_pathlib: remove `test_issue131_on__init__`
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

testing/test_pathlib: parametrize namespace package option
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

Change importlib to first try to import modules using the standard mechanism
  changelog/11475.improvement.rst
  src/_pytest/pathlib.py
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

doc: document consider_namespace_packages option
  changelog/11475.feature.rst
  changelog/11475.improvement.rst
  doc/en/explanation/pythonpath.rst
  doc/en/reference/reference.rst
Due: none

testing/test_pathlib: add an importlib test
  testing/test_pathlib.py
Due: py-deprecated, py-path-deprecated

fixtures: use exception group when multiple finalizers raise in fixture teardown
  changelog/12047.improvement.rst
  src/_pytest/fixtures.py
  testing/python/fixtures.py
Due: py-deprecated, py-path-deprecated

Do not collect symlinked tests under Windows
  AUTHORS
  changelog/12039.bugfix.rst
  src/_pytest/main.py
  testing/test_collection.py
Due: py-deprecated, py-path-deprecated

remove some comments, remove now unused _schedule_finalizers(), move tests to a pytester test in testing/python/fixtures.py
  src/_pytest/fixtures.py
  testing/python/fixtures.py
  testing/python/test_scope_fixture_caching.py
Due: py-deprecated, py-path-deprecated

Add test and tweak changelog
  changelog/12039.bugfix.rst
  testing/test_collection.py
Due: py-deprecated, py-path-deprecated

Adjust existing test
  testing/test_collection.py
Due: py-deprecated, py-path-deprecated

Tweak comment
  src/_pytest/main.py
Due: py-deprecated, py-path-deprecated
